@charset "utf-8";
/* MINDsLab. UX/UI Team. YMJ. 20180703 */ 

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

/* [reset css] */
* {font-family:Noto Sans KR, sans-serif; word-wrap:break-word;} 
html,body {margin:0; padding:0; width:100%; height:100%; font-family:Noto Sans KR, sans-serif; background:#fff; font-size:12px; color:#666; line-height:18px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend,em,span {margin:0; padding:0; font-family:Noto Sans KR, sans-serif;} 
table {border-spacing:0; border-collapse:collapse; font-family:Noto Sans KR, sans-serif;}
th, td {word-break:break-all;}
form,fieldset {display:block;}
form,fieldset,img {border:none;} 
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;} 
ol,ul,li {list-style:none;} 
abbr,acronym {border:none;} 
hr {display:none;}
a {text-decoration:none; color:#000; cursor:pointer; font-family:Noto Sans KR, sans-serif;}
a:link,a:visited {text-decoration:none;}
a:hover,a:active,a:focus {color:#616161; text-decoration:none;}
textarea {overflow:auto; resize:none;} 
html:first-child select {padding-right:6px; height:20px;} /* opera 9 & below fix */ 
option {padding-right:6px;} /* firefox fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* for screen reader */ 
pre {word-wrap:break-word;}
label {font-family:Noto Sans KR, sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family:Noto Sans KR, sans-serif;}
br {background:none !important;}
img {vertical-align:top;}
a:focus, input:focus, textarea:focus, button:focus {outline:none !important;}

input[type=text]:-ms-clear {display:none;}
input[type=text]::-ms-clear {display:none;}

/*
clear:both; display, position(top,left), float, overflow
(min-width, width), (min-height, height) (margin,padding)
font(text-indent, text-align, font-weight, font-size, line-height, font-family, color)
border, background
cursor, z-index, zoom
*/

/*page loading  */ 
.page_ldWrap {display:block; position:fixed; top:0; left:0; width:100%; height:100%; background:#5f7edb; z-index:9999;}
.page_ldBox {position:absolute; top:50%; left:50%; width:40px; height:40px; margin:-20px 0 0 -20px; background-color:#fff; -webkit-animation:page_loding 1.2s infinite ease-in-out; animation:page_loding 1.2s infinite ease-in-out;}

@-webkit-keyframes page_loding {
  0% {-webkit-transform:perspective(120px) }
  50% {-webkit-transform:perspective(120px) rotateY(180deg) }
  100% {-webkit-transform:perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes page_loding {
  0% {
    transform:perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform:perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% {
    transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% {
    transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

@-webkit-keyframes pageldg_hide {
0% {opacity:1;}
100% {opacity:0;}
}

@keyframes pageldg_hide {
0% {opacity:1;}
100% {opacity:0;}
}

/*===== 공통 =====*/
.lot_c {display:block; clear:both; position:relative; width:1200px; height:100%; margin:0 auto; padding:0;}

.cl_b {clear:both; overflow:hidden;}
.fl {float:left;}
.fr {float:right;}

.hide {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; line-height:0;}

/* background */ 
#maumWrap {position:relative; width:100%; height:100%;}

/* header */
#header {position:fixed; top:0; left:0; width:100%; z-index:1000; transform:translateY(0px); transition:all 0.3s ease-out;}
#header .sta {position:relative; width:1200px; min-height:100px; margin:0 auto; transition:all 0.5s ease-out;}
#header .sta h1 {position:absolute; top:45px; left:0; z-index:8888;}
#header .sta h1 a {display:block;}

#maumWrap.fixed #header{position:fixed; transform:translateY(-20px); background:rgba(109,150,254,1); transition:all 0.3s ease-out;} 
#header.bg_clor {background:rgba(0,0,0,0.7);}


/* aside */
.aside {display:block; position:fixed; top:0; right:0; width:0; height:100%; z-index:5500; background:#fff; box-shadow:3px 0 7px #000;}

/* aside (top) */
.aside .aside_top {display:block; padding:25px 0;}
.aside .aside_top h1 {display:block; height:20px; text-align:center;}
.aside .aside_top h1 img {height:100%;}

/* aside (mid) */
.aside .aside_mid {display:block; padding:0 25px;}
.aside .aside_mid .m_nav {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li h2 {display:block; height:45px; border-bottom:1px solid #d2d2d2;}
.aside .aside_mid .m_nav li h2 a {display:block; color:#222c46; font-size:15px; font-weight:500px; line-height:45px; text-align:center;}
.aside .aside_mid .m_nav li h2 span {display:block; color:#999; font-size:15px; font-weight:500px; line-height:45px; text-align:center;}
.aside .aside_mid .m_nav li ul.m_lst {display:none;}
.aside .aside_mid .m_nav li ul.m_lst li {display:block;}
.aside .aside_mid .m_nav li ul.m_lst li h3 {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a {display:block; height:38px; padding:0 18px; color:#687083; font-size:15px; font-weight:normal; line-height:38px; background:url(../images/ico_plus.png) right 18px center no-repeat; background-color:#eef1fa; background-size:10px;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a.active {background:url(../images/ico_minus.png) right 18px center no-repeat; background-color:#eef1fa; background-size:10px;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span {display:inline-block; padding:0 0 0 30px; background-size:20px !important;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_voice {background:url(../images/ico_aside_voice.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_visual {background:url(../images/ico_aside_visual.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_int {background:url(../images/ico_aside_int.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_lang {background:url(../images/ico_aside_lang.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_cvs {background:url(../images/ico_aside_cvs.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub {display:none; padding:5px 18px; background:#f8f9fe;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li {display:block;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a {display:block; min-height:30px; color:#161d2f; font-size:13px; line-height:18px;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a b {font-weight:normal;  margin:0 5px 0 0;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a.active {color:#3375fa;} 
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a em.new {display:inline-block; padding:3px 5px; color:#fff; font-size:10px; line-height:10px;  border-radius:3px; background:#23c5de;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li b {display:block; min-height:30px; color:#999; font-size:13px; line-height:22px; font-weight:normal;}

/* aside (bottom) */
.aside .aside_btm {display:block; margin:50px 0 30px 0; padding:0 25px;}
.aside .aside_btm ul {clear:both; overflow:hidden;}
.aside .aside_btm ul li {display:block; margin-bottom:10px; text-align:center;}
.aside .aside_btm ul li a {display:inline-block; min-width:135px; height:26px; padding:0 0 0 30px; color:#687083; font-size:14px; font-weight:normal; line-height:26px;}
.aside .aside_btm ul li.btn_mail a {background:url(../images/ico_aside_mail.png) 0 50% no-repeat; background-size:22px;}
.aside .aside_btm ul li.btn_tel a {background:url(../images/ico_aside_tel.png) 0 50% no-repeat; background-size:22px;}


.bg_aside {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,1.0); opacity:1.0; z-index:5000;}

/* header_햄버거버튼 */ 
.btn_header_ham {display:none; width:50px; height:50px; position:fixed; top:0; right:0; z-index:6000; border:none; box-sizing:border-box; background:none; opacity:0.6; cursor:pointer;}
.btn_header_ham.active {position:fixed;left:0; opacity:1.0;}
.hamburger_icon {position:relative; top:50%; left:50%; margin:-1px 0 0 -13px; width:25px; height:3px; background:#fff; border-radius:3px;}
.hamburger_icon, .hamburger_icon:before {display:block; width:25px; height:3px; border-radius:3px; background-color:rgba(255, 255, 255, 1.0);}
.hamburger_icon:after {display:block; top:9px; right:0; width:15px; height:3px; border-radius:3px; background-color:rgba(255, 255, 255, 1.0);}
.hamburger_icon:before, .hamburger_icon:after {position:absolute; content:"";}
.hamburger_icon:before {top:-9px; background-color:#fff;}

/* container */
#container {position:relative; padding:100px 0 0 0; background:#f6f6ff;}

/* main_vsalBox */
.main_vsalBox {overflow:hidden; margin:0 0 20px 0; padding:110px 0 50px 0;}
.main_vsalBox .fl {padding:0 0 0 10px;}
.main_vsalBox .fr {width:580px; padding:0 0 0 30px;}
.main_vsalBox .main_vsalTxt {clear:both; }
.main_vsalBox .main_vsalTxt dl {display:block; color:#fff;}
.main_vsalBox .main_vsalTxt dl dt {display:block;}
.main_vsalBox .main_vsalTxt dl dt span {display:block; font-family:'Roboto', sans-serif; font-size:60px; font-weight:500; line-height:70px;}
.main_vsalBox .main_vsalTxt dl dt em {display:block; padding:10px 0 0 0; font-family:'NanumSquare', sans-serif; font-size:50px; font-weight:700; line-height:60px;}
.main_vsalBox .main_vsalTxt dl dd {display:block;}
.main_vsalBox .main_vsalTxt dl dd.txt {padding:30px 0 0 0; font-family:'NanumSquare', sans-serif; font-size:20px; font-weight:300; line-height:35px; letter-spacing:-1px;}
.main_vsalBox .main_vsalTxt dl dd.txt span {display: block;}
.main_vsalBox .main_vsalTxt dl dd .delay-1 {animation-delay: 0.8s;}
.main_vsalBox .main_vsalTxt dl dd .delay-2 {animation-delay: 1.5s;}
.main_vsalBox .main_vsalTxt dl dd.btn {padding:30px 0 0 0;}
.main_vsalBox .main_vsalTxt dl dd.btn button {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#5f7edb; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.main_vsalBox .main_vsalTxt dl dd.btn button:hover {color:#fff; background:#6d96fe; box-shadow:0 0 20px #5778b9; transition:all 0.3s ease-out;}

/* sub title */
.sub_titleArea {position:relative; clear:both; overflow:hidden; height:310px; text-align:center; z-index:1;}
.sub_titleArea h2 {display:inline-block; margin:60px 0 0 0; padding:35px 65px; color:#fff; font-family:'Roboto', sans-serif; font-size:55px; font-weight:500; line-height:70px; border:5px solid rgba(133,168,254,0.5); letter-spacing:-1px; vertical-align:middle; text-transform:uppercase;}


/* demo */
.demoBox {clear:both; position:relative; height:715px;}

/* demo (tab) */
.demoTab {clear:both; position:relative; padding:0; background: #fff; text-align:center; }
.demoTab .tab_nav {clear:both; overflow:hidden; margin:0 auto; width: 100%; text-align:center; border-bottom: 1px solid rgba(0,0,0,0.1);}
.demoTab .tab_nav ul {width: 1170px;margin: 0 auto;}
.demoTab .tab_nav li {display:inline-block;width: 130px;float: left;  border-right: 1px solid rgba(0,0,0,0.1); box-sizing: border-box;}
.demoTab .tab_nav .left_line {border-left: 1px solid rgba(0,0,0,0.1); box-sizing: border-box;}
.demoTab .tab_nav li a {display:block; position:relative; height: 70px;color:#666; font-size:16px; line-height: 70px; font-weight:500;  transition:all 0.3s ease-out;}
.demoTab .tab_nav li a:after {content:''; position:absolute; bottom:0; left:50%; width:0%; height:2px; background:#6c95fd; transition:all 0.3s ease-out;}
.demoTab .tab_nav li a:hover {color:#6c95fd; transition:all 0.3s ease-out;}
.demoTab .tab_nav li a:hover:after {left:0; width:100%; transition:all 0.3s ease-out;}
.demoTab .tab_nav li a.active {color:#fff; text-decoration:none; background:#6c95fd;}
.demoTab .tbFixed {position:fixed; top:80px; left: 0; z-index: 2; background: #fff; border-bottom: 1px solid rgba(0,0,0,0.1);} 
.demoTab .tbFixed li a {display:block; position:relative; height: 50px;color:#666; font-size:16px; line-height: 50px; font-weight:500;  transition:all 0.3s ease-out;}
.demoTab .tab_nav li.left_line a.active span {display: block; height: 0;padding: 15px 0 0;line-height: 17px;}
/* 20181018 mrs 추가 */
.product_stn {clear:both; overflow:hidden; position:relative; padding:130px 0; }
.stn_color {background:#f6f6ff; }
.product_stn .product_box {width: 1160px; margin: 0 auto; overflow: hidden;}
.product_stn .lot_left {float:left; width: 50%;}
.product_stn .lot_left .info {text-align: right;}
.stn_color .lot_left {float:left; width:50%;}
.stn_color .lot_left img {margin:40px 70px 0 0;;}
.product_stn .lot_right{display: inline-block; float: left;}

.product_stn .product_box .fr {width: 50%;}
.product_stn .product_box .fr img {margin:40px 0 0 50px;}
.product_stn .product_box .fr .chatbot_img {margin: 0 0 0 50px;}
.product_stn .info {text-align: left;}
.product_stn .info dl dt {position:relative;}
.product_stn .info dl dt span {display:block; color:#656563; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; line-height:30px; letter-spacing:1px; text-transform:uppercase;}
.product_stn .info dl dt span:after {content:''; display:inline-block; width:60px; height:1px; margin:0 0 0 15px; vertical-align:middle; background:#c1c1c1; opacity:0.6;}
.product_stn .info dl dt em {display:block; color:#434345; font-size:40px; font-weight:100; line-height:50px; letter-spacing:-2px; word-break:keep-all;}
.product_stn .info dl dd {display:block;}
.product_stn .info dl dd.txt_clr {color:#6d96fe; font-size:17px; font-weight:300; line-height:30px;}
.product_stn .info dl dd.txt {padding:30px 0; color:#6f7a96; font-size:17px; font-weight:300; line-height:30px;}
.product_stn .info dl dd.chatbotTxt {padding-bottom: 20px;}
.product_stn .info dl dd.txt ul li {clear:both; overflow:hidden; margin:0 0 10px 0; font-size:17px; font-weight:300; line-height:22px; letter-spacing:-1px;}
.product_stn .info dl dd.btn {}
.product_stn .info dl dd.btn button {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#5f7edb; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.product_stn .info dl dd.btn button:hover {color:#fff; background:#6d96fe; transition:all 0.3s ease-out;}
.product_stn .info dl dd.btn button.btn_clor {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#fff; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#6d96fe; cursor:pointer; transition:all 0.3s ease-out;}
.product_stn .info dl dd.btn button.btn_clor:hover {color:#fff; background:#9696f7; transition:all 0.3s ease-out;}
.product_stn .info dl dd.btn a {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#5f7edb; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.product_stn .info dl dd.btn a:hover {color:#fff; background:#6d96fe; transition:all 0.3s ease-out;}
.product_stn .info dl dd.btn a.btn_clor {display:inline-block; overflow:hidden; position:relative; width:189px; height:58px; margin:0 0 0 20px; color:#fff; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:58px; border:none; border-radius:30px; background:#6d96fe; cursor:pointer; transition:all 0.3s ease-out;}
.stn_color .info dl dd.btn a.btn_clor {margin: 0 20px 0 0;}
.stn_color .info dl dd.btn a.demo_page {width: 220px;}
.product_stn .info dl dd.btn a.btn_clor:hover {color:#fff; background:#9696f7; transition:all 0.3s ease-out;}
.product_stn .info dl dd .howto {width: 525px; padding: 20px 0; margin: 10px 0 0 0; background: #fff; border: 1px solid #eee;}
.product_stn .info dl dd .howto p {color:#434345; font-size: 14px;padding: 0 10px 8px 30px; }
.product_stn .info dl dd .howto p:first-child {padding-bottom:15px;}
.product_stn .info dl dd .howto p em {display: inline-block;min-width: 145px; font-weight: 500;}
.product_stn .info dl dd .howto p b {color:#6d96fe; font-weight: 400;}
/*20181108 mrs 추가*/
.product_stn .product_box .caseBox{display: block; clear: both;}
.product_stn .product_box .caseBox .case_tit {position: relative; padding: 60px 0; font-size: 16px; color: #656563;}
.product_stn .product_box .caseBox .case_tit:before {content: ''; position: absolute; left: 20px;bottom: 68px;  width: 485px ; height: 2px ; background: #eee;}
.product_stn .product_box .caseBox .case_tit:after {content: ''; position: absolute; right: 20px; bottom: 68px;width: 485px ; height: 2px ; background: #eee;}
.product_stn .product_box .caseBox .video_case {width: 50%; float: left; display: inline-block; }
.product_stn .product_box .caseBox .video_case a {display: inline-block;}
.product_stn .product_box .caseBox .video_case .bg_video {display: inline-block; width: 253px; height: 185px; background: #333;}
.product_stn .product_box .caseBox .video_case a strong.ico_mov {overflow:hidden; position:absolute; width:80px; height:80px; bottom: 185px; margin:-40px 0 0 -40px; line-height:9999; border-radius:80px; background:rgba(255,255,255,1); background-size:100%; z-index:1; transition:all 0.3s ease-out;}	
.product_stn .product_box .caseBox .video_case a strong.ico_mov:after {content:'';  position:absolute; top:50%; left:50%; margin:-10px 0 0 -15px; border-top:-10px solid transparent; border-right:20px solid #6d96fe; border-bottom:20px solid transparent; transform:rotate(45deg); transition:all 0.3s ease-out;}
.product_stn .product_box .caseBox .video_case a:hover strong.ico_mov {box-shadow:0 0 20px rgba(0,0,0,0.3); background:rgba(110,150,255,1); transition:all 0.3s ease-out;}
.product_stn .product_box .caseBox .video_case a:hover strong.ico_mov:after {border-right:20px solid #fff; transition:all 0.3s ease-out;}
.product_stn .product_box .caseBox .video_case .video_txt {display: inline-block; float: right;width: 50%;height: 185px;text-align: left; }
.product_stn .product_box .caseBox .video_case p {font-size: 20px; color: #354a85;line-height: 30px;margin: 0 0 10px 0;}
.product_stn .product_box .caseBox .video_case p b {color:rgb(109, 150, 254);font-weight: 400;}
.product_stn .product_box .caseBox .video_case .video_desc {font-size: 14px; color:#6f7a96; line-height: 20px;letter-spacing: -1px;}
#stn_chatbot .product_box .caseBox .video_case {margin:0 0 40px 0;height: 210px;}
#stn_chatbot .product_box .caseBox .video_case .ttobot_box {float: left; width: 50%;}
#stn_chatbot .product_box .caseBox .video_case .bg_video_ttobot {display: inline-block; width: 253px; height:140px; background: #333;}
#stn_chatbot .product_box .caseBox .video_case .ttobot_box strong.ico_mov {margin: 30px 0 0 -40px;}
#stn_chatbot .product_box .caseBox .video_case a.btn_ttobot {display:inline-block; overflow:hidden; position:relative; width:253px; height: 40px; margin: 10px 0 0 0; color:#fff; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:40px; border:none; border-radius:10px; background:#6d96fe; cursor:pointer; transition:all 0.3s ease-out;}
#stn_chatbot .product_box .caseBox .video_case p {line-height: 28px;}
#stn_chatbot .product_box .caseBox .video_case .video_desc {line-height: 20px;}
#stn_chatbot .product_box .caseBox .video_case p b {color:rgb(109, 150, 254);font-weight: 400;}
#stn_chatbot .product_box .caseBox .video_case a strong.ico_mov { bottom: inherit; margin: 50px 0 0 -40px;}

/* 문의하기 */
.api_contact {padding:45px 0; background:url(../images/bg_api_contact.png) 50% 50% no-repeat; background-size:cover;}
.api_contact .stn_tit {clear:both; overflow:hidden; position:relative; margin:0 0 15px 0;}
.api_contact .stn_tit h3 {margin:30px 0; color:#c4c4c4; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; line-height:30px; text-transform:uppercase;}
.api_contact .stn_tit h3:after {content:''; position:absolute; top:45px; left:120px; width:60px; height:1px; background:#c3c3c3; opacity:0.6;}
.api_contact .stn_tit h3 span {display:block; padding:10px 0 0 0; color:#fff; font-family:'Roboto', sans-serif; font-size:40px; font-weight:300;  text-transform:none;}
.contactBox {display:block; width:100%;} 
.api_contact .leftBox {float:left;  vertical-align:top;}
.api_contact .leftBox .leftTxtBox {display:block;}
.api_contact .leftBox .leftTxtBox p {clear:both; overflow:hidden; margin:0 0 70px 0; color:#f8f9fe; font-size:15px; font-weight:500; line-height:26px;}

.api_contact .leftBox .contact_lst {display:block;}
.api_contact .leftBox .contact_lst> li {display:block; margin:0 0 15px 0;}
.api_contact .leftBox .contact_lst> li a {display:inline-block; height:24px; padding:0 0 0 40px; color:#fff; font-size:15px; font-weight:300; line-height:24px; opacity:0.5; transition:all 0.3s ease-out;}
.api_contact .leftBox .contact_lst> li a:hover, .api_contact .leftBox .contact_lst> li a:focus {opacity:1.0; transition:all 0.3s ease-out;}
.api_contact .leftBox .contact_lst li.btn_tel a {background:url(../images/ico_contact_tel.png) 0 50% no-repeat;}
.api_contact .leftBox .contact_lst li.btn_mail a {background:url(../images/ico_contact_mail.png) 0 50% no-repeat;}
.api_contact .leftBox .contact_lst li.btn_web a {background:url(../images/ico_contact_web.png) 0 50% no-repeat;}
.api_contact .leftBox .contact_lst ul.social_lst {display:block; padding:15px 0 0 0;}
.api_contact .leftBox .contact_lst ul.social_lst li {float:left; margin:0 35px 0 0;}
.api_contact .leftBox .contact_lst ul.social_lst li:last-child {margin:0;}
.api_contact .leftBox .contact_lst ul.social_lst li a {display:block; height:26px; padding:0 0 0 40px; color:#fff; font-size:15px; font-weight:300; line-height:24px; opacity:0.5; transition:all 0.3s ease-out;}
.api_contact .leftBox .contact_lst ul.social_lst li a:hover, .api_contact .leftBox .contact_lst ul.social_lst li a:focus {opacity:1.0; transition:all 0.3s ease-out;}
.api_contact .leftBox .contact_lst ul.social_lst li.btn_fb a {background:url(../images/ico_social_facebook.png) 0 0 no-repeat;}
.api_contact .leftBox .contact_lst ul.social_lst li.btn_ld a {background:url(../images/ico_social_linkedin.png) 0 0 no-repeat;}

.api_contact .contact {float:right; width:400px; padding:40px 70px; border-radius:10px; box-shadow:0 0 20px rgba(34,44,70,0.3); background:rgba(255,255,255,0.1);}
.api_contact .contact .fl {width:49%;}
.api_contact .contact .fr {width:49%;}
.api_contact .contact .txtfield {position:relative; display:block; overflow:hidden; margin:0 0 10px 0;}
.api_contact .contact .txtfield.pdBox {padding:20px; border-radius:25px; background:#fff;}
.api_contact .contact .txtfield label {position:absolute; top:10px; left:15px; color:#6f7ea2; font-size:16px; line-height:26px;}
.api_contact .contact .txtfield .select {width:100%; height:42px; color:#434345; font-size:14px; line-height:26px; text-indent:2px; border:1px solid #fff; border-radius:5px; transition:all 0.3s ease-out; -webkit-appearance:none;/* 화살표 없애기 for chrome*/ -moz-appearance:none;/* 화살표 없애기 for firefox*/ appearance:none;/* 화살표 없애기 공통*/ background:#fff url(../images/ico_arrow_select.png) 95% 50% no-repeat;}
.api_contact .contact .txtfield .select::-ms-expand {display:none;/* 화살표 없애기 for IE10, 11*/}
.api_contact .contact .txtfield .input_txt {width:calc(100% - 2px); height:45px; color:#434345; font-size:14px; line-height:26px; text-indent:20px; border:1px solid #fff; border-radius:30px; transition:all 0.3s ease-out;}
.api_contact .contact .txtfield .textArea {width:100%; padding:0; color:#434345; font-size:14px; line-height:26px; border:1px solid #fff; resize:none; box-shadow:none; outline:none;}

.api_contact .btnBox {display:table; width:100%; text-align:center;}
.api_contact .btnBox li {display:table-cell; width:50%;  text-align:center;}
.api_contact .btnBox li:last-child {}
.api_contact .btnBox li button {display:inline-block; width:100%; height:60px; color:#3375fa; font-size:15px; font-weight:500; border:none; letter-spacing:2px; border-radius:30px; background:#fff; text-transform:uppercase; cursor:pointer;}
.api_contact .btnBox li button.btn_clor {color:#fff; background:#6d96fe; transition:all 0.3s ease-out;}
.api_contact .btnBox li button.btn_clor:hover {background:#9696f7; transition:all 0.3s ease-out;}

/* btn_goTop button */
.btn_goTop {display:none; position:fixed; bottom:0; left:0;}
.btn_goTop button {display:block; width:50px; height:50px; line-height:50px; text-indent:-9999px; border:1px solid #999; background:#999 url(../images/ico_arwUp_w.png) 50% 50% no-repeat; z-index:1000; opacity:0.6; transition:all 0.3s ease-out; cursor:pointer;}
.btn_goTop button:hover {border:1px solid #3375fa; background:#3375fa url(../images/ico_arwUp_w.png) 50% 40% no-repeat; opacity:1; transition:all 0.3s ease-out;}

.btn_fltBox {display:block; position:fixed; bottom:30px; right:30px; z-index:100;}
.btn_fltBox .btnBox {width:170px; height:60px;}
.btn_fltBox .btnBox button {display:block; width:170px; height:60px; padding:0 0 0 70px; color:#fff; font-size:18px; font-weight:600; text-align:left; line-height:50px; border:none; background-color:#3862ec; border-radius:100px; z-index:1000; opacity:1.0; transition:all 0.3s ease-out; cursor:pointer;}
.btn_fltBox .btnBox button:hover {background-color:#6d96fe !important; box-shadow:0 0 10px #889bbb; opacity:1; transition:all 0.3s ease-out;}
.btn_fltBox .btnBox button.btn_flt_cb {background:#3862ec url(../images/ico_chat.png) 20px 50% no-repeat; background-size:40px auto;}

.btn_fltBox .btnBox button.btn_pororot {float:right; width:227px; height:77px; background:url(../images/btn_helpdesk.png) 50% 50% no-repeat; transition:all 0.3s ease-out;} 
.btn_fltBox .btnBox button.btn_pororot:hover {box-shadow:0 0 10px rgba(0,0,0,0.3); transition:all 0.3s ease-out;}

/* footer */
#footer {position:relative; clear:both; overflow:hidden; width:100%; margin:0; background:#2b2b2c;}
#footer .f_logo {float:left;}
#footer .cyrt {display:block; height:52px; color:#c5c5c5; font-size:12px; font-weight:300; text-align:center; line-height:52px; opacity:1;}

/* cahtbot floating */
#chatbotWrap {overflow:hidden; position:fixed; bottom:30px; right:30px; width:400px; height:0; max-height:80%; min-height:0; border-radius:15px; background:#fff; box-shadow:2px 2px 5px rgba(0,0,0,0.5); opacity:0; z-index:9999;}

#livechatWrap {display:none; overflow:hidden; position:fixed; bottom:30px; right:30px; width:400px; height:80%; min-height:0; border-radius:15px; background:#fff; box-shadow:2px 2px 5px rgba(0,0,0,0.5); z-index:9999;}

/* cahtbot rolling */
.cahtbot_lst {position:fixed; bottom:110px; right:30px; width:100%; max-width:260px; height:25px; padding:0 0 10px 0; border-radius:5px; box-shadow:0 0 15px rgba(74,103,151,0.1); background:rgba(255,255,255,1.0);}
.cahtbot_lst:before {content:''; position:absolute; bottom:-10px; right:50px; border-top:10px solid transparent; border-right:10px solid #fff;  border-bottom:10px solid transparent;}
.cahtbot_lst:after {content:''; position:absolute; bottom:-10px; right:40px; border-top:10px solid transparent; border-left:10px solid #fff;  border-bottom:10px solid transparent;}
.cahtbot_lst .overflow {overflow:hidden; height:30px;}
.cahtbot_lst ul {width:100%; text-align:center;}
.cahtbot_lst ul li {display:block; padding:5px 0 0 0; line-height:28px;}
.cahtbot_lst ul li a {display:block; color:#656563; font-size:14px; vertical-align:middle;}
.cahtbot_lst ul li a span:after {content:''; display:inline-block; width:25px; height:25px; margin:0 0 0 10px; border-radius:20px; vertical-align:top;}
.cahtbot_lst ul li.ico_sully span:after {background:url(../images/ico_bot_sully.png) 50% 50% no-repeat; background-size:100%;}
.cahtbot_lst ul li.ico_joey span:after {background:url(../images/ico_bot_joey.png) 50% 50% no-repeat; background-size:100%;}
.cahtbot_lst ul li.ico_mini span:after {background:url(../images/ico_bot_mini.png) 50% 50% no-repeat; background-size:100%;}
.cahtbot_lst ul li.ico_noah span:after {background:url(../images/ico_bot_noah.png) 50% 50% no-repeat; background-size:100%;}
.cahtbot_lst ul li.ico_ttubot span:after {background:url(../images/ico_bot_ttubot.png) 50% 50% no-repeat; background-size:100%;}
.cahtbot_lst ul li img {position:absolute; right:5px; bottom:5px; width:40px;}


/* Event contact us */
.contact_event {padding:45px 0; background:url(../images/bg_api_contact.png) 50% 50% no-repeat; background-size:cover;}
.contact_event .h3Box_c {display:block; position:relative; margin:0 0 45px 0; text-align:center;}
.contact_event .h3Box_c h3 {display:inline-block; color:#c4c4c4; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; line-height:24px; letter-spacing:2px; text-transform:uppercase;}
.contact_event .h3Box_c h3:before {content:''; display:inline-block; width:60px; height:1px; margin:-1px 20px 0 0; vertical-align:middle; background:#c3c3c3; opacity:0.6;}
.contact_event .h3Box_c h3:after {content:'';display:inline-block; width:60px; height:1px; margin:-1px 0 0 20px; vertical-align:middle; background:#c3c3c3; opacity:0.6;}
.contact_event .h3Box_cont {text-align:center;}
.contact_event .h3Box_cont .txt {display:block; margin:0 0 30px 0; color:#fff; font-size:17px; font-weight:300; line-height:25px;}
.contact_event .h3Box_cont .contact_lst {display:block;}
.contact_event .h3Box_cont .contact_lst> li {display:inline-block; margin:0 30px 15px ;}
.contact_event .h3Box_cont .contact_lst> li:last-child {margin-right:0;}
.contact_event .h3Box_cont .contact_lst> li a {display:inline-block; height:24px; padding:0 0 0 40px; color:#fff; font-size:15px; font-weight:300; line-height:24px; opacity:0.5; transition:all 0.3s ease-out;}
.contact_event .h3Box_cont .contact_lst> li a:hover, .contact_event .h3Box_cont .contact_lst> li a:focus {opacity:1.0; transition:all 0.3s ease-out;}
.contact_event .h3Box_cont .contact_lst li.btn_tel a {background:url(../images/ico_contact_tel.png) 0 50% no-repeat;}
.contact_event .h3Box_cont .contact_lst li.btn_mail a {background:url(../images/ico_contact_mail.png) 0 50% no-repeat;}

/* layer popup */
.layerPop {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index:9999;}

/* apply */
.applyBox {overflow:hidden; position:absolute; top:50%; left:50%; width:600px; height:500px; margin:-250px 0 0 -300px; border-radius:15px; box-shadow:0 0 20px rgba(74,103,151,0.1); background:#f6f6ff;}
.applyBox .tit {clear:both; overflow:hidden; color:#fff; font-family:'NanumSquare', sans-serif; font-size:17px; font-weight:700; padding:20px 25px; background:#333e52 url(../images/ico_bot_mini.png) right 10px bottom 0 no-repeat; background-size:50px auto;}
.applyBox .cont {clear:both; overflow:hidden; padding:40px 30px; background:#fff;}
.applyBox .cont dl {display:table; width:100%; margin:0 0 20px 0;}
.applyBox .cont dl:last-child {margin:0;}
.applyBox .cont dl dt {display:table-cell; width:120px;}
.applyBox .cont dl dt label {color:#333e52; font-family:'NanumSquare', sans-serif; font-size:15px; font-weight:400;}
.applyBox .cont dl dd {display:table-cell;}
.applyBox .cont dl dd .ipt_txt {width:100%; height:36px; text-indent:10px; border:1px solid #e5e5e5;}
.applyBox .btnBox {display:block; text-align:center; padding:20px 0 0 0;}
.applyBox .btnBox ul {}
.applyBox .btnBox ul li {display:inline-block; position:relative; width:120px; height:40px; margin:0 10px; vertical-align:top;}
.applyBox .btnBox ul li button {width:120px; height:40px; color:#333e52; border:none; border-radius:30px; box-shadow:0 1px 3px rgba(74,103,151,0.4); background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.applyBox .btnBox ul li button:hover {color:#6d96fe; transition:all 0.3s ease-out;}
.applyBox .btnBox ul li button.btn_clr {color:#fff; background:#6d96fe; transition:all 0.3s ease-out;}
.applyBox .btnBox ul li button.btn_clr:hover {background:#457aff; transition:all 0.3s ease-out;}
.applyBox .btnBox ul li .disBox {position:absolute; top:0; left:0; width:120px; height:40px;}


/* 챗봇 점검 */ 
.checkupBox {display:none; position:fixed; bottom:30px; right:30px;}
.checkupBox .info {width:230px; padding:20px; border-radius:15px; box-shadow:0 0 10px rgba(74,103,151,0.1); background:rgba(255,255,255,0.9);}
.checkupBox .info .txt {display:block; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #efeffa; color:#6f7a96; font-size:14px; font-weight:400; line-height:20px; word-break:keep-all;}
.checkupBox .info dl {display:block; margin:0 0 5px 0;}
.checkupBox .info dl dt {display:inline-block; width:80px; color:#6b6f7c}
.checkupBox .info dl dd {display:inline-block; color:#434345}
.checkupBox .info dl dd a {color:#6d96fe;}
.checkupBox .btnBox {float:right; width:80px; height:80px; margin:15px 0 0 0;}

.lds-heart {display:inline-block;position:fixed; right:30px; bottom:30px; width:80px;height:80px;transform:rotate(45deg);transform-origin:40px 40px; border-radius:100px; background:#9696f7;}
.lds-heart div {top:33px;left:33px;position:absolute;width:20px;height:20px;background:#fff;animation:lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);}
.lds-heart div:after, .lds-heart div:before {content:'';position:absolute;display:block;width:20px;height:20px;background:#fff;}
.lds-heart div:before {left:-14px;border-radius:50% 0 0 50%;}
.lds-heart div:after {top:-14px;border-radius:50% 50% 0 0;}

@keyframes lds-heart {
0%   {transform:scale(0.95);}
5%   {transform:scale(1.1);}
39%  {transform:scale(0.85);}
45%  {transform:scale(1);}
60%  {transform:scale(0.95);}
100% {transform:scale(0.9);}
}

/* layerpopup */ 
.layerpopup_wrap {position:fixed; top:0; left:0; width:100%; height:100%; z-index:5000; -webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:layerpopup_wrap; animation-name:layerpopup_wrap;}
.layerpopup_wrap .layer_bg {position:absolute; width:100%; height:100%; background:rgba(0, 0, 0, 0.8);}
.layerpopup_wrap .layerBox {position:absolute; top:50%; left:50%;}
.layerpopup_wrap .layerBox iframe{display:block !important; width:100% !important; max-width:100% !important; height:100% !important; border:none !important;}
.layerpopup_wrap .layer_close {position:absolute; top:-30px; right:0; width:25px; height:25px; background:url(../images/btn_layerClose_w.png) center center no-repeat; background-size:100%; opacity:0.6; transition:all 0.3s ease-out;}
.layerpopup_wrap .layer_close:hover {transform:rotate(90deg); opacity:1; transition:all 0.3s ease-out;}

.layerpopup_hide {-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:layerpopup_hide; animation-name:layerpopup_hide;}


@-webkit-keyframes layerpopup_wrap {
0% {opacity:0;}
100% {opacity:1;}
}

@keyframes layerpopup_wrap {
0% {opacity:0;}
100% {opacity:1;}
}

@keyframes layer_close {
0% {right:20px; opacity:0;}
100% {right:0; opacity:0.6;}
}

@-webkit-keyframes layerpopup_hide {
0% {opacity:1;}
100% {opacity:0;}
}

@keyframes layerpopup_hide {
0% {opacity:1;}
100% {opacity:0;}
}

/* bluePrint */ 
.bluePrint_box {position:relative; width:100%; height:100%; padding:20px 0;}
.bluePrint_box ol {}
.bluePrint_box ol li {position:absolute; width:25px; height:25px; border-radius:20px;}
.bluePrint_box ol li span {position:absolute; top:32px; left:50%; width:200px; margin:0 0 0 -105px; padding:10px; color:#fff; word-break:keep-all; border-radius:10px; background:rgba(88,99,125,0.9); opacity:0; z-index:100; transition:all 0.3s ease-out;} 
.bluePrint_box ol li span:after {content:''; position:absolute; top:-4px; left:50%; margin:0 0 0 -10px; border-bottom:10px solid transparent; border-left:10px solid rgba(88,99,125,0.9); border-bottom:10px solid transparent; transform:rotate(45deg);}
.bluePrint_box ol li.num01 {top:51.9%; left:18.5%;} 
.bluePrint_box ol li.num02 {top:14.3%; left:22.0%;} 
.bluePrint_box ol li.num03 {top:24.9%; left:43.2%;} 
.bluePrint_box ol li.num04 {top:41.0%; left:38.8%;} 
.bluePrint_box ol li.num05 {top:54.5%; left:38.8%;} 
.bluePrint_box ol li.num06 {top:72.3%; left:38.8%;} 
.bluePrint_box ol li.num07 {top:24.3%; left:72.5%;} 
.bluePrint_box ol li.num08 {top:57.3%; left:72.5%;} 
.bluePrint_box ol li.num09 {top:78.0%; left:72.5%;} 

.bluePrint_box ol li:hover span, .bluePrint_box ol li:focus span {opacity:1; transition:all 0.3s ease-out;}

.lyr_product {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;}
.lyr_product .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7);}
.productWrap {overflow:hidden; display:inline-block; width:1200px; margin:100px auto 0 auto; border-radius:15px; }
.productWrap .product_hd {clear:both; overflow:hidden; position:relative; padding:20px 0; background:#353c4f;}
.productWrap .product_hd ul.product_lst {display:block; width:100%;}
.productWrap .product_hd ul.product_lst li {display:inline-block; margin:0 15px;}
.productWrap .product_hd ul.product_lst li span {display:block; padding:10px 20px; color:#999; font-size:17px; font-weight:500; border:none; border-radius:5px; background:none; transition:all 0.3s ease-out;}
.productWrap .product_hd ul.product_lst li button {display:block; padding:10px 20px; color:#fff; font-size:17px; font-weight:500; border:none; border-radius:5px; background:none; cursor:pointer; transition:all 0.3s ease-out;}
.productWrap .product_hd ul.product_lst li button:hover, .productWrap .product_hd ul.product_lst li button:focus {color:#6d96fe; transition:all 0.3s ease-out;}
.productWrap .product_hd ul.product_lst li button.active {color:#fff; background:#6d96fe;  transition:all 0.3s ease-out;}
.productWrap .product_hd .btn_productWrap_close {overflow:hidden; position:absolute; top:50%; right:20px; width:22px; height:22px; margin:-11px 0 0 0; text-indent:999px; border:none; background:none; opacity:0.5; cursor:pointer; transition:all 0.3s ease-out;}
.productWrap .product_hd .btn_productWrap_close:hover, .productWrap .product_hd .btn_productWrap_close:focus {opacity:1.0; transition:all 0.3s ease-out;}
.productWrap .product_hd .btn_productWrap_close:before {content:'';  position:absolute; top:50%; left:50%; width:22px; height:2px; margin:-1px 0 0 -11px; background:#fff; transform:rotate(45deg);}
.productWrap .product_hd .btn_productWrap_close:after {content:'';  position:absolute; top:50%; left:50%; width:22px; height:2px; margin:-1px 0 0 -11px; background:#fff; transform:rotate(-45deg);}

.product_bd {display:table; position:relative; width:100%; height:600px; max-height:600px; background:rgba(255,255,2551.0);}
.product_bd .snb_lst {display:table-cell; position:relative; width:180px; padding:0 0 130px 0; vertical-align:top; background:#6d96fe;}
.product_bd .snb_lst .bot_lst {clear:both; overflow:hidden;}
.product_bd .snb_lst .bot_lst li {display:block; margin-bottom:1px;}
.product_bd .snb_lst .bot_lst li button {display:table; width:100%; padding:12px 15px; border:none; background:none; cursor:pointer; transition:all 0.3s ease-out;}
.product_bd .snb_lst .bot_lst li button em {display:table-cell; width:45px; height:45px; vertical-align:middle; border-radius:50px; box-shadow:0 0 5px rgba(0,0,0,0.2); vertical-align:middle; background-color:#fff;}
.product_bd .snb_lst .bot_lst li button em img {width:35px; height:35px; border-radius:50px; }
.product_bd .snb_lst .bot_lst li button span {display:table-cell; padding:0 0 0 10px; color:#fff; font-size:15px; font-weight:500; text-align:left; line-height:18px; vertical-align:middle;}
.product_bd .snb_lst .bot_lst li button:hover, .product_bd .snb_lst .bot_lst li button:focus {background:#5880fe;}
.product_bd .snb_lst .bot_lst li button.active {background:#5880fe; transition:all 0.3s ease-out;}

.product_bd .snb_lst .etc_lst {position:absolute; bottom:0; width:calc(100% - 34px); padding:17px; }
.product_bd .snb_lst .etc_lst li {display:block; margin:8px 0;}
.product_bd .snb_lst .etc_lst li button {display:block; width:100%; padding:10px 0; color:#fff; font-size:15px; font-weight:500; border:none; border-radius:5px; background:#353c4f; cursor:pointer; transition:all 0.3s ease-out;}
.product_bd .snb_lst .etc_lst li button:hover, .product_bd .snb_lst .etc_lst li button:focus {color:#6d96fe; background:#fff; transition:all 0.3s ease-out;}

.product_bd .snb_lst .etc_lst li a {display:block; width:100%; padding:10px 0; color:#fff; font-size:15px; font-weight:500; border:none; border-radius:5px; background:#353c4f; cursor:pointer; transition:all 0.3s ease-out;}
.product_bd .snb_lst .etc_lst li a:hover, .product_bd .snb_lst .etc_lst li a:focus {color:#6d96fe; background:#fff; transition:all 0.3s ease-out;}

.product_bd .product_cont {display:table-cell;}

.product_stn .snsBox  {display:block;text-align:center;}
.product_stn .snsBox .sns_banner {display:inline-block; padding:0 0 35px; border-radius:100px; background:#f6f6ff; float: left;}
.product_stn .snsBox .sns_banner .sns_lst {display:inline-block; margin:0 15px 0 0; vertical-align:top;}
.product_stn .snsBox .sns_banner .sns_lst li {display:inline-block; margin:0 5px 0 0;}
.product_stn .snsBox .sns_banner .sns_lst li:last-child {margin:0;}
.product_stn .snsBox .sns_banner .sns_lst li img {margin: 0;}
.product_stn .snsBox .sns_banner .sns_dl {display:inline-block; text-align:left; vertical-align:top;}
.product_stn .snsBox .sns_banner .sns_dl dt {color:#5f7edb; font-size:18px; line-height:26px;}
.product_stn .snsBox .sns_banner .sns_dl dd {color:#434345; font-size:15px;}

/*===== tts demo MRS 2018.10.19=====*/
.lyr_tts {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:1000;}
.lyr_tts .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7);}
.lyr_tts .productWrap {overflow:hidden; display:inline-block; width:1200px; margin:100px auto 0 auto; border-radius:15px; }
.lyr_tts .productWrap .product_hd {clear:both; overflow:hidden; position:relative; padding:20px 0; background:#353c4f; border-radius: 10px 10px 0 0;}
.lyr_tts .productWrap .product_hd ul.product_lst {display:block; width:100%;}
.lyr_tts .productWrap .product_hd ul.product_lst li {display:inline-block; margin:0 15px;}
.lyr_tts .productWrap .product_hd ul.product_lst li span {display:block; padding:10px 20px; color:#999; font-size:17px; font-weight:500; border:none; border-radius:5px; background:none; transition:all 0.3s ease-out;}
.lyr_tts .productWrap .product_hd ul.product_lst li button {display:block; padding:10px 20px; color:#fff; font-size:17px; font-weight:500; border:none; border-radius:5px; background:none; cursor:pointer; transition:all 0.3s ease-out;}
.lyr_tts .productWrap .product_hd ul.product_lst li button:hover, .productWrap .product_hd ul.product_lst li button:focus {color:#6d96fe; transition:all 0.3s ease-out;}
.lyr_tts .productWrap .product_hd ul.product_lst li button.active {color:#fff; background:#6d96fe;  transition:all 0.3s ease-out;}
.lyr_tts .productWrap .product_hd .btn_productWrap_close {overflow:hidden; position:absolute; top:50%; right:20px; width:22px; height:22px; margin:-11px 0 0 0; text-indent:999px; border:none; background:none; opacity:0.5; cursor:pointer; transition:all 0.3s ease-out;}
.lyr_tts .productWrap .product_hd .btn_productWrap_close:hover, .productWrap .product_hd .btn_productWrap_close:focus {opacity:1.0; transition:all 0.3s ease-out;}
.lyr_tts .productWrap .product_hd .btn_productWrap_close:before {content:'';  position:absolute; top:50%; left:50%; width:22px; height:2px; margin:-1px 0 0 -11px; background:#fff; transform:rotate(45deg);}
.lyr_tts .productWrap .product_hd .btn_productWrap_close:after {content:'';  position:absolute; top:50%; left:50%; width:22px; height:2px; margin:-1px 0 0 -11px; background:#fff; transform:rotate(-45deg);}

.lyr_tts .product_bd {display:table; position:relative; width:100%; height:600px; max-height:600px; background:rgba(255,255,2551.0);}
.lyr_tts .product_bd .snb_lst {display:table-cell; position:relative; width:180px; padding:0 0 130px 0; vertical-align:top; background:#7c73cc;}
.lyr_tts .product_bd .snb_lst .bot_lst {clear:both; overflow:hidden;}
.lyr_tts .product_bd .snb_lst .bot_lst li {display:block; margin-bottom:1px;}
.lyr_tts .product_bd .snb_lst .bot_lst li button {display:table; width:100%; padding:30px 15px; border:none; background:none; cursor:pointer; transition:all 0.3s ease-out;}
.lyr_tts .product_bd .snb_lst .bot_lst li button span {display:table-cell; padding:0 0 0 10px; color:#fff; font-size:22px; font-weight:900; text-align:left; line-height:18px; vertical-align:middle;}
.lyr_tts .product_bd .snb_lst .bot_lst li button:hover, .product_bd .snb_lst .bot_lst li button:focus {background:#5880fe;}
.lyr_tts .product_bd .snb_lst .bot_lst li button.active {background:#6158d2; transition:all 0.3s ease-out;}
.lyr_tts .product_bd .snb_lst .etc_lst {position:absolute; bottom:0; width:calc(100% - 34px); padding:17px; }
.lyr_tts .product_bd .snb_lst .etc_lst li {display:block; margin:8px 0;}
.lyr_tts .product_bd .snb_lst .etc_lst li button {display:block; width:100%; padding:10px 0; color:#fff; font-size:15px; font-weight:500; border:none; border-radius:5px; background:#353c4f; cursor:pointer; transition:all 0.3s ease-out;}
.lyr_tts .product_bd .snb_lst .etc_lst li button:hover, .product_bd .snb_lst .etc_lst li button:focus {color:#6d96fe; background:#fff; transition:all 0.3s ease-out;}
.lyr_tts .product_bd .snb_lst .etc_lst li a {display:block; width:100%; padding:10px 0; color:#fff; font-size:15px; font-weight:500; border:none; border-radius:5px; background:#353c4f; cursor:pointer; transition:all 0.3s ease-out;}
.lyr_tts .product_bd .snb_lst .etc_lst li a:hover, .product_bd .snb_lst .etc_lst li a:focus {color:#6d96fe; background:#fff; transition:all 0.3s ease-out;}
.lyr_tts .product_bd .product_cont {display:table-cell;}	
.lyr_tts .chat_uiBox { display:table; width:100%;}
.lyr_tts .guideBox { float:left; overflow:auto; width:320px; height: 630px; text-align:center; border-right:1px solid #cfd5eb; background:#fff; z-index:1000;}
.lyr_tts .guideBox img { width:100%;}

.lyr_tts .chatbot_contents { float:left; position:relative; width:calc(100% - 322px); height:630px; vertical-align:top; background:#f6f6ff;}
.lyr_tts .chatbot_contents .demo_wrap {padding: 22px;}
.lyr_tts .chatbot_contents .demo_wrap .demo_tit > p {text-align: left;  color:#7c73cc; font-size: 23px; font-weight: 700; }
.lyr_tts .chatbot_contents .demo_wrap .step_box { text-align: left; } 
.lyr_tts .chatbot_contents .demo_wrap .step_box .step {display: block; overflow: hidden; margin: 30px 0 0;}
.lyr_tts .chatbot_contents .demo_wrap .step_box .step li:first-child {width: 140px; font-size: 17px; font-weight: 700;}
.lyr_tts .chatbot_contents .demo_wrap .step_box .step li {float: left; width: 120px; font-size: 14px; display: inline-block;  color: #353c4f;}
.lyr_tts .chatbot_contents .demo_wrap .step_box .step li .disabled  {color: #A6A6A6;}
.lyr_tts .chatbot_contents .demo_wrap .demo_txt {margin: 13px 0 0 0; padding: 30px; border-radius: 10px; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1); animation-name:info_txt; animation-duration:1s; opacity:1.0;}
@keyframes info_txt {
0%   {opacity:0;}
100% {opacity:1.0;}
}

.lyr_tts .chatbot_contents .demo_wrap .demo_txt .textArea {width: calc(100% - 30px); height: 145px; padding: 15px; background: #f6f6ff; border:1px solid #7d74cc; color: #353c4f; transition: all 0.3s ease-out;}
.lyr_tts .chatbot_contents .demo_wrap .demo_txt .textArea::focus {border:1px solid #7d74cc;transition: all 0.3s ease-out;}
.lyr_tts .chatbot_contents .demo_wrap .demo_txt .textArea::placeholder {color: #353c4f; transition: all 0.3s ease-out; font-size: 14px;}


.lyr_tts .chatbot_contents .demo_wrap .demo_intro {width: 100%;}
.lyr_tts .chatbot_contents .demo_wrap .btnBox button {display: block; margin: 20px auto 30px; cursor: pointer; }
.lyr_tts .chatbot_contents .demo_wrap .btnBox button.demoRecord { width: 235px; height: 50px; background:#7c73cc url(../images/btn_play.png) 66% 50% no-repeat; font-size: 15px; color: #fff;  border: none; border-radius: 50px; transition:all 0.3s ease-out; }
.lyr_tts .chatbot_contents .demo_wrap .btnBox button.demoRecord:hover {background: #6158d2 url(../images/btn_play.png) 68% 50% no-repeat; }
.lyr_tts .chatbot_contents .demo_wrap .btnBox button span{padding: 0 28px 0 0;}
.lyr_tts .chatbot_contents .demo_wrap .btnBox button.demoReset { width: 235px; height: 50px; background:#353c4f; font-size: 15px; color: #fff;  border: none; border-radius: 50px; animation-name:btn_reset; animation-duration:1s; opacity:1.0; transition:all 0.3s ease-out;}
@keyframes btn_reset {
0%   {opacity:0;}
100% {opacity:1.0;}
}

.lyr_tts .chatbot_contents .demo_wrap .btnBox button.demoReset span {padding: 0;}
.type_tts .demoBox .btnBox .disBox {position:absolute; top:0; left:0; width:100%; height:100%; z-index:1000;}
.lyr_tts .chatbot_contents .demo_wrap .demo_result {display: none; transition:all 0.3s ease-out;}
.lyr_tts .chatbot_contents .demo_wrap .step_box .radioBox {position:relative; z-index: 1;}
.lyr_tts .chatbot_contents .demo_wrap .step_box .radioBox input[class="ipt_radio"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0} 
.lyr_tts .chatbot_contents .demo_wrap .step_box .radioBox input[class="ipt_radio"] + label {position: relative; display: inline-block; cursor: pointer;-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; z-index: 10; }
.lyr_tts .chatbot_contents .demo_wrap .step_box .radioBox input[class="ipt_radio"] + label:before  {content:''; display: inline-block; width:20px; height:20px; line-height:20px; margin:0 8px 0 0; text-align:center; vertical-align:middle; background:#fff; border:1px solid #d3d3d3; box-sizing: border-box;border-radius:100px; box-shadow:1px 1px 1px rgba(0,0,0,0.1);  transition:all 0.3s ease-out;} 
.lyr_tts .chatbot_contents .demo_wrap .step_box .radioBox input[class="ipt_radio"]:checked + label:before {content:''; box-sizing: border-box;   background: #fff; border: 7px solid #7c73cc; transition: all 0.3s ease-out;}


/* demo (recording) */
.demo_recording {display:none; clear:both; overflow:hidden; height:100%; padding:0;}
.demo_recording .recording {position:absolute; top:360px; bottom:0px; left:0px; right:0px; margin:auto; width:175px; height:60px;}
.demo_recording .recording span {display:block; float:left; width:7px; height:10%; margin-top:15%; margin-right:5px; border-radius:14px; animation-duration:2.0s; animation-iteration-count:infinite; animation-timing-function:linear;}
.recording span:last-child {margin-right:0px;}
.recording span:nth-child(1)  {animation-delay:1.4s;}
.recording span:nth-child(2)  {animation-delay:1.2s;}
.recording span:nth-child(3)  {animation-delay:1.0s;}
.recording span:nth-child(4)  {animation-delay:0.8s;}
.recording span:nth-child(5)  {animation-delay:0.6s;}
.recording span:nth-child(6)  {animation-delay:0.4s;}
.recording span:nth-child(7)  {animation-delay:0.2s;}
.recording span:nth-child(8)  {animation-delay:0s;}
.recording span:nth-child(9)  {animation-delay:0.2s;}
.recording span:nth-child(10) {animation-delay:0.4s;}
.recording span:nth-child(11) {animation-delay:0.6s;}
.recording span:nth-child(12) {animation-delay:0.8s;}
.recording span:nth-child(13) {animation-delay:1.0s;}
.recording span:nth-child(14) {animation-delay:1.2s;}
.recording span:nth-child(15) {animation-delay:1.4s;}

.lyr_tts .recording span {animation-name:tts_record; background:#5a5ad1;}
@keyframes tts_record {
0%   {height:10%; margin-top:15%; background:#5a5ad1;}
50%  {height:100%; margin-top:0%; background:#8f5ad1;}
100% {height:10%; margin-top:15%; background:#5a5ad1;}
}

.lyr_tts .chatbot_contents .demo_wrap .demo_player{ position: absolute; left: 22px; bottom: 30px;  width: calc(100% - 44px);}

/* player */
.audioplayer {position:relative; height:43px; color:#fff; border:none; box-shadow:none; background:#333; z-index:1;}
.audioplayer-mini {width:43px; margin:0 auto;}
.audioplayer > div {position:absolute;}
.audioplayer-playpause {top:0; left:0; width:43px; height:100%; text-align:left; text-indent:-9999px; z-index:2; cursor:pointer;}
.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {border-right:1px solid #555; border-right-color:rgba( 255, 255, 255, 0.1);}
.audioplayer-mini .audioplayer-playpause {width:100%;}
.audioplayer-playpause:hover, .audioplayer-playpause:focus {background-color:#02112e;}
.audioplayer-playpause a {display:block;}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {content:''; position:absolute; top:50%; left:50%; width:0; height:0; margin:-4px 0 0 -3px; border:6px solid transparent; border-right:none; border-left-color:#fff;}
.audioplayer-playing .audioplayer-playpause a {position:absolute; top:50%; left:50%; width:10px; height:10px; margin:-4px 0 0 -6px}
.audioplayer-playing .audioplayer-playpause a:before, .audioplayer-playing .audioplayer-playpause a:after {content:''; position:absolute; top:0; width:30%; height:100%; background-color:#fff;}
.audioplayer-playing .audioplayer-playpause a:before {left:0;}
.audioplayer-playing .audioplayer-playpause a:after {right:0;}
.audioplayer-time {top:0; width:50px; height:100%; text-align:center; line-height:43px; z-index:2; }
.audioplayer-time-current {left:43px; border-left:1px solid #111; border-left-color:rgba( 0, 0, 0, .25 );}
.audioplayer-time-duration {right:43px; border-right:1px solid #555; border-right-color:rgba( 255, 255, 255, .1 );}
.audioplayer-novolume .audioplayer-time-duration {right:0; border-right:0;}
.audioplayer-bar {top:50%; left:100px; right:100px; height:14px; margin-top:-7px; background-color:#02112e; cursor:pointer; z-index:1;}
.audioplayer-novolume .audioplayer-bar	{right:93px;}
.audioplayer-bar div {position:absolute; top:0; left:0; width:0; height:100%;}
.audioplayer-bar-loaded {background-color:#000;z-index:1;}
.audioplayer-bar-played {background:#6252d7; z-index:2;}
.audioplayer-volume	{top:0; right:0; width:43px;height:100%; border-left:1px solid #111; border-left-color:rgba( 0, 0, 0, .25 ); text-align:left; text-indent:-9999px; box-shadow:none; cursor:pointer; z-index:2;}
.audioplayer-volume:hover, .audioplayer-volume:focus {background-color:#02112e;}
.audioplayer-volume-button {width:100%; height:100%;}
.audioplayer-volume-button a {display:block; position:relative; top:40%; left:35%; width:5px; height:6px; background-color:#fff; z-index:1;}
.audioplayer-volume-button a:before, .audioplayer-volume-button a:after {content:''; position:absolute;}
.audioplayer-volume-button a:before {top:50%; right:-3px; width:0; height:0; margin-top:-6px; border:6px solid transparent; border-left:none; border-right-color:#fff; z-index:2;}
.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {top:-1px; left:9px; width:5px; height:5px; border:4px double #fff; border-width:4px 4px 0 0; -webkit-border-radius:0 0.938em 0 0; -moz-border-radius:0 15px 0 0; border-radius:0 15px 0 0; -webkit-transform:rotate( 45deg ); -moz-transform:rotate( 45deg ); -ms-transform:rotate( 45deg ); -o-transform:rotate( 45deg ); transform:rotate( 45deg );
}
.audioplayer-volume-adjust {position:absolute; top:-9999px; right:0px; width:44px; height:100px; border-radius:4px 4px 0 0; box-shadow:none; background:#02112e; cursor:default;}
.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {opacity:0;}
.audioplayer-volume:hover .audioplayer-volume-adjust {top:auto; bottom:100%;}
.audioplayer-volume-adjust > div {position:relative; width:40%; height:80%; margin:30% auto 0; background-color:#455674; cursor:pointer; z-index:1;}
.audioplayer-volume-adjust div div {position:absolute; bottom:0; left:0; width:100%; height:100%; background:#6252d7;}
.audioplayer-novolume .audioplayer-volume {display:none;}
.audioplayer-bar, .audioplayer-bar div, .audioplayer-volume-adjust div {border-radius:10px;}


/* Mobile Layout */ 
@media screen and (max-width:760px) {
#maumWrap {min-width:320px;}
#wrap {min-width:320px;}
#header {min-height:50px; background:rgba(109,150,254,1);}
	
#header .sta {display:block; width:100%; min-height:50px; position:relative;}
#header .gnb {display:none; width:100%;}
#header .sta h1 {display:block; top:20px; left:15px;}
#header .sta h1 img {width:80px; opacity:0.7;}
#header .sta .gnb {display:none;}
	
#header .sta .etcMenu {display:none;}
#header.fixed {position:fixed; transform:translateY(-50px); background:rgba(109,150,254,1); transition:all 0.3s ease-out;} 
#header.bg_clor {background:rgba(0,0,0,0.7);}
#header .lnb {padding:80px 0 10px 0; background:rgba(0,0,0,0.9);}
#header .lnb ul.nav {display:table; width:100%;}
#header .lnb ul.nav li {display:table-cell; margin:0; padding:0 5px;}
#header .lnb ul.nav li a {font-size:13px; padding:5px 10px;}
	
ul.m_etcMenu {clear:both; overflow:hidden; margin:0 0 20px 0; z-index:8888;}
ul.m_etcMenu li.lang {position:relative; width:100%; min-height:36px; color:rgba(0,0,0,0.8); font-size:13px; font-weight:500; text-align:left; line-height:34px; border-radius:5px; background:rgba(0,0,0,0.1) url(../images/ico_arwDown_w.png) right 15px top 15px no-repeat; cursor:pointer; opacity:1; transition:all 0.3s ease-out;}
ul.m_etcMenu li.lang p.lang_select {height:100%; padding:0 0 0 15px;}
ul.m_etcMenu li.lang p.lang_select img {display:inline-block; width:16px; margin:0 7px 0 0; vertical-align:middle;}
ul.m_etcMenu li.lang ul.lst {display:none; width:100%; border-radius:0 0 5px 5px;}
ul.m_etcMenu li.lang ul.lst li {display:block; overflow:hidden; float:none; position:relative;margin:0;}
ul.m_etcMenu li.lang ul.lst li:before {content:''; position:absolute; width:100%; height:1px; background:rgba(0.0.0.1); opacity:0.1; }
ul.m_etcMenu li.lang ul.lst li a {display:block; padding:0 10px 5px 15px; color:#fff;}
ul.m_etcMenu li.lang ul.lst li a img {display:inline-block; width:16px; margin:0 7px 0 0; vertical-align:middle;}

ul.m_etcMenu li.lang.lang.active {color:rgba(255,255,255,1); background:rgba(109,150,254,1) url(../images/ico_arwDown_w.png) right 15px top 15px no-repeat; opacity:1;}
ul.m_etcMenu li.lang.lang.active ul.lst {display:block;}

.btn_header_ham {display:none;}

.videoBox .vidoeTxt dl dt.h3Box_r span {font-size:28px; line-height:36px;}
.videoBox .vidoeTxt dl dd.txt {font-size:15px; line-height:22px;}

.api_contact .stn_tit h3 span {font-size:28px; line-height:36px;}
	
.contactBox {padding-top:50px;}
.api_contact {}
.api_contact .leftBox .leftTxtBox p {margin:0 0 50px 0; font-size:14px; font-weight:100; line-height:22px;}
.api_contact .contact {display:block; float:none; width:calc(100% - 30px); margin:50px 0 0 0; padding:15px;}

#container {padding:50px 0 0 0;}
.lot_c {width:100%; padding:0;}
.fl {float:none;}
.fr {float:none;}

.main_vsalBox {position:relative; padding:0;}
.main_vsalBox .fl {position:absolute; top:0; right:-40px; text-align:right;}
.main_vsalBox .fl img {width:70%; opacity:0.7;}
.main_vsalBox .fr {display:block; clear:both; overflow:hidden; position:relative; width:auto; padding:15px 0;}

/* cahtbot floating */
#cahtbotWrap {bottom:0; right:0; width:100%; height:0; min-height:0; border-radius:0; background:#fff; box-shadow:none; opacity:0; z-index:9999;}

.cahtbot_lst {display:none;}

.btn_fltBox {bottom:5px;right:5px;}
.btn_fltBox .btnBox {overflow:hidden; width:auto; height:50px;}
.btn_fltBox .btnBox button {display:block; width:50px; height:50px; padding:0; text-indent:-999px;}
.btn_fltBox .btnBox button:hover {background-color:#3375fa !important; box-shadow:0 0 10px #889bbb; opacity:1; transition:all 0.3s ease-out;}
.btn_fltBox .btnBox button.btn_flt_cb {background:#3862ec url(../images/ico_chat.png) 50% 50% no-repeat; background-size:45%;}
	
.checkupBox {bottom:5px; right:5px; width:80%;}
.checkupBox .info {width:85%; padding:15px; border-radius:15px; box-shadow:0 0 10px rgba(74,103,151,0.1); background:rgba(255,255,255,0.9);}
.checkupBox .info .txt {display:block; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #efeffa; color:#6f7a96; font-size:13px; font-weight:400; line-height:20px; word-break:keep-all;}
.checkupBox .info dl {display:block; margin:0 0 5px 0;}
.checkupBox .info dl dt {display:inline-block; width:80px; color:#6b6f7c}
.checkupBox .info dl dd {display:inline-block; color:#434345}
.checkupBox .info dl dd a {color:#6d96fe;}
.checkupBox .btnBox {float:right;  width:50px; height:50px; margin:20px 0 0 0;}

.lds-heart {display:inline-block;position:absolute; bottom:5px; right:20px; width:50px;height:50px;transform:rotate(45deg);transform-origin:40px 40px; border-radius:100px; background:#9696f7;}
.lds-heart div {top:19px;left:19px;position:absolute;width:17px;height:17px;background:#fff;animation:lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);}
.lds-heart div:after, .lds-heart div:before {content:'';position:absolute;display:block;width:17px;height:17px;background:#fff;}
.lds-heart div:before {left:-10px;border-radius:50% 0 0 50%;}
.lds-heart div:after {top:-10px;border-radius:50% 50% 0 0;}

.roundBox {width:auto; padding:0 15px;}
.roundBox .lot_c {width:calc(100% - 30px); padding:45px 15px;}
.roundBox .itembox {display:block;}
.roundBox .itembox .item {display:block; margin:0 0 40px 0; padding:0;width:100%;}
.roundBox .itembox .item:last-child {margin:0;}
.roundBox .itembox .item .thumb {margin:0 0 10px 0;}
.roundBox .itembox .item .tit {font-size:14px;}
.roundBox .itembox .item .tit .ft_point {font-size:18px;}
.roundBox .itembox .item .txt {font-size:13px;}

.videoBox {position:relative; width:auto; margin:0 0 50px 0; padding:0 15px;}
.videoBox .lot_c {padding:220px 0 0 0;}
.videoBox .fl{float:right;}
.videoBox .thumb img {width:100%}
.videoBox .fr {float:left; position:absolute; top:0; width:auto;}
.videoBox .vidoeTxt dl dt {padding:0;}

.h3Box_c h3 {font-size:15px; letter-spacing:0;}
.h3Box_c h3:before {width:30px;}
.h3Box_c h3:after {width:30px;}

.wideBox_b .h3Box_c h3 {display:inline-block; color:#fff; font-family:'Roboto', sans-serif; font-size:15px; font-weight:500; line-height:24px; letter-spacing:0; text-transform:uppercase;}
.wideBox_b .h3Box_c h3:before {width:30px;}
.wideBox_b .h3Box_c h3:after {width:30px;}


.h3Box_txt {padding:0 20px; font-size:15px; line-height:22px;}

.contact_event .h3Box_cont .txt {padding:0 20px; font-size:14px;}

.clorBox .itemBox .item {min-height:auto; padding:25px 15px;}
.clorBox .itemBox .item dl dt {min-height:auto;}
.clorBox .itemBox .item dl dd.txt {min-height:auto; font-size:15px; line-height:22px;}
.clorBox .itemBox .item dl dd ul.lst {min-height:auto; padding:28px 12px;}
.clorBox .itemBox .item dl dd ul.lst li {margin:0 0 10px 0;}
	
.pricing {width:auto; padding:30px 15px;}
.pricing .itembox .item {width:calc(100% - 40px); margin:0 0 30px 0; padding:30px 20px;}

#footer .cyrt {height:auto; padding:30px 0; line-height:22px;}
#footer .cyrt span {display:block;}

#cahtbotWrap {max-height:80%;}

.api_contact {padding:0 15px 40px 15px;}

.wideBox_b .itemBox .item {min-height:auto;}

.applyBox {top:10px; width:90%; height:460px; margin:0 0 0 -45%;}
.applyBox .tit {padding:15px; background:#333e52 url(../images/ico_bot_mini.png) right 10px bottom 0 no-repeat; background-size:45px auto;}
.applyBox .cont {padding:15px;}
.applyBox .cont dl {display:block; width:100%; margin:0 0 10px 0;}
.applyBox .cont dl dt {display:block; margin:0 0 3px 0;}
.applyBox .cont dl dt label {font-size:13px;}
.applyBox .cont dl dd {display:block;}
.applyBox .cont dl dd .ipt_txt {height:30px;}
.applyBox .btnBox {display:block; text-align:center; padding:15px 0;}

.sub_titleArea {height:250px; padding:0 15px;}
.sub_titleArea h2 {padding:20px 50px; font-size:30px; line-height:40px;}

#maumWrap:before {height:270px;}

.wideBox_w {padding:50px 15px;}
.wideBox_b {padding:50px 15px;}
.lineBox {width:auto; margin:30px 0 0 0; padding:0;}

.clorBox {padding:50px 15px;}
.clorBox .itemBox .item {display:block; float:none; width:auto; margin:0 0 15px 0;}
.wideBox_b .itemBox .item {display:block; float:none; width:auto; margin:0 0 15px 0;}
.wideBox_b .itemBox .item dl dd {min-height:auto;}
	
.bg_aniBox {height:320px;}

.objectBox .phone {width:200px; height:400px; left:auto; right:15px; margin-top:-360px;}
.objectBox .phone:before {top:30px;}
.objectBox .phone img {width:178px; height:300px; left:10px; bottom:40px;}
.objectBox .mov:before {width:80px; height:80px; margin:-40px 0 0 -40px; background-size:100%;}
	
.objectBox02 .phone {width:200px; height:400px; left:auto; right:15px; margin-top:-20px;}
.objectBox02 .phone:before {top:30px;}
.objectBox02 .phone img {width:178px; height:300px; left:10px; bottom:40px;}

.cropBox_l {display:block;}
.cropBox_l .crop_cell {display:block;}
.cropBox_l .crop_cell:nth-child(2) {width:auto;}
.cropBox_l .crop_cell:last-child {width:auto;}
.cropBox_l .crop_cell .info {padding:40px 15px 15px 15px;}
.cropBox_l .crop_cell .info dl dt span {font-size:13px;}
.cropBox_l .crop_cell .info dl dt em {padding:10px 0; font-size:28px; line-height:36px;}
.cropBox_l .crop_cell .info dl dd.txt_clr {line-height:22px;}
.cropBox_l .crop_cell .info dl dd.btn a.btn_clor{display:block; width:auto; height:45px; font-size:15px; line-height:45px;}

.cropBox_l .crop_cell .info dl dd.txt ul li {margin:0 0 10px 0; font-size:15px; line-height:24px;}
.cropBox_l .crop_cell .info dl dd.btn {text-align:center;}

.cropBox_r {display:block; padding:50px 0 200px 0;}
.cropBox_r .crop_cell {display:block;}
.cropBox_r .crop_cell .info {padding:0 15px 70px 15px; text-align:left;}
.cropBox_r .crop_cell:nth-child(2) {width:auto;}
.cropBox_r .crop_cell:first-child {width:auto;}
.cropBox_r .crop_cell .info dl dt span {font-size:13px;}
.cropBox_r .crop_cell .info dl dt em {padding:10px 0; font-size:28px; line-height:40px;}
.cropBox_r .crop_cell .info dl dd.txt_clr {line-height:22px;}
.cropBox_r .crop_cell .info dl dd.btn a.btn_clor {display:block;  width:auto; height:45px; font-size:15px; line-height:45px;}
	
.cropBox_r .crop_cell .info dl dd.txt ul li {margin:0 0 10px 0; font-size:15px; line-height:24px;}
.cropBox_r .crop_cell .info dl dd.btn {text-align:center;}

.bluePrint_box img {width:100%;}
.bluePrint_box ol li {width:5%; height:5%;}
.objectBox .mov {top:50%; right:50%; width:300px; height:200px; margin:20px -150px 0 0;}
.bg_aniBox img {height:120%;}
.pstn01 {}
.pstn02 {top:-120px !important;}
.pstn03 {top:-160px !important;}



.lyr_product {min-width:320px; z-index:2000;}
.productWrap {width:100%; height:100%; margin:0; border-radius:0;}
.productWrap .product_hd {height:50px; padding:0 30px 0 0;}
.productWrap .product_hd .btn_productWrap_close {left:10px;}
.productWrap .product_hd ul.product_lst {display:table; padding:0;}
.productWrap .product_hd ul.product_lst li {display:table-cell; width:25%; margin:0; vertical-align:top;}
.productWrap .product_hd ul.product_lst li button {padding:10px; font-size:15px; line-height:20px; border-radius:0; }
.productWrap .product_hd ul.product_lst li button.active {color:#6d96fe; background:none;}
.productWrap .product_hd ul.product_lst li em {display:block;}

.productWrap .product_hd ul.product_lst li span {padding:10px; font-size:15px; line-height:20px;}
.productWrap .product_bd {display:block; position:relative; width:100%; height:100%; max-height:calc(100% - 190px); padding:0 0 140px 0;}
.productWrap .product_bd .snb_lst {display:block; position:initial; width:100%; height:80px; padding:0;}
.productWrap .product_bd .snb_lst .bot_lst {display:table; width:100%;}
.productWrap .product_bd .snb_lst .bot_lst li {display:table-cell; width:25%;}
.productWrap .product_bd .snb_lst .bot_lst li button {display:block; padding:7px 0; text-align:center;}
.productWrap .product_bd .snb_lst .bot_lst li button em {display:inline-block; width:30px; height:30px;}
.productWrap .product_bd .snb_lst .bot_lst li button em img {width:20px; height:20px; margin:5px 0 0 0;}
.productWrap .product_bd .snb_lst .bot_lst li button span {display:block; margin:3px 0 0 0; padding:0; font-size:13px; text-align:center; line-height:16px; }
.productWrap .product_bd .snb_lst .etc_lst {width:calc(100% - 30px); height:100px; padding:15px; background: #353c4f;}
.productWrap .product_bd .snb_lst .etc_lst li button {color:#353c4f; background:#fff;}
.productWrap .product_bd .snb_lst .etc_lst li button:hover {color:#fff; background: #6d96fe;}
.productWrap .product_bd .snb_lst .etc_lst li a {color:#353c4f; background:#fff;}
.productWrap .product_bd .snb_lst .etc_lst li a:hover {color:#fff; background: #6d96fe;}

.productWrap .chatbot_contents {float:none; height:auto; width:100%;}
.productWrap .product_bd .product_cont {display:block;}

.productWrap .guideBox {display:none;}

#livechatWrap {right:0; bottom:0; width:100%; height:100%; margin:0; border-radius:0;}


.bluePrint_txt {display:block; margin:15px; padding:20px; border-radius:5px; background:#f4f5fa;}
.bluePrint_txt ol {text-align:left;}
.bluePrint_txt ol li {position:relative; margin:0 0 10px 0; padding:0 0 0 22px; color:#1e2844; font-size:13px; font-weight:normal; line-height:18px;}
.bluePrint_txt ol li:last-child {margin:0;}
.bluePrint_txt ol li:before {display:inline-block; position:absolute; top:2px; left:0; width:15px; height:15px; color: #fff; font-size:10px; text-align:center; line-height:15px; border-radius:100px; background: #ff7170;}
.bluePrint_txt ol li:nth-child(1):before {content:'1';}
.bluePrint_txt ol li:nth-child(2):before {content:'2';}
.bluePrint_txt ol li:nth-child(3):before {content:'3';}
.bluePrint_txt ol li:nth-child(4):before {content:'4';}
.bluePrint_txt ol li:nth-child(5):before {content:'5';}
.bluePrint_txt ol li:nth-child(6):before {content:'6';}
.bluePrint_txt ol li:nth-child(7):before {content:'7';}
.bluePrint_txt ol li:nth-child(8):before {content:'8';}
.bluePrint_txt ol li:nth-child(9):before {content:'9';}

.h3Box_txt {padding:0;}
.aicc_video a {width:auto;}
	
/* MINDsLab. UX/UI Team. mrs. 20181010  */ 	
.aicc_video .img_info {width: auto;}	
.aicc_video a strong.ico_mov {width: 40px;height: 40px; margin: -20px 0 0 -20px;}
.aicc_video a strong.ico_mov:after {margin: -6px 0 0 -9px; border-right: 12px solid #6d96fe; border-bottom: 12px solid transparent;}
	
.snsBox .sns_banner .sns_lst li img{width: 25px; height:25px;}
.snsBox .sns_banner .sns_dl dt {font-size:15px; line-height:25px; margin: 5px 0 0 0;}
.snsBox .sns_banner .sns_dl dd { font-size:13px;}
	
	
/* MINDsLab. UX/UI Team. mrs. 20181022  */ 	
	#maumWrap.fixed #header{position:fixed; transform:translateY(0); background:rgba(109,150,254,1); transition:all 0.3s ease-out;} 
.demoTab .tbFixed {top:50px;}
.demoTab .tab_nav {width: 100%;	}	
.demoTab .tab_nav ul {width: 100%;	}	
.demoTab .tab_nav li{width:20%; border: none;}
.demoTab .tab_nav li a {font-size: 13px; height: 40px; line-height: 40px; font-weight: 400;}
.demoTab .tab_nav li a span {display: none;}
.demoTab .tab_nav li a:hover:after {display: none;}
.demoTab .tab_nav .left_line { border: none;}
.product_stn .product_box {width: 100%;}
.product_stn .product_box .fr img {margin: 0;}	
.product_stn .product_box .fr .chatbot_img {margin: 0;}	
.stn_color .lot_left {float: none; width: 100%;}
.product_stn .lot_left {float: none; width: calc(100% - 30px);padding: 30px 15px; }
.stn_color .lot_left img {width: 80%; margin: 0 auto;}
.product_stn  {float: none; width: 100%; padding: 30px 0;}
.product_stn .lot_right {width: calc(100% - 30px);  padding: 30px 15px;}
.product_stn .info dl dd.txt ul li {font-size: 14px; margin: 0 ;}
.product_stn .snsBox .sns_banner{float: none; padding: 0 0 20px; margin: 0 0 20px 0; background: #fff; width: 100%; border-radius: 30px; border: 1px solid #eee;}
.product_stn .snsBox .sns_banner .sns_lst {margin: 23px 15px 0 0;}
.product_stn .snsBox .sns_banner .sns_dl dt {font-size: 15px; margin: 10px 0 0 0;}
.product_stn .snsBox .sns_banner .sns_dl dd {font-size: 14px;}
.product_stn .info dl dd.btn a.btn_clor {width: calc(50% - 6px); height: 45px; font-size:15px; margin: 0 2px; line-height: 45px; border-radius: 0;box-sizing: border-box;}
.product_stn .info dl dd.btn a.m_btn {width: calc(100% - 2px); }
.product_stn img{width: 80%; margin: 0 auto;}
.product_stn .info dl dd.txt {text-align: left;}
.product_stn .info dl dd.txt li {  display: inline; line-height: 15px;}
.product_stn .lot_left .tts_txt {padding: 130px 0 0 0;}
.fr .tts_img {position: absolute; top: 30px;left: 10%; }
.fr .chatbot_img  {position: absolute; top: 30px;left: 10%; }
.product_stn .lot_left .rta_txt {padding: 180px 0 0 0;}
.product_stn .lot_left .chatbot_txt {padding: 260px 0 0 0;}
.fr .rta_img {position: absolute; top: 30px;left: 10%;margin: 0 auto; width: 73%;}
	
/* tts floating */	
.lyr_tts {min-width:320px; z-index:2000;}
.lyr_tts .productWrap {width:100%; height:100%; margin:0; border-radius:0;overflow: auto;}
.lyr_tts .productWrap .product_bd {max-height: none;}
.lyr_tts .productWrap .product_hd {padding: 0;}
.lyr_tts .productWrap .product_bd .snb_lst {height: auto;}
.lyr_tts .productWrap .product_bd .snb_lst .bot_lst li button span {font-weight: 500; font-size: 20px;}
.lyr_tts .productWrap .chatbot_contents {float: none; height: 550px; width: calc(100% - 30px); padding: 10px 15px 20px; }
.lyr_tts .chatbot_contents .demo_wrap {padding: 0 ;}
.lyr_tts .chatbot_contents .demo_wrap .demo_tit {display: none;}
.lyr_tts .chatbot_contents .demo_wrap .step_box .step {margin: 0;}
.lyr_tts .chatbot_contents .demo_wrap .step_box .step li:first-child {width: 100%; font-size: 14px; margin: 10px 0; }
.lyr_tts .chatbot_contents .demo_wrap .step_box .step li {width: 50%;margin: 5px 0; font-size: 13px; }
.lyr_tts .chatbot_contents .demo_wrap .demo_txt {padding: 0; margin: 0; box-shadow: none;background-color: transparent;}
.lyr_tts .chatbot_contents .demo_wrap .demo_txt .textArea {background: #fff; height: 115px; padding: 5px 15px;}
.lyr_tts .chatbot_contents .demo_wrap .btnBox button {margin: 10px auto;}
.lyr_tts .chatbot_contents .demo_wrap .btnBox button.demoRecord {width: 100%;}
.lyr_tts .chatbot_contents .demo_wrap .btnBox button.demoReset {width: 100%;}
.lyr_tts .demo_recording .recording {top: 220px;}
.lyr_tts .chatbot_contents .demo_wrap .demo_player {position: inherit; width: 100%;}
.lyr_tts .productWrap .product_bd .snb_lst .etc_lst {width:calc(100% - 30px); height:100px; padding:15px; background: #353c4f;z-index: 1000;}
.lyr_tts .productWrap .product_bd .snb_lst .etc_lst li button {color:#353c4f; background:#fff;}
.lyr_tts .productWrap .product_bd .snb_lst .etc_lst li button:hover {color:#fff; background: #6d96fe;}
.lyr_tts .productWrap .product_bd .snb_lst .etc_lst li a {color:#353c4f; background:#fff;}
.lyr_tts .productWrap .product_bd .snb_lst .etc_lst li a:hover {color:#fff; background: #6d96fe;}

.lyr_tts .productWrap .guideBox {display:none;}
	
	
/*20181109 mrs 추가 */
	.product_stn .info dl dd.btn a.demo_page {width: 100%;}
	.product_stn .info dl dd .howto {width: 100%;}
	.product_stn .info dl dd .howto p em {display: block;}
	.product_stn .info dl dd .howto p{padding:0 20px;}
	.product_stn .product_box .caseBox .case_tit {padding: 10px 0 20px; }
	.product_stn .product_box .caseBox .case_tit:before {width: 50px;bottom: 28px;}
	.product_stn .product_box .caseBox .case_tit:after {width: 50px;bottom: 28px;}
	.product_stn .product_box .caseBox .video_case {width: 100%;}
	.product_stn .product_box .caseBox .video_case .video_txt {width :100%; padding-left: 33px;}
	.product_stn .product_box .caseBox .video_case p {padding-left: 33px;}
	.product_stn .product_box .caseBox .video_case a strong.ico_mov {bottom: inherit; margin: 50px 0 0 -40px;}
	.product_stn .product_box .caseBox .video_case .video_txt {height: auto;}
	#stn_chatbot .product_box .caseBox .video_case .ttobot_box {width: 100%;}
	#stn_chatbot .product_box .caseBox .video_case {height: auto;}
}








