@charset "utf-8";
/* MINDsLab YMJ 20180128 */ 

/* [reset css] */
* {font-family:Lato,Helvetica,Arial,sans-serif;}
html,body {margin:0; padding:0; width:100%; height:100%; font-family:Lato,Helvetica,Arial,sans-serif; background:#fff; font-size:12px; color:#666; line-height:18px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend,em,span {margin:0; padding:0; font-family:Lato,Helvetica,Arial,sans-serif;} 
table {border-spacing:0; border-collapse:collapse; font-family:Lato,Helvetica,Arial,sans-serif;}
th, td {word-break:break-all;}
form,fieldset {display:block;}
form,fieldset,img {border:none;} 
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;} 
ol,ul,li {list-style:none;} 
abbr,acronym {border:none;} 
hr {display:none;}
a {text-decoration:none; color:#000; cursor:pointer; font-family:Lato,Helvetica,Arial,sans-serif;}
a:link,a:visited {text-decoration:none;}
a:hover,a:active,a:focus {color:#333; text-decoration:none;}
textarea {overflow:auto;} 
html:first-child select {padding-right:6px; height:20px;} /* opera 9 & below fix */ 
option {padding-right:6px;} /* firefox fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* for screen reader */ 
pre {word-wrap:break-word;}
label {font-family:Lato,Helvetica,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family:Lato,Helvetica,Arial,sans-serif;}
br {background:none !important;}
img {vertical-align:top;}
a:focus, input:focus, textarea:focus, button:focus {outline:none !important;}

input[type=text]:-ms-clear {display:none;}
input[type=text]::-ms-clear {display:none;}

/*
clear:both; display, position(top,left), float, overflow
(min-width, width), (min-height, height) (margin,padding)
font(text-indent, text-align, font-weight, font-size, line-height, font-family, color)
border, background
cursor, z-index, zoom
*/