<div class="btn_fltBox">
    <div class="btnBox" id="btn_flt_cb" >
        <span>궁금한건 챗봇에게 물어보세요!</span>
        <button type="button" class="btn_flt_cb"></button>
    </div>
</div>
<div id="livechatWrap"></div>