<div id="footer">
    <div class="lot_c">
        <div class="cyrt"><p>경기도 성남시 분당구 대왕판교로644번길 49 다산타워 6층ㅣ주식회사 마인즈랩ㅣ대표 유태준ㅣ사업자 등록번호 314-86-55446<br>Copyright&copy;2019 MINDs Lab. All Rights Reserved.</p></div>
    </div>
</div>