<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
{% load static %}

<!-- Open Graph Tag -->
<meta property="og:title"            content="AIaaS ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content="https://mindslab.ai/en/"/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="Take the first step toward true AI customer care with maum Chatbot."/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/en/"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="AIaaS ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="Take the first step toward true AI customer care with maum Chatbot."/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_mindslab_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_mindslab_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_mindslab_310x150.ico' %}"><!-- widetile -->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_mindslab_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_mindslab_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_mindslab_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_mindslab_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_mindslab_64x64.ico' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<title>AI as a Service maum.ai</title>
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/chatbot.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/common.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/en/js/common.js' %}"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<!-- //resources -->

<!-- floating chat : gitple -->
<script>
    window.GitpleConfig = { appCode: 'tYHYBVAKcCJQ37qS6HGH1FRaVj19p3' };
    !function(){
        function e(){
            function e(){
                var e=t.contentDocument,a=e.createElement("script");
                a.type="text/javascript",a.async=!0,a.src=window[n]&&window[n].url?window[n].url+"/inapp-web/gitple-loader.js":"https://app.gitple.io/inapp-web/gitple-loader.js",a.charset="UTF-8",e.head&&e.head.appendChild(a)
            }
            var t=document.getElementById(a);
            t||((t=document.createElement("iframe")).id=a,t.style.display="none",t.style.width="0",t.style.height="0",t.addEventListener?t.addEventListener("load",e,!1):t.attachEvent?t.attachEvent("onload",e):t.onload=e,document.body.appendChild(t))
        }
        var t=window,n="GitpleConfig",a="gitple-loader-frame";
        if(!window.Gitple){
            document;
            var i=function(){
                i.ex&&i.ex(arguments)};
            i.q=[],i.ex=function(e){
                i.processApi?i.processApi.apply(void 0,e):i.q&&i.q.push(e)
            },window.Gitple=i,t.attachEvent?t.attachEvent("onload",e):t.addEventListener("load",e,!1)
        }
    }();
    Gitple('boot');
</script>

</head>


<body>
<!-- .page loading -->
<div id="page_loading" class="page_ldWrap">
	<div class="page_ldBox"></div>
</div>
<!-- //.page loading -->
<!-- .lyr_info -->
<div class="lyr_info">
	<div class="lyr_plan_bg"></div>
	<!-- .lyrWrap -->
	<div class="lyrWrap">
		<button class="btn_lyrWrap_close" type="button">close</button>
		<!-- .lyr_bd -->
		<div class="lyr_bd">
			<i class="far fa-address-card"></i>
			<p>Customer information</p>
			<ul>
				<li>
					<span>*Name</span>
					<input id="info_name" type="text" name="" placeholder="">
				</li>
                <li>
					<span>*Company</span>
					<input id="info_company" type="text" name="" placeholder="">
				</li>
				<li>
					<span>*E-mail</span>
					<input id="info_email" type="text" name="" placeholder="">
				</li>
				<li>
					<span> Cellphone Number</span>
					<input id="info_phone" type="text" name="">
				</li>
			</ul>
            <div class="msg_tip">Please enter the correct email.</div>
			<button class="btn_blue">OK</button>

		</div>
		<!-- //.lyr_bd -->

	</div>
	<!-- //.lyrWrap -->
</div>
<!-- //.lyr_info -->
<!-- wrap -->
<div id="maumWrap">
    <!-- #header -->
	<div id="header">
		<!-- .sta -->
		<div class="sta">
			<h1><a href="/en"><img src="{% static 'chatbot/images/logo_h1.png' %}" alt="Minds Lab"></a></h1>
			<div class="etcMenu">
				<ul>
					<!-- <li class="login"><span>로그인</span></li> -->
					<li class="lang">
						<p class="lang_select"><em>English</em></p>
						<ul class="lst">
							<li><a href="/kr" target="_self"><em>한국어</em></a></li>
						</ul>
					</li>
					<!--<li class="signin"><a href="https://console.maum.ai/" target="_blank" title="새창열림">Sign in</a></li>-->
				</ul>
			</div>
		</div>
		<!-- //.sta -->
		<!-- .gnb -->
		<div id="gnb" class="gnb">
			<div class="gnbNavBox">
				<ul class="gnbNav">
					<!-- <li class="menu1depth">
						<h2><a class="active" href="/en">AIaaS</a></h2>
					</li> -->
                    <li class="sub_menu">
                    	<h2><a href="/en/maum_chatbot">Product</a></h2>
                        <ul class="sub_list">
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_chatbot">maum Chatbot</a></li>
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_tts">TTS</a></li>
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_en">mAI English</a></li>
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_voc">maum VOC</a></li>
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_rta">maum RTA</a></li>
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_aqc">maum AQC</a></li>
                        </ul>
                    </li>
					<li class="menu1depth">
						<h2><a href="/en/portfolio">Success Stories</a></h2>
					</li>
                    <!-- <li class="menu1depth">
						<h2><a href="/en/pricing">Pricing</a></h2>
					</li> -->
                    <!--<li class="menu1depth">
                       <h2><a href="https://api.maum.ai/en" target="_blank" title="new window">API Service</a></h2>
                   </li>-->
					<li class="menu1depth">
						<h2><a href="#api_contact">Contact Us</a></h2>
					</li>
                    <li class="menu1depth">
						<a href="https://maum.ai/login/loginForm?lang=en" target="_blank" title="새창열림" class="btn_try">Go to AI Platform</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //#header -->

	<!-- aside -->
	{% include 'en/common/aside.html' %}
	<!-- //aside -->
		
	<!-- #container -->
	<div id="container">
		<!-- .contents -->
		<div class="contents">
        	<!-- .main_vsalBox -->
			<div class="main_vsalBox">
				<div class="lot_c">
                    <div class="main_vsalTxt">
                        <dl>
                            <dt class="animated fadeInDown">
                                <span>AIaaS</span>
                            </dt>
                            <dd class="txt">
                                <span class="animated fadeInDown delay-1">We provide AI as a service</span>
                            </dd>
                            <dd class="btn animated fadeInDown delay-1">
                                <button class="animated fadeIn delay-2" type="button"><a href="https://maum.ai/login/loginForm?lang=en" target="_blank" title="새창열림">Go to maum.ai</a></button>
                            </dd>
                        </dl>
                    </div>
                    <div class="notice_box animated fadeInDown">
							<div class="boxarea">
								<div class="box_top">
									<button class="box_close close1" type="button">close</button>
								</div>
								<div class="box_body">
									<p>MINDsLab's Portfolio Book<br><b>maum.ai E-Book</b> is Available Online!</p>
									<button  type="button" class="book_dwn">Download</button>
								</div>
							</div>
						</div>
				</div>
			</div>
			<!-- //.main_vsalBox -->
            <!-- .main_demo -->
			<div id="main_demo" class="main_demo">
                <div class="fl">
                    <h5>Experience Voice Synthesis</h5>
                    <dl>
                        <dt><span>Step1</span>Select the person or character.</dt>
                        <dd class="dd_half korean">													
                            <input type="radio" id="president" name="voice" value="president" >
                            <label for="president"><b>Korean</b><br>S. Korean President Moon Jae-in</label>									
                        </dd>
                        <dd class="dd_half english">							
                            <input type="radio" id="simson" name="voice" value="simson" checked>
                            <label for="simson" ><b>English</b> <br>Homer Simpson<!--U.S. President<br> Donald Trump--></label>
                        </dd>
                        
                        <dt><span>Step2</span>Type in your name &amp; Get Started with the Voice Synthesis</dt>
                        <dd class="dd_full">
                            <div class="firstbox">
                                <input type="text" placeholder="Type in your name">
                                <button class="btn_go">Creating Voice</button>
                            </div>
                            <div class="secondbox">
                                <div class="demo_recording">
                                    <!-- recording -->
                                    <div class="recording">
                                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                    <!-- //recording -->
                                </div>
                            </div>
                            <div class="thirdbox">
                                <button class="btn_back"></button>
								<div class="call_player">
									<audio id = "demo_audio" src="" preload="none" controls></audio>
								</div>
                                <button class="btn_share"></button>
                            </div>
                        </dd>
                    </dl>
                        
                    <div class="social_link">
                        Share with your Friends
                        <a id="kakao-link-btn" href="javascript:Kakao_sendLink()"><img src="{% static 'chatbot/images/ico_kakao.png' %}" alt="kakao Talk"></a>
                        <a href="javascript:Facebook_sendLink()"><img src="{% static 'chatbot/images/ico_fb.png' %}" alt="Facebook"></a>
                        <!-- <a href=""><img src="{% static 'chatbot/images/ico_insta.png' %}" alt="Instagram"></a> -->
                    </div>
                </div>
                    <div class="fr">
                        <h5>Make your own AI Voice font</h5>
                        <p>We create an AI TTS model that exactly reproduces your voice.</p>
                        <a href="https://maum.ai/login/loginForm?lang=en&loginmenu=/tts_train/enAiVoiceFontMain" class="btn_start" target="_blank" title="새창열림">Get Started</a>
                    </div>
                </div>
                <!-- //.main_demo -->		
                
                
                <!-- .freebox -->
                <div class="freebox">
                    <h2><b>Custom-made AI</b> <br>Readily Accessible, Easy to Use </h2>
                    <p>Make your excellent business ideas feasible with AI. Change the traditional way of working by turning manual tasks into automatic. <br>Regardless of your background, you can easily utilize the tailored made AI just for you
                    </p>
                    <a href="https://maum.ai/login/loginForm?lang=en" target="_blank" title="새창열림">Try it for Free</a>
                    <a href="https://maum.ai/login/loginForm?lang=en&loginmenu=/sg/enSgMain" class="dif_color" target="_blank" title="새창열림">Start Voice Synthesis</a>
                </div>
                <!-- //.freebox -->
                
                <!-- .success -->
                <div class="success">
                    <h2>Success stories</h2>
                    <ul class="storybox">
                        <li class="big_box">
                            <a href="/en/portfolio" target="_blank">
                            <img src="{% static 'chatbot/images/img_li_1.png' %}" alt="Telephone English that You can See">
                            <div class="story_txt">
                                <p class="li_tit"><b>Telephone English that You can See</b></p>
                                <p class="li_txt">English education company MINDs Edu has added speech recognition which allows students to see the conversation with teachers on a real-time basis. 
                                </p>
                            </div>
                            </a>
                        </li>
                        <li class="big_box">
                            <a href="/en/portfolio" target="_blank">
                            <img src="{% static 'chatbot/images/img_li_2.png' %}" alt="AI Robot for Children">
                            <div class="story_txt">
                                <p class="li_tit"><b>AI Robot for Children</b></p>
                                <p class="li_txt">“Pororot,”  AI robot designed for children has used a synthesized voice of the cartoon character,” Pororo.” Pororot has a small conversation with children and reads books to them. 
                                </p>
                            </div>
                            </a>
                        </li>
                    </ul>	
                    <ul class="storybox story_2st">
                        <li class="small_box">
                            <a href="/en/portfolio" target="_blank">
                            <img src="{% static 'chatbot/images/img_li_3.png' %}" alt="Sound effects &amp; Voice of Game Characters">
                            <div class="story_txt">
                                <p class="li_tit">Sound effects &amp; <br>Voice of Game Characters</p>
                                <p class="li_txt">The game company B has created realistic characters’ voice and sound effects through maum.ai’s voice synthesis. 
                                </p>
                            </div>
                            </a>
                        </li>
                        <li class="small_box">
                            <a href="/en/portfolio" target="_blank">
                            <img src="{% static 'chatbot/images/img_li_4.png' %}" alt="Storing the Audio Materials">
                            <div class="story_txt">
                                <p class="li_tit">Storing the <br>Audio Materials</p>
                                <p class="li_txt">Chris who is currently working on his master’s degree has collected 2700 hours of lecture and transcribed it into texts so that he could easily store it and look for the information from the texts.
    
                                </p>
                            </div>
                            </a>
                        </li>
                        <li class="small_box">
                            <a href="/en/portfolio" target="_blank">
                            <img src="{% static 'chatbot/images/img_li_5.png' %}" alt="Making Social Media Creatives">
                            <div class="story_txt">
                                <p class="li_tit">Making Social Media Creatives</p>
                                <p class="li_txt">Youtube creator, David, who reads books and letters to his subscribers has replaced his voice into the speech synthesis. It has saved him much time when creating his own Youtube video.
                                </p>
                            </div>
                            </a>
                        </li>
                        <li class="small_box">
                            <a href="/en/portfolio" target="_blank">
                            <img src="{% static 'chatbot/images/img_li_6.png' %}" alt="Using Your AI Voice for Lectur">
                            <div class="story_txt">
                                <p class="li_tit">Using Your AI Voice for Lecture</p>
                                <p class="li_txt">College professor Andrea’s voice has been synthesized on maum.ai. His own AI voice has been used in his teaching channel on YouTube.
                                </p>
                            </div>
                            </a>
                        </li>
                    
                    
                    </ul>
                    
                </div>
                <!-- //.success -->
                <!-- .howtouse -->
                <div class="howtouse">
                    <h3>How to use maum.ai</h3>
                    <ul>
                        <li><p>Select your <br>AI Engine</p></li>
                        <li><p>Try our pre-trained<br> model for free</p></li>
                        <li><p>Customized model <br>is also available</p></li>
                        <li><p>We provide Machine <br>Learning as a Service</p></li>
                        <li><p>Play AI with your <br>own model</p></li>
                    </ul>			
                </div>
                <!-- //.howtouse -->

            <!-- .api_contact -->
            {% include 'en/common/contact.html' %}
            <!-- //.api_contact -->

			<!-- .btn_goTop -->
			<p class="btn_goTop"><button>Scroll Top</button></p>
			<!-- //.btn_goTop -->
		</div>
		<!-- //.contents -->
	</div>
    <!-- //#container -->
    
	<!-- #footer -->
	{% include 'en/common/footer.html' %}
	<!-- //#footer -->

    <!-- chatbot floating -->
<!--    {% include 'en/common/floatingChat.html' %}-->
    <!-- chatbot floating -->
	  
</div>
<!-- //wrap -->
<style type="text/css">
#container:before {content:''; position:absolute; top:0; left:0; width:100%; height:600px; background:url({% static 'chatbot/images/bg_aiaas.png' %}) 50% 0 no-repeat; background-size:cover;}
</style>

<input type="hidden" id="AUTH_ID">
<input type="hidden" id="SESSION_ID">


<script type="text/javascript">   
$(window).load(function() {    
	$('#page_loading').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
}); 
</script>

<!-- BEGIN LivePerson Monitor. -->
<!-- <script type="text/javascript">window.lpTag=window.lpTag||{},'undefined'==typeof window.lpTag._tagCount?(window.lpTag={wl:lpTag.wl||null,scp:lpTag.scp||null,site:'47095582'||'',section:lpTag.section||'',tagletSection:lpTag.tagletSection||null,autoStart:lpTag.autoStart!==!1,ovr:lpTag.ovr||{},_v:'1.10.0',_tagCount:1,protocol:'https:',events:{bind:function(t,e,i){lpTag.defer(function(){lpTag.events.bind(t,e,i)},0)},trigger:function(t,e,i){lpTag.defer(function(){lpTag.events.trigger(t,e,i)},1)}},defer:function(t,e){0===e?(this._defB=this._defB||[],this._defB.push(t)):1===e?(this._defT=this._defT||[],this._defT.push(t)):(this._defL=this._defL||[],this._defL.push(t))},load:function(t,e,i){var n=this;setTimeout(function(){n._load(t,e,i)},0)},_load:function(t,e,i){var n=t;t||(n=this.protocol+'//'+(this.ovr&&this.ovr.domain?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site);var o=document.createElement('script');o.setAttribute('charset',e?e:'UTF-8'),i&&o.setAttribute('id',i),o.setAttribute('src',n),document.getElementsByTagName('head').item(0).appendChild(o)},init:function(){this._timing=this._timing||{},this._timing.start=(new Date).getTime();var t=this;window.attachEvent?window.attachEvent('onload',function(){t._domReady('domReady')}):(window.addEventListener('DOMContentLoaded',function(){t._domReady('contReady')},!1),window.addEventListener('load',function(){t._domReady('domReady')},!1)),'undefined'===typeof window._lptStop&&this.load()},start:function(){this.autoStart=!0},_domReady:function(t){this.isDom||(this.isDom=!0,this.events.trigger('LPT','DOM_READY',{t:t})),this._timing[t]=(new Date).getTime()},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],hooks:lpTag.hooks||[],identities:lpTag.identities||[],ev:lpTag.ev||[]},lpTag.init()):window.lpTag._tagCount+=1;</script> -->
<!-- END LivePerson Monitor. -->

<script type="text/javascript">
	jQuery(function(){
		jQuery("a.btn_movLayer").movLayer();
	});
</script>


<script type="text/javascript">
function chatSingIn() {
	$.ajax({
		url: 'https://aicc-prd1.maum.ai:9980/api/v3/auth/signIn',
		async: false,
		type: 'POST',
		headers: {
			"Content-Type": "application/json",
			"m2u-auth-internal": "m2u-auth-internal"
		},
		data: JSON.stringify({
			"userKey": "admin",
			"passphrase": "1234"
		}),
		dataType: 'json',
		success: function(data) {
			// console.log(data.directive.payload.authSuccess.authToken);

			document.getElementById('AUTH_ID').value = data.directive.payload.authSuccess.authToken;
			// console.log(document.getElementById('AUTH_ID').value);
			// console.log('login success!')
			// openDialogService(chatbot);
		}, error: function(err) {
			console.log("chatbot Login error! ", err);
		}
	});
}

//카카오톡 공유하기
Kakao.init('302df663054019a2d0c7cd07ed550869');
function Kakao_sendLink() {
  Kakao.Link.sendCustom({
      templateId: 15501,
      templateArgs: {
//            'title': '나만의 AI 음성 만들기',
           'URL1':'en#main_demo',
           'URL2':'en'
      }
  });
}
var audio = document.getElementById('demo_audio');

//페이스북 공유하기
function Facebook_sendLink(){
    alert("Sorry.. not yet...:(");
}

function chkEmail(str) {
    var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
    return regExp.test(str); //return T/F
}

jQuery.event.add(window,"load",function(){
	$(document).ready(function (){
	    var $info_email = $('#info_email');

	    //책 다운로드
		$('.book_dwn').on('click', function(){
			$('.lyr_info').fadeIn(300);
		});

		$info_email.on('click keyup paste', function(){
		    $(this).removeClass('error'); //////////////
		    $('.msg_tip').hide();
        });

        $('.lyr_info .btn_blue').on('click',function(){
			var name = $('#info_name').val();
			var company = $('#info_company').val();
			var email = $info_email.val();
			var phone = $('#info_phone').val();

            if(name !== "" && company !== "" && email !== ""){
                if (!chkEmail(email)){
                    console.log("email false");
                    $info_email.addClass('error'); //////////////
                    $info_email.focus();
                    $('.msg_tip').fadeIn();
                    return;
                }

                $(this).prop('disabled', true);
                var route = "mindslab.ai/en : e-book 다운로드";
                
                $.ajax({
                    url: '/send_ebook_info',
                    async: false,
                    type: 'POST',
                    data: {
                        "route": route,
                        "name": name,
                        "company": company,
                        "email": email,
                        "phone": phone
                    },
                    dataType: 'json',
                    success: function (result) {
                        $('#info_name').val("");
                        $('#info_company').val("");
                        $('#info_email').val("");
                        $('#info_phone').val("");
                        console.log("sending info success");
                        
                        var a = document.createElement('a'); 
                        a.href = "{% static 'chatbot/pdf/MINDsLab_en.pdf' %}"; // xhr.response is a blob 
                        a.download = "MindsLab_en.pdf"; // Set the file name. 
                        a.style.display = 'none'; 
                        document.body.appendChild(a); 
                        a.click(); 
                        delete a;
                        $(this).prop('disabled', false);

                    }, error: function (err) {
                        console.log("parse HTML error! ", err);
                    }
                });
            }else{
                alert("Please enter all required fields.");
            }
        });

		// product layer popup
		$('.btn_lyrWrap_close, .lyr_plan_bg').on('click', function () {
			$('.lyr_info').fadeOut(300);
            $('#info_name').val("");
            $('#info_company').val("");
            $('#info_email').val("");
            $('#info_phone').val("");
			$('body').css({
				'overflow': '',
			});
		});

	    // product layer popup
		$('.close1').on('click', function () {
			$('.notice_box').fadeOut(300);
		});
       chatSingIn();

    //================ tts 음성합성 체험하기 ==================//
        
         $('.dd_half label').on('click',function(){
            if($('.thirdbox').is(':visible')){
                audio.pause();
                $('.btn_back').trigger('click');
            }
            $('.dd_half input').prop("checked", false);
            $(this).prop("chekcked", true);
        });

        $('.firstbox input').keypress(function (e) {
			if (e.keyCode == 13)
				$('.btn_go').trigger('click');
		});

        $('.btn_go').on('click',function(){
            var lang, name, text, spkID;

            if($('.firstbox input').val()==""){
                alert("Input your name :)");
                $('.firstbox input').focus();
                return false;
            }

            if($('#president').prop("checked")== true){
                lang = "ko_KR";
                name = $('.firstbox input').val();
                text = "사랑하는 "+name+"님, 만나서 반갑습니다, 사람이 먼저다, "+name+"님이 먼저다.";
                spkID = 122;
            }else{
                lang = "en_US";
                name = $('.firstbox input').val();
                text = "God, bless you "+name+". Homer presents these cookies as an offering.";
                // text = "That would be great," + name;
                spkID = 0;
            }

            $('.firstbox').hide();
	        $('.secondbox').fadeIn(300);    
            $('.demo_recording').fadeIn(30);

            var jsonString = JSON.stringify({"lang":lang, "text": text, "spkID":spkID});
            var url = "/tts_api_second";
            var oReq = new XMLHttpRequest();

            oReq.open("POST", url, true);
            oReq.responseType = "blob";
            oReq.setRequestHeader("Content-Type", "application/json");
            oReq.send(jsonString);

            oReq.onload = function (oEvent) {
                var blob = oReq.response; // Note: not oReq.responseText
                if (blob) {
                    audio.setAttribute("src", window.URL.createObjectURL(blob));
                    $('.secondbox').hide();
                    $('.thirdbox').fadeIn(300);
                    $('.social_link').show();
                    audio.load();
                    audio.play();
                }
            };
        });

        $('.btn_back').on('click', function(){
            audio.setAttribute("src", null);
            $('.firstbox input').val("");
            $('.firstbox').show();
            $('.thirdbox').hide();
            $('.social_link').hide();
        });
        

        $('.btn_share').on('click', function(){
            audio.load();
            var link = document.createElement("a");
            link.download = 'voice.wav';
            link.href = audio.src;
            link.click();
            link.remove();
        });



//===========================live chat 플로팅============================//

        $('#btn_flt_cb').on('click', function () {
            $.ajax({
                url: '/en/floating_sully',
                type: 'GET',
                dataType: 'html',
                async: false,
                success: function (data) {
                    $('#livechatWrap').html(data);
                }
            });
        });

        // live chat 플로팅 ----- live person ------
		//$('#livechatWrap').each(function(){
        // $('#btn_flt_cb').on('click', function() {
		// 	$.ajax({
		// 		url: '/en/live_person',
		// 		type: 'GET',
		// 		dataType: 'html',
		// 		async: false,
		// 		success:function(data){
		// 			$('#livechatWrap').html(data);
		// 		}
		// 	});
		// });
	});
});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120553152-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120553152-1');
</script>

</body>
</html>
