{% load static %}
<div class="chat_loading" >
	   <div class="loadingBox">
			<div class="loading_txt">We are connecting you to the system.<span>Please wait a moment.</span></div>
			<div class="circle"></div>
	   </div>
</div>

<div class="chatbot_contents">
	<!-- .chat_top -->
	<div class="chat_top">
		<h3>Company Introduction Chatbot</h3>
		<button type="button" class="btn_cb_close">close</button>
	</div>
	<!-- //.chat_top -->
	<!-- .chat_mid -->
	<div class="chat_mid">

		<ul class="talkLst">
			<li class="newDate"><span><!-- 날짜는 스크립트가 정의--></span></li>
			<!-- 봇 메세지 (평문) -->
			<li class="bot">
				<span class="thumb"><img id="thumb" src="{% static 'chatbot/images/mybot.png' %}" alt="sully"></span>
				<span class="cont">
				<em class="txt">Hi there!<br>
						<!--I'm maumbot, your trustworthy AI assistant at your service as you navigate through MINDs Lab's webpage. <br>-->
						<!--If you have any question, please don't hesitate to ask! <br>-->
						<!--Here are some examples of what I could answer for you.<br>-->
						<!--"What is maum.ai?"<br>-->
						<!--"How can I get to MINDs Lab?"<br>-->
						<!--"Tell me about artificial intelligence!"<br>-->
						<!--Thanks for visiting. I look forward to answering your questions. Let me know!<br>-->
I'm maumbot, your trustworthy AI assistant at your service as you navigate through MINDs Lab's webpage.<br>
If you have any question, please don't hesitate to ask!
                </em>
                </span>
                <ul class="info_btnBox">
                    <li><button type="button">What is maum.ai?</button></li>
                    <li><button type="button">How can I get to MINDs Lab?</button></li>
                    <li><button type="button">Tell me about artificial intelligence!</button></li>
                </ul>
            </li>
		</ul>
	</div>
	<!-- //.chat_mid -->
	<!-- .chat_btm -->
	<div class="chat_btm">
		 <form class="form-inline" method="post" action="" id="formChat" name="formChat">
			<textarea id="textline" class="textArea" placeholder="Type Something..."></textarea>
			<input type="button" class="btn btn-default btn_chat" name="btn_chat" id="btn_chat" class="btn_chat" title="send" value="send">
		</form>
	</div>
	<!-- //.chat_btm -->
</div>

<link rel="stylesheet" type="text/css" href="{% static 'chatbot/css/chatbot.css' %}" />
<script type="text/javascript" src="{% static 'chatbot/kr/live/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/en/js/chatbot.js' %}"></script>
<script type="text/javascript">
    jQuery.event.add(window, "load", function () {
        $(document).ready(function () {
            $('.chatbot_contents .talkLst').css({
                'display': 'block',
            });
        });
    });

    $(document).ready(function () {
        // console.log("auth_id: ",document.getElementById('AUTH_ID').value, document.getElementById('AUTH_ID'));
       
        chatOpen('Sully_eng');
        
        $('#btn_cb_close').click(function () {
            closeDialogService();
        });

        // chatbot close
        $('.btn_cb_close').on('click', function () {
            closeDialogService();
            $(this).parent().parent().parent().fadeOut(300);
            $('#maumWrap').css({
                'overflow': '',
            });
            $('#livechatWrap .chatbot_contents').remove();
        });
    });


    $('.chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
        $('.chatbot_contents .bot_infoBox').css({
                'display':'none',
        });
        $('.chat_loading').css({
                'display':'none',
        });
        $('.chatbot_contents .talkLst').css({
                'display':'block',
        });

</script>