<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
        {% load static %}
<meta property="og:title"            content="MINDsLab chatbot"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content=""/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_cb_ogTag.png' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="Try MINDs Lab's chatbots!"/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content=""/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_cb_ogTag.png' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="MINDsLab chatbot"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="Try MINDs Lab's chatbots!"/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_cb_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_cb_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_cb_310x150.png' %}"><!-- widetile -->

    <!-- cookie reset -->
<meta http-equiv="Expires" content="-1"> <!--캐시된 페이지가 만료되어 삭제되는 시간을 정의합니다. 특별한 경우가 아니면 -1로 설정합니다. -->
<meta http-equiv="Pragma" content="no-cache"> <!--  페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.0) -->
<meta http-equiv="Cache-Control" content="no-cache"> <!-- 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.1)-->


<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_cb_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
	
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_cb_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_cb_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_cb_152x152.png' %}"/><!-- iPad Retina -->
	
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_cb_64x64.ico' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->
	
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/chatbot.css' %}" />
<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<!-- //resources -->
</head>

<body>
<!-- #wrap -->
<div id="wrap"> 
	<!-- ==== 여기부터 채팅관련 html 입니다 ==== -->
	<div class="cahtbotWrap">
		<!-- .cahtbotBox -->
		<div class="cahtbotBox">
			<!-- .cahtbot_nav -->
			<div class="cahtbot_nav">
				<h3>bots</h3>
				<ul>
					<li>
						<button id="btn_bot_sully" class="ico_sully" type="button">
							<span>Sully</span>
						</button>
					</li>
					<!-- <li>
						<button id="btn_bot_joey" class="ico_joey disabled" type="button">
							<em>준비중</em>
							<span>Joey</span>
						</button>
					</li>
					<li>
						<button id="btn_bot_mini" class="ico_mini" type="button">
							<span>Mini</span>
						</button>
					</li>
					<li>
						<button id="btn_bot_noah" class="ico_noah" type="button">
							<span>Noah</span>
						</button>
					</li>
					<li>
						<button id="btn_bot_ttubot" class="ico_ttubot" type="button">
							<span>뚜봇</span>
						</button>
					</li> -->
				</ul>
			</div>
			<!-- //.cahtbot_nav -->
			<!-- .chatbot_contents -->
			<div id="chatbot_contents">
				<!-- 챗뷰 하단 스크립트로 불러옴 -->
			</div>
			<!-- //.chatbot_contents -->
		</div>
		<!-- //.cahtbotBox -->
	</div>
	<!-- //.cahtbotWrap -->
	
	<!-- ==== 여기까지 채팅관련 html 입니다 ==== -->
</div>
<!-- //wrap -->
<script>
	$(document).ready(function (){
			$('#btn_bot_sully').click(function(){
			$.ajax({
				url: '/en/maumbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chatbot_contents').html(data);
				}
			});
		});

		$('.cahtbot_nav ul li button').on('click', function(){
			$('.cahtbot_nav ul li button').removeClass('active');
			$(this).addClass('active');
		});
		$('#btn_bot_sully').trigger('click');
	});
</script>
</body>
</html>
