<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
{% load static %}

<!-- Open Graph Tag -->
<meta property="og:title"            content="Company ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content="https://mindslab.ai/en/company"/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="Make your own AI serice with maum.ai"/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/encompany/"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="Company ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="Make your own AI serice with maum.ai"/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_mindslab_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_mindslab_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_mindslab_310x150.ico' %}"><!-- widetile -->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_mindslab_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_mindslab_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_mindslab_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_mindslab_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_mindslab_64x64.ico' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<title>Company ll maum AI</title>
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/chatbot.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/common.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/en/js/common.js' %}"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<!-- //resources -->

</head>

<body>
<!-- .page loading -->
<div id="page_ldWrap" class="page_ldWrap">
	<div class="page_ldBox"></div>
</div>
<!-- //.page loading -->
<!-- #wrap -->
<div id="maumWrap">
		<!-- #header -->
	<div id="header">
		<!-- .sta -->
		<div class="sta">
			<h1><a href="/en"><img src="{% static 'chatbot/images/logo_h1.png' %}" alt="Minds Lab"></a></h1>
			<div class="etcMenu">
				<ul>
					<!-- <li class="login"><span>로그인</span></li> -->
					<li class="lang">
						<p class="lang_select"><em>English</em></p>
						<ul class="lst">
							<li><a href="/kr" target="_self"><em>한국어</em></a></li>
						</ul>
					</li>
					<!--<li class="signin"><a href="https://console.maum.ai/" target="_blank" title="새창열림">Sign in</a></li>-->
				</ul>
			</div>
		</div>
		<!-- //.sta -->
		<!-- .gnb -->
		<div id="gnb" class="gnb">
			<div class="gnbNavBox">
				<ul class="gnbNav">
					<!-- <li class="menu1depth">
						<h2><a class="active" href="/en">AIaaS</a></h2>
					</li> -->
                    <!-- <li class="sub_menu">
                    	<h2><a href="/en/maum_chatbot">Product</a></h2>
                        <ul class="sub_list">
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_chatbot">maum Chatbot</a></li>
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_tts">TTS</a></li>
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_en">mAI English</a></li>
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_voc">maum VOC</a></li>
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_rta">maum RTA</a></li>
                            <li class="menu2depth"><a href="/en/maum_chatbot#stn_aqc">maum AQC</a></li>
                        </ul>
                    </li>
					<li class="menu1depth">
						<h2><a href="/en/portfolio">Success Stories</a></h2>
					</li> -->
                    <!-- <li class="menu1depth">
						<h2><a href="/en/pricing">Pricing</a></h2>
					</li> -->
                    <!--<li class="menu1depth">
                       <h2><a href="https://api.maum.ai/en" target="_blank" title="new window">API Service</a></h2>
				   </li>-->
				   	<li>
						<h2><a class="active" href="/en/company">Company</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="#api_contact">Contact Us</a></h2>
					</li>
                    <li class="menu1depth">
						<a href="https://maum.ai?lang=en" target="_blank" title="새창열림" class="btn_try">Go to maum.ai</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //#header -->

	<!-- aside -->
	{% include 'en/common/aside.html' %}
	<!-- //aside -->

	<!-- #container -->
	<div id="container ">
		<!-- .co_visualArea -->
		<div class="co_visualArea">
			<div class="lot_c">
				<div class="visualArea_txt">
					<p class="v_tit">
						COMPANY
					</p>
					<p class="v_txt">
						<span>MindsLab: Experts advancing rapidly with the future of AI in mind.</span>
						<span>We drive enhanced user experiences that is radically different with out state-of-the-art AI technology.</span>
					</p>
				</div>
			</div>
			<!-- .tab_mov -->
			<div class="tab_mov demoTab">
				<!-- .tab_nav -->
				<div class="tab_nav">
					<ul>
						<li class="left_line"><a href="#whattodo">What We Do</a></li>
						<li><a href="#history">History</a></li>
						<li><a href="#global">Global Network</a></li>
						<li><a href="#customers">Customers</a></li>
						<!-- <li><a href="#pr_center"><span>PR</span> Center</a></li>
						<li><a href="#recruitment">Recruitment</a></li> -->
					</ul>
				</div>
				<!-- //.tab_nav -->
			</div>
			<!-- //.tab_mov -->
		</div>
		<!-- //.co_visualArea -->

		<!-- .tab_container -->
		<div class="tab_container">
			<!-- #whattodo -->
			<div id="whattodo" class="tab_contents">
				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">What We do</div>
						<p><span>Equipped with AI algorithm to  AI applications and services, Minds Lab integrates the AI supply chain.</span>
							<span>With speed and agility, we transform the latest AI research into products and services and make a profit. This is our core competency.</span>
						</p>
					</div>

				</div>
				<!-- .img_area -->
				<div class="img_area">
					<!-- .lot_c -->
					<div class="lot_c">
						<div class="stn_cont">
							<div class="imgBox"><img src="{% static 'chatbot/images/img_whattodo.png' %}" alt=""></div>
						</div>
					</div>
					<!-- //.lot_c -->
				</div>
				<!-- //.img_area -->

				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">EcoMINDs</div>
						<p><span>In order to manage AI supply chain more effectively,</span>
							<span>MINDs Lab organizes Eco MINDs network and works with companies with different specialties.</span>
						</p>
					</div>

					<div class="eco_group">
						<div class="row">
							<div class="eco_cell"><img src="{% static 'chatbot/images/img_cell01.png' %}" alt=""></div>
							<div class="eco_cell"><a href="http://greenmango.co.kr" target="_blank" title="새창열림"><img src="{% static 'chatbot/images/img_cell02.png' %}" alt=""></a></div>
							<div class="eco_cell"><a href="http://www.easytalk.co.kr/" target="_blank" title="새창열림"><img src="{% static 'chatbot/images/img_cell03.png' %}" alt=""></a></div>
						</div>

						<div class="row">
							<div class="eco_cell"><a href="http://mnc.ai/" target="_blank" title="새창열림"><img src="{% static 'chatbot/images/img_cell04.png' %}" alt=""></a></div>
							<div class="eco_cell"><a href="https://www.intermindsai.com/" target="_blank" title="새창열림"><img src="{% static 'chatbot/images/img_cell05.png' %}" alt=""></a></div>
							<div class="eco_cell"><img src="{% static 'chatbot/images/img_cell06.png' %}" alt=""></div>
						</div>
					</div>
				</div>
			</div>
			<!-- //#whattodo -->
			<!-- #history -->
			<div id="history" class="tab_contents">

				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">History</div>
						<p><span>MINDs Lab is a young company founded in January 2014. With maum.ai, we are expanding our business both domestically and internationally.</span>
						</p>
					</div>
				</div>

				<div class="stn_history">
					<div class="history_area">
						<div class="con_box">
							<div class="dot_fl y_2019">
								<div class="fl_circle"><span>2019</span></div>
							</div>
							<div class="txt_fr">
								<div class="txt_group y_2019_text">
									<p><span>Feb.ㅣ </span>Official Launch of maum.ai AIaaS, a Subscription-based AI Service</p>
									<p><span>Mar.ㅣ </span>Korea SW Enterprise Competitiveness Award, Ministry of Science and ICT </p>
									<p><span>Mar.ㅣ </span> Series C Investment Attraction (17.3 billion Won)</p>
									<p><span>Apr.ㅣ </span>Korea Economic Daily President Award, 2019 Korean ImpaCT-ech</p>
									<p><span>May.ㅣ </span>Opened mAI English App Service</p>
									<p><span>Jun.ㅣ </span>Implemented World’s First Speech Separation (Voice Filter) Technology</p>
									<p><span>Jun.ㅣ </span>Published maumAI portfolio book and E-book</p>
									<p><span>Jul.ㅣ </span>Donated 2,000 ‘Pororot’ AI Robots</p>
									<p><span>Jul.ㅣ </span>Released 10 APIs, Including the Latest AI Engines for Voice Separation and Image Generation</p>
									<p><span>Aug.ㅣ </span>2019 maum.ai Seminar to Introduce the Latest AI Engines and Services</p>
									<p><span>Aug.ㅣ </span>maum Academy’s Official Curriculum Released</p>
									<p><span>Oct.ㅣ </span>Opened Streamer Services using Voice Generation Technology</p>
									<p><span>Oct.ㅣ </span>Launched maum SDS SaaS type Chatbot (Used in RedTie Butler 2.0)</p>
									<p><span>Nov.ㅣ </span>Exceeded Over 300 Monthly Subscribers (MAU)</p>
									<p><span>Nov.ㅣ </span>Artificial Intelligence Grand Prize, 2019 Korea Computing Division</p>
									<p><span>Nov.ㅣ </span>1st EcoMinds Day</p>
									<p><span>Nov.ㅣ </span>Opened Voice Album Service</p>
								</div>
							</div>
						</div>
						<div class="con_box">
							<div class="cont_txt">
								<div class="txt_group" style="padding-top:0px;">
									<p><span>Mar.ㅣ </span>MIINDS Lab-PwC Business Forum</p>
									<p><span>May.ㅣ </span>Prime minister Award, 2018 ImpaCT-ech</p>
									<p><span>Jun.ㅣ </span>Awarded the Minister of Trade, Industry and Energy Award at the Korea Startup Awards.</p>
									<p><span>Aug.ㅣ </span>Launched hybrid artificial intelligence customer center service (HAICC)</p>
									<p><span>Aug.ㅣ </span>Renewed AI robot 'Pororot' equipped with the latest artificial intelligence of maum AI</p>
								</div>
							</div>
							<div class="dot">
								<div class="circle"><span>2018</span></div>
							</div>
						</div>
						<div class="con_box">
							<div class="dot_fl">
								<div class="fl_circle"><span>2017</span></div>
							</div>
							<div class="txt_fr">
								<div class="txt_group">
									<p><span>Jan.ㅣ </span>Vice Minister of Strategy and Finance’s Visit “Leaders of 4th Industrial Movement in Korea”</p>
									<p><span>May.ㅣ </span>Business Seminar with the launch of MINDs Lab’s own AI Platform ‘maum.ai</p>
									<p><span>Jun.ㅣ </span>Series B investment attraction (4 billion won)</p>
									<p><span>Sep.ㅣ </span>Recognition of Excellence, ITU 2017 </p>
									<p><span>Dec.ㅣ </span>Minister Award, 2017 Korea ICT Award</p>
								</div>
							</div>

						</div>
						<div class="con_box">
							<div class="cont_txt">
								<div class="txt_group y_2016">
									<p><span>Jun.ㅣ </span>INDs Lab AI Cloud Products and Services Launching</p>
									<p><span>Aug.ㅣ </span>Series A investment attraction (4 billion won)</p>
									<p><span>Dec.ㅣ </span>Awarded as a promising ICT company (K-Global 300)</p>
								</div>
							</div>
							<div class="dot">
								<div class="circle"><span>2016</span></div>
							</div>
						</div>
						<div class="con_box">
							<div class="dot_fl" style ="margin-top:10px;">
								<div class="fl_circle"><span>2015</span></div>
							</div>
							<div class="txt_fr">
								<div class="txt_group" style = "margin-top:30px;">
									<p><span>Aug.ㅣ </span>1st Funding from VC</p>
									<p><span>Nov.ㅣ </span>Deep Learning based Smart Home Voice Interface Device Development R&BD project </p>
								</div>
							</div>

						</div>
						<div class="con_box">
							<div class="cont_txt">
								<div class="txt_group"  style = "padding-top: 10px;">
									<p><span>Jan.ㅣ </span>MINDsLab founded</p>
									<p><span>Jan.ㅣ </span>Social Big Data Analysis Platform Service (MINDs Insight)</p>
									<p><span>Feb.ㅣ </span>Gov’t. Registered R&D corporation 1:1 Tech. support, ETRI (Electronics and Telecommunications Research Institute)</p>
									<p><span>Jul.ㅣ </span>100 Best Practice Award (R&D) from the Government of Korea </p>
									<p><span>Dec.ㅣ </span>Realeased integrated VOC analysis solution (i-VOC)</p>
								</div>
							</div>
							<div class="dot" style="margin-top: 30px;">
								<div class="circle"><span>2014</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //#history -->

			<!-- #global -->
			<div id="global" class="tab_contents">
				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">Global Network</div>
						<p><span>Our global offices instantaneously catch the most recent AI trends,  </span>
							<span> readily apply that to our products and services and distribute them to different continents.</span>
						</p>
					</div>
				</div>

				<div class="img_global">
				 	<img src="{% static 'chatbot/images/map.png' %}" alt="global network">
				</div>

			</div>
			<!-- #global -->

			<!-- #customers -->
			<div id="customers" class="tab_contents">
				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">Customers</div>
					</div>
				</div>

				<!-- .tab_nav -->
                <div class="tab_nav">
                    <ul>
                        <li><a href="javascript:changeDiv('public')">Public institutions</a></li>
                        <li><a href="javascript:changeDiv('finance')">Financial Groups</a></li>
                        <li><a href="javascript:changeDiv('it')">Telecommunication/IT</a></li>
                        <li><a href="javascript:changeDiv('edu')">Education</a></li>
                        <li><a href="javascript:changeDiv('etc')">Manufacturing/ Consumer Goods</a></li>
                    </ul>
                </div>
                <!-- //.tab_nav -->
				<div id="public" class="customer_contents" style="display:block;">
					<div class="public_group custom_table">
						<div class="row">
							<div class="cell nia_cell"><img src="{% static 'chatbot/images/img_nia.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_deagu.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_busan.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_navy.png' %}" alt=""></div>
						</div>

						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_ex.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_klid.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_copyright.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_health.png' %}" alt=""></div>
						</div>
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_ganwon.png' %}" alt=""></div>
							<div class="cell"></div>
							<div class="cell"></div>
							<div class="cell"></div>
						</div>
					</div>
				</div>
				<div id="finance" class="customer_contents" style="display:none;">
					<div class="finance_group custom_table">
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_keb.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_woori.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_kb.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_scard.png' %}" alt=""></div>
						</div>
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_sstock.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_sfire.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_mirae.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_meritz.png' %}" alt=""></div>
						</div>
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_hundai.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_kblife.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_lotte.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_orange.png' %}" alt=""></div>
						</div>
					</div>
				</div>
				<div id="it" class="customer_contents" style="display:none;">
					<div class="it_group custom_table">
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_lgu.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_posco.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_lotte_it.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_kakao.png' %}" alt=""></div>
						</div>
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_tigris.png' %}" alt=""></div>
							<div class="cell"></div>
							<div class="cell"></div>
							<div class="cell"></div>
						</div>
					</div>
				</div>
				<div id="edu" class="customer_contents" style="display:none;">
					<div class="edu_group custom_table">
						<div class="row">

							<div class="cell"><img src="{% static 'chatbot/images/img_hansol.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_samsun_edu.png' %}" alt=""></div>
						</div>

					</div>
				</div>
				<div id="etc" class="customer_contents" style="display:none;">
					<div class="etc_group custom_table">
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_etc_samsung.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_mobis.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_etc_posco.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_cj.png' %}" alt=""></div>
						</div>
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_nt.png' %}" alt=""></div>
							<div class="cell"></div>
							<div class="cell"></div>
							<div class="cell"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- //#customers -->
		<!-- //.tab_container -->

		<!-- .api_contact -->
		{% include 'en/common/contact.html' %}
        <!-- //.api_contact -->

		<!-- .btn_goTop -->
        <p class="btn_goTop"><button>Scroll Top</button></p>
        <!-- //.btn_goTop -->
    </div>
    <!-- //.contents -->
	</div>
	<!-- //#container -->

	<!-- #footer -->
	{% include 'en/common/footer.html' %}
	<!-- //#footer -->
</div>
<!-- //#wrap -->
<script type="text/javascript">
$(window).load(function() {
    $('#page_ldWrap').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
});
</script>
<script type="text/javascript">
	jQuery(function(){
		jQuery("a.btn_movLayer").movLayer();
	});
</script>
<script>
	function changeDiv(param) {
        $('#customers div.customer_contents').hide();
        $('#' + param).show();
    }

$(document).ready(function (){
	$('.tab_container .tab_contents').hide(); //Hide all content
	$('.tab_mov .tab_nav li:first-child a').addClass('active').show(); //Activate first tab
	$('.tab_container .tab_contents:first-child').show();

	//Tab_mov
	$('.tab_mov .tab_nav li a').on('click', function () {
		var activeTab = $(this).attr('href');
		$('.tab_mov .tab_nav li a').removeClass('active'); //Remove any 'active' class
		$(this).addClass('active'); //Add 'active' class to selected tab
		$('.tab_container .tab_contents').each(function (index, item) {
			$(this).hide();
		});
		$(activeTab).show();
		$('html, body').clearQueue();
	});

    $(".co_visualArea .tab_mov .tab_nav li a").click(function(event){
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top-110}, 800);
		$('html, body').clearQueue();
    });

	//#customers
	$('#customers .tab_nav ul li:first-child a').addClass('active').show();
	$('#customers .tab_nav li a').on('click', function () {
		$('html, body').clearQueue();
		$('#customers .tab_nav li a').removeClass('active');
		$(this).addClass('active');
		$('html, body').animate({ scrollTop: $('#customers .desc_tit').offset().top - 180 }, "slow");
	});

});	

    window.onload = function () {
		setTimeout(function () {
			scrollTo(0, 0);
		}, 100);
		var curLoc = $(location).attr('href');
		if(curLoc.match('#')){
			curLoc = curLoc.substr(curLoc.indexOf('#'));
			$('.tab_mov .tab_nav li a').each(function(){
				if( $(this).attr('href')==curLoc)
					$(this).trigger('click');
			});
		}
	};


</script>
</body>
</html>


