<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
{% load static %}
	<!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
<meta property="og:title"            content="AI as a Service maum.ai"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content=""/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="Try MINDs Lab's chatbots!"/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content=""/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="AI as a Service maum.ai"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="Try MINDs Lab's chatbots!"/><!-- 웹 페이지 설명 -->

<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_maumAI_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_maumAI_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_maumAI_310x150.png' %}"><!-- widetile -->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static '/images/ico_maumAI_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_maumAI_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_maumAI_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_maumAI_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_maumAI_64x64.ico' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->

<title>Portfolio ll maum AI</title>
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/chatbot.css' %}" />

<!-- //resources -->
</head>
<body>
<!-- .api_contact -->
<div id="api_contact" class="api_contact">
    <!-- .lot_c -->
    <div class="lot_c">
        <!-- .stn_cont -->
        <div class="stn_cont">
            <!-- .contactBox -->
            <div class="contactBox">
                <!-- .leftBox -->
                <div class="leftBox">
                    <div class="stn_tit">
                        <h3>Contact Us<span>MINDs Lab Chatbot Service</span></h3>
                    </div>
                    <div class="leftTxtBox">
                        <p>Do you have a question about maum Chatbot?<br> Contact our maum Chatbot team!<br>
                            For inquiries on MINDs Lab’s products<br> and API services, please e-mail us.<br>
                            For up-to-date notifications and events,<br>please follow us on Facebook and LinkedIn.</p>
                        <ul class="contact_lst">
                            <li class="btn_tel"><a href="tel:+82316254340">+82 31 625 4340</a></li>
                            <li class="btn_mail"><a href="mailto:chatbot@mindslab.ai">chatbot@mindslab.ai</a></li>
                            <li class="btn_web"><a href="http://mindslab.ai" target="_blank">MINDs Lab Homepage mindslab.ai</a></li>
                            <ul class="social_lst">
                                <li class="btn_fb"><a href="https://www.facebook.com/mindsinsight/?fref=ts" target="_blank">Facebook</a></li>
                                <li class="btn_ld"><a href="https://www.linkedin.com/company/mindslabai" target="_blank">Linkedin</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <!-- //.leftBox -->
                <!-- .rightBox -->
                <div class="rightBox">
                    <!--form action="contact_form"-->
                    <fieldset>
                        <legend>contact_us</legend>
                        <div class="contact">
                            <div class="txtfield">
                                <input type="text" name="fm_name" id="fm_name" class="input_txt" placeholder="Full Name *">
                            </div>
                            <div class="txtfield">
                                <input type="text" name="fm_email" id="fm_email"  class="input_txt" placeholder="Business Email Address *">
                            </div>
                            <div class="txtfield">
                                <input type="text" name="fm_tel" id="fm_tel"  class="input_txt" placeholder="Phone Number">
                            </div>
                            <div class="txtfield pdBox">
                                <textarea name="fm_txt" id="fm_txt" class="textArea" rows="3" placeholder="Contact us *"></textarea>
                            </div>
                            <ul class="btnBox">
                                <li><button id="btn_send" class="btn_clor">send</button></li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <!-- //.rightBox -->
            </div>
            <!-- //.contactBox -->
        </div>
        <!-- //.stn_cont -->
    </div>
    <!-- //.lot_c -->
</div>
<!-- //.api_contact -->
<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function (){

    // input 초기화
    $('.contact .txtfield').each(function(){
        $(this).val('');
        $('#btn_send').attr('disabled');
    });

    $('#btn_send').each(function(){
        $('.disBox').remove();
        $(this).before('<span class="disBox"></span>');
    });
    // 입력값 체크 (요청버튼 활성화)
    $('.contact .txtfield').on('change keyup paste click', function(e) {
        var applyName = $('#fm_name').val().length;
        var applyMail = $('#fm_email').val().length;
        var applypNumber = $('#fm_tel').val().length;
        var applyContact = $('#fm_txt').val().length;

        if ( applyName > 0 && applyMail > 0 && applyContact > 0 ) {
            $('#btn_send').addClass('btn_clr');
            $('#btn_send').removeAttr('disabled');
            $('.disBox').remove();
        } else {
            $('#btn_send').removeClass('btn_clr');
            $('#btn_send').attr('disabled');
            $('#btn_send').before('<span class="disBox"></span>');
        }
    });

    $('#btn_send').on('click', function() {
        var con = confirm("Do you want to send mail?");
        if (con == false) {
            return false;
        }
        var route = "메일 발송경로: maum.ai/en contact_us";
        var name = $('#fm_name').val();
        var email = $('#fm_email').val();
        var phone = $('#fm_tel').val();
        var contact = $('#fm_txt').val();
        $.ajax({
            url: '/post_contact_us',
            async: false,
            type: 'POST',
            data: {
                "route" : route,
                "name": name,
                "email": email,
                "phone": phone,
                "contact": contact,
            },
            dataType: 'json',
            success: function(result) {
                console.log("RESULT : ", result);
                $('#fm_name').val("");
                $('#fm_email').val("");
                $('#fm_tel').val("");
                $('#fm_txt').val("");
                alert("We sent Email.");
            }, error: function(err) {
                console.log("parse HTML error! ", err);
            }
        });
    });
});
</script>
</body>
</html>