<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    {% load static %}
	<!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
<meta property="og:title"            content="maum AI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content=""/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="Try MINDs Lab's chatbots!"/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content=""/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="maum AI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="Try MINDs Lab's chatbots!"/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_maumAI_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_maumAI_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_maumAI_310x150.png' %}"><!-- widetile -->

    <!-- cookie reset -->
<meta http-equiv="Expires" content="-1"> <!--캐시된 페이지가 만료되어 삭제되는 시간을 정의합니다. 특별한 경우가 아니면 -1로 설정합니다. -->
<meta http-equiv="Pragma" content="no-cache"> <!--  페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.0) -->
<meta http-equiv="Cache-Control" content="no-cache"> <!-- 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.1)-->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_maumAI_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_maumAI_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_maumAI_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_maumAI_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_maumAI_64x64.ico' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->

<title>maum AI</title>
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/chatbot.css' %}" />
<!-- //resources -->
</head>
<body>
	<!-- #header -->
	<div id="header">
		<!-- .sta -->
		<div class="sta">
			<h1><a href="/en"><img src="{% static 'chatbot/images/img_logo_w.png' %}" alt="maum AI"></a></h1>
			<div class="etcMenu">
				<ul>
					<!-- <li class="login"><span>로그인</span></li> -->
					<li class="lang">
						<p class="lang_select"><img src="{% static 'chatbot/images/ico_lang_us.png' %}" alt="English"><em>English</em></p>
						<ul class="lst">
							<li><a href="/" target="_self"><img src="{% static 'chatbot/images/ico_lang_kr.png' %}" alt="한국어"><em>한국어</em></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- //.sta -->
		<!-- .gnb -->
		<div id="gnb" class="gnb">
			<div class="gnbNavBox">
				<ul class="gnbNav">
					<li class="menu1depth">
						<h2><a href="/en/acc">AI Contact Center</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="/en/portfolio">Portfolio</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="https://api.maum.ai/stt_demo/" target="_blank" >API Service</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="#api_contact">Contact Us</a></h2>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //#header -->

	<!-- aside -->
	<div class="aside" style="display:none;">
		<!-- .aside_top -->
		<div class="aside_top">
			<h1><a href="/"><img src="{% static 'chatbot/images/img_logo_b.png' %}" alt="maum AI"></a></h1>
		</div>
		<!-- //.aside_top -->
		<!-- .aside_mid -->
		<div class="aside_mid">
			<ul class="m_etcMenu">
				<li class="lang">
					<p class="lang_select"><img src="{% static 'chatbot/images/ico_lang_us.png' %}" alt="English"><em>English</em></p>
					<ul class="lst">
						<li><a href="/kr" target="_self"><img src="{% static 'chatbot/images/ico_lang_kr.png' %}" alt="한국어"><em>한국어</em></a></li>
					</ul>
				</li>
			</ul>
			<ul class="m_nav">
				<li>
					<h2><a href="/acc">AI Contact Center</a></h2>
				</li>
				<li>
					<h2><a href="/portfolio">Portfolio</a></h2>
				</li>
				<!--<li>
					<h2><a href="https://api.maum.ai/stt_demo/" target="_blank" >API Service</a></h2>
				</li>-->
				<li>
					<h2><a id="m_api_contac" href="#api_contact">Contact Us</a></h2>
				</li>

			</ul>
		</div>
		<!-- //.aside_mid -->
		<!-- .aside_btm -->
		<div class="aside_btm">
			<ul>
				<li class="btn_mail"><a href="mailto:chatbot@mindslab.ai">chatbot@mindslab.ai</a></li>
				<li class="btn_tel"><a href="tel:+82316254340">031. 625. 4340</a></li>
			</ul>
		</div>
		<!-- //.aside_btm -->
	</div>
	<div class="bg_aside"></div>
	<a class="btn_header_ham" href="#none"><span class="hamburger_icon"></span></a>
	<!-- //aside -->

<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function (){

	// language (pc)
	$('#header .sta .etcMenu ul li.lang').each(function(){
		$(this).on('click',function(){
			$(this).toggleClass('active');
		});
		$('#header .sta .etcMenu ul li.lang ul.lst li a').on('click',function(){
			$(this).removeClass('active');
		});
		$('#container').on('click',function(){
			$('#header .sta .etcMenu ul li.lang').removeClass('active');
		});
	});

	// language (mobile)
	$('ul.m_etcMenu li.lang').each(function(){
		$(this).on('click',function(){
			$(this).toggleClass('active');
		});
		$('ul.m_etcMenu li.lang ul.lst li a').on('click',function(){
			$(this).removeClass('active');
		});
	});

	//aside menu
	var clicked = false;
	var asideWidth = $(window).width() - 50;
	$('.aside').show();

	$('a.btn_header_ham').click(function(){
		if (!clicked) {
			$(this).addClass('active');
			$('.aside').animate({
				width : asideWidth,
			},{duration:200,queue:false});
			$('.btn_goTop').hide();

			$('.bg_aside').animate({
				  opacity : 0.7,
			},{duration:200,queue:false});
			$('.bg_aside').css({
				  display : 'block',
			});

			clicked=true;
		} else {
			$(this).removeClass('active');
			$('.aside').animate({
				width: '0',
			},{duration:200,queue:false});
			$('.btn_goTop').show();

			$('.bg_aside').animate({
				  opacity : '0',
			},{duration:150,queue:false});
			$('.bg_aside').css({
				  display : 'none',
			});

			clicked=false;
		}
	});

	$('.bg_aside').on('click',function(){
		$('a.btn_header_ham').removeClass('active');
		$('.aside').animate({
			width: '0',
		},{duration:200,queue:false});
		$('.btn_goTop').show();

		$('.bg_aside').animate({
			  opacity : 0,
		},{duration:150,queue:false});
		$('.bg_aside').css({
			  display : 'none',
		});

		clicked=false;
	});

	// Hide Header on on scroll down
	var didScroll;
	var lastScrollTop = 0;
	var delta = 5;
	var navbarHeight = $('#header').outerHeight();

	$(window).scroll(function(event){
		didScroll = true;
	});
	setInterval(function() {
		if (didScroll) {
			hasScrolled();
			didScroll = false;
		}
	}, 250);
	function hasScrolled() {
		var scrollTop = $(window).scrollTop();

		// Make sure they scroll more than delta
		if(Math.abs(lastScrollTop - scrollTop) <= delta)
			return;

		// If they scrolled down and are past the navbar, add class .nav-up.
		// This is necessary so you never see what is "behind" the navbar.

		if (scrollTop > 10){
			// Scroll Down
			$('#header').addClass('fixed');
			// top button
			$('.btn_goTop').fadeIn();
			$('.btn_header_ham').css({
				'position':' absolute',
			});
		} else {
			// Scroll Up
			if(scrollTop + $(window).height() < $(document).height()) {
				$('#header').removeClass('fixed');
				// top button
				$('.btn_goTop').fadeOut();
				$('.btn_header_ham').css({
					'position':'fixed',
				});
			}
		}
		lastScrollTop = scrollTop;
	}

	// section move
	$('.gnb ul.gnbNav li h2 a[href^="#"]').on('click', function (e) {
		e.preventDefault();

		var target = this.hash;
		var $target = $(target);

		$('html, body').animate({
			'scrollTop': $target.offset().top
		}, 700, 'swing');
		$('.gnb ul.gnbNav li h2 a').removeClass('active');
		$(this).addClass('active');
	});

	// Mobile contact us button
	$('#m_api_contact').on('click',function(){
		$('a.btn_header_ham').removeClass('active');
		$('.aside').animate({
			width: '0',
		},{duration:200,queue:false});
		$('.btn_goTop').show();

		$('.bg_aside').animate({
			  opacity : 0,
		},{duration:150,queue:false});
		$('.bg_aside').css({
			  display : 'none',
		});

		clicked=false

		e.preventDefault();

		var target = this.hash;
		var $target = $(target);

		$('html, body').animate({
			'scrollTop': $target.offset().top
		}, 700, 'swing');
	});
});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120553152-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120553152-1');
</script>
</body>
</html>