<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    {% load static %}
	<!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
<meta property="og:title"            content="maum AI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content="https://mindslab.ai/en/maum_chatbot"/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="Try MINDs Lab's chatbots!"/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/en/chatbot"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="maum AI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="Try MINDs Lab's chatbots!"/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_mindslab_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_mindslab_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_mindslab_310x150.ico' %}"><!-- widetile -->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_mindslab_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_mindslab_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_mindslab_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_mindslab_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_mindslab_64x64.ico' %}"/>

<title>maum AI</title>
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/chatbot.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/common.css' %}?v={{ timeStamp }}" />

<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/en/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/js/player.js' %}"></script>
<!-- //resources -->

<!-- floating chat : gitple -->
<script>
    window.GitpleConfig = { appCode: 'tYHYBVAKcCJQ37qS6HGH1FRaVj19p3' };
    !function(){
        function e(){
            function e(){
                var e=t.contentDocument,a=e.createElement("script");
                a.type="text/javascript",a.async=!0,a.src=window[n]&&window[n].url?window[n].url+"/inapp-web/gitple-loader.js":"https://app.gitple.io/inapp-web/gitple-loader.js",a.charset="UTF-8",e.head&&e.head.appendChild(a)
            }
            var t=document.getElementById(a);
            t||((t=document.createElement("iframe")).id=a,t.style.display="none",t.style.width="0",t.style.height="0",t.addEventListener?t.addEventListener("load",e,!1):t.attachEvent?t.attachEvent("onload",e):t.onload=e,document.body.appendChild(t))
        }
        var t=window,n="GitpleConfig",a="gitple-loader-frame";
        if(!window.Gitple){
            document;
            var i=function(){
                i.ex&&i.ex(arguments)};
            i.q=[],i.ex=function(e){
                i.processApi?i.processApi.apply(void 0,e):i.q&&i.q.push(e)
            },window.Gitple=i,t.attachEvent?t.attachEvent("onload",e):t.addEventListener("load",e,!1)
        }
    }();
    Gitple('boot');
</script>

</head>


<body>
<!-- .page loading -->
<div id="page_loading" class="page_ldWrap">
	<div class="page_ldBox"></div>
</div>
<!-- //.page loading -->
<!-- wrap -->
<div id="maumWrap">
<!-- #header -->
	<div id="header">
		<!-- .sta -->
		<div class="sta">
			<h1><a href="/en"><img src="{% static 'chatbot/images/logo_h1.png' %}" alt="Minds Lab"></a></h1>
			<div class="etcMenu">
				<ul>
					<!-- <li class="login"><span>로그인</span></li> -->
					<li class="lang">
						<p class="lang_select"><em>English</em></p>
						<ul class="lst">
							<li><a href="/kr" target="_self"><em>한국어</em></a></li>
						</ul>
					</li>
					<!--<li class="signin"><a href="">Sign in</a></li>-->
				</ul>
			</div>
		</div>
		<!-- //.sta -->
		<!-- .gnb -->
		<div id="gnb" class="gnb">
			<div class="gnbNavBox">
				<ul class="gnbNav">
					<!-- <li class="menu1depth">
						<h2><a href="/en">AIaaS</a></h2>
					</li> -->
                    <li class="menu1depth">
						<h2><a class="active" href="/en/maum_chatbot">Product</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="/en/portfolio">Success Stories</a></h2>
					</li>
                    <!-- <li class="menu1depth">
						<h2><a href="/en/pricing">Pricing</a></h2>
					</li> -->
                    <!--<li class="menu1depth">
                       <h2><a href="https://api.maum.ai/en" target="_blank" title="new window">API Service</a></h2>
                   </li>-->
					<li class="menu1depth">
						<h2><a href="#api_contact">Contact Us</a></h2>
					</li>
					<li class="menu1depth">
						<a href="https://maum.ai/login/loginForm?lang=en" target="_blank" title="새창열림" class="btn_try">Go to AI Platform</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //#header -->

	<!-- aside -->
	{% include 'en/common/aside.html' %}
	<!-- //aside -->

	<!-- #container -->
	<div id="container">
		<!-- .contents -->
		<div class="contents">

			<!-- .sub_titleArea -->
        	<div class="sub_titleArea">
            	<h2>PRODUCT</h2>
            </div>
            <!-- //.sub_titleArea -->

           	<!-- .tab_mov -->
			<div class="tab_mov demoTab">

				<!-- .tab_nav -->
				<div class="tab_nav">
					<ul>
						<li class="left_line"><a href="#stn_chatbot"><span>maum</span> Chatbot</a></li>
						<li><a href="#stn_tts">TTS</a></li>
						<li><a href="#stn_en"><span>mAI</span> English</a></li>	
						<li><a href="#stn_rta"><span>maum</span> RTA</a></li>
						<li><a href="#stn_voc"><span>maum</span> VOC</a></li>
						<li><a href="#stn_aqc"><span>maum</span> AQC</a></li>
					</ul>
				</div>
				<!-- //.tab_nav -->

				<!-- .product_stn -->
				<div id="stn_chatbot" class="product_stn stn_color">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<img src="{% static 'chatbot/images/img_chatbot.png' %}" alt="chatbot">
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="lot_right">
							<div class="info">
								<dl>
									<dt>
										<span>PRODUCT 01</span>
										<em>maum Chatbot</em>
									</dt>
									<dd class="txt_clr">The smartest chatbot in existence today</dd>
									<dd class="txt chatbotTxt">
										<ul class="lst">
											<li>
	maum Chatbot answers questions more accurately and promptly.
											</li>
											<li>
	Take the first step toward true AI customer care with maum Chatbot,
											</li>
											<li>
	MINDs Lab's Artificial Intelligent chatbot.
											</li>
										</ul>
									</dd>
									<!-- //.itembox -->
									<dd class="snsBox">
										<div class="sns_banner">
											<ul class="sns_lst">
												<li><img src="{% static 'chatbot/images/ico_sns_kakaotalk.png' %}" alt="카카오톡"></li>
												<li><img src="{% static 'chatbot/images/ico_sns_facebook.png' %}" alt="페이스북"></li>
												<li><img src="{% static 'chatbot/images/ico_sns_slack.png' %}" alt="슬랙"></li>
											</ul>
											<dl class="sns_dl">
												<dt>Available with Social Network Service.</dt>
												<dd>Kakaotalk, Facebook, Slack and etc.</dd>
											</dl>
										</div>
									</dd>
									<dd class="btn">
										<a id="btn_lyr_product" class="btn_clor">Demo</a>
										<a class="btn_clor btn_movLayer" href="https://youtu.be/adEiXM_Vn0U" target="_blank" title="새창열림">Video</a>
									</dd>
								</dl>
							</div>
						</div>
						 <!-- //.lot_right -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->

			  <!-- .product_stn -->
				<div id="stn_tts" class="product_stn">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<div class="info tts_txt">
								<dl>
									<dt>
										<span>PRODUCT 02</span>
										<em>TTS (Text to Speech)</em>
									</dt>
									<dd class="txt_clr">Natural Speech Synthesis</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
MINDs lab Text to Speech Synthesis (TTS) API service
											</li>
											<li>
converts texts into natural human voice.
											</li>
											<li>
It is difficult to tell apart from the TTS service and a person’s voice
											</li>
											<li>
as TTS service takes advantage of the characteristics of speech.
											</li>


										</ul>
									</dd>
									<dd class="btn">
										<a id="btn_lyr_tts" class="btn_clor" >Demo</a>
										<a class="btn_clor btn_movLayer" href="https://youtu.be/eIZ95zq4DQ4" target="_blank" title="새창열림">Video</a>
									</dd>
								</dl>
							</div>
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="fr">
							<img class="tts_img" src="{% static 'chatbot/images/img_tts.png' %}" alt="TTS">
						</div>
						 <!-- //.lot_right -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->

				<!-- .product_stn -->
				<div id="stn_en" class="product_stn stn_color">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<img src="{% static 'chatbot/images/img_en.png' %}" alt="mAI English">
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="lot_right">
							<div class="info">
								<dl>
									<dt>
										<span>PRODUCT 03</span>
										<em>mAI English</em>
									</dt>
									<dd class="txt_clr">A new concept of English education based on AI</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
Specialized in English education,
											</li>
											<li>
mAI English provides an application packed of effective learning
											</li>
											<li>
of various English contents, for children and adults
											</li>
										</ul>
									</dd>
									<dd class="btn">
										<a id="btn_lyr_en" class="btn_clor">Demo</a>
										<a class="btn_clor btn btn_movLayer" href="https://youtu.be/ipw5pJdFZoM">Video</a>
									</dd>
								</dl>	
							</div>
						</div>
						 <!-- //.lot_right -->
						
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->

				<!-- .product_stn -->
				<div id="stn_rta" class="product_stn">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<div class="info rta_txt">
								<dl>
									<dt>
										<span>PRODUCT 04</span>
										<em>maum RTA</em>
									</dt>
									<dd class="txt_clr">Real-Time Agent Support System</dd>
									<dd class="txt">
										<ul class="lst">
<!--
											<li>
<b>Guide your agent in real time to increase customer satisfaction</b>
</li>
-->
											<li>
The advanced contact center solutions

											</li>
											<li>
which assist the agents to reduce call time
											</li>
											<li>
and the number of incoming calls.

											</li>
										</ul>
									</dd>
									<dd class="btn">
										<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/7euFNDN0mZg" target="_blank" title="새창열림">Video</a>
									</dd>
								</dl>
							</div>
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="fr">
							<img class="rta_img" src="{% static 'chatbot/images/img_rta.png' %}" alt="RTA">
						</div>
						 <!-- //.lot_right -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->


				<!-- .product_stn -->
				<div id="stn_voc" class="product_stn stn_color">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<img src="{% static 'chatbot/images/img_voc.png' %}" alt="chatbot">
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="lot_right">
							<div class="info">
								<dl>
									<dt>
										<span>PRODUCT 05</span>
										<em>maum VOC</em>
									</dt>
									<dd class="txt_clr">Analyzing the Voice of Customer</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
<b>Never miss a word of your customer’s voice.</b>
											</li>
											<li>
With the latest speech recognition and text analysis,
											</li>
											<li>
the business can turn the massive amount of client data
											</li>
											<li>
into valuable sources to really understand their customer.
											</li>
										</ul>
									</dd>
									<dd class="btn">
										<a class="btn_clor m_btn btn_movLayer"  href="https://youtu.be/NXuc5scSAts" target="_blank" title="새창열림">Video</a>
									</dd>
								</dl>
							</div>
						</div>
						 <!-- //.lot_right -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->
				

				<!-- .product_stn -->
				<div id="stn_aqc" class="product_stn">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<div class="info rta_txt">
								<dl>
									<dt>
										<span>PRODUCT 06</span>
										<em>maum AQC</em>
									</dt>
									<dd class="txt_clr">Automatic Quality Control System</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
Optimize and maximize your call centers’ performance.
											</li>
											<li>
AI-based quality assurance tool optimizes
											</li>
											<li>
and visualizes the whole QA process.

											</li>											
										</ul>
									</dd>
<!--
									<dd class="btn">									
										<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/j1KcJY6ZgUI" target="_blank" title="새창열림">소개 영상</a>
									</dd>
-->
								</dl>	
							</div>
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="fr">
							<img class="rta_img"  src="{% static 'chatbot/images/img_aqc.png' %}" alt="AQC">
						</div>
						 <!-- //.lot_right -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->
			</div>
			<!-- //.tab_mov -->

            <!-- .api_contact -->
            {% include 'en/common/contact.html' %}
            <!-- //.api_contact -->

			<!-- .btn_goTop -->
			<p class="btn_goTop"><button>Top</button></p>
			<!-- //.btn_goTop -->
		</div>
		<!-- //.contents -->
	</div>
    <!-- //#container -->
    
	<!-- #footer -->
	{% include 'en/common/footer.html' %}
	<!-- //#footer -->

	<!-- <div class="checkupBox">
        <div class="info">
            <p class="txt">현재 좀더 빠르고 안정적인 서비스를 위해 마음 챗봇 서버 점검 중입니다.<br>좀더 똑똑해진 모습으로 곧 돌아올게요!</p>
            <div class="dl_lst">
                <dl>
                    <dt>서버점검 기간</dt>
                    <dd>2018.07.12 (1일)</dd>
                </dl>
                <dl>
                    <dt>마음챗봇 문의</dt>
                    <dd><a href="mailto:chatbot@mindslab.ai">chatbot@mindslab.ai</a></dd>
                </dl>
            </div>
        </div>
       <div id="btn_checkup" class="btnBox">
            <div class="lds-heart">
                <div></div>
            </div>
       </div>
    </div> -->


    <!-- chatbot floating -->
<!--    {% include 'en/common/floatingChat.html' %}-->
    <!-- chatbot floating -->

    <!-- .lyr_product -->
    <div class="lyr_product">
    	<div class="lyr_bg"></div>
    	<!-- .productWrap -->
    	<div class="productWrap">
        	<!-- .product_hd -->
            <div class="product_hd">
                <button class="btn_productWrap_close" type="button">close</button>
            </div>
            <!-- .product_hd -->
            <!-- .product_bd -->
            <div class="product_bd">
            	<!-- .product_lst -->
                <div class="snb_lst">
                    <ul class="bot_lst">
                        <li class="ico_sully">
                        	<button type="button" class="active">
                            	<em><img src="{% static 'chatbot/images/ico_bot_sully.png' %}" alt="Sully"></em>
                            	<span>Company Introducer Bot<br>Sully</span>
                            </button>
                        </li>
                    </ul>
                    <ul class="etc_lst">
                        <li><button id="btn_go_liveChat" type="button">FAST Live Chat</button></li>
                        <li><a id="btn_go_contact" href="#api_contact">Send Us Email</a></li>
                    </ul>
            	</div>
                <!-- //.product_lst -->
                <!-- .product_cont -->
                <div class="product_cont">
                    <div id="chat_uiBox"></div>
                </div>
                <!-- //.product_cont -->
            </div>
            <!-- //.product_bd -->
        </div>
        <!-- //.productWrap -->
    </div>
    <!-- //.lyr_product -->
	<!-- .lyr_tts -->
    <div class="lyr_tts">
    	<div class="lyr_bg"></div>
    	<!-- .productWrap -->
    	<div class="productWrap">

            <div class="product_hd">
                <button class="btn_productWrap_close" type="button">Closes</button>
            </div>
            <!-- .product_hd -->
            <!-- .product_bd -->
            <div class="product_bd">
            	<!-- .product_lst -->
                <div class="snb_lst">
                    <ul class="bot_lst">
                        <li>
                        	<button type="button" class="active">
                            	<span>TTS</span>
                            </button>
                        </li>
                    </ul>
                    <ul class="etc_lst">
<!--                        <li><button id="btn_go_liveChat02" type="button">1:1 inquiry</button></li>-->
                        <li><a id="btn_go_contact02" href="#api_contact">Send Us Email</a></li>
                    </ul>
            	</div>
                <!-- //.product_lst -->
                <!-- .product_cont -->
                <div class="product_cont">
                    <div id="chat_uiBox02">
					<!-- .guideBox -->
						<div class="guideBox">
							<img src="{% static 'chatbot/images/img_tts_en.jpg' %}">
						</div>

					</div>
					<div class="chatbot_contents">
						<div class="demo_wrap">
							<div class="demo_tit">
								<p>Demo</p>
							</div>
							<!-- .step01 -->
							<div class="step_box">
								<ul class="step">
									<li> 01 Language</li>
									<li class="radioBox">
										<input type="radio" name="lang" id="lang_02" class="ipt_radio" checked>
										<label for="lang_02"> English</label>
									</li>
									<li class="radioBox">
										<input type="radio" name="lang" id="lang_01" class="ipt_radio">
										<label for="lang_01"> Korean</label>
									</li>
								</ul>
								<ul class="step">
									<li> 02 Voice</li>
									<li class="radioBox">
										<input type="radio" name="voice" id="voice_01" class="ipt_radio" checked>
										<label for="voice_01"> Female<span> Voice Actor</span> </label>
									</li>
									<li class="radioBox">
										<input type="radio" name="voice" id="voice_02" class="ipt_radio"  disabled>
										<label for="voice_02" class="disabled"> Female</label>
									</li>
									<li class="radioBox">
										<input type="radio" name="voice" id="voice_03" class="ipt_radio"  disabled>
										<label for="voice_03" class="disabled"> Female <span>Agent</span></label>
									</li>
									<li class="radioBox">
										<input type="radio" name="voice" id="voice_04" class="ipt_radio"  disabled>
										<label for="voice_04" class="disabled"> Pororot<span>(kids)</span></label>
									</li>
								</ul>
								<ul class="step">
									<li> 03 Text</li>
								</ul>

								<div class="demo_txt">
									<textarea class="textArea" id="tts_input" rows="8" maxlength="100" placeholder="Type the sentence within 100 letters you want to listen. (ex: Welcome to Mindslab)"></textarea>
								</div>
								<div class="demo_intro">
									<div class="btnBox">
										<button class="demoRecord disabled"><span>Voice Generation</span>
										</button>

										<span class="disBox"></span>
									</div>
								</div>
								<!-- .step02 -->
								<div class="demo_recording">
									<!-- recording -->
									<div class="recording">
										<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
										<span></span><span></span><span></span><span></span><span></span><span></span><span></span>
									</div>
									<!-- //recording -->
								</div>
								<!-- //.step02 -->
								<!-- .step03 -->
								<div class="demo_result">
									<div class="btnBox">
										<button class="demoReset"><span>RESET</span></button>
									</div>
									<div class="demo_player">
										<audio id="audioPlayer" src="{% static 'chatbot/audio/aekukka.mp3' %}" preload="auto"
											   controls></audio>
									</div>
								</div>
								<!-- //.step03 -->
							</div>
							<!-- //.step_box -->
						</div>
					</div>
                </div>
                <!-- //.product_cont -->
            </div>
            <!-- //.product_bd -->
        </div>
        <!-- //.productWrap -->
    </div>
	<!-- //.lyr_tts -->
	

	<!-- .lyr_en -->
    <div class="lyr_en">
        <div class="lyr_bg"></div>
        <!-- .productWrap -->
        <div class="productWrap">

            <div class="product_hd">
                <button class="btn_productWrap_close" type="button">제품 리스트 닫기</button>
            </div>
            <!-- .product_hd -->
            <!-- .product_bd -->
            <div class="product_bd">

                <!-- .product_lst -->
                <div class="snb_lst">
                    <h1>mAI <span>English</span></h1>
                    <ul class="en_lst">
                        <li><a href="javascript:changeDiv('speak')"><em><img src="{% static 'chatbot/images/ico_list1.png' %}" alt="따라 말하기"></em><span>따라 말하기</span></a></li>
                        <li><a href="javascript:changeDiv('conversation')" class="conv_div"><em><img src="{% static 'chatbot/images/ico_list2.png' %}" alt="대화하기"></em><span>대화하기</span></a></li>
                        <li><a href="javascript:changeDiv('dictionary')"><em><img src="{% static 'chatbot/images/ico_list3.png' %}" alt="한영사전"></em><span>한영사전</span></a></li>
                    </ul>
                    <ul class="etc_lst">
                        <li><button id="btn_go_liveChat03" type="button">1:1 Contact</button></li>
                        <li><a id="btn_go_contact03" href="#api_contact">Send Us Email</a></li>
                    </ul>
                </div>
                <!-- //.product_lst -->

                <!-- .speak -->
                <div id="speak" class="productList" style="display:block;">
                    <!-- .guideBox -->
                    <div class="guideBox">
                        <div class="g_top"><p>Repeat after <br>the recording</p></div>
						<div class="g_middle">
							<dl>
								<dt class="m_tit">Evaluation</dt>
								<dd class="m_txt">Evaluate the accuracy and fluency of the speech.</dd>
								<dt class="m_tit">Accuracy</dt>
								<dd class="m_txt">Based on the speech recognition of the users, it evaluates the accuracy of the speech.</dd>
								<dt class="m_tit">Fluency</dt>
								<dd class="m_txt">Evaluate users' pronunciation (Fluency) by comparing with native speakers.</dd>
							</dl>
						</div>
                        <div class="g_bottom">
							<p>Learning Method</p>
							<ul>
								<li><span>01</span>Select level</li>
								<li><span>02</span>Press mic button and repeat after the recording</li>
								<li><span>03</span>Result</li>
							</ul>
							<div class="desc"><span>*  Press <b>“Retry”</b> if you want to practice the same sentence, </span>
							<span>or press <b>“Next”</b> to move on </span>
							<span>to the next sentence.*</span>
							</div>
						</div>
                    </div>
                    <!-- //.guideBox -->
                    <!-- .en_contents -->
                    <div class="en_contents">
                        <div class="demo_wrap">
                            <ul class="demo_menu">
                                <li><a class="btn_demo01" href="#demo01"><img src="{% static 'chatbot/images/img_level1_a.png' %}" alt="Basic"><span>Basic</span></a></li>
                                <li><a class="btn_demo02" href="#demo02"><img src="{% static 'chatbot/images/img_level2.png' %}" alt="Intermediate"><span>Intermediate</span></a></li>
                                <li><a class="btn_demo03" href="#demo03"><img src="{% static 'chatbot/images/img_level3.png' %}" alt="Advanced"><span>Advanced</span></a></li>
                            </ul>
                            <!-- .demo_contents demo01 -->
                            <div id="demo01" class="demo_contents"></div>
                            <!-- //.demo_contents -->
                            <!-- .demo_contents demo02-->
                            <div id="demo02" class="demo_contents"></div>
                            <!-- //.demo_contents -->
                            <!-- .demo_contents demo03-->
                            <div id="demo03" class="demo_contents"></div>
                            <!-- //.demo_contents -->

                        </div>
                        <!-- //.demo_wrap -->
                    </div>
                    <!-- //.en_contents -->
                </div>
                <!-- //.speak -->
                <!-- .conversation -->
                <div id="conversation" class="productList" style="display:none;">
                    <!-- .guideBox -->
                    <div class="guideBox">
                        <div class="g_top"><p>Having a conversation</p></div>
						<div class="g_middle">
							<dl>
								<dt class="m_tit">Different types of occasions</dt>
								<dd class="m_txt">Try different types of scenarios, such as travel, shopping, and meeting. </dd>									
								<dd class="m_txt">Learn the key expressions of each occasion. </dd>	
								<dd class="m_txt">Select the type and you can start the conversation (textual or vocal) with the AI.</dd>	
							</dl>
						</div>

                    </div>
                    <!-- .en_contents -->
                    <div class="en_contents">
                        <div class="demo_wrap">
                            <ul class="demo_menu">
                                <li><a class="btn_demo04" href="#demo04"><img src="{% static 'chatbot/images/ico_conv1.png' %}" alt="Basic"><span>여행</span></a></li>
                                <li><a class="btn_demo05" href="#demo05"><img src="{% static 'chatbot/images/ico_conv2.png' %}" alt="Intermediate"><span>쇼핑</span></a></li>
                                <li><a class="btn_demo06" href="#demo06"><img src="{% static 'chatbot/images/ico_conv3.png' %}" alt="Advanced"><span>회의</span></a></li>
                            </ul>
                            <!-- .demo_contents demo01 -->
                            <div id="demo04" class="demo_contents"></div>
                            <!-- //.demo_contents -->
                            <!-- .demo_contents demo02-->
                            <div id="demo05" class="demo_contents"></div>
                            <!-- //.demo_contents -->
                            <!-- .demo_contents demo03-->
                            <div id="demo06" class="demo_contents"></div>
                            <!-- //.demo_contents -->
                        </div>
                        <!-- //.demo_wrap -->
                    </div>
                    <!-- //.en_contents -->
                </div>
                <!-- //.conversation -->
            </div>
            <!-- //.product_bd -->
        </div>
        <!-- //.productWrap -->
    </div>
    <!-- //.lyr_en -->


</div>
<!-- //wrap -->
<style type="text/css">
#container:before {content:''; position:absolute; top:0; left:0; width:100%; height:951px; background:url({% static 'chatbot/images/bg_product.jpg' %}) 50% 0 no-repeat; background-size:cover;}
</style>
<input type="hidden" id="AUTH_ID">
<input type="hidden" id="SESSION_ID">

<script src="{% static 'chatbot/js/audiodisplay.js' %}"></script>
<script src="{% static 'chatbot/js/recorder.js' %}"></script>
<script src="{% static 'chatbot/js/recorderWorker.js' %}"></script>
<script src="{% static 'chatbot/js/main.js' %}"></script>

<script type="text/javascript">
$(window).load(function() {
	$('#page_loading').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
});
</script>
<!-- BEGIN LivePerson Monitor. -->
<!--<script type="text/javascript">window.lpTag=window.lpTag||{},'undefined'==typeof window.lpTag._tagCount?(window.lpTag={wl:lpTag.wl||null,scp:lpTag.scp||null,site:'47095582'||'',section:lpTag.section||'',tagletSection:lpTag.tagletSection||null,autoStart:lpTag.autoStart!==!1,ovr:lpTag.ovr||{},_v:'1.10.0',_tagCount:1,protocol:'https:',events:{bind:function(t,e,i){lpTag.defer(function(){lpTag.events.bind(t,e,i)},0)},trigger:function(t,e,i){lpTag.defer(function(){lpTag.events.trigger(t,e,i)},1)}},defer:function(t,e){0===e?(this._defB=this._defB||[],this._defB.push(t)):1===e?(this._defT=this._defT||[],this._defT.push(t)):(this._defL=this._defL||[],this._defL.push(t))},load:function(t,e,i){var n=this;setTimeout(function(){n._load(t,e,i)},0)},_load:function(t,e,i){var n=t;t||(n=this.protocol+'//'+(this.ovr&&this.ovr.domain?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site);var o=document.createElement('script');o.setAttribute('charset',e?e:'UTF-8'),i&&o.setAttribute('id',i),o.setAttribute('src',n),document.getElementsByTagName('head').item(0).appendChild(o)},init:function(){this._timing=this._timing||{},this._timing.start=(new Date).getTime();var t=this;window.attachEvent?window.attachEvent('onload',function(){t._domReady('domReady')}):(window.addEventListener('DOMContentLoaded',function(){t._domReady('contReady')},!1),window.addEventListener('load',function(){t._domReady('domReady')},!1)),'undefined'===typeof window._lptStop&&this.load()},start:function(){this.autoStart=!0},_domReady:function(t){this.isDom||(this.isDom=!0,this.events.trigger('LPT','DOM_READY',{t:t})),this._timing[t]=(new Date).getTime()},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],hooks:lpTag.hooks||[],identities:lpTag.identities||[],ev:lpTag.ev||[]},lpTag.init()):window.lpTag._tagCount+=1;</script>-->
<!-- END LivePerson Monitor. -->
<script type="text/javascript">
	jQuery(function(){
		jQuery("a.btn_movLayer").movLayer();
	});
</script>

<script type="text/javascript">

function chatSingIn() {
	$.ajax({
		url: 'https://aicc-prd1.maum.ai:9980/api/v3/auth/signIn',
		async: false,
		type: 'POST',
		headers: {
			"Content-Type": "application/json",
			"m2u-auth-internal": "m2u-auth-internal"
		},
		data: JSON.stringify({
			"userKey": "admin",
			"passphrase": "1234"
		}),
		dataType: 'json',
		success: function(data) {
			// console.log(data.directive.payload.authSuccess.authToken);

			document.getElementById('AUTH_ID').value = data.directive.payload.authSuccess.authToken;
			// console.log(document.getElementById('AUTH_ID').value);
			// console.log('login success!');
			// openDialogService(chatbot);
		}, error: function(err) {
			console.log("chatbot Login error! ", err);
		}
	});
}


jQuery.event.add(window,"load",function(){
	$(document).ready(function (){
	    chatSingIn();

		// live chat 플로팅
		$('#btn_flt_cb').on('click', function() {
			$.ajax({
				url: '/en/floating_sully',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#livechatWrap').html(data);
				}
			});
		});
		$('#btn_go_liveChat').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
			$('#btn_flt_cb').trigger('click');
		});

		// chatbot ajax
		$('.lyr_product .bot_lst li.ico_sully button').on('click', function() {
			$.ajax({
				url: '/en/maumbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chat_uiBox').html(data);
				}
			});
		});

		$('.lyr_product .bot_lst li button').on('click', function() {
			$('.chatbot_contents .talkLst').css({
				'display':'block',
			});
			$('.chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
		});


		// product layer popup
		$('#btn_lyr_product').on('click', function() {
			$('.lyr_product').fadeIn(300);
			$('.lyr_product .bot_lst li.ico_sully button').trigger('click');
			$('body').css({
				'overflow': 'hidden',
			});
			$('#livechatWrap').animate({
				'height': '0%',
				'opacity': '0',
			},300);
		});

		$('.btn_productWrap_close, .lyr_bg').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('.lyr_tts').fadeOut(300);
            $('.lyr_en').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});

		$('#btn_go_contact').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('.lyr_tts').fadeOut(300);
            $('.lyr_en').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});

		$('#btn_go_liveChat').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
			$('#btn_flt_cb').trigger('click');
		});

		// tts layer popup
		$('#btn_lyr_tts').on('click', function() {
			$('.lyr_tts').fadeIn(300);
			$('.lyr_product .bot_lst li.ico_sully button').trigger('click');
			$('body').css({
				'overflow': 'hidden',
			});
			$('#livechatWrap').animate({
				'height': '0%',
				'opacity': '0',
			},300);
		});

		$('#btn_go_contact02').on('click', function() {
			$('.lyr_tts').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});

		$('#btn_go_liveChat02').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('.lyr_tts').fadeOut(300);
            $('.lyr_en').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
			$('#btn_flt_cb').trigger('click');
		});

    //====================Product TTS======================//
    
		// text count
			$('.demo_txt .textArea').on('input keyup paste', function () {
				var txtValLth = $(this).val().length;

				if (txtValLth > 0) {
					$('.demoRecord').removeClass('disabled');
					$('.demoRecord').removeAttr('disabled');
					// $('.step_box .btnBox .holeBox').show();
					// $('.step_box .btnBox .disBox').remove();
				} else {
					$('.demoRecord').addClass('disabled');
					$('.demoRecord').attr('disabled');
					// $('.step_box .btnBox .holeBox').hide();
					// $('.step_box .btnBox').append('<span class="disBox"></span>');
				}
			});
			$('.textArea').keypress(function (e) {
				if (e.keyCode == 13)
					$('.demoRecord').trigger('click');
			});
			// step01 > step02
			var audioObj = document.getElementById('audioPlayer');
			$('.step_box .btnBox .demoRecord').on('click', function () {
				$('.demo_intro').hide();
				$(".demo_intro .btnBox").hide();
				$('.demo_recording').show();
				var txt = $('#tts_input').val();
				var lang = $("input:radio[name=lang]:checked").index('input[name=lang]');


				if(lang == 0) lang = 1;
				else if(lang == 1) lang = "ko_KR";

				 console.log("data : ", txt, lang);

				// var jsonString = JSON.stringify({ 'lang': lang, 'text': txt });
				// var url = "http://tts.maum.ai:8443/tts-rest/tts/block/speak";
                var jsonString = JSON.stringify({ "cmd": "runFileTts", "lang": lang, "text": txt });
                var url = "/tts_api";

				var oReq = new XMLHttpRequest();
				oReq.open("POST", url, true);
				oReq.responseType = "blob";

				oReq.setRequestHeader("Content-Type", "application/json");

				oReq.onload = function (oEvent) {
					var blob = oReq.response; // Note: not oReq.responseText
					if (blob) {
						audioObj.src = window.URL.createObjectURL(blob);
						// step02 > step03
						$('.demo_recording').hide();
						$('.demo_result').show();
						$('.demo_result .btnBox').show();
						$('.textArea').prop('disabled',true);
						audioObj.play();
					}
				};

				oReq.send(jsonString);
			});

		// step03 > step01
		$('.step_box .demoReset').on('click', function () {
			$('.demo_txt .textArea').val('');
			$('.demoRecord').addClass('disabled');
			$('.demoRecord').attr('disabled');
			// $('.step_box .btnBox .holeBox').hide();
			// $('.step_box .btnBox').append('<span class="disBox"></span>');
			$('.demo_result').hide();
			$('.demo_intro').show();
			$('.demo_intro .btnBox').show();
			$('.textArea').prop('disabled',false);
		});

		// Demo hide
		$('.layer_bg').on('click',function(){
			$(this).parent().fadeOut(300);
		});

		// chatbot
		$('.productWrap .bot_lst li button').on('click', function() {
			var winWidth = $(window).width();
			var chatMidHeight = $(window).height()-350;
			if ( winWidth < 760) {
				$('.productWrap .chatbot_contents .chat_mid').css({
					'height': chatMidHeight,
				});
				$('.productWrap .product_bd .product_cont').css({
					'height': chatMidHeight+130,
				});
				$('.productWrap .chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
			}  else {
				$('.productWrap .chatbot_contents .chat_mid').css({
					'height': 'calc(100% - 65px)',
				});
				$('.productWrap .product_bd .product_cont').css({
					'height': '',
				});
				$('.productWrap .chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
			}

			$('.lyr_product .productWrap .bot_lst li button').removeClass('active');
			$(this).addClass('active');
		});

		$('.lyr_product .bot_lst li.ico_sully button').trigger('click');


	});

});



//en layer popup
$('#btn_lyr_en').on('click', function () {
        $('.lyr_en').fadeIn(300);
        $('body').css({
            'overflow': 'hidden',
        });
        $('#livechatWrap').animate({
            'height': '0%',
            'opacity': '0',
        },300);
    });
    // tab

    $('.demo_wrap .demo_menu li:first-child a').addClass('active').show(); //Activate first tab
    $('.en_lst li:first-child button').addClass('active').show(); //Activate first tab


    $('.en_lst li a').on('click',function(){
        $('.en_lst li a').removeClass('active');
        $(this).addClass('active');
//				$('.btn_demo01').trigger('click');
        $('.demo_menu li:first-child a').addClass('active');

        if($(this).children('span').text() == "따라 말하기"){
            $('.demo_contents').hide();
            $('.demo_contents').children().remove();
            $('#demo01').show();
            $.ajax({
                url: '/kr/demo01',
                type: 'GET',
                dataType: 'html',
                async: false,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success:function(data){
                    $('#demo01').html(data);
                }
            });
        }else if($(this).children('span').text() == "대화하기"){
            $('.demo_contents').hide();
            $('.demo_contents').children().remove();
            $('#demo04').show();
            $.ajax({
                url: '/kr/demo04',
                type: 'GET',
                dataType: 'html',
                async: false,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success:function(data){
                    $('#demo04').html(data);
                }
            });
        }else{
            $('#demo07').show();
            $.ajax({
                url: '/kr/demo07',
                type: 'GET',
                dataType: 'html',
                async: false,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success:function(data){
                    $('#demo07').html(data);
                }
            });
        }
    });

    // en ajax
    $('.btn_demo01').click(function(){
        $('.demo_contents').hide();
        $('.demo_contents').children().remove();
        $('#demo01').show();
        $.ajax({
            url: '/kr/demo01',
            type: 'GET',
            dataType: 'html',
            async: false,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success:function(data){
                $('#demo01').html(data);
            }
        });
    });

    $('.btn_demo02').click(function(){
        $('.demo_contents').hide();
        $('.demo_contents').children().remove();
        $('#demo02').show();
        $.ajax({
            url: '/kr/demo02',
            type: 'GET',
            dataType: 'html',
            async: false,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success:function(data){
                $('#demo02').html(data);
            }
        });
    });
    $('.btn_demo03').click(function(){
        $('.demo_contents').hide();
        $('.demo_contents').children().remove();
        $('#demo03').show();
        $.ajax({
            url: '/kr/demo03',
            type: 'GET',
            dataType: 'html',
            async: false,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success:function(data){
                $('#demo03').html(data);
            }
        });
    });

    $('.en_lst li a').on('click',function(){
        $('.en_lst li a').removeClass('active');
        $(this).addClass('active');
//				$('.btn_demo01').trigger('click');
        $('.demo_menu li:first-child a').addClass('active');

    });
    // 첫화면 로드
    $('.btn_demo01').trigger('click');
    $('.btn_conv1').trigger('click');
    $('.btn_demo04').trigger('click');
    $('.en_lst li:first-child a').trigger('click');

    $('.demo_menu li a').on('click',function(){
        if($(this).hasClass('btn_demo04')){
            $(this).children('img').attr("src","{% static 'chatbot/images/ico_conv1.png' %}");
            $('.btn_demo05 img').attr("src","{% static 'chatbot/images/ico_conv2.png' %}");
            $('.btn_demo06 img').attr("src","{% static 'chatbot/images/ico_conv3.png' %}");
        }else if($(this).hasClass('btn_demo05')){
            $('.btn_demo04 img').attr("src","{% static 'chatbot/images/ico_conv1_c.png' %}");
            $('.btn_demo06 img').attr("src","{% static 'chatbot/images/ico_conv3.png' %}");
        }else if($(this).hasClass('btn_demo06')){
            $('.btn_demo04 img').attr("src","{% static 'chatbot/images/ico_conv1_c.png' %}");
            $('.btn_demo05 img').attr("src","{% static 'chatbot/images/ico_conv2.png' %}");
        }
        $('.demo_menu li a').removeClass('clicked');
        $('.demo_menu li a').removeClass('active');
        $(this).addClass('clicked');
        $(this).addClass('active');

    });
    //btn_demo04

    $('.demo_menu .btn_demo04').hover(function(){//hoverin func
            $('.btn_demo04 img').attr("src","{% static 'chatbot/images/ico_conv1.png' %}");
        },
        function(){//hoverout func
            if($(this).hasClass("clicked")) {
                $('.btn_demo04 img').attr("src","{% static 'chatbot/images/ico_conv1.png' %}");

                $('#demo04').show();
                $.ajax({
                    url: '/kr/demo04',
                    type: 'GET',
                    dataType: 'html',
                    async: false,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success:function(data){
                        $('#demo04').html(data);
                    }
                });
            }
            else
                $('.btn_demo04 img').attr("src","{% static 'chatbot/images/ico_conv1_c.png' %}");
        });

    //btn_demo05
    $('.demo_menu .btn_demo05').hover(function(){//hoverin func
            $('.btn_demo05 img').attr("src","{% static 'chatbot/images/ico_conv2_w.png' %}");
        },
        function(){//hoverout func
            if($(this).hasClass("clicked")) {
                $('.btn_demo05 img').attr("src","{% static 'chatbot/images/ico_conv2_w.png' %}");

                $('#demo04').show();
                $.ajax({
                    url: '/kr/demo04',
                    type: 'GET',
                    dataType: 'html',
                    async: false,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success:function(data){
                        $('#demo04').html(data);
                    }
                });
            }
            else
                $('.btn_demo05 img').attr("src","{% static 'chatbot/images/ico_conv2.png' %}");
        });

    //btn_demo06
    $('.demo_menu .btn_demo06').hover(function(){//hoverin func
            $('.btn_demo06 img').attr("src","{% static 'chatbot/images/ico_conv3_w.png' %}");
        },
        function(){//hoverout func
            if($(this).hasClass("clicked")) {
                $('.btn_demo06 img').attr("src","{% static 'chatbot/images/ico_conv3_w.png' %}");

                $('#demo04').show();
                $.ajax({
                    url: '/kr/demo04',
                    type: 'GET',
                    dataType: 'html',
                    async: false,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success:function(data){
                        $('#demo04').html(data);
                    }
                });
            }
            else
                $('.btn_demo06 img').attr("src","{% static 'chatbot/images/ico_conv3.png' %}");
        });

    $('#btn_go_contact03').on('click', function() {
           $('.lyr_en').fadeOut(300);
           $('body').css({
               'overflow': '',
           });
    });
    $('#btn_go_liveChat03').on('click', function() {
           $('.lyr_en').fadeOut(300);
           $('body').css({
               'overflow': '',
           });
           $('#btn_flt_cb').trigger('click');
    });


//mai English 영어 임시용
$('.snb_lst .en_lst li:nth-child(1) a span').text('Repeat after the recording');
$('.snb_lst .en_lst li:nth-child(2) a span').text('Having a conversation');
$('.snb_lst .en_lst li:nth-child(3)').css('display','none');

$('.step01 p span').text('Click on the microphone button and read it out loud!')


// audio
$(function () {
	$('audio').audioPlayer();
}
);
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120553152-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120553152-1');
</script>

</body>
</html>

