<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
{% load static %}
	<!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
<meta property="og:title"            content="AIaaS ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content="https://mindslab.ai/en/portfolio"/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="Try MINDs Lab's chatbots!"/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/en/portfolio"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="AI as a Service maum.ai"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="Try MINDs Lab's chatbots!"/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_mindslab_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_mindslab_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_mindslab_310x150.ico' %}"><!-- widetile -->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_mindslab_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_mindslab_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_mindslab_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_mindslab_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_mindslab_64x64.ico' %}"/>

<title>Portfolio ll maum AI</title>
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/chatbot.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/common.css' %}?v={{ timeStamp }}" />

<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/en/js/common.js' %}"></script>
<!-- //resources -->

<!-- floating chat : gitple -->
<script>
    window.GitpleConfig = { appCode: 'tYHYBVAKcCJQ37qS6HGH1FRaVj19p3' };
    !function(){
        function e(){
            function e(){
                var e=t.contentDocument,a=e.createElement("script");
                a.type="text/javascript",a.async=!0,a.src=window[n]&&window[n].url?window[n].url+"/inapp-web/gitple-loader.js":"https://app.gitple.io/inapp-web/gitple-loader.js",a.charset="UTF-8",e.head&&e.head.appendChild(a)
            }
            var t=document.getElementById(a);
            t||((t=document.createElement("iframe")).id=a,t.style.display="none",t.style.width="0",t.style.height="0",t.addEventListener?t.addEventListener("load",e,!1):t.attachEvent?t.attachEvent("onload",e):t.onload=e,document.body.appendChild(t))
        }
        var t=window,n="GitpleConfig",a="gitple-loader-frame";
        if(!window.Gitple){
            document;
            var i=function(){
                i.ex&&i.ex(arguments)};
            i.q=[],i.ex=function(e){
                i.processApi?i.processApi.apply(void 0,e):i.q&&i.q.push(e)
            },window.Gitple=i,t.attachEvent?t.attachEvent("onload",e):t.addEventListener("load",e,!1)
        }
    }();
    Gitple('boot');
</script>

</head>

<body>
<!-- .page loading -->
<div id="page_loading" class="page_ldWrap">
	<div class="page_ldBox"></div>
</div>
<!-- //.page loading -->
<!-- wrap -->
<div id="maumWrap">
    <!-- #header -->
	<div id="header">
            <!-- .sta -->
            <div class="sta">
                <h1><a href="/en"><img src="{% static 'chatbot/images/logo_h1.png' %}" alt="Minds Lab"></a></h1>
                <div class="etcMenu">
                    <ul>
                        <!-- <li class="login"><span>로그인</span></li> -->
                        <li class="lang">
                            <p class="lang_select"><em>English</em></p>
                            <ul class="lst">
                                <li><a href="/kr" target="_self"><em>한국어</em></a></li>
                            </ul>
                        </li>
                        <!-- <li class="signin"><a href="https://console.maum.ai/" target="_blank" title="새창열림">Sign in</a></li> -->
                    </ul>
                </div>
            </div>
            <!-- //.sta -->
            <!-- .gnb -->
            <div id="gnb" class="gnb">
                <div class="gnbNavBox">
                    <ul class="gnbNav">
                        <!-- <li class="menu1depth">
                            <h2><a href="/en">AIaaS</a></h2>
                        </li> -->
                        <li class="sub_menu">
                            <h2><a href="/en/maum_chatbot">Product</a></h2>
                            <ul class="sub_list">
                                <li class="menu2depth"><a href="/en/maum_chatbot#stn_chatbot">maum Chatbot</a></li>
                                <li class="menu2depth"><a href="/en/maum_chatbot#stn_tts">TTS</a></li>
                                <li class="menu2depth"><a href="/en/maum_chatbot#stn_en">mAI English</a></li>
                                <li class="menu2depth"><a href="/en/maum_chatbot#stn_voc">maum VOC</a></li>
                                <li class="menu2depth"><a href="/en/maum_chatbot#stn_rta">maum RTA</a></li>
                                <li class="menu2depth"><a href="/en/maum_chatbot#stn_aqc">maum AQC</a></li>
                            </ul>
                        </li>
                        <li class="menu1depth">
                            <h2><a class="active" href="/en/portfolio">Success Stories</a></h2>
                        </li>
                        <!-- <li class="menu1depth">
                            <h2><a href="/en/pricing">Pricing</a></h2>
                        </li> -->
                        <!--<li class="menu1depth">
                       <h2><a href="https://api.maum.ai/en" target="_blank" title="new window">API Service</a></h2>
                   </li>-->
                        <li class="menu1depth">
                            <h2><a href="#api_contact">Contact Us</a></h2>
                        </li>
                        <li class="menu1depth">
                            <a href="https://maum.ai/login/loginForm?lang=en" target="_blank" title="새창열림" class="btn_try">Go to AI Platform</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //#header -->
    
    <!-- aside -->
	{% include 'en/common/aside.html' %}
    <!-- //aside -->
		
	<!-- #container -->
	<div id="container">
		<!-- .contents -->
		<div class="contents">
        	<!-- .sub_titleArea -->
        	<div class="sub_titleArea">
            	<h2>Success Stories</h2>
            </div>
            <!-- //.sub_titleArea -->
            
            <!-- .wideBox_w -->
            <div class="wideBox_w pdb130">
                <!-- .lot_c -->
                <div class="lot_c">
                    <div class="h3Box_c">
                        <h3>maum chatbot portfolio</h3>
                    </div>
                    <!-- .h3Box_txt -->
                    <div class="h3Box_txt">
MINDs Chatbot is an AI chat solution that can be used freely in any field.<br>
Chatbot services based on maum is applicable to various industries including finance, manufacturing, telecommunications, and public institution.
                    </div>
                    <!-- //.h3Box_txt -->
                </div>
                <!-- //.lot_c -->
            </div>
            <!-- //.wideBox_w -->
          	
            <!-- .cropBox_l -->
          	<div class="cropBox_l ">
                    <div class="crop_cell">
                        <div class="bg_aniBox"><img class="bg_img" src="{% static 'chatbot/images/bg_portfolio_crop05.png' %}"></div>
                        <div id="object01" class="objectBox">
                            <div class="phone"><img src="{% static 'chatbot/images/img_portfolio_crop05.png' %}" alt="뚜봇"></div>
                        </div>
                    </div>
                    <div class="crop_cell">                    
                        <div class="info">
                            <dl>
                                <dt>
                                    <span>portfolio 01</span>
                                    <em>HAI Bankings <b>KEB Hana Bank</em>
                                </dt>
                                <dd class="txt_clr">Award Winner of the Global Best Digital Bank Award.<br>The Smartest Chabot with an Image Detection Feature.</dd>
                                <dd class="txt">
                                    <ul class="lst">
                                        <li>As the digitalization movement prevails in baking, KEB Hana Bank needs to come up with banking service that allows users to conduct all of their daily transactions with the plain languages and the user-friendly interface in order to offer the better service than their competitors. Also, many branches have to be closed down due to the change.</li>
                                        <li>As a solution to that, KEB Hana Bank has implemented AI into its existing banking service. The AI banking covers services used the most, such as a fund transfer, product recommendation as well as bill payment and foreign currency detection. It was recorded that the rate that Chabot provides the right answer is 97%, and it is almost 100% accuracy in the case of image detection.</li>
                                        <li>The AI banking serviced by KEB Hana bank and developed by Minds Lab has received the Global Best Digital Bank Award. It has set the solid standard of AI chatbot among the competitors.</li>
                                    </ul>
                                </dd>
                                <dd class="btn">
                                    <a class="btn_clor btn_movLayer" href="https://www.youtube.com/watch?v=WskiyLMqQoY&t=3s" >Demo Video 1</a>
                                    <a class="btn_clor btn_movLayer" href="https://www.youtube.com/watch?v=mnj5OvmFEQc" >Demo Video 2</a>
                                </dd>
                            </dl>	
                        </div>
                    </div>
                    <div class="crop_cell">&nbsp;</div>
                </div>
                <!-- //.cropBox_l -->
            
            <!-- .cropBox_r -->
          	<div class="cropBox_r">  
                    <div class="crop_cell">&nbsp;</div>          	
                    <div class="crop_cell">
                        <div class="info">
                            <dl>
                                <dt>
                                    <span>portfolio 02</span>
                                    <em>AI Voice Bot <b> A insurance Company</b></em>
                                </dt>
                                <dd class="txt_clr">Outbound calls become much simpler with automation.<br>20% less cost in maintenance.</dd>
                                <dd class="txt">
                                    <ul class="lst">
                                        <li>Agents at the A insurance company conducted a compliance check through calls after telemarketing deals are closed. Although the compliance questions were closed-ended questions and scripted, it took a lot of time and costs to conduct those calls. In addition, the amount of stress and the workload were too much to take for the agents. Thus, the turnover rate of the position has been always very high.</li>
                                        <li>AI Voice Bot is a solution that combines AI voice generation and chatbot technology. To solve the problem that the company has it for a long time, AI Voice Bot was applied. By replacing simple and repetitive tasks into automatic, the company was able to save 20% of the maintenance costs. Also, because agents became free from all the repetitive tasks, they could focus on other types of tasks that need more human assistance.</li>
                                        <li>As a result, the overall parts of the telemarketing department became stronger in performance, at the same time, saved costs and time. Currently, AI Voice Bot is widely being in various industries and most prevailed in finance.</li>
                                    </ul>
                                </dd>
    <!--
                                <dd class="btn">
                                    <a class="btn_clor" href="https://youtu.be/QbIDdzzE9Lw" target="_blank" title="New window">DEMO VIDEO</a>
                                </dd>
    -->
                            </dl>	
                        </div>
                    </div>                
                    <div class="crop_cell">
                        <div class="bg_aniBox"><img  class="pstn02" src="{% static 'chatbot/images/bg_portfolio_crop04.png' %}"></div>
    <!--
                        <div id="object02" class="objectBox02">
                            <div class="port_video">
                                <a class="btn_movLayer" href="https://www.youtube.com/watch?v=eIZ95zq4DQ4">
                                    <img src="resources/images/img_portfolio_crop04.png" alt="AI assitant Call">
                                    <span class="ico_mov">동영상</span>
                                </a>
                            </div>
                        </div>
    -->
                    </div>
                </div>
                <!-- //.cropBox_r -->
            
            <!-- .cropBox_l -->
          	<div class="cropBox_l ">
                    <div class="crop_cell crop_cell01">
                        <div class="bg_aniBox"><img class="bg_img03" src="{% static 'chatbot/images/bg_portfolio_crop06.png' %}"></div>
                        <div id="object04" class="objectBox03">
                            <div class="port_video">
                                <a class="btn_movLayer" href="https://www.youtube.com/watch?v=FV7WpcTYVzI">
                                    <img src="{% static 'chatbot/images/img_portfolio_crop06.png' %}" alt="Education AI">
                                    <span class="ico_mov">동영상</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="crop_cell crop_cell02">                    
                        <div class="info">
                            <dl>
                                <dt>
                                    <span>portfolio 03</span>
                                    <em>Telephone English that you can see <b>Easy Talk</em>
                                </dt>
                                <dd class="txt_clr">The first AI English service with voice recognition in Korea <br>97% Customer Satisfaction Rate</dd>
                                <dd class="txt">
                                    <ul class="lst">
                                        <li>Minds Edu who services telephone English finds that many of their students are having some difficulties with focusing on the session because the lesson is conducted over the phone and the students don’t have enough chances to review the materials. The company has changed its service from the traditional way to AI English.</li>
                                        <li>In 5 minutes from the session, students receive the corrections of the day which the instructors chose from the transcription done by the AI engine. It helps the students to learn more effectively and the teachers to give feedbacks more efficiently.</li>
                                        <li>This particular method of learning has never been presented in the industry. As the next step, mAI English, AI-based pronunciation, and conversation practice will be combined with the service so that the students can practice expressions based on the topics of the feedback they receive.</li>
                                    </ul>
                                </dd>                          
                            </dl>	
                        </div>
                    </div>
                <div class="crop_cell">&nbsp;</div>
            </div>
            <!-- //.cropBox_l -->
            
             <!-- .cropBox_r -->
          	<div class="cropBox_r">  
                    <div class="crop_cell">&nbsp;</div>          	
                    <div class="crop_cell">
                        <div class="info info_04">
                            <dl>
                                <dt>
                                    <span>portfolio 04</span>
                                    <em>Ddubot <b>Daegu Metropolitan City</b></em>
                                </dt>
                                <dd class="txt_clr">Transfer the repetitive civil related tasks into automatic. <br>Recognized with the shortest service processing time<br> among 6 metropolitan cities in Korea.</dd>
                                <dd class="txt">
                                    <ul class="lst">
                                        <li>As there are countless inquiries from the citizens of Daegu metropolitan city such as passport and license plates, employees at the city hall suffered from a great deal of stress. It has negatively affected the workers in terms of their work performance and the job satisfaction.</li>
                                        <li>As a solution to that, the city had developed chatbot called “Ddu Bot.” Not only did it provide the inaccurate answers, but also it was very limited in the categories of questions. Minds Lab has applied the latest AI technology to the existing service and achieved a great success in transferring it to the AI Civil Bot.</li>
                                        <li>As a result, the city was able to decrease the service processing time by 91%. It was recorded as the shortest time in the whole nation. It has been over a year since Ddu Bot has been actively up and running and helped so many users and the employees. Also, it has recieved “Smart City Asia Pacific Awards 2018” which is hosted by IDC, the market research institution and international assessment institution of Smart City.</li>
                                    </ul>
                                </dd>
                                <dd class="btn">
                                      <a class="btn_clor" href="https://happy.daegu.go.kr" target="_blank" title="새창열림">Experience Ddu Bot</a>
                                </dd>
                            </dl>	
                        </div>
                    </div>                
                    <div class="crop_cell">
                        <div class="bg_aniBox"><img class="bg_img pstn01" src="{% static 'chatbot/images/bg_portfolio_crop01.png' %}"></div>
                        <div id="object05" class="objectBox">
                        <div class="phone"><img src="{% static 'chatbot/images/img_portfolio_crop01.png' %}" alt="뚜봇"></div>
                    </div>
                </div>
            </div>
                <!-- //.cropBox_r -->

            <!-- .cropBox_l -->
          	<div class="cropBox_l cropBox_last">
            	<div class="crop_cell">
                	<div class="bg_aniBox insurance"><img class="bg_img pstn03" src="{% static 'chatbot/images/bg_portfolio_05.jpg' %}"></div>
                </div>

                    <div class="crop_cell">
                        
                        <div class="info">
                            <dl>
                                <dt>
                                    <span>portfolio 05</span>
                                    <em>Automatic Quality Control Solution <b>C Insurance Company</em>
                                </dt>
                                <dd class="txt_clr">93% of Detection Rate<br>43% increase in overall work efficiency</dd>
                                <dd class="txt">
                                    <ul class="lst">
                                        <li>Employees of C insurance company had to listen to each file and manually check whether there are incomplete sales. It was not a  cost-effective nor time-effective method.</li>
                                        <li>after maum AQC (Automatic Quality Control) has started up and running in their system, the company saved cost and time on QA since AI conducts the automatic QC. </li>
                                        <li>As a result, the employees’ overall work performance has been increased by 43% with much more shorter time for QC (40 min/call versus 15min/call). Also, the detection rate has reached 93 %. Now, the company is considering applying AQC to other departments of the company.</li>
                                    </ul>
                                </dd>
                               <!--
                                <dd class="btn">
                                    <a class="btn_clor" href="https://youtu.be/89h_Q5U8vxA" target="_blank" title="New window">DEMO VIDEO</a>
                                </dd>
                                -->
                            </dl>	
                        </div>
                    </div>
                <div class="crop_cell">&nbsp;</div>
            </div>
            <!-- //.cropBox_l -->
			<!-- .cropBox_r -->
          	<div class="cropBox_r">
            	<div class="crop_cell">&nbsp;</div>
                <div class="crop_cell">
                    <div class="info info_06">
                        <dl>
                            <dt>
                                <span>portfolio 06</span>
                                <em>AI Generated character sound <b>B Game Company </b>
</em>
                            </dt>
                            <dd class="txt_clr">Saved over 80% cost in the game character development <br>AI Voice with the characters' real emotions: Happiness, sadness, and boredom
&quot;</dd>
                            <dd class="txt">
								<ul class="lst">
                                	<li>Recently, the global game company has replaced the characters' voice from recordings to the AI voice for their new children's game which will be launched soon. </li>
									<li> Before either voice actors recorded the voice, or the company would use the traditional way of voice synthesis. The downside of those old methods was that every time there were new contents, the voice actor needed to record the contents, and it cost the company much money to make the characters' voice. The existing Text to Speech generated a machine-like sound, and with this low-quality sound, it was hard to express emotions and characteristics. B company has been successful in adding unique flavors to their characters by using Minds Lab's AI Voice.</li>
									<li>The new characters of the B company were capable of express the six most common types of emotion, including joy, sadness, and boredom. Since the character sounds almost like a human, it has attracted a lot of attention in the industry. Most importantly, it saved time and cost. In fact, the company was able to save 80% of the character development cost due to the AI Voice.   </li>
                                </ul>
                            </dd>

                        </dl>
                    </div><!--
-->
                </div>
            	<div class="crop_cell">
                	<div class="bg_aniBox gameimg"><img class="bg_img pstn01" src="{% static 'chatbot/images/bg_portfolio_06.jpg' %}"></div>

                </div>
            </div>
			<!-- //.cropBox_r -->



            <!-- .wideBox_b -->
            <div class="wideBox_b">
                <!-- .lot_c -->
                <div class="lot_c">
                    <div class="h3Box_c">
                        <h3>maum chatbot friends</h3>
                    </div>
                    <!-- .h3Box_txt -->
                    <div class="h3Box_txt">
maum chatbot is an AI chat solution that can be used freely in any field. <br>
It provides AI agent service and chatbot service based on a knowledge base.
                    </div>
                    <!-- //.h3Box_txt -->
                </div>
                <!-- //.lot_c -->
                
                <!-- .lot_c -->
                <div class="lot_c">
                	<!-- .itemBox -->
                    <div class="itemBox">
                    	<!-- .item -->
                    	<div class="item">
                        	<dl>
                            	<dt>
                                	<span class="thumb"><img src="{% static 'chatbot/images/ico_bot_sully.png' %}" alt="Sully"></span>
                                    <span class="bot">Company introducer BOT</span>
                                    <span class="botName">[Sully]</span>
                                </dt>
                                <dd>
                                    Sully, the company introducer, is a sociable chatbot who wants to let people know everything and anything about your company!<br>
                                    Sully is like an official speaker of your company. <br>
                                    With Sully, you can instantaneously share important information about your company’s products with your customers.
                                </dd>
                            </dl>
                        </div>
                        <!-- //.item -->
                    	<!-- .item -->
                    	<div class="item">
                        	<dl>
                            	<dt>
                                	<span class="thumb"><img src="{% static 'chatbot/images/ico_bot_joey.png' %}" alt="Joey"></span>
                                    <span class="bot">Human Resource BOT</span>
                                    <span class="botName"> [Joey] </span>
                                </dt>
                                <dd>
                                    Joey, the Human Resource BOT, is a diligent chatbot.<br>
                                    He is your go-to guy for any human resource-related questions.<br>
                                    Do you want to know about your payroll status or outstanding vacation hours?<br>
                                    Instead of going through a complex corporate intranet, you can simply ask Joey.<br>
                                    Even if you are out of the office, he is still available for you!
                                </dd>
                            </dl>
                        </div>
                        <!-- //.item -->
                    	<!-- .item -->
                    	<div class="item">
                        	<dl>
                            	<dt>
                                	<span class="thumb"><img src="{% static 'chatbot/images/ico_bot_mini.png' %}" alt="Mini"></span>
                                    <span class="bot">Kids Educator BOT</span>
                                    <span class="botName">[Mini]</span>
                                </dt>
                                <dd>
                                    Mini, the Kids Educator BOT, is a friendly bot that delivers stories that moms and dads want to tell their children.<br>
                                    Mini can read fairy tales, sing songs, and enjoy video clips with your children.<br>
                                    Mini can deliver your messages to and emotionally connect with your children.
                                </dd>
                            </dl>
                        </div>
                        <!-- //.item -->
                    	<!-- .item -->
                    	<div class="item">
                        	<dl>
                            	<dt>
                                	<span class="thumb"><img src="{% static 'chatbot/images/ico_bot_noah.png' %}" alt="NOAH"></span>
                                    <span class="bot">The Smarty BOT</span>
                                    <span class="botName">[Noah]</span>
                                </dt>
                                <dd>
                                    Noah, who wants to answer all the questions in the world, is a chatting encyclopedia.<br>
                                    Dr. Noah can answer anything from any field including history, science, sports, and so much more!<br>
                                    Dr. Noah will be there as long as someone needs encyclopedic knowledge.
                                </dd>
                            </dl>
                        </div>
                        <!-- //.item -->                        
                    </div>
                    <!-- //.itemBox -->
                    <p class="btn">
                    	<button id="btn_lyr_product" type="button">Try our Chatbot</button>
                    </p>
                </div>
                <!-- //.lot_c -->
            </div>
            <!-- //.clorBox02 -->
          
            <!-- .api_contact -->
            {% include 'en/common/contact.html' %}
            <!-- //.api_contact -->

			<!-- .btn_goTop -->
			<p class="btn_goTop"><button>Scroll Top</button></p>
			<!-- //.btn_goTop -->
		</div>
		<!-- //.contents -->
	</div>
    <!-- //#container -->
    
	<!-- #footer -->
	{% include 'en/common/footer.html' %}
	<!-- //#footer -->

	<!-- <div class="checkupBox">
        <div class="info">
            <p class="txt">현재 좀더 빠르고 안정적인 서비스를 위해 마음 챗봇 서버 점검 중입니다.<br>좀더 똑똑해진 모습으로 곧 돌아올게요!</p>
            <div class="dl_lst">
                <dl>
                    <dt>서버점검 기간</dt>
                    <dd>2018.07.12 (1일)</dd>
                </dl>
                <dl>
                    <dt>마음챗봇 문의</dt>
                    <dd><a href="mailto:chatbot@mindslab.ai">chatbot@mindslab.ai</a></dd>
                </dl>
            </div>
        </div>
       <div id="btn_checkup" class="btnBox">
            <div class="lds-heart">
                <div></div>
            </div>
       </div>
    </div> -->

    <!-- chatbot floating -->
<!--    {% include 'en/common/floatingChat.html' %}-->
    <!-- chatbot floating -->

    <!-- .lyr_product -->
    <div class="lyr_product">
    	<div class="lyr_bg"></div>
    	<!-- .productWrap -->
    	<div class="productWrap">
        	<!-- .product_hd -->
            <div class="product_hd">
                <button class="btn_productWrap_close" type="button">제품 리스트 닫기</button>
            </div>
            <!-- .product_hd -->
            <!-- .product_bd -->
            <div class="product_bd">
            	<!-- .product_lst -->
                <div class="snb_lst">
                    <ul class="bot_lst">
                        <li class="ico_sully">
                        	<button type="button" class="active">
                            	<em><img src="{% static 'chatbot/images/ico_bot_sully.png' %}" alt="Sully"></em>
                            	<span>Company Introducer Bot<br>Sully</span>
                            </button>
                        </li>
                    </ul>
                    <ul class="etc_lst">
                        <!--<li><button id="btn_go_liveChat" type="button">FAST Live Chat</button></li>-->
                        <li><a id="btn_go_contact" href="#api_contact">Send Us Email</a></li>
                    </ul>
            	</div>
                <!-- //.product_lst -->
                <!-- .product_cont -->
                <div class="product_cont">
                    <div id="chat_uiBox"></div>
                </div>
                <!-- //.product_cont -->
            </div>
            <!-- //.product_bd -->
        </div>
        <!-- //.productWrap -->
    </div>
    <!-- //.lyr_product -->
</div>
<!-- //wrap -->

<style type="text/css">
#container:before {content:''; position:absolute; top:0; left:0; width:100%; height:494px; background:url({% static 'chatbot/images/bg_wrap_portfolio.jpg' %}) 50% 0 no-repeat; background-size:cover;}
</style>
<input type="hidden" id="AUTH_ID">
<input type="hidden" id="SESSION_ID">

<script type="text/javascript">
$(window).load(function() {
	$('#page_loading').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
});
</script>
<script type="text/javascript">
	jQuery(function(){
		jQuery("a.btn_movLayer").movLayer();
	});
</script>


<!-- BEGIN LivePerson Monitor. -->
<!--<script type="text/javascript">window.lpTag=window.lpTag||{},'undefined'==typeof window.lpTag._tagCount?(window.lpTag={wl:lpTag.wl||null,scp:lpTag.scp||null,site:'47095582'||'',section:lpTag.section||'',tagletSection:lpTag.tagletSection||null,autoStart:lpTag.autoStart!==!1,ovr:lpTag.ovr||{},_v:'1.10.0',_tagCount:1,protocol:'https:',events:{bind:function(t,e,i){lpTag.defer(function(){lpTag.events.bind(t,e,i)},0)},trigger:function(t,e,i){lpTag.defer(function(){lpTag.events.trigger(t,e,i)},1)}},defer:function(t,e){0===e?(this._defB=this._defB||[],this._defB.push(t)):1===e?(this._defT=this._defT||[],this._defT.push(t)):(this._defL=this._defL||[],this._defL.push(t))},load:function(t,e,i){var n=this;setTimeout(function(){n._load(t,e,i)},0)},_load:function(t,e,i){var n=t;t||(n=this.protocol+'//'+(this.ovr&&this.ovr.domain?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site);var o=document.createElement('script');o.setAttribute('charset',e?e:'UTF-8'),i&&o.setAttribute('id',i),o.setAttribute('src',n),document.getElementsByTagName('head').item(0).appendChild(o)},init:function(){this._timing=this._timing||{},this._timing.start=(new Date).getTime();var t=this;window.attachEvent?window.attachEvent('onload',function(){t._domReady('domReady')}):(window.addEventListener('DOMContentLoaded',function(){t._domReady('contReady')},!1),window.addEventListener('load',function(){t._domReady('domReady')},!1)),'undefined'===typeof window._lptStop&&this.load()},start:function(){this.autoStart=!0},_domReady:function(t){this.isDom||(this.isDom=!0,this.events.trigger('LPT','DOM_READY',{t:t})),this._timing[t]=(new Date).getTime()},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],hooks:lpTag.hooks||[],identities:lpTag.identities||[],ev:lpTag.ev||[]},lpTag.init()):window.lpTag._tagCount+=1;</script>-->
<!-- END LivePerson Monitor. -->
<script type="text/javascript">
function chatSingIn() {
	$.ajax({
		url: 'https://aicc-prd1.maum.ai:9980/api/v3/auth/signIn',
		async: false,
		type: 'POST',
		headers: {
			"Content-Type": "application/json",
			"m2u-auth-internal": "m2u-auth-internal"
		},
		data: JSON.stringify({
			"userKey": "admin",
			"passphrase": "1234"
		}),
		dataType: 'json',
		success: function(data) {
			// console.log(data.directive.payload.authSuccess.authToken);

			document.getElementById('AUTH_ID').value = data.directive.payload.authSuccess.authToken;
			// console.log(document.getElementById('AUTH_ID').value);
			// console.log('login success!')
			// openDialogService(chatbot);
		}, error: function(err) {
			console.log("chatbot Login error! ", err);
		}
	});
}

jQuery.event.add(window,"load",function(){
	$(document).ready(function (){
	    chatSingIn();
		
		var scrollTop = $(window).scrollTop();

		// chatbot ajax
		$('.lyr_product .bot_lst li.ico_sully button').on('click', function() {
			$.ajax({
				url: '/en/maumbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chat_uiBox').html(data);
				}
			});
		});

		$('.lyr_product .bot_lst li button').on('click', function() {
		/*
			$('.chatbot_contents .talkLst').css({
				'display':'block',
			});
		*/
			$('.chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
		});


		// product layer popup
		$('#btn_lyr_product').on('click', function() {
			$('.lyr_product').fadeIn(300);
			$('.lyr_product .bot_lst li.ico_sully button').trigger('click');
			$('body').css({
				'overflow': 'hidden',
			});
			$('#livechatWrap').fadeOut(300);
		});

		$('.btn_productWrap_close, .lyr_bg').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});

		$('#btn_go_contact').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});

		$('#btn_go_liveChat').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
			$('#btn_flt_cb').trigger('click');
		});

		// chatbot
		$('.productWrap .bot_lst li button').on('click', function() {
			var winWidth = $(window).width();
			var chatMidHeight = $(window).height()-350;
			if ( winWidth < 760) {
				$('.productWrap .chatbot_contents .chat_mid').css({
					'height': chatMidHeight,
				});
				$('.productWrap .product_bd .product_cont').css({
					'height': chatMidHeight+130,
				});
				$('.productWrap .chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
			}  else {
				$('.productWrap .chatbot_contents .chat_mid').css({
					'height': 'calc(100% - 65px)',
				});
				$('.productWrap .product_bd .product_cont').css({
					'height': '',
				});
				$('.productWrap .chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
			}

			$('.lyr_product .productWrap .bot_lst li button').removeClass('active');
			$(this).addClass('active');
		});

		$('.lyr_product .bot_lst li.ico_sully button').trigger('click');


        //===========================live chat 플로팅============================//

        $('#btn_flt_cb').on('click', function () {
            $.ajax({
                url: '/en/floating_sully',
                type: 'GET',
                dataType: 'html',
                async: false,
                success: function (data) {
                    $('#livechatWrap').html(data);
                }
            });
        });

	});
});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120553152-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120553152-1');
</script>

</body>
</html>
