<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    {% load static %}
    <!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
<meta property="og:title"            content="Pricing ll maum AI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content="https://mindslab.ai/en/pricing"/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="Take the first step toward true AI customer care with maum Chatbot."/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/en/pricing"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="Pricing ll maum AI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="Take the first step toward true AI customer care with maum Chatbot."/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_maumAI_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_maumAI_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_maumAI_310x150.ico' %}"><!-- widetile -->

    <!-- cookie reset -->
<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
<meta http-equiv="Expires" content="-1"> <!--캐시된 페이지가 만료되어 삭제되는 시간을 정의합니다. 특별한 경우가 아니면 -1로 설정합니다. -->
<meta http-equiv="Pragma" content="no-cache"> <!--  페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.0) -->
<meta http-equiv="Cache-Control" content="no-cache"> <!-- 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.1)-->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_maumAI_192x192.png' %}">
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_maumAI_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_maumAI_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_maumAI_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_maumAI_60x60.png' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->

<title>Pricing ll maum AI</title>
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/css/chatbot.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/en/css/common.css' %}?v=1.190417" />

<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/js/common.js' %}"></script>
<!-- //resources -->

<!-- floating chat : gitple -->
<script>
    window.GitpleConfig = { appCode: 'tYHYBVAKcCJQ37qS6HGH1FRaVj19p3' };
    !function(){
        function e(){
            function e(){
                var e=t.contentDocument,a=e.createElement("script");
                a.type="text/javascript",a.async=!0,a.src=window[n]&&window[n].url?window[n].url+"/inapp-web/gitple-loader.js":"https://app.gitple.io/inapp-web/gitple-loader.js",a.charset="UTF-8",e.head&&e.head.appendChild(a)
            }
            var t=document.getElementById(a);
            t||((t=document.createElement("iframe")).id=a,t.style.display="none",t.style.width="0",t.style.height="0",t.addEventListener?t.addEventListener("load",e,!1):t.attachEvent?t.attachEvent("onload",e):t.onload=e,document.body.appendChild(t))
        }
        var t=window,n="GitpleConfig",a="gitple-loader-frame";
        if(!window.Gitple){
            document;
            var i=function(){
                i.ex&&i.ex(arguments)};
            i.q=[],i.ex=function(e){
                i.processApi?i.processApi.apply(void 0,e):i.q&&i.q.push(e)
            },window.Gitple=i,t.attachEvent?t.attachEvent("onload",e):t.addEventListener("load",e,!1)
        }
    }();
    Gitple('boot');
</script>

</head>


<body>
<!-- .page loading -->
<div id="page_loading" class="page_ldWrap">
	<div class="page_ldBox"></div>
</div>
<!-- //.page loading -->
<!-- wrap -->
<div id="maumWrap">
    <!-- #header -->
	<div id="header">
		<!-- .sta -->
		<div class="sta">
			<h1><a href="/en"><img src="{% static 'chatbot/images/logo_h1.png' %}" alt="Minds Lab"></a></h1>
			<div class="etcMenu">
				<ul>
					<!-- <li class="login"><span>로그인</span></li> -->
					<li class="lang">
						<p class="lang_select"><em>English</em></p>
						<ul class="lst">
							<li><a href="/kr" target="_self"><em>한국어</em></a></li>
						</ul>
					</li>
                    <!--<li class="signin"><a href="">Sign in</a></li>-->
				</ul>
			</div>
		</div>
		<!-- //.sta -->
		<!-- .gnb -->
		<div id="gnb" class="gnb">
			<div class="gnbNavBox">
				<ul class="gnbNav">
					<li class="menu1depth">
						<h2><a href="/en">AIaaS</a></h2>
					</li>
                    <li class="sub_menu">
                    	<h2><a href="/en/maum_chatbot">Product</a></h2>
                    	    <ul class="sub_list">
                    	    	<li class="menu2depth"><a href="/en/maum_chatbot#stn_chatbot">maum Chatbot</a></li>
                    	    	<li class="menu2depth"><a href="/en/maum_chatbot#stn_tts">TTS</a></li>
                                <li class="menu2depth"><a href="/en/maum_chatbot#stn_en">mAI English</a></li>
                    	    	<li class="menu2depth"><a href="/en/maum_chatbot#stn_voc">maum VOC</a></li>
                    	    	<li class="menu2depth"><a href="/en/maum_chatbot#stn_rta">maum RTA</a></li>
                    	    	<li class="menu2depth"><a href="/en/maum_chatbot#stn_aqc">maum AQC</a></li>
                    	    </ul>
                    </li>
					<li class="menu1depth">
						<h2><a href="/en/portfolio">Success Stories</a></h2>
					</li>
                    <li class="menu1depth">
						<h2><a class="active" href="/en/pricing">Pricing</a></h2>
					</li>
                    <!--<li class="menu1depth">
                       <h2><a href="https://api.maum.ai/en" target="_blank" title="new window">API Service</a></h2>
                   </li>-->
					<li class="menu1depth">
						<h2><a href="#api_contact">Contact Us</a></h2>
					</li>
                    <li class="menu1depth">
						<a href="https://maum.ai?1" target="_blank" title="새창열림" class="btn_try">Go to AI Platform</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //#header -->

	<!-- aside -->
	{% include 'en/common/aside.html' %}
    <!-- //aside -->

	<!-- #container -->
	<div id="container">
		<!-- .contents -->
		<div class="contents price_cont">
        	<!-- .sub_titleArea -->
        	<div class="sub_titleArea">
            	<h2>Pricing</h2>
            </div>
            <!-- //.sub_titleArea -->

            <!-- .priceBox -->
			<div class="priceBox">
				<h1>Join us and <span>enjoy one-month trial!</span></h1>
                <a href="https://maum.ai?1" target="_blank" title="새창열림" class="btn_try">Go to AI Platform</a>
				<!-- .stn -->
            	<div class="price_stn">
					
					<!-- .lyrmore -->
					<div class="lyrmore">
						<div class="lyr_bg"></div>
						<!-- .lyr_more_basic -->
						<div id="lyr_more_basic" class="lyrBox">
							<div class="lyr_top">
								<h3>BASIC</h3>
							</div>
							<div class="lyr_mid">
								<table class="tbl_view">
									<colgroup>
										<col><col width="100px"><col>
									</colgroup>
									<tbody>
										<tr>
										   <th>Service</th>
										   <th>Type</th>
										   <th class="usage">Usage (1mon.)<br>per each service</th>
										</tr>
										<tr>
										   <td><b>STT</b></td>
										   <td>Ko. / Eng.</td>
										   <td>1,500 mins (25 hrs)</td>
										</tr>
										<tr>
										   <td rowspan="2"><b>TTS</b></td>
										   <td>Korean</td>
										   <td>1,200,000 characters</td>
										</tr>
										<tr>
										   <td>English</td>
										   <td>2,000,000 characters</td>
										</tr>
										<tr>
										   <td><b>MRC</b></td>
										   <td>Ko. / Eng.</td>
										   <td>60,0000 calls</td>
										</tr>
										<tr>
											<td><b>XDC</b></td>
										   <td>Ko. / Eng.</td>
										   <td>9,000calls</td>
										</tr>
										<tr>
										   <td><b>NLU</b></td>
										   <td>Ko. / Eng.</td>
										   <td>TBD</td>
										</tr>
										<tr>
										   <td><b>ITF</b></td>
										   <td>Ko. / Eng.</td>
										   <td>TBD</td>
										</tr>
										<tr>
											<td><b>HMD</b></td>
										   <td>Ko. / Eng.</td>
										   <td>TBD</td>
										</tr>
										<tr>
											<td><b>DIR</b></td>
										   <td></td>
										   <td>TBD</td>
										</tr>
										<tr>
										   <td rowspan="2"><b>Chatbot</b></td>
										   <td>Weather (Ko.)</td>
										   <td>6,000 sessions</td>
										</tr>
										<tr>
										   <td>Wiki (Ko.)</td>
										   <td>6,000 sessions</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="lyr_btm">
								<ul class="btn_lst">
									<li><button type="button" class="btn_lyr_close">close</button></li>
								</ul>
							</div>
						</div>
						<!-- //.lyr_more_basic -->
						<!-- .lyr_more_premium -->
						<div id="lyr_more_premium" class="lyrBox">
							<div class="lyr_top">
								<h3>PREMIUM</h3>								
							</div>
							<div class="lyr_mid">
								<table class="tbl_view">
									<colgroup>
										<col><col width="100px"><col>
									</colgroup>
									<tbody>
										<tr>
										   <th>Service</th>
										   <th>Type</th>
										   <th class="usage">Usage (1mon.) <br>per each service</th>
										</tr>
										<tr>
										   <td><b>STT</b></td>
										   <td>Ko. / Eng.</td>
										   <td>1,500 mins (25 hrs)</td>	
										</tr>
										<tr>
										   <td rowspan="2"><b>TTS</b></td>
										   <td>Korean</td>
										   <td>1,200,000 characters</td>	
										</tr>
										<tr>
										   <td>English</td>
										   <td>2,000,000 characters</td>	 
										</tr>
										<tr>
										   <td><b>MRC</b></td>
										   <td>Ko. / Eng.</td>
										   <td>60,0000 calls</td>	
										</tr>
										<tr>
											<td><b>XDC</b></td>
										   <td>Ko. / Eng.</td>
										   <td>9,000calls</td>	
										</tr>
										<tr>
										   <td><b>NLU</b> </td>
										   <td>Ko. / Eng.</td>
										   <td>TBD</td>	
										</tr>
										<tr>
										   <td><b>ITF</b></td>
										   <td>Ko. / Eng.</td>
										   <td>TBD</td>	
										</tr>	
										<tr>
											<td><b>HMD</b></td>
										   <td>Ko. / Eng.</td>
										   <td>TBD</td>	
										</tr>
										<tr>
											<td><b>DIR</b></td>
										   <td></td>
										   <td>TBD</td>	
										</tr>
										<tr>
										   <td rowspan="2"><b>Chatbot</b></td>
										   <td>Weather (Ko.)</td>
										   <td>6,000 sessions</td>	
										</tr>
										<tr>
										   <td>Wiki (Ko.)</td>
										   <td>6,000 sessions</td>	
										</tr>
									</tbody>
								</table>
							</div>
							<div class="lyr_btm">
								<ul class="btn_lst">
									<li><button type="button" class="btn_lyr_close">close</button></li>
								</ul>
							</div>
						</div>
						<!-- //.lyr_more_premium -->
					</div>
					<!-- //.lyrmore -->
					
                    <table class="tbl_lst">
                        <colgroup>
                            <col><col><col><col><col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">TRIAL</th>
                                <th scope="col">BASIC</th>
                                <th scope="col">PREMIUM</th>
                                <th scope="col">ENTERPRISE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row_1 border_add">
                                <td scope="col" class="price">Pricing / <b>1-year contract</b></td>
                                <td scope="col" class="price_1"><span>FREE</span> for 1 month</td>
                                <td scope="col" class="price_1"><span>$26</span> / month<a class="more basic">Learn more</a></td>
                                <td scope="col" class="price_1"><span>$89 </span>/ month<a class="more premium">Learn more</a></td>
                                <td scope="col" class="price_1">
									<a href="#api_contact">Contact Sales</a>									
								</td>
                            </tr>
                            <tr>
                                <td scope="col" class="td_border"><b>Voice Recognition </b> Ko./Eng.</td>
                                <td scope="col" class="center_txt"><span class="span_border">500 mins (25 hrs)</span></td>
                                <td scope="col" class="center_txt"><span class="span_border">1,500 mins (25 hrs)</span></td>
                                <td scope="col" class="center_txt"><span class="span_border">5,000 minutes (84 hrs)</span></td>
                                <td scope="col" class="center_txt border_add" rowspan="3">Unlimited</td>	
                            </tr>
                            <tr>
                                <td scope="col" class="td_border"><b>Voice Generation</b> Korean</td>
                                <td scope="col" class="center_txt"><span class="span_border">400,000 characters</span></td>
                                <td scope="col" class="center_txt"><span class="span_border">1,200,000 characters</span></td>
                                <td scope="col" class="center_txt"><span class="span_border">4,000,000 characters</span></td>                                
                            </tr>
                            <tr class="border_add">
                                <td scope="col" class="td_border"><b>Voice Generation</b> English</td>
                                <td scope="col" class="center_txt">700,000 characters</td>
                                <td scope="col" class="center_txt">2,000,000 characters</td>
                                <td scope="col" class="center_txt">6,666,666 characters</td>                            
                            </tr>
                           <tr class="lst_row">
                                <td scope="col" class="m_col"><span>Plus</span>
							   		<ul class="ul_txt">
										<li>Customized Machine Learning</li>
										<li>API Usage Dashboard</li>
										<li>Result Download</li>
										<li>File Storage (3mon.)</li>
										<li>Multiple accounts</li>
										<li>Individual Web Site</li>
										<li>Technical Support</li>
									</ul>
							    </td>
                                <td scope="col"><span></span>
							   		<ul>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
									</ul>
							    </td>
                                <td scope="col"><span></span>
							   		<ul>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li></li>
										<li></li>
										<li></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
									</ul>
							    </td>
                                <td scope="col"><span></span>
							   		<ul>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li></li>
										<li></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
									</ul>
							    </td>
                                <td scope="col"><span></span>
							   		<ul>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"><span class="plus">&#43; Advanced Level </span></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
									</ul>
							    </td>	
                            </tr>							
							<tr>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col">
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="form">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="4XYM52KKNQXXL">
										<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
									</form>
								</td>
                                <td scope="col">
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="form">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="SDDPS3EGM9RDG">
										<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
									</form>
								</td>
                                <td scope="col"></td>	
                            </tr>
                        </tbody>
                    </table>                   
                </div>
                <!-- //.price_stn -->	
			</div>
			<!-- //.priceBox -->
           	<!-- .pricingBox_m -->
			<div class="pricingBox_m">
				<!-- .lyrmore -->
				<div class="lyrmore">
					<div class="lyr_bg"></div>
					<!-- .lyr_more_basic -->
					<div id="lyr_more_basic_m" class="lyrBox">
						<div class="lyr_top">
							<h3>BASIC</h3>
						</div>
						<div class="lyr_mid">
							<table class="tbl_view">
								<colgroup>
									<col><col><col>
								</colgroup>
								<tbody>
									<tr>
									   <th>Service</th>
									   <th>Type</th>
									   <th>Usage (1mon.) <br>per each service</th>
									</tr>
									<tr>
									   <td><b>STT</b></td>
									   <td>Ko. / Eng.</td>
									   <td>1,500 mins (25 hrs)</td>
									</tr>
									<tr>
									   <td rowspan="2"><b>TTS</b></td>
									   <td>Korean</td>
									   <td>1,200,000 characters</td>
									</tr>
									<tr>
									   <td>English</td>
									   <td>2,000,000 characters</td>
									</tr>
									<tr>
									   <td><b>MRC</b></td>
									   <td>Ko. / Eng.</td>
									   <td>60,0000 calls</td>
									</tr>
									<tr>
										<td><b>XDC</b></td>
									   <td>Ko. / Eng.</td>
									   <td>9,000calls</td>
									</tr>
									<tr>
									   <td><b>NLU</b> </td>
									   <td>Ko. / Eng.</td>
									   <td>TBD</td>
									</tr>
									<tr>
									   <td><b>ITF</b> </td>
									   <td>Ko. / Eng.</td>
									   <td>TBD</td>
									</tr>
									<tr>
										<td><b>HMD</b> </td>
									   <td>Ko. / Eng.</td>
									   <td>TBD</td>
									</tr>
									<tr>
										<td><b>DIR</b></td>
									   <td></td>
									   <td>TBD</td>
									</tr>
									<tr>
									   <td rowspan="2"><b>Chatbot</b></td>
									   <td>Weather (Ko.)</td>
									   <td>6,000 sessions</td>
									</tr>
									<tr>
									   <td>Wiki (Ko.)</td>
									   <td>6,000 sessions</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="lyr_btm">
							<ul class="btn_lst">
								<li><button type="button" class="btn_lyr_close">close</button></li>
							</ul>
						</div>
					</div>
					<!-- //.lyr_more_basic -->
					<!-- .lyr_more_premium -->
					<div id="lyr_more_premium_m" class="lyrBox">
						<div class="lyr_top">
							<h3>PREMIUM</h3>								
						</div>
						<div class="lyr_mid">
							<table class="tbl_view">
								<colgroup>
									<col><col><col>
								</colgroup>
								<tbody>
									<tr>
									   <th>Service</th>
									   <th>Type</th>
									   <th>Usage (1mon.)<br>per each service</th>
									</tr>
									<tr>
									   <td><b>STT</b></td>
									   <td>Ko. / Eng.</td>
									   <td>1,500 mins (25 hrs)</td>	
									</tr>
									<tr>
									   <td rowspan="2"><b>TTS</b></td>
									   <td>Korean</td>
									   <td>1,200,000 characters</td>	
									</tr>
									<tr>
									   <td>English</td>
									   <td>2,000,000 characters</td>	 
									</tr>
									<tr>
									   <td><b>MRC</b></td>
									   <td>Ko. / Eng.</td>
									   <td>60,0000 calls</td>	
									</tr>
									<tr>
										<td><b>XDC</b></td>
									   <td>Ko. / Eng.</td>
									   <td>9,000calls</td>	
									</tr>
									<tr>
									   <td><b>NLU</b> </td>
									   <td>Ko. / Eng.</td>
									   <td>TBD</td>	
									</tr>
									<tr>
									   <td><b>ITF</b></td>
									   <td>Ko. / Eng.</td>
									   <td>TBD</td>	
									</tr>									
									<tr>
										<td><b>HMD</b></td>
									   <td>Ko. / Eng.</td>
									   <td>TBD</td>	
									</tr>
									<tr>
										<td><b>DIR</b></td>
									   <td></td>
									   <td>TBD</td>	
									</tr>
									<tr>
									   <td rowspan="2"><b>Chatbot</b></td>
									   <td>Weather (Ko.)</td>
									   <td>6,000 sessions</td>	
									</tr>
									<tr>
									   <td>Wiki (Ko.)</td>
									   <td>6,000 sessions</td>	
									</tr>
								</tbody>
							</table>
						</div>
						<div class="lyr_btm">
							<ul class="btn_lst">
								<li><button type="button" class="btn_lyr_close">close</button></li>
							</ul>
						</div>
					</div>
					<!-- //.lyr_more_premium -->
				</div>
				<!-- //.lyrmore -->
				<!-- .price_tab -->
				<div class="price_tab">
					<div class="tab">
						  <button class="tablinks" onclick="openPrice(event, 'trial')" id="defaultOpen">TRIAL</button>
						  <button class="tablinks" onclick="openPrice(event, 'basic')">BASIC</button>
						  <button class="tablinks" onclick="openPrice(event, 'premium')">PREMIUM</button>
						 <button class="tablinks enterprise" onclick="openPrice(event, 'enterprise')">ENTER-<br>PRISE</button>
					</div>
					<!-- .trial -->
					<div id="trial" class="tabcontent">						
						<table class="tbl_lst_m">
							<colgroup>
								<col><col>
							</colgroup>							
							<tbody>
								<tr class="row_1 border_add">
									<td scope="col" class="price">Pricing / <b> 1-year contract</b></td>
									<td scope="col" class="price_1"><span>FREE</span><br> for 1 month</td>

								</tr>
								<tr>
									<td scope="col"><b>Voice Recognition</b> Ko./Eng.</td>
									<td scope="col" class="center_txt">500 mins <br>(25 hrs)</td>

								</tr>
								<tr>
									<td scope="col"><b>Voice Generation  </b> Korean</td>
									<td scope="col" class="center_txt">400,000<br> characters</td>

								</tr>
								<tr class="border_add">
									<td scope="col"><b>Voice Generation</b>  English </td>
									<td scope="col" class="center_txt">700,000<br> characters</td>

								</tr>
							   <tr class="lst_row">
									<td scope="col" class="m_col"><span>Plus</span>
										<ul class="ul_txt">
											<li>Customized Machine <br>Learning</li>
											<li>API Usage Dashboard</li>
											<li>Result Download</li>
											<li>File Storage (3mon.)</li>
											<li>Multiple accounts</li>
											<li>Individual Web Site</li>
											<li>Technical Support</li>
										</ul>
									</td>
									<td scope="col"><span></span>
										<ul>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										</ul>
									</td>

								</tr>
								
							</tbody>
						</table>
					</div>
					<!-- //.trial -->
					<!-- .basic -->
					<div id="basic" class="tabcontent">
						<table class="tbl_lst_m">
							<colgroup>
								<col><col>
							</colgroup>							
							<tbody>
								<tr class="row_1 border_add">
									<td scope="col" class="price">Pricing / <b> 1-year contract</b></td>								
									<td scope="col" class="price_1"><span>$26</span> / month<a class="more basic_m">Learn more</a></td>										
								</tr>
								<tr>
									<td scope="col"><b>Voice Recognition</b> Ko./Eng.</td>								
									<td scope="col" class="center_txt">1,500 mins <br>(25 hrs)</td>									
								</tr>
								<tr>
									<td scope="col"><b>Voice Generation  </b> Korean</td>									
									<td scope="col" class="center_txt">1,200,000<br> characters</td>
									                            
								</tr>
								<tr class="border_add">
									<td scope="col"><b>Voice Generation</b>  English </td>
									<td scope="col" class="center_txt">2,000,000<br> characters</td>                      
								</tr>
							   <tr class="lst_row">
									<td scope="col" class="m_col"><span>Plus</span>
										<ul class="ul_txt">
											<li>Customized Machine <br>Learning</li>
											<li>API Usage Dashboard</li>
											<li>Result Download</li>
											<li>File Storage (3mon.)</li>
											<li>Multiple accounts</li>
											<li>Individual Web Site</li>
											<li>Technical Support</li>
										</ul>
									</td>									
									<td scope="col"><span></span>
										<ul>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li></li>
											<li></li>
											<li></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										</ul>
									</td>										
								</tr>								
								<tr>
                                <td scope="col"></td>
                                <td scope="col" class="td_form">
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="form">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="4XYM52KKNQXXL">
										<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
									</form>
								</td>                               
                            </tr>
							</tbody>
						</table>
					</div>
					<!-- //.basic -->
					<!-- .premium -->
					<div id="premium" class="tabcontent">
						<table class="tbl_lst_m">
							<colgroup>
								<col><col><col><col><col>
							</colgroup>							
							<tbody>
								<tr class="row_1 border_add">
									<td scope="col" class="price">Pricing / <b> 1-year contract</b></td>									
									<td scope="col" class="price_1"> <span>$89</span> / month<a class="more premium_m">Learn more</a></td>										
								</tr>
								<tr>
									<td scope="col"><b>Voice Recognition</b> Ko./Eng.</td>								
									<td scope="col" class="center_txt">5,000 minutes <br>(84 hrs)</td>									
								</tr>
								<tr>
									<td scope="col"><b>Voice Generation  </b> Korean</td>	
									<td scope="col" class="center_txt">4,000,000 <br>characters</td>                                
								</tr>
								<tr class="border_add">
									<td scope="col"><b>Voice Generation</b>  English </td>
									<td scope="col" class="center_txt">6,666,666<br> characters</td>                            
								</tr>
							   <tr class="lst_row">
									<td scope="col" class="m_col"><span>Plus</span>
										<ul class="ul_txt">
											<li>Customized Machine <br>Learning</li>
											<li>API Usage Dashboard</li>
											<li>Result Download</li>
											<li>File Storage (3mon.)</li>
											<li>Multiple accounts</li>
											<li>Individual Web Site</li>
											<li>Technical Support</li>
										</ul>
									</td>									
									<td scope="col"><span></span>
										<ul>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li></li>
											<li></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										</ul>
									</td>										
								</tr>
								<tr>
									<td scope="col"></td>									
									<td scope="col">
										<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="form">
											<input type="hidden" name="cmd" value="_s-xclick">
											<input type="hidden" name="hosted_button_id" value="SDDPS3EGM9RDG">
											<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
											<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
										</form>
									</td>
									<td scope="col"></td>	
								</tr>
							</tbody>
						</table> 
					</div>
					<!-- //.premium -->
					<!-- .enterprise -->
					<div id="enterprise" class="tabcontent">
						<!-- .tbl_lst_m -->
						<table class="tbl_lst_m">
							<colgroup>
								<col><col>
							</colgroup>							
							<tbody>
								<tr class="row_1 border_add">
									<td scope="col" class="price">Pricing / <b> 1-year contract</b></td>
									<td scope="col" class="price_1"><a href="#api_contact">Contact Sales</a></td>
										
								</tr>
								<tr>
									<td scope="col"><b>Voice Recognition</b> Ko./Eng.</td>	
									<td scope="col" rowspan="3" class="center_txt point_txt">Unlimited</td>
									
								</tr>
								<tr>
									<td scope="col"><b>Voice Generation  </b> Korean</td>									
									                        
								</tr>
								<tr class="border_add">
									<td scope="col"><b>Voice Generation</b>  English </td>									                          
								</tr>
							   <tr class="lst_row">
									<td scope="col" class="m_col"><span>Plus</span>
										<ul class="ul_txt">
											<li>Customized Machine <br>Learning</li>
											<li>API Usage Dashboard</li>
											<li>Result Download</li>
											<li>File Storage (3mon.)</li>
											<li>Multiple accounts</li>
											<li>Individual Web Site</li>
											<li>Technical Support</li>
										</ul>
									</td>
									<td scope="col"><span></span>
										<ul>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"><span class="plus">&#43;Advanced Level </span></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										</ul>
									</td>

								</tr>
								
							</tbody>
						</table>
						<!-- //.tbl_lst_m -->
					</div>
					<!-- //.enterprise -->
				</div>
				<!-- //.price_tab -->
			</div>
          	<!-- //.pricingBox_m -->
            
            <!-- .api_contact -->
            {% include 'en/common/contact.html' %}
            <!-- //.api_contact -->

			<!-- .btn_goTop -->
			<p class="btn_goTop"><button>Scroll Top</button></p>
			<!-- //.btn_goTop -->
		</div>
		<!-- //.contents -->
	</div>
	<!-- //#container -->
	
	<!-- #footer -->
	{% include 'en/common/footer.html' %}
	<!-- //#footer -->

<!--
	<div class="checkupBox">
		<div class="info">
			<p class="txt">현재 좀더 빠르고 안정적인 서비스를 위해 마음 챗봇 서버 점검 중입니다.<br>좀더 똑똑해진 모습으로 곧 돌아올게요!</p>
			<div class="dl_lst">
				<dl>
					<dt>서버점검 기간</dt>
					<dd>2018.07.12 (1일)</dd>
				</dl>
				<dl>
					<dt>마음챗봇 문의</dt>
					<dd><a href="mailto:chatbot@mindslab.ai">chatbot@mindslab.ai</a></dd>
				</dl>
			</div>
		</div>
        <div id="btn_checkup" class="btnBox">
			<div class="lds-heart">
				<div></div>
			</div>
        </div>
	</div>
-->

    <!-- chatbot floating -->
<!--    {% include 'en/common/floatingChat.html' %}-->
    <!-- chatbot floating -->
    
</div>
<!-- //wrap -->
<style type="text/css">
#container:before {content:''; position:absolute; top:0; left:0; width:100%; height:494px; background:url({% static 'chatbot/images/bg_wrap_pricing.jpg' %}) 50% 0 no-repeat; background-size:cover;}
</style>
<input type="hidden" id="AUTH_ID">
<input type="hidden" id="SESSION_ID">

<!-- BEGIN LivePerson Monitor. -->
<!--<script type="text/javascript">window.lpTag=window.lpTag||{},'undefined'==typeof window.lpTag._tagCount?(window.lpTag={wl:lpTag.wl||null,scp:lpTag.scp||null,site:'47095582'||'',section:lpTag.section||'',tagletSection:lpTag.tagletSection||null,autoStart:lpTag.autoStart!==!1,ovr:lpTag.ovr||{},_v:'1.10.0',_tagCount:1,protocol:'https:',events:{bind:function(t,e,i){lpTag.defer(function(){lpTag.events.bind(t,e,i)},0)},trigger:function(t,e,i){lpTag.defer(function(){lpTag.events.trigger(t,e,i)},1)}},defer:function(t,e){0===e?(this._defB=this._defB||[],this._defB.push(t)):1===e?(this._defT=this._defT||[],this._defT.push(t)):(this._defL=this._defL||[],this._defL.push(t))},load:function(t,e,i){var n=this;setTimeout(function(){n._load(t,e,i)},0)},_load:function(t,e,i){var n=t;t||(n=this.protocol+'//'+(this.ovr&&this.ovr.domain?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site);var o=document.createElement('script');o.setAttribute('charset',e?e:'UTF-8'),i&&o.setAttribute('id',i),o.setAttribute('src',n),document.getElementsByTagName('head').item(0).appendChild(o)},init:function(){this._timing=this._timing||{},this._timing.start=(new Date).getTime();var t=this;window.attachEvent?window.attachEvent('onload',function(){t._domReady('domReady')}):(window.addEventListener('DOMContentLoaded',function(){t._domReady('contReady')},!1),window.addEventListener('load',function(){t._domReady('domReady')},!1)),'undefined'===typeof window._lptStop&&this.load()},start:function(){this.autoStart=!0},_domReady:function(t){this.isDom||(this.isDom=!0,this.events.trigger('LPT','DOM_READY',{t:t})),this._timing[t]=(new Date).getTime()},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],hooks:lpTag.hooks||[],identities:lpTag.identities||[],ev:lpTag.ev||[]},lpTag.init()):window.lpTag._tagCount+=1;</script>-->
<!-- END LivePerson Monitor. -->
<script type="text/javascript">
$(window).load(function() {
	$('#page_loading').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
});
</script>


<script type="text/javascript">
function chatSingIn() {
	$.ajax({
		url: 'https://aicc-prd1.maum.ai:9980/api/v3/auth/signIn',
		async: false,
		type: 'POST',
		headers: {
			"Content-Type": "application/json",
			"m2u-auth-internal": "m2u-auth-internal"
		},
		data: JSON.stringify({
			"userKey": "admin",
			"passphrase": "1234"
		}),
		dataType: 'json',
		success: function(data) {
			// console.log(data.directive.payload.authSuccess.authToken);

			document.getElementById('AUTH_ID').value = data.directive.payload.authSuccess.authToken;
			// console.log(document.getElementById('AUTH_ID').value);
			// console.log('login success!')
			// openDialogService(chatbot);
		}, error: function(err) {
			console.log("chatbot Login error! ", err);
		}
	});
}
jQuery.event.add(window,"load",function(){
	$(document).ready(function (){
	    chatSingIn();

        //============ pricing 더 알아보기 버튼 ============//
		$('.tbl_lst .basic').on('click',function(){
			$('.lyrBox').hide();
			$('.lyrmore').fadeIn(300);			
			$('#lyr_more_basic').show();
		});	
		$('.tbl_lst .premium').on('click',function(){
			$('.lyrBox').hide();
			$('.lyrmore').fadeIn(300);			
			$('#lyr_more_premium').show();
		});	
        //		모바일버튼
		$('.tbl_lst_m .basic_m').on('click',function(){
			$('.lyrBox').hide();
			$('.lyrmore').fadeIn(300);			
			$('#lyr_more_basic_m').show();
		});	
		$('.tbl_lst_m .premium_m').on('click',function(){
			$('.lyrBox').hide();
			$('.lyrmore').fadeIn(300);			
			$('#lyr_more_premium_m').show();
		});
		// layer popup(닫기)
		$('.btn_lyr_close, .btn_lyr_cancel, .lyr_bg').on('click',function(){
			$('.lyrmore').fadeOut(300);
			
		});
			
		// pricing section move
		$('.tbl_lst .price_1 a[href^="#"]').on('click', function (e) {
			e.preventDefault();

			var target = this.hash;
			var $target = $(target);

			$('html, body').animate({
				'scrollTop': $target.offset().top
			}, 700, 'swing');
			
		});
		
		// pricing section move
		$('.tbl_lst_m .price_1 a[href^="#"]').on('click', function (e) {
			e.preventDefault();

			var target = this.hash;
			var $target = $(target);

			$('html, body').animate({
				'scrollTop': $target.offset().top
			}, 700, 'swing');
			
		});

        //===========================live chat 플로팅============================//
        $('#btn_flt_cb').on('click', function () {
            $.ajax({
                url: '/en/floating_sully',
                type: 'GET',
                dataType: 'html',
                async: false,
                success: function (data) {
                    $('#livechatWrap').html(data);
                }
            });
        });


	});
});
</script>

<script>
    function  openPrice(evt, priceName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(priceName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>	

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120553152-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120553152-1');
</script>

</body>
</html>
