@charset "utf-8";
/* MINDsLab. UX/UI Team. YMJ. 20180712 */

@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

/* [reset css] */
* {font-family:'Catamaran', sans-serif; word-wrap:break-word;}
html,body {margin:0; padding:0; width:100%; height:100%; font-family:'Catamaran', sans-serif; background:#f6f6ff; font-size:12px; color:#666; line-height:18px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend,em,span {margin:0; padding:0; font-family:'Catamaran', sans-serif;}
table {border-spacing:0; border-collapse:collapse; font-family:'Catamaran', sans-serif;}
th, td {word-break:break-all;}
form,fieldset {display:block;}
form,fieldset,img {border:none;}
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;}
ol,ul,li {list-style:none;}
abbr,acronym {border:none;}
hr {display:none;}
a {text-decoration:none; color:#000; cursor:pointer; font-family:'Catamaran', sans-serif;}
a:link,a:visited {text-decoration:none;}
a:hover,a:active,a:focus {color:#616161; text-decoration:none;}
textarea {overflow:auto; resize:none;}
html:first-child select {padding-right:6px; height:20px;} /* opera 9 & below fix */
option {padding-right:6px;} /* firefox fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* for screen reader */
pre {word-wrap:break-word;}
label {font-family:'Catamaran', sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family:'Catamaran', sans-serif;}
br {background:none !important;}
img {vertical-align:top;}
a:focus, input:focus, textarea:focus, button:focus {outline:none !important;}

input[type=text]:-ms-clear {display:none;}
input[type=text]::-ms-clear {display:none;}

/*
clear:both; display, position(top,left), float, overflow
(min-width, width), (min-height, height) (margin,padding)
font(text-indent, text-align, font-weight, font-size, line-height, font-family, color)
border, background
cursor, z-index, zoom
*/

html,body {background:url(../images/sample/bg_aitrago.png), linear-gradient(to left, #7b4397, #2492dc);}

#header {display:block; position:fixed; top:0; right:0; left:0; min-height:50px;z-index:1000;}
#header h1 {float:left; margin:15px 0 0 50px;}
#header h1 a {display:block; color:rgba(255, 255, 255, 0.7); font-family:'Catamaran', 'Helvetica', 'Arial', 'sans-serif'; font-size:18px; font-weight:200;  line-height:20px; letter-spacing:1px; transition:all 0.3s ease-out;}
#header h1 a:hover {color:rgba(255, 255, 255, 1); transition:all 0.3s ease-out;}

#header .gnb {float:right; margin:15px 50px 0 0 ;}
#header .gnb li {float:left; margin:0 0 0 30px;}
#header .gnb li a {display:block; color:rgba(255, 255, 255, 0.7);  font-family:'Lato', 'Helvetica', 'Arial', 'sans-serif'; font-size:11px; line-height:20px; letter-spacing:2px; text-transform:uppercase; transition:all 0.3s ease-out;}
#header .gnb li a:hover {color:rgba(255, 255, 255, 1); transition:all 0.3s ease-out;}
#header .gnb li.lang { padding: 0 0 0 25px; background: url(../images/sample/aitrago_lang.png) 0 50% no-repeat;}
#header .m_gnb {display:none;}

#container {display:block; width:calc(100% - 100px); height:100%; padding:0 50px;}
.section {display:table; width:100%; height:100%;}

.txtBox {display:table-cell; vertical-align:middle;}
.txtBox .txt {margin-bottom:30px; color:#fff; font-family:'Catamaran', 'Helvetica', 'Arial', 'sans-serif'; font-size:50px; font-weight:200; line-height:1.1; letter-spacing:1px; transition:all 0.3s ease-out;}
.txtBox button {display:inline-block; max-width:500px; padding:15px 45px; font-family:'Lato', 'Helvetica', 'Arial', 'sans-serif'; color:#fff;  font-size:11px; font-weight:normal; line-height:1.42857143; letter-spacing:2px; border:1px solid #fff; border-radius:300px; background:none; cursor:pointer; transition:all 0.3s ease-out;}
.txtBox button:hover {border:1px solid #fdcc52; background:#fdcc52; transition:all 0.3s ease-out;}

.objectBox {display:table-cell; width:33.33333%; min-width: 260px; padding:0 15% 0 0 ; vertical-align:middle; transition:all 0.3s ease-out;}
.objectBox .phone {position:relative; width:100%; height:auto; padding:25% 15px 50px 15px; border:1px solid #e5e5e5; border-radius:40px; box-shadow:0 0 20px rgba(0,0,0,0.3); background:#fff;}
.objectBox .phone:before {content:''; position:absolute; top:5%; left:50%; width:50px; height:7px; margin:0 0 0 -25px; border-radius:10px; background:#e2e2e2;}
.objectBox .phone img {width:100%; border:1px solid #e5e5e5; border-radius:5px; vertical-align: top;}

.btn_fltBox {display:block; position:fixed; bottom:30px; right:30px;}
.btn_fltBox .btnBox {width:95px; height:95px;}
.btn_fltBox .btnBox button {display:block; width:95px; height:95px; line-height:50px; text-indent:-9999px; border:none; background-color:#2492dc; border-radius:100px;  z-index:1000; opacity:1.0; transition:all 0.3s ease-out; cursor:pointer;}
.btn_fltBox .btnBox button:hover {background-color:#fdcc52 !important; box-shadow:0 0 15px rgba(0,0,0,0.5); opacity:1; transition:all 0.3s ease-out;}
.btn_fltBox .btnBox button.btn_flt_cb {background:#2492dc url(../images/ico_chat.png) 50% 40% no-repeat;}

#cahtbotWrap {overflow:hidden; position:fixed; bottom:30px; right:30px; width:500px; height:0; max-height:80%; min-height:0; border-radius:15px; background:#fff; box-shadow:2px 2px 5px rgba(0,0,0,0.5); opacity:0; z-index:9999;}

@media screen and (max-width:1250px) {
.txtBox .txt{font-size:35px; transition:all 0.3s ease-out;}
.objectBox  {padding:0 10% 0 0 ; stransition:all 0.3s ease-out;}
}


@media screen and (max-width:768px) {
#header { background:rgba(255,255,255,1)}
#header h1 {margin:15px 0 0 15px;}
#header h1 a {color:#fdcc52;}

#header .gnb {margin:0 15px 0 0 ;}
#header .gnb ul {display:none; }
#header .m_gnb {display:block; margin:7px 0 0 0; padding:8px 25px 8px 10px; color:#616161; font-size: 12px; border:1px solid #ddd; border-radius:4px; background: url(../images/sample/aitrago_ham.png) right 8px top 50% no-repeat;}


	#container {width: calc(100% - 30px); padding:0 15px;}

.section {display:block; }
.txtBox {display:block; padding: 150px 0 50px;text-align: center;}
.txtBox .txt  {font-size: 30px; }
.objectBox {display:block; width: 100%; margin:0 0 50px 0; padding: 0; text-align: center;}
.objectBox .phone { width: calc(100% - 42px); margin: 0 auto;  padding:50px 20px 40px 20px;}

/* cahtbot floating */
#cahtbotWrap {bottom:0; right:0; width:100%; height:0; min-height:0; border-radius:0; background:#fff; box-shadow:none; opacity:0; z-index:9999;}

.btn_fltBox {bottom:5px; right:5px;}
.btn_fltBox .btnBox {width:50px; height:50px;}
.btn_fltBox .btnBox button {display:block; width:50px; height:50px;}
.btn_fltBox .btnBox button:hover {background-color:#fdcc52 !important; box-shadow:0 0 10px rgba(0,0,0,0.5);  opacity:1; transition:all 0.3s ease-out;}
.btn_fltBox .btnBox button.btn_flt_cb {background:#2492dc url(../images/ico_chat.png) 50% 50% no-repeat; background-size:50%;}
}


