@charset "utf-8";
/* MINDsLab. UX/UI Team. YMJ. 20180703 */ 

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

/* [reset css] */
* {font-family:Noto Sans KR, sans-serif; word-wrap:break-word;}
html,body {margin:0; padding:0; width:100%; height:100%; font-family:Noto Sans KR, sans-serif; background:#f6f6ff; font-size:12px; color:#666; line-height:18px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend,em,span {margin:0; padding:0; font-family:Noto Sans KR, sans-serif;} 
table {border-spacing:0; border-collapse:collapse; font-family:Noto Sans KR, sans-serif;}
th, td {word-break:break-all;}
form,fieldset {display:block;}
form,fieldset,img {border:none;} 
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;} 
ol,ul,li {list-style:none;} 
abbr,acronym {border:none;} 
hr {display:none;}
a {text-decoration:none; color:#000; cursor:pointer; font-family:Noto Sans KR, sans-serif;}
a:link,a:visited {text-decoration:none;}
a:hover,a:active,a:focus {color:#616161; text-decoration:none;}
textarea {overflow:auto; resize:none;} 
html:first-child select {padding-right:6px; height:20px;} /* opera 9 & below fix */ 
option {padding-right:6px;} /* firefox fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* for screen reader */ 
pre {word-wrap:break-word;}
label {font-family:Noto Sans KR, sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family:Noto Sans KR, sans-serif;}
br {background:none !important;}
img {vertical-align:top;}
a:focus, input:focus, textarea:focus, button:focus {outline:none !important;}chatbot_contents

input[type=text]:-ms-clear {display:none;}
input[type=text]::-ms-clear {display:none;}

/*
clear:both; display, position(top,left), float, overflow
(min-width, width), (min-height, height) (margin,padding)
font(text-indent, text-align, font-weight, font-size, line-height, font-family, color)
border, background
cursor, z-index, zoom
*/

/*page loading  */ 
.page_ldWrap {display:block; position:fixed; top:0; left:0; width:100%; height:100%; background:#5f7edb; z-index:9999;}
.page_ldBox {position:absolute; top:50%; left:50%; width:40px; height:40px; margin:-20px 0 0 -20px; background-color:#fff; -webkit-animation:page_loding 1.2s infinite ease-in-out; animation:page_loding 1.2s infinite ease-in-out;}

@-webkit-keyframes page_loding {
  0% {-webkit-transform:perspective(120px) }
  50% {-webkit-transform:perspective(120px) rotateY(180deg) }
  100% {-webkit-transform:perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes page_loding {
  0% {
    transform:perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform:perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% {
    transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% {
    transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

@-webkit-keyframes pageldg_hide {
0% {opacity:1;}
100% {opacity:0;}
}

@keyframes pageldg_hide {
0% {opacity:1;}
100% {opacity:0;}
}

/*===== 공통 =====*/
.lot_c {display:block; clear:both; position:relative; width:1170px; height:100%; margin:0 auto; padding:0 20px;}

.cl_b {clear:both; overflow:hidden;}
.fl {float:left;}
.fr {float:right;}

/* background */ 
#maumWrap {position:relative; width:100%; height:100%;}

/* header */
#header {position:fixed; top:0; left:0; width:100%; z-index:1000; transform:translateY(0px); transition:all 0.3s ease-out;}
#header .sta {position:relative; width:1200px; min-height:100px; margin:0 auto; transition:all 0.5s ease-out;}
#header .sta h1 {position:absolute; top:45px; left:0; z-index:8888;}
#header .sta h1 a {display:block;}

#header .sta .etcMenu {position:absolute; top:26px; right:0; z-index:8888;}
#header .sta .etcMenu ul {}
#header .sta .etcMenu ul li {float:left; margin:0 0 0 10px;}
#header .sta .etcMenu ul li a {display:block; width:30px; height:30px; background-size:20px !important;}

#header .sta .etcMenu ul li.srch a {background:url(../../images/ico_srch.png) 50% 50% no-repeat;}
/* #header .sta .etcMenu ul li.login a {background:url(../images/ico_login02.png) 50% 50% no-repeat;} */

#header .sta .etcMenu ul li.login a {width:110px; height:36px; color:#fff; font-size:15px; font-weight:500; line-height:34px; border:2px solid #fff; border-radius:5px; transition:all 0.3s ease-out;}
#header .sta .etcMenu ul li.login span {display:block; width:110px; height:36px; color:#666; font-size:15px; font-weight:500; line-height:34px; border:2px solid #666; border-radius:5px; transition:all 0.3s ease-out;}
#header .sta .etcMenu ul li.login a:hover {color:#000; background:#fff; transition:all 0.3s ease-out;}

#header.fixed {position:fixed; transform:translateY(-20px); background:rgba(109,150,254,0.8); transition:all 0.3s ease-out;}
#header.bg_clor {background:rgba(0,0,0,0.7);}

/* header (GNB) */
#header .gnb {position:absolute; top:0; width:100%;}
#header .gnb .gnbNavBox {width:1200px; min-height:100px; margin:0 auto;}
#header .gnb .gnbNavBox ul.gnbNav {float:right; margin:40px 0 0 0;}
#header .gnb .gnbNavBox ul.gnbNav> li {float:left; margin:0 0 0 73px;}
#header .gnb .gnbNavBox ul.gnbNav li h2 {float:left;}
#header .gnb .gnbNavBox ul.gnbNav li h2 a {display:block; position:relative; color:#fff; font-family:'Roboto', sans-serif; font-size:20px; font-weight:400; line-height:36px;}
#header .gnb .gnbNavBox ul.gnbNav li h2 a:after {content:''; position:absolute; bottom:0; left:50%; width:0; height:2px; background:#fff; opacity:0; transition:all 0.3s ease-out;}
#header .gnb .gnbNavBox ul.gnbNav li h2 a:hover:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:2px; background:#fff; opacity:1.0; transition:all 0.3s ease-out;}
#header .gnb .gnbNavBox ul.gnbNav li h2 a:focus:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:2px; background:#fff; opacity:1.0; transition:all 0.3s ease-out;}
#header .gnb .gnbNavBox ul.gnbNav li h2 a.active {color:#fff; font-weight:700;}
#header .gnb .gnbNavBox ul.gnbNav li h2 a.active:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:2px; background:#fff; opacity:1.0;}

#header .gnb .gnbNavBox ul.gnbNav li h2 span {display:block; height:80px; color:#666; font-size:15px; font-weight:500; line-height:60px;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem {display:none;  position:absolute; top:80px; left:0; width:100%; min-height:300px; background:#161d2f;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .lot_c {display:table;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox {display:table-cell; width:25%; padding:30px 0;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox:last-child {margin:0;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl {display:block; margin:0 10px 0 0;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dt {display:block; padding:0 13px 7px 13px; color:#d0dbf2; font-size:15px; font-weight:500; border-bottom:1px solid rgba(255,255,255,0.2)}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dt span {display:block; height:25px; padding:0 0 0 33px;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dt.ico_voice span {background:url(../../images/ico_voice.png) 0 0 no-repeat;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dt.ico_visual span {background:url(../../images/ico_visual.png) 0 0 no-repeat;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dt.ico_int span {background:url(../../images/ico_int.png) 0 0 no-repeat;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dt.ico_lang span {background:url(../../images/ico_lang.png) 0 0 no-repeat;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dt.ico_cvs span {background:url(../../images/ico_cvs.png) 0 0 no-repeat;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dd {display:block; padding:12px 15px;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dd ul.lst {display:block;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dd ul.lst li {display:block; margin:0 0 12px 0;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dd ul.lst li:last-child {margin:0;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dd ul.lst li a {display:inline-block; color:#fff; font-size:14px; font-weight:300; letter-spacing:-0.5px; transition:all 0.3s ease-out;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dd ul.lst li a b {font-weight:normal; margin:0 7px 0 0;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dd ul.lst li span {display:inline-block; color:#666; font-size:14px; font-weight:300; letter-spacing:-0.5px;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dd ul.lst li a:hover, #header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dd ul.lst li a:focus {color:#3375fa; transition:all 0.3s ease-out;}
#header .gnb .gnbNavBox ul.gnbNav li .gnbItem .itemBox dl dd ul.lst li a em.new {display:inline-block; padding:3px 5px; color:#161d2f; font-size:10px; line-height:10px; border-radius:3px; background:#23c5de;}

#header .gnb .gnbNavBox ul.gnbNav li .gnbItem.open {display:block; transition:all 0.3s ease-out;}

.lnb {display:none;  position:relative; width:100%; border-top:1px solid rgba(255,255,255,0.1); border-bottom:1px solid rgba(255,255,255,0.1);}
.lnb .lot_c {text-align:center;}
.lnb h2 {display:inline-block; margin:0 20px 0 0; color:#666; font-size:15px; font-weight:500;}
.type_stt .lnb h2 {color:#5a5ad1; padding:15px 0 15px 35px; background:url(../../images/ico_productLst_stt_s.png) 0 center no-repeat; background-size:25px auto;}

.lnb ul.nav {display:inline-block;}
.lnb ul.nav li {display:inline-block; margin:0 20px;}
.lnb ul.nav li a {display:block; padding:5px 15px; color:#fff; font-size:15px; font-weight:500;}
.lnb ul.nav li a.point {border-radius:30px; background:#5a5ad1;}

/* aside */
.aside {display:block; position:fixed; top:0; right:0; width:0; height:100%; z-index:500; background:#fff; box-shadow:3px 0 7px #000;}

/* aside (top) */
.aside .aside_top {display:block; padding:25px 0;}
.aside .aside_top h1 {display:block; height:20px; text-align:center;}
.aside .aside_top h1 img {height:100%;}

/* aside (mid) */
.aside .aside_mid {display:block; padding:0 25px;}
.aside .aside_mid .m_nav {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li h2 {display:block; height:45px; border-bottom:1px solid #d2d2d2;}
.aside .aside_mid .m_nav li h2 a {display:block; color:#222c46; font-size:15px; font-weight:500px; line-height:45px; text-align:center;}
.aside .aside_mid .m_nav li h2 span {display:block; color:#999; font-size:15px; font-weight:500px; line-height:45px; text-align:center;}
.aside .aside_mid .m_nav li ul.m_lst {display:none;}
.aside .aside_mid .m_nav li ul.m_lst li {display:block;}
.aside .aside_mid .m_nav li ul.m_lst li h3 {clear:both; overflow:hidden;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a {display:block; height:38px; padding:0 18px; color:#687083; font-size:15px; font-weight:normal; line-height:38px; background:url(../../images/ico_plus.png) right 18px center no-repeat; background-color:#eef1fa; background-size:10px;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a.active {background:url(../../images/ico_minus.png) right 18px center no-repeat; background-color:#eef1fa; background-size:10px;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span {display:inline-block; padding:0 0 0 30px; background-size:20px !important;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_voice {background:url(../../images/ico_aside_voice.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_visual {background:url(../../images/ico_aside_visual.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_int {background:url(../../images/ico_aside_int.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_lang {background:url(../../images/ico_aside_lang.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li h3 a span.ico_cvs {background:url(../../images/ico_aside_cvs.png) 0 50% no-repeat;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub {display:none; padding:5px 18px; background:#f8f9fe;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li {display:block;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a {display:block; min-height:30px; color:#161d2f; font-size:13px; line-height:18px;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a b {font-weight:normal;  margin:0 5px 0 0;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a.active {color:#3375fa;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li a em.new {display:inline-block; padding:3px 5px; color:#fff; font-size:10px; line-height:10px;  border-radius:3px; background:#23c5de;}
.aside .aside_mid .m_nav li ul.m_lst li ul.m_lst_sub li b {display:block; min-height:30px; color:#999; font-size:13px; line-height:22px; font-weight:normal;}

/* aside (bottom) */
.aside .aside_btm {display:block; margin:70px 0 30px 0; padding:0 25px;}
.aside .aside_btm ul {clear:both; overflow:hidden;}
.aside .aside_btm ul li {display:block; margin-bottom:10px; text-align:center;}
.aside .aside_btm ul li a {display:inline-block; min-width:135px; height:26px; padding:0 0 0 30px; color:#687083; font-size:14px; font-weight:normal; line-height:26px;}
.aside .aside_btm ul li.btn_mail a {background:url(../../images/ico_aside_mail.png) 0 50% no-repeat; background-size:22px;}
.aside .aside_btm ul li.btn_tel a {background:url(../../images/ico_aside_tel.png) 0 50% no-repeat; background-size:22px;}


.bg_aside {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,1.0); opacity:1.0; z-index:100;}

/* header_햄버거버튼 */
.btn_header_ham {display:none; width:50px; height:50px; position:fixed; top:0; right:0; z-index:2000; border:none; box-sizing:border-box; background:none; opacity:0.6; cursor:pointer;}
.btn_header_ham.active {position:fixed;left:0; opacity:1.0;}
.hamburger_icon {position:relative; top:50%; left:50%; margin:-1px 0 0 -13px; width:25px; height:3px; background:#fff; border-radius:3px;}
.hamburger_icon, .hamburger_icon:before {display:block; width:25px; height:3px; border-radius:3px; background-color:rgba(255, 255, 255, 1.0);}
.hamburger_icon:after {display:block; top:9px; right:0; width:15px; height:3px; border-radius:3px; background-color:rgba(255, 255, 255, 1.0);}
.hamburger_icon:before, .hamburger_icon:after {position:absolute; content:"";}
.hamburger_icon:before {top:-9px; background-color:#fff;}

/* container */
#container {position:relative; padding:100px 0 0 0;}

/* main_vsalBox */
.main_vsalBox {overflow:hidden; margin:0 0 50px 0; padding:105px 0 0 0;}
.main_vsalBox .fl {padding:0 0 0 10px;}
.main_vsalBox .fr {width:640px; padding:0 0 0 30px;}
.main_vsalBox .main_vsalTxt {clear:both; margin:20px 0 0 0;}
.main_vsalBox .main_vsalTxt dl {display:block; color:#fff;}
.main_vsalBox .main_vsalTxt dl dt {display:block;}
.main_vsalBox .main_vsalTxt dl dt span {display:block; font-family:'Roboto', sans-serif; font-size:60px; font-weight:500; line-height:70px;}
.main_vsalBox .main_vsalTxt dl dt em {display:block; padding:10px 0 0 0; font-family:'NanumSquare', sans-serif; font-size:50px; font-weight:700; line-height:60px;}
.main_vsalBox .main_vsalTxt dl dd {display:block;}
.main_vsalBox .main_vsalTxt dl dd.txt {padding:30px 0 0 0; font-family:'NanumSquare', sans-serif; font-size:20px; font-weight:400; line-height:35px; letter-spacing:-1px;}
.main_vsalBox .main_vsalTxt dl dd.btn {padding:30px 0 0 0;}
.main_vsalBox .main_vsalTxt dl dd.btn button {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#5f7edb; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.main_vsalBox .main_vsalTxt dl dd.btn button:hover {color:#fff; background:#6d96fe; box-shadow:0 0 20px #5778b9; transition:all 0.3s ease-out;}

/* sub title */
.sub_titleArea {clear:both; overflow:hidden; height:310px; text-align:center;}
.sub_titleArea h2 {display:inline-block; margin:60px 0 0 0; padding:35px 65px; color:#fff; font-family:'Roboto', sans-serif; font-size:55px; font-weight:500; line-height:70px; border:5px solid rgba(133,168,254,0.5); letter-spacing:-1px; vertical-align:middle; text-transform:uppercase;}

/* features */
.roundBox {display:block; clear:both; position:relative; width:1200px; height:100%; margin:0 auto; padding:0 20px;}
.roundBox .lot_c {display:block; clear:both; position:relative; width:calc(100% - 90px); margin:0 0 60px 0; padding:45px; border-radius:15px; box-shadow:0 0 20px rgba(74,103,151,0.1); background:#fff;}
.h3Box_c {display:block; position:relative; margin:0 0 45px 0; text-align:center;}
.h3Box_c h3 {display:inline-block; color:#656563; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; line-height:24px; letter-spacing:2px; text-transform:uppercase;}
.h3Box_c h3:before {content:''; display:inline-block; width:60px; height:1px; margin:-1px 20px 0 0; vertical-align:middle; background:#c1c1c1;}
.h3Box_c h3:after {content:'';display:inline-block; width:60px; height:1px; margin:-1px 0 0 20px; vertical-align:middle; background:#c1c1c1;}
.h3Box_txt {display:block; color:#6f7a96; font-size:17px; font-weight:300; line-height:25px; word-break:keep-all;}
.roundBox .itembox {display:table; width:100%;}
.roundBox .itembox .item {display:table-cell; padding:0 30px; text-align:center; vertical-align:top;}
.roundBox .itembox .item .thumb {display:block; min-height:72px; margin:0 0 45px 0; vertical-align:middle;}
.roundBox .itembox .item:last-child .thumb img {margin:7px 0 0 0;}
.roundBox .itembox .item .tit {display:block; margin:0 0 20px 0; color:#434345; font-size:17px; font-weight:300; letter-spacing:-1px;}
.roundBox .itembox .item .tit .ft_point {display:block; padding:0 0 10px 0; color:#5f7edb; font-size:20px; font-weight:400;}
.roundBox .itembox .item .txt {display:block; color:#6b6f7c; font-size:15px; font-weight:300; line-height:22px; letter-spacing:-1px;}

.wideBox_w {clear:both; overflow:hidden; padding:65px 0 75px 0; text-align:center; background:#fff;}
.wideBox_w .h3Box_c {margin-bottom:35px;}

.wideBox_b {clear:both; overflow:hidden; padding:150px 0 100px 0; text-align:center; background:#6d96fe;}
.wideBox_b .h3Box_c {display:block; position:relative; margin:0 0 45px 0; text-align:center;}
.wideBox_b .h3Box_c h3 {display:inline-block; color:#fff; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; line-height:24px; letter-spacing:2px; text-transform:uppercase;}
.wideBox_b .h3Box_c h3:before {content:''; display:inline-block; width:60px; height:1px; margin:-1px 20px 0 0; vertical-align:middle; background:#fff;}
.wideBox_b .h3Box_c h3:after {content:'';display:inline-block; width:60px; height:1px; margin:-1px 0 0 20px; vertical-align:middle; background:#fff;}
.wideBox_b .h3Box_txt {display:block; color:#fff; font-size:17px; font-weight:300; line-height:25px; word-break:keep-all;}

.lineBox {display:block; clear:both; position:relative; width:1120px; height:100%; margin:60px auto; padding:30px 40px; text-align:center; border:1px solid #e1e1e0; background:#fff;}
.lineBox .lot_c {width:auto;}

/* Demo video */
.videoBox {display:block; clear:both; overflow:hidden; position:relative; width:1200px; height:100%; margin:0 auto; padding:10px 0 70px 0;}
.videoBox .lot_c {width:100%; padding:0;}
.videoBox .fl {}
.videoBox .fr {width:390px;}
.videoBox .vidoeTxt dl {display:block; text-align:left;}
.videoBox .vidoeTxt dl dt {display:block; padding:100px 0 0 0;}
.videoBox .vidoeTxt dl dt.h3Box_r {}
.videoBox .vidoeTxt dl dt.h3Box_r h3 {display:block; color:#656563; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; line-height:24px; text-transform:uppercase;}
.videoBox .vidoeTxt dl dt.h3Box_r h3:after {content:'';display:inline-block; width:60px; height:1px; margin:-1px 0 0 20px; vertical-align:middle; background:#c1c1c1;}
.videoBox .vidoeTxt dl dt.h3Box_r span {display:block; padding:10px 0 0 0; color:#434345;  font-family:'Roboto', sans-serif; font-size:40px; font-weight:300;  text-transform:none;}
.videoBox .vidoeTxt dl dd {display:block;}
.videoBox .vidoeTxt dl dd.txt {padding:40px 0 0 0; color:#6f7a96; font-family:'NanumSquare', sans-serif; font-size:17px; font-weight:400; line-height:30px; word-break:keep-all; letter-spacing:-1px;}

.clorBox {clear:both; overflow:hidden; padding:80px 0; background:#333e52;}
.clorBox .itemBox  {display:block; width:100%;}
.clorBox .itemBox .item {float:left; width:264px; min-height:312px; margin:0 14px 0 0; padding:35px 9px; background:#fff;}
.clorBox .itemBox .item:last-child {margin:0;}
.clorBox .itemBox .item dl {display:block; text-align:center;}
.clorBox .itemBox .item dl dt {display:block; margin:0 0 25px 0;}
.clorBox .itemBox .item dl dd {display:block;}
.clorBox .itemBox .item dl dd.txt {min-height:80px; margin:0 0 20px 0; color:#333e52; font-size:15px; font-weight:400; line-height:22px; letter-spacing:-1px;}
.clorBox .itemBox .item dl dd ul.lst {min-height:170px; padding:28px 13px 0 13px; text-align:left; border-radius:10px; background:#f6f6ff;}
.clorBox .itemBox .item dl dd ul.lst li {display:block; margin:0 0 15px 0; padding:0 0 0 25px; color:#6f7a96; font-size:14px; line-height:20px; letter-spacing: -1px; background:url(../../images/ico_check_on.png) 0 0 no-repeat;}
.clorBox .itemBox .item dl dd ul.lst li:last-child {margin:0;}

.wideBox_b .itemBox  {display:block; overflow:hidden; width:100%; padding:80px 0;}
.wideBox_b .itemBox .item {float:left; width:220px; min-height:450px; margin:0 14px 0 0; padding:35px 30px; background:#fff;}
.wideBox_b .itemBox .item:last-child {margin:0;}
.wideBox_b .itemBox .item dl {display:block; text-align:center;}
.wideBox_b .itemBox .item dl dt {display:block; margin:0 0 25px 0; text-align:center;}
.wideBox_b .itemBox .item dl dt span {display:block; }
.wideBox_b .itemBox .item dl dt span.thumb {display:inline-block; overflow:hidden; width:150px; height:150px; margin:0 0 15px 0; border-radius:100px;}
.wideBox_b .itemBox .item dl dt span.thumb img {width:100%;}
.wideBox_b .itemBox .item dl dt span.bot {margin:0 0 5px 0; color:#656563; font-size:25px; font-weight:300; line-height:36px; letter-spacing:-1px;}
.wideBox_b .itemBox .item dl dt span.botName {color:#6d96fe; font-size:20px; font-weight:300; letter-spacing:-1px;}
.wideBox_b .itemBox .item dl dd {display:block; color:#8a8a8a; font-size:15px; font-weight:300; text-align:center; line-height:23px; letter-spacing:-1px;}
.wideBox_b .itemBox .item dl dd.txt {min-height:80px; margin:0 0 20px 0; color:#8a8a8a; font-size:15px; font-weight:300; text-align:center; line-height:23px; letter-spacing:-1px;}
.wideBox_b .btn {display:block; text-align:center;}
.wideBox_b .btn button {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#6d96fe; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.wideBox_b .btn button:hover {color:#fff; background:#354b86 ; transition:all 0.3s ease-out;}

/* 문의하기 */
.api_contact {padding:45px 0; background:url(../../images/bg_api_contact.png) 50% 50% no-repeat; background-size:cover;}
.api_contact .stn_tit {clear:both; overflow:hidden; position:relative; margin:0 0 15px 0;}
.api_contact .stn_tit h3 {margin:30px 0; color:#c4c4c4; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; line-height:30px; text-transform:uppercase;}
.api_contact .stn_tit h3:after {content:''; position:absolute; top:45px; left:120px; width:60px; height:1px; background:#c3c3c3; opacity:0.6;}
.api_contact .stn_tit h3 span {display:block; padding:10px 0 0 0; color:#fff;  font-family:'Roboto', sans-serif; font-size:40px; font-weight:300;  text-transform:none;}
.contactBox {display:block; width:100%;}
.api_contact .leftBox {float:left;  vertical-align:top;}
.api_contact .leftBox .leftTxtBox {display:block;}
.api_contact .leftBox .leftTxtBox p {clear:both; overflow:hidden; margin:0 0 70px 0; color:#f8f9fe; font-size:15px; font-weight:500; line-height:26px;}

.api_contact .leftBox .contact_lst {display:block;}
.api_contact .leftBox .contact_lst> li {display:block; margin:0 0 15px 0;}
.api_contact .leftBox .contact_lst> li a {display:inline-block; height:24px; padding:0 0 0 40px; color:#fff; font-size:15px; font-weight:300; line-height:24px; opacity:0.5; transition:all 0.3s ease-out;}
.api_contact .leftBox .contact_lst> li a:hover, .api_contact .leftBox .contact_lst> li a:focus {opacity:1.0; transition:all 0.3s ease-out;}
.api_contact .leftBox .contact_lst li.btn_tel a {background:url(../../images/ico_contact_tel.png) 0 50% no-repeat;}
.api_contact .leftBox .contact_lst li.btn_mail a {background:url(../../images/ico_contact_mail.png) 0 50% no-repeat;}
.api_contact .leftBox .contact_lst li.btn_web a {background:url(../../images/ico_contact_web.png) 0 50% no-repeat;}
.api_contact .leftBox .contact_lst ul.social_lst {display:block; padding:15px 0 0 0;}
.api_contact .leftBox .contact_lst ul.social_lst li {float:left; margin:0 35px 0 0;}
.api_contact .leftBox .contact_lst ul.social_lst li:last-child {margin:0;}
.api_contact .leftBox .contact_lst ul.social_lst li a {display:block; height:26px; padding:0 0 0 40px; color:#fff; font-size:15px; font-weight:300; line-height:24px; opacity:0.5; transition:all 0.3s ease-out;}
.api_contact .leftBox .contact_lst ul.social_lst li a:hover, .api_contact .leftBox .contact_lst ul.social_lst li a:focus {opacity:1.0; transition:all 0.3s ease-out;}
.api_contact .leftBox .contact_lst ul.social_lst li.btn_fb a {background:url(../../images/ico_social_facebook.png) 0 0 no-repeat;}
.api_contact .leftBox .contact_lst ul.social_lst li.btn_ld a {background:url(../../images/ico_social_linkedin.png) 0 0 no-repeat;}

.api_contact .contact {float:right; width:400px; padding:40px 70px; border-radius:10px; box-shadow:0 0 20px rgba(34,44,70,0.3); background:rgba(255,255,255,0.1);}
.api_contact .contact .fl {width:49%;}
.api_contact .contact .fr {width:49%;}
.api_contact .contact .txtfield {position:relative; display:block; overflow:hidden; margin:0 0 10px 0;}
.api_contact .contact .txtfield.pdBox {padding:20px; border-radius:25px; background:#fff;}
.api_contact .contact .txtfield label {position:absolute; top:10px; left:15px; color:#6f7ea2; font-size:16px; line-height:26px;}
.api_contact .contact .txtfield .select {width:100%; height:42px; color:#434345; font-size:14px; line-height:26px; text-indent:2px; border:1px solid #fff; border-radius:5px; transition:all 0.3s ease-out; -webkit-appearance:none;/* 화살표 없애기 for chrome*/ -moz-appearance:none;/* 화살표 없애기 for firefox*/ appearance:none;/* 화살표 없애기 공통*/ background:#fff url(../images/ico_arrow_select.png) 95% 50% no-repeat;}
.api_contact .contact .txtfield .select::-ms-expand {display:none;/* 화살표 없애기 for IE10, 11*/}
.api_contact .contact .txtfield .input_txt {width:calc(100% - 2px); height:45px; color:#434345; font-size:14px; line-height:26px; text-indent:20px; border:1px solid #fff; border-radius:30px; transition:all 0.3s ease-out;}
.api_contact .contact .txtfield .textArea {width:100%; padding:0; color:#434345; font-size:14px; line-height:26px; border:1px solid #fff; resize:none; box-shadow:none; outline:none;}

.api_contact .btnBox {display:table; width:100%; text-align:center;}
.api_contact .btnBox li {display:table-cell; width:50%; padding:0 5px; text-align:center;}
.api_contact .btnBox li:last-child {padding:0 0 0 5px;}
.api_contact .btnBox li button {display:inline-block; width:280px; height:60px; color:#3375fa; font-size:15px; font-weight:500; border:none; letter-spacing:2px; border-radius:30px; background:#fff; text-transform:uppercase; cursor:pointer;}
.api_contact .btnBox li button.btn_clor {color:#fff; background:#6d96fe; transition:all 0.3s ease-out;}
.api_contact .btnBox li button.btn_clor:hover {background:#9696f7; transition:all 0.3s ease-out;}

.api_contact ul.btnBox li { position:relative;}
.api_contact ul.btnBox li .disBox {position:absolute; top:0; left:0; width:100%; height:100%;}

/* btn_goTop button */
.btn_goTop {display:none; position:fixed; bottom:0; right:0;}
.btn_goTop button {display:block; width:50px; height:50px; line-height:50px; text-indent:-9999px; border:1px solid #999; background:#999 url(../../images/ico_arwUp_w.png) 50% 50% no-repeat; z-index:1000; opacity:0.6; transition:all 0.3s ease-out; cursor:pointer;}
.btn_goTop button:hover {border:1px solid #3375fa; background:#3375fa url(../../images/ico_arwUp_w.png) 50% 40% no-repeat; opacity:1; transition:all 0.3s ease-out;}

.btn_fltBox {display:block; position:fixed; bottom:30px; right:30px;}
.btn_fltBox .btnBox {width:95px; height:95px;}
.btn_fltBox .btnBox button {display:block; width:95px; height:95px; line-height:50px; text-indent:-9999px; border:none; background-color:#354b86; border-radius:100px;  z-index:1000; opacity:1.0; transition:all 0.3s ease-out; cursor:pointer;}
.btn_fltBox .btnBox button:hover {background-color:#3375fa !important; box-shadow:0 0 10px #889bbb; opacity:1; transition:all 0.3s ease-out;}
.btn_fltBox .btnBox button.btn_flt_cb {background:#354b86 url(../../images/ico_chat.png) 50% 40% no-repeat;}

/* footer */
#footer {position:relative; clear:both; overflow:hidden; width:100%; margin:0; background:#2b2b2c;}
#footer .f_logo {float:left;}
#footer .cyrt {display:block; height:52px; color:#c5c5c5; font-size:12px; font-weight:300; text-align:center; line-height:52px; opacity:1;}

/* cahtbot floating */
#cahtbotWrap {overflow:hidden; position:fixed; bottom:30px; right:30px; width:500px; height:0; max-height:80%; min-height:0; border-radius:15px; background:#fff; box-shadow:2px 2px 5px rgba(0,0,0,0.5); opacity:0; z-index:9999;}

/* cahtbot rolling */
.cahtbot_lst {position:fixed; bottom:140px; right:30px; width:100%; max-width:260px; height:25px; padding:0 0 10px 0; border-radius:5px; box-shadow:0 0 15px rgba(74,103,151,0.1); background:rgba(255,255,255,1.0);}
.cahtbot_lst:before {content:''; position:absolute; bottom:-10px; right:50px; border-top:10px solid transparent; border-right:10px solid #fff;  border-bottom:10px solid transparent;}
.cahtbot_lst:after {content:''; position:absolute; bottom:-10px; right:40px; border-top:10px solid transparent; border-left:10px solid #fff;  border-bottom:10px solid transparent;}
.cahtbot_lst .overflow {overflow:hidden; height:30px;}
.cahtbot_lst ul {width:100%; text-align:center;}
.cahtbot_lst ul li {display:block; line-height:28px;}
.cahtbot_lst ul li a {display:block; color:#656563; font-size:14px; vertical-align:middle;}
.cahtbot_lst ul li a span:after {content:''; display:inline-block; width:25px; height:25px; margin:0 0 0 10px; border-radius:20px; vertical-align:top;}
.cahtbot_lst ul li.ico_sully span:after {background:url(../../images/ico_bot_sully.png) 50% 50% no-repeat; background-size:100%;}
.cahtbot_lst ul li.ico_joey span:after {background:url(../../images/ico_bot_joey.png) 50% 50% no-repeat; background-size:100%;}
.cahtbot_lst ul li.ico_mini span:after {background:url(../../images/ico_bot_mini.png) 50% 50% no-repeat; background-size:100%;}
.cahtbot_lst ul li.ico_noah span:after {background:url(../../images/ico_bot_noah.png) 50% 50% no-repeat; background-size:100%;}
.cahtbot_lst ul li.ico_ttubot span:after {background:url(../../images/ico_bot_ttubot.png) 50% 50% no-repeat; background-size:100%;}

/* Event contact us */
.contact_event {padding:45px 0; background:url(../../images/bg_api_contact.png) 50% 50% no-repeat; background-size:cover;}
.contact_event .h3Box_c {display:block; position:relative; margin:0 0 45px 0; text-align:center;}
.contact_event .h3Box_c h3 {display:inline-block; color:#c4c4c4; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; line-height:24px; letter-spacing:2px; text-transform:uppercase;}
.contact_event .h3Box_c h3:before {content:''; display:inline-block; width:60px; height:1px; margin:-1px 20px 0 0; vertical-align:middle; background:#c3c3c3; opacity:0.6;}
.contact_event .h3Box_c h3:after {content:'';display:inline-block; width:60px; height:1px; margin:-1px 0 0 20px; vertical-align:middle; background:#c3c3c3; opacity:0.6;}
.contact_event .h3Box_cont {text-align:center;}
.contact_event .h3Box_cont .txt {display:block; margin:0 0 30px 0; color:#fff; font-size:17px; font-weight:300; line-height:25px;}
.contact_event .h3Box_cont .contact_lst {display:block;}
.contact_event .h3Box_cont .contact_lst> li {display:inline-block; margin:0 30px 15px ;}
.contact_event .h3Box_cont .contact_lst> li:last-child {margin-right:0;}
.contact_event .h3Box_cont .contact_lst> li a {display:inline-block; height:24px; padding:0 0 0 40px; color:#fff; font-size:15px; font-weight:300; line-height:24px; opacity:0.5; transition:all 0.3s ease-out;}
.contact_event .h3Box_cont .contact_lst> li a:hover, .contact_event .h3Box_cont .contact_lst> li a:focus {opacity:1.0; transition:all 0.3s ease-out;}
.contact_event .h3Box_cont .contact_lst li.btn_tel a {background:url(../../images/ico_contact_tel.png) 0 50% no-repeat;}
.contact_event .h3Box_cont .contact_lst li.btn_mail a {background:url(../../images/ico_contact_mail.png) 0 50% no-repeat;}

/* layer popup */
.layerPop {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index:9999;}

/* apply */
.applyBox {overflow:hidden; position:absolute; top:50%; left:50%; width:600px; height:500px; margin:-250px 0 0 -300px; border-radius:15px; box-shadow:0 0 20px rgba(74,103,151,0.1); background:#f6f6ff;}
.applyBox .tit {clear:both; overflow:hidden; color:#fff; font-family:'NanumSquare', sans-serif; font-size:17px; font-weight:700; padding:20px 25px; background:#333e52 url(../../images/ico_bot_mini.png) right 10px bottom 0 no-repeat; background-size:50px auto;}
.applyBox .cont {clear:both; overflow:hidden; padding:40px 30px; background:#fff;}
.applyBox .cont dl {display:table; width:100%; margin:0 0 20px 0;}
.applyBox .cont dl:last-child {margin:0;}
.applyBox .cont dl dt {display: table-cell; width:120px;}
.applyBox .cont dl dt label {color:#333e52; font-family:'NanumSquare', sans-serif; font-size:15px; font-weight:400;}
.applyBox .cont dl dd {display: table-cell;}
.applyBox .cont dl dd .ipt_txt {width:100%; height:36px; text-indent:10px; border:1px solid #e5e5e5;}
.applyBox .btnBox {display:block; text-align:center; padding:20px 0 0 0;}
.applyBox .btnBox ul {}
.applyBox .btnBox ul li {display:inline-block; position:relative; width:120px; height:40px; margin:0 10px; vertical-align:top;}
.applyBox .btnBox ul li button {width:120px; height:40px; color:#333e52; border:none; border-radius:30px; box-shadow:0 1px 3px rgba(74,103,151,0.4); background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.applyBox .btnBox ul li button:hover {color:#6d96fe; transition:all 0.3s ease-out;}
.applyBox .btnBox ul li button.btn_clr {color:#fff; background:#6d96fe; transition:all 0.3s ease-out;}
.applyBox .btnBox ul li button.btn_clr:hover {background:#457aff; transition:all 0.3s ease-out;}
.applyBox .btnBox ul li .disBox {position:absolute; top:0; left:0; width:120px; height:40px;}

/* portfolio List */
.cropBox_l {display:table; clear:both; width:100%;}
.cropBox_l .crop_cell {display:table-cell; vertical-align:top;}
.cropBox_l .crop_cell:nth-child(2) {width:930px; background:#f6f6ff;}
.cropBox_l .crop_cell:last-child {width:270px; background:#f6f6ff;}

.bg_aniBox {overflow:hidden; position:relative; height:500px;}
.bg_aniBox img {position:absolute; top:-70px; right:0; height:110%; transition-duration:0.5s;}
.bg_aniBox img.top120 {top:-120px;}

.cropBox_l .crop_cell .info {padding:100px 0 100px 300px;}
.cropBox_l .crop_cell .info dl {}
.cropBox_l .crop_cell .info dl dt {position:relative;}
.cropBox_l .crop_cell .info dl dt span {display:block; color:#656563; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; line-height:30px; letter-spacing:1px; text-transform:uppercase;}
.cropBox_l .crop_cell .info dl dt span:after {content:''; display:inline-block; width:60px; height:1px; margin:0 0 0 15px; vertical-align:middle; background:#c1c1c1; opacity:0.6;}
.cropBox_l .crop_cell .info dl dt em {display:block; color:#434345; font-size:40px; font-weight:100; line-height:50px; letter-spacing:-2px; word-break:keep-all;}
.cropBox_l .crop_cell .info dl dd {display:block;}
.cropBox_l .crop_cell .info dl dd.txt_clr {color:#6d96fe; font-size:17px; font-weight:300; line-height:30px;}
.cropBox_l .crop_cell .info dl dd.txt {padding:30px 0; color:#6f7a96; font-size:17px; font-weight:300; line-height:30px;}
.cropBox_l .crop_cell .info dl dd.txt ul {}
.cropBox_l .crop_cell .info dl dd.txt ul li {clear:both; overflow:hidden; margin:0 0 10px 0; font-size:17px; font-weight:300; line-height:22px; letter-spacing:-1px;}
.cropBox_l .crop_cell .info dl dd.btn {}
.cropBox_l .crop_cell .info dl dd.btn button {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#5f7edb; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.cropBox_l .crop_cell .info dl dd.btn button:hover {color:#fff; background:#6d96fe; transition:all 0.3s ease-out;}
.cropBox_l .crop_cell .info dl dd.btn button.btn_clor {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#fff; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#6d96fe; cursor:pointer; transition:all 0.3s ease-out;}
.cropBox_l .crop_cell .info dl dd.btn button.btn_clor:hover {color:#fff; background:#9696f7; transition:all 0.3s ease-out;}
.cropBox_l .crop_cell .info dl dd.btn a {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#5f7edb; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.cropBox_l .crop_cell .info dl dd.btn a:hover {color:#fff; background:#6d96fe; transition:all 0.3s ease-out;}
.cropBox_l .crop_cell .info dl dd.btn a.btn_clor {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#fff; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#6d96fe; cursor:pointer; transition:all 0.3s ease-out;}
.cropBox_l .crop_cell .info dl dd.btn a.btn_clor:hover {color:#fff; background:#9696f7; transition:all 0.3s ease-out;}

.cropBox_r {display:table; clear:both; width:100%; padding:105px 0; background:#fff;}
.cropBox_r .crop_cell {display:table-cell; vertical-align:top;}
.cropBox_r .crop_cell:nth-child(2) {width:930px; background:#fff;}
.cropBox_r .crop_cell:first-child {width:270px; background:#fff;}

.cropBox_r .crop_cell .info {padding:100px 300px 100px 0; text-align:right;}
.cropBox_r .crop_cell .info dl {}
.cropBox_r .crop_cell .info dl dt {position:relative;}
.cropBox_r .crop_cell .info dl dt span {display:block; color:#656563; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; line-height:30px; letter-spacing:1px; text-transform:uppercase;}
.cropBox_r .crop_cell .info dl dt span:after {content:''; display:inline-block; width:60px; height:1px; margin:0 0 0 15px; vertical-align:middle; background:#c1c1c1; opacity:0.6;}
.cropBox_r .crop_cell .info dl dt em {display:block; color:#434345; font-size:40px; font-weight:100; line-height:50px; letter-spacing:-2px;}
.cropBox_r .crop_cell .info dl dd {display:block;}
.cropBox_r .crop_cell .info dl dd.txt_clr {color:#6d96fe; font-size:17px; font-weight:300; line-height:30px;}
.cropBox_r .crop_cell .info dl dd.txt {padding:30px 0; color:#6f7a96; font-size:17px; font-weight:300; line-height:30px;}
.cropBox_r .crop_cell .info dl dd.txt ul {}
.cropBox_r .crop_cell .info dl dd.txt ul li {clear:both; overflow:hidden; margin:0 0 10px 0; font-size:17px; font-weight:300; line-height:22px; letter-spacing:-1px;}
.cropBox_r .crop_cell .info dl dd.btn {}
.cropBox_r .crop_cell .info dl dd.btn button {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#5f7edb; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.cropBox_r .crop_cell .info dl dd.btn button:hover {color:#fff; background:#6d96fe; transition:all 0.3s ease-out;}
.cropBox_r .crop_cell .info dl dd.btn button.btn_clor {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#fff; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#6d96fe; cursor:pointer; transition:all 0.3s ease-out;}
.cropBox_r .crop_cell .info dl dd.btn button.btn_clor:hover {color:#fff; background:#9696f7; transition:all 0.3s ease-out;}
.cropBox_r .crop_cell .info dl dd.btn a {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#5f7edb; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.cropBox_r .crop_cell .info dl dd.btn a:hover {color:#fff; background:#6d96fe; transition:all 0.3s ease-out;}
.cropBox_r .crop_cell .info dl dd.btn a.btn_clor {display:inline-block; overflow:hidden; position:relative; width:250px; height:60px; color:#fff; font-family:'Roboto', sans-serif; font-size:17px; text-align:center; line-height:60px; border:none; border-radius:30px; background:#6d96fe; cursor:pointer; transition:all 0.3s ease-out;}
.cropBox_r .crop_cell .info dl dd.btn a.btn_clor:hover {color:#fff; background:#9696f7; transition:all 0.3s ease-out;}

.objectBox {position:relative; top:50px; opacity:0;}
.objectBox .phone {position:absolute; top:50%; left:-160px; width:320px; height:650px; margin-top:-60px; border:1px solid #e5e5e5; border-radius:30px; box-shadow:0 0 15px rgba(0,0,0,0.2); background:#fff;}
.objectBox .phone:before {content:''; position:absolute; top:40px; left:50%; width:50px; height:7px; margin:0 0 0 -25px; border-radius:10px; background:#e2e2e2;}
.objectBox .phone img {position:absolute; bottom:80px; left:19px; width:280px; height:495px; border:1px solid #e1e1e0;}

.objectBox .mov {position:absolute; top:50%; right:-700px; width:593px; height:390px; margin-top:-350px; background:#fff; z-index:100;}
.objectBox .mov:before {content:''; position:absolute; top:50%; left:50%; width:138px; height:138px; margin:-69px 0 0 -69px; background:url(../../images/ico_mov_play.png) 50% 50% no-repeat;}
.objectBox .mov img {width:100%; height:100%;}
.pdb130 {padding-bottom:130px !important;}
.pstn03 {top:-120px !important;}

/* 챗봇 점검 */
.checkupBox {display:none; position:fixed; bottom:30px; right:30px;}
.checkupBox .info {width: 230px; padding:20px; border-radius:15px; box-shadow:0 0 10px rgba(74,103,151,0.1); background:rgba(255,255,255,0.9);}
.checkupBox .info .txt {display: block; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #efeffa; color: #6f7a96; font-size: 14px; font-weight: 400; line-height:20px; word-break: keep-all;}
.checkupBox .info dl {display: block; margin: 0 0 5px 0;}
.checkupBox .info dl dt {display: inline-block; width:80px; color:#6b6f7c}
.checkupBox .info dl dd {display: inline-block; color: #434345}
.checkupBox .info dl dd a {color: #6d96fe;}
.checkupBox .btnBox {float: right;  width:80px; height:80px; margin: 15px 0 0 0;}

.lds-heart {display:inline-block;position:fixed; right:30px; bottom:30px; width:80px;height:80px;transform:rotate(45deg);transform-origin:40px 40px; border-radius:100px; background:#9696f7;}
.lds-heart div {top:33px;left:33px;position:absolute;width:20px;height:20px;background:#fff;animation:lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);}
.lds-heart div:after, .lds-heart div:before {content:" ";position:absolute;display:block;width:20px;height:20px;background:#fff;}
.lds-heart div:before {left:-14px;border-radius:50% 0 0 50%;}
.lds-heart div:after {top:-14px;border-radius:50% 50% 0 0;}

@keyframes lds-heart {
0%   {transform:scale(0.95);}
5%   {transform:scale(1.1);}
39%  {transform:scale(0.85);}
45%  {transform:scale(1);}
60%  {transform:scale(0.95);}
100% {transform:scale(0.9);}
}

/* Mobile Layout */
@media screen and (max-width:760px) {
#maumWrap {min-width:320px;}
#header {min-height:50px; background:rgba(109,150,254,1);}

#header .sta {display:block; width:100%; min-height:50px; position:relative}
#header .gnb {display:none; width:100%;}
#header .sta h1 {display:block; top:20px; left:15px;}
#header .sta h1 img {width:80px; opacity:0.7;}
#header .sta .gnb {display:none;}

#header .sta .etcMenu {display:none;}
#header.fixed {position:fixed; transform:translateY(-50px); background:rgba(109,150,254,1); transition:all 0.3s ease-out;}
#header.bg_clor {background:rgba(0,0,0,0.7);}
#header .lnb {padding:30px 0 10px 0; background:rgba(0,0,0,0.7);}
#header .lnb ul.nav {display:table; width:100%;}
#header .lnb ul.nav li {display:table-cell; margin:0; padding:0 5px;}
#header .lnb ul.nav li a {font-size:13px; padding:5px 10px;}

.btn_header_ham {display:block;}

.videoBox .vidoeTxt dl dt.h3Box_r span {font-size:28px; line-height:36px;}
.videoBox .vidoeTxt dl dd.txt {font-size:15px; line-height:22px;}

.api_contact .stn_tit h3 span {font-size:28px; line-height:36px;}

.contactBox {padding-top:50px;}
.api_contact {}
.api_contact .leftBox .leftTxtBox p {margin:0 0 50px 0; font-size:14px; font-weight:100; line-height:22px;}
.api_contact .contact {display:block; float:none; width:calc(100% - 30px); margin:50px 0 0 0; padding:15px;}

#container {padding:50px 0 0 0;}
.lot_c {width:100%; padding:0;}
.fl {float:none;}
.fr {float:none;}

.main_vsalBox {position:relative; padding:0;}
.main_vsalBox .fl {position:absolute; top:0; right:-40px; text-align:right;}
.main_vsalBox .fl img {width:70%; opacity:0.7;}
.main_vsalBox .fr {display:block; clear:both; overflow:hidden; position:relative; width:auto; padding:15px 0;}

.main_vsalBox .main_vsalTxt {clear:both; margin:60px 0 0 0;}
.main_vsalBox .main_vsalTxt dl dt {display:inline-block; width:50%; margin:0 0 0 15px;}
.main_vsalBox .main_vsalTxt dl dt span {font-size:20px; line-height:50px;}
.main_vsalBox .main_vsalTxt dl dt em {padding:0 10px 0 0; font-size:24px; line-height:28px; word-break: keep-all;}
.main_vsalBox .main_vsalTxt dl dd.txt {clear:both; padding:50px 15px 0 15px; font-size:15px; font-weight:400; line-height:24px;}
.main_vsalBox .main_vsalTxt dl dd.btn {padding:30px 15px 0 15px;}
.main_vsalBox .main_vsalTxt dl dd.btn button {width:100%; height:50px; line-height:30px;}

/* cahtbot floating */
#cahtbotWrap {bottom:0; right:0; width:100%; height:0; min-height:0; border-radius:0; background:#fff; box-shadow:none; opacity:0; z-index:9999;}

.cahtbot_lst {display:none;}

.btn_fltBox {bottom:5px; right:5px;}
.btn_fltBox .btnBox {width:50px; height:50px;}
.btn_fltBox .btnBox button {display:block; width:50px; height:50px;}
.btn_fltBox .btnBox button:hover {background-color:#3375fa !important; box-shadow:0 0 10px #889bbb; opacity:1; transition:all 0.3s ease-out;}
.btn_fltBox .btnBox button.btn_flt_cb {background:#354b86 url(../../images/ico_chat.png) 50% 50% no-repeat; background-size:50%;}

.checkupBox {bottom:5px; right:5px; width: 80%;}
.checkupBox .info {width:85%; padding:15px; border-radius:15px; box-shadow:0 0 10px rgba(74,103,151,0.1); background:rgba(255,255,255,0.9);}
.checkupBox .info .txt {display: block; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #efeffa; color: #6f7a96; font-size: 13px; font-weight: 400; line-height:20px; word-break: keep-all;}
.checkupBox .info dl {display: block; margin: 0 0 5px 0;}
.checkupBox .info dl dt {display: inline-block; width:80px; color:#6b6f7c}
.checkupBox .info dl dd {display: inline-block; color: #434345}
.checkupBox .info dl dd a {color: #6d96fe;}
.checkupBox .btnBox {float: right;  width:50px; height:50px; margin:20px 0 0 0;}

.lds-heart {display:inline-block;position:absolute; bottom:5px; right:20px; width:50px;height:50px;transform:rotate(45deg);transform-origin:40px 40px; border-radius:100px; background:#9696f7;}
.lds-heart div {top:19px;left:19px;position:absolute;width:17px;height:17px;background:#fff;animation:lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);}
.lds-heart div:after, .lds-heart div:before {content:" ";position:absolute;display:block;width:17px;height:17px;background:#fff;}
.lds-heart div:before {left:-10px;border-radius:50% 0 0 50%;}
.lds-heart div:after {top:-10px;border-radius:50% 50% 0 0;}

.roundBox {width:auto; padding:0 15px;}
.roundBox .lot_c {width:calc(100% - 30px); padding:45px 15px;}
.roundBox .itembox {display:block;}
.roundBox .itembox .item {display:block; margin:0 0 50px 0; padding:0;}
.roundBox .itembox .item:last-child {margin:0;}
.roundBox .itembox .item .thumb {margin:0 0 25px 0;}
.roundBox .itembox .item .tit {font-size:14px;}
.roundBox .itembox .item .tit .ft_point {font-size:18px;}
.roundBox .itembox .item .txt {font-size:13px;}

.videoBox {position:relative; width:auto; margin:0 0 50px 0; padding:0 15px;}
.videoBox .lot_c {padding:220px 0 0 0;}
.videoBox .fl{float:right;}
.videoBox .thumb img {width:100%}
.videoBox .fr {float:left; position:absolute; top:0; width:auto;}
.videoBox .vidoeTxt dl dt {padding:0;}

.h3Box_c h3 {font-size:15px; letter-spacing:0;}
.h3Box_c h3:before {width:30px;}
.h3Box_c h3:after {width:30px;}

.wideBox_b .h3Box_c h3 {display:inline-block; color:#fff; font-family:'Roboto', sans-serif; font-size:15px; font-weight:500; line-height:24px; letter-spacing:0; text-transform:uppercase;}
.wideBox_b .h3Box_c h3:before {width:30px;}
.wideBox_b .h3Box_c h3:after {width:30px;}


.h3Box_txt {padding:0 20px; font-size:15px; line-height:22px;}

.contact_event .h3Box_cont .txt {padding:0 20px; font-size:14px;}

.clorBox .itemBox .item {padding:25px 15px;}
.clorBox .itemBox .item dl dd.txt {font-size:15px; line-height:22px;}
.clorBox .itemBox .item dl dd ul.lst {padding:28px 12px 0 12px;}
.clorBox .itemBox .item dl dd ul.lst li {margin:0 0 10px 0;}

#footer .cyrt {height:auto; padding:30px 0; line-height:22px;}
#footer .cyrt span {display:block;}

#cahtbotWrap {max-height:80%;}

.api_contact {padding:0 15px 40px 15px;}

.wideBox_b .itemBox .item {min-height:auto;}

.applyBox {top:10px; width:90%; height:460px; margin:0 0 0 -45%;}
.applyBox .tit {padding:15px; background:#333e52 url(../../images/ico_bot_mini.png) right 10px bottom 0 no-repeat; background-size:45px auto;}
.applyBox .cont {padding:15px;}
.applyBox .cont dl {display:block; width:100%; margin:0 0 10px 0;}
.applyBox .cont dl dt {display:block; margin:0 0 3px 0;}
.applyBox .cont dl dt label {font-size:13px;}
.applyBox .cont dl dd {display:block;}
.applyBox .cont dl dd .ipt_txt {height:30px;}
.applyBox .btnBox {display:block; text-align:center; padding:15px 0;}

.sub_titleArea {height:250px; padding:0 15px;}
.sub_titleArea h2 {padding:20px 50px; font-size:30px; line-height:40px;}

#wrap:before {height:270px;}

.wideBox_w {padding:50px 15px;}
.wideBox_b {padding:50px 15px;}
.lineBox {width:auto; margin:50px 15px;}

.clorBox {padding:50px 15px;}
.clorBox .itemBox .item {display:block; float:none; width:auto; margin:0 0 15px 0;}
.wideBox_b .itemBox .item {display:block; float:none; width:auto; margin:0 0 15px 0;}

.bg_aniBox {height:320px;}

.objectBox .phone {width:200px; height:400px; left:auto; right:15px; margin-top:-360px;}
.objectBox .phone:before {top:30px;}
.objectBox .phone img {width:178px; height:300px; left:10px; bottom:40px;}
.objectBox .mov:before {width:80px; height:80px; margin:-40px 0 0 -40px; background-size:100%;}

.cropBox_l {display:block;}
.cropBox_l .crop_cell {display:block;}
.cropBox_l .crop_cell:nth-child(2) {width:auto;}
.cropBox_l .crop_cell:last-child {width:auto;}
.cropBox_l .crop_cell .info {padding:40px 15px 15px 15px;}
.cropBox_l .crop_cell .info dl dt span {font-size:13px;}
.cropBox_l .crop_cell .info dl dt em {padding:10px 0; font-size:28px; line-height:36px;}
.cropBox_l .crop_cell .info dl dd.txt_clr {line-height:22px;}

.cropBox_l .crop_cell .info dl dd.txt ul li {font-size:15px;}
.cropBox_l .crop_cell .info dl dd.btn {text-align:center;}

.cropBox_r {display:block;}
.cropBox_r .crop_cell {display:block;}
.cropBox_r .crop_cell .info {padding:0 15px; text-align:left;}
.cropBox_r .crop_cell:nth-child(2) {width:auto;}
.cropBox_r .crop_cell:first-child {width:auto;}
.cropBox_r .crop_cell .info dl dt span {font-size:13px;}
.cropBox_r .crop_cell .info dl dt em {padding:10px 0; font-size:28px; line-height:40px;}
.cropBox_r .crop_cell .info dl dd.txt_clr {line-height:22px;}

.cropBox_r .crop_cell .info dl dd.txt ul li {font-size:15px;}
.cropBox_r .crop_cell .info dl dd.btn {text-align:center;}

.objectBox .mov {top:50%; right:50%; width:300px; height:200px; margin:20px -150px 0 0;}
.bg_aniBox img {height:120%;}
.pstn01 {}
.pstn02 {top:-120px !important;}
.pstn03 {top:-160px !important;}


}







