<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
{% load static %}
<!-- Open Graph Tag -->
<meta property="og:url"              content="https://mindslab.ai"/><!-- 웹 페이지 URL-->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:title"            content="AIaaS ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="og:description"      content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="AIaaS ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_mindslab_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_mindslab_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_mindslab_310x150.ico' %}"><!-- widetile -->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_mindslab_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_mindslab_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_mindslab_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_mindslab_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_mindslab_64x64.ico' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<title>AI as a Service maum.ai</title>

<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/chatbot.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/common.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/js/common.js' %}"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<!-- <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script> -->
<!-- //resources -->

<!-- floating chat : gitple -->
<script>
	window.GitpleConfig = {appCode: '617StyiVdqik5b3GXRbaRv9tXs16w3'};
	!function () {
		function e() {
			function e() {
				var e = t.contentDocument, a = e.createElement("script");
				a.type = "text/javascript", a.async = !0, a.src = window[n] && window[n].url ? window[n].url + "/inapp-web/gitple-loader.js" : "https://app.gitple.io/inapp-web/gitple-loader.js", a.charset = "UTF-8", e.head && e.head.appendChild(a)
			}
			var t = document.getElementById(a);
			t || ((t = document.createElement("iframe")).id = a, t.style.display = "none", t.style.width = "0", t.style.height = "0", t.addEventListener ? t.addEventListener("load", e, !1) : t.attachEvent ? t.attachEvent("onload", e) : t.onload = e, document.body.appendChild(t))
		}
		var t = window, n = "GitpleConfig", a = "gitple-loader-frame";
		if (!window.Gitple) {
			document;
			var i = function () {
				i.ex && i.ex(arguments)
			};
			i.q = [], i.ex = function (e) {
				i.processApi ? i.processApi.apply(void 0, e) : i.q && i.q.push(e)
			}, window.Gitple = i, t.attachEvent ? t.attachEvent("onload", e) : t.addEventListener("load", e, !1)
		}
	}();
	Gitple('boot');
</script>

</head>


<body>
    
<!--<div id="fb-root"></div>-->
<!--<script async defer src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.2&appId=1348269752013002&autoLogAppEvents=1"></script>-->
<!--<script>-->
    <!--// window.fbAsyncInit = function () {-->
    <!--//     FB.init({-->
    <!--//         appId: '1348269752013002',-->
    <!--//         xfbml: true,-->
    <!--//         version: 'v3.2'-->
    <!--//     });-->
    <!--//     FB.AppEvents.logPageView();-->
    <!--// };-->
    <!---->
    <!--(function (d, s, id) {-->
        <!--var js, fjs = d.getElementsByTagName(s)[0];-->
        <!--if (d.getElementById(id)) { return; }-->
        <!--js = d.createElement(s); js.id = id;-->
        <!--js.src = "https://connect.facebook.net/en_US/sdk.js";-->
        <!--fjs.parentNode.insertBefore(js, fjs);-->
    <!--}(document, 'script', 'facebook-jssdk'));-->
<!--</script>-->



<!-- .page loading -->
<div id="page_loading" class="page_ldWrap">
	<div class="page_ldBox"></div>
</div>
<!-- //.page loading -->


<!-- .lyr_info -->
<div class="lyr_info">
	<div class="lyr_plan_bg"></div>
	<!-- .productWrap -->
	<div class="lyrWrap">
		<button class="btn_lyrWrap_close" type="button">제품 리스트 닫기</button>
		<!-- .lyr_bd -->
		<div class="lyr_bd">
			<i class="far fa-address-card"></i>
			<p>고객 정보 입력</p>
			<ul>
				<li>
					<span>*이름</span>
					<input id="info_name" type="text" value="" placeholder="">
				</li>
				<li>
					<span>*회사(소속)</span>
					<input id="info_company" type="text" value="" placeholder="">
				</li>
				<li>
					<span>*이메일</span>
					<input id="info_email" type="email" value="" placeholder="">
				</li>
				<li>
					<span>휴대폰 정보</span>
					<input id="info_phone" type="text" value="">
				</li>
			</ul>
			<div class="msg_tip">올바른 이메일을 입력해 주세요.</div>
			<button class="btn_blue">다운로드</button>

		</div>
		<!-- //.lyr_bd -->

	</div>
	<!-- //.productWrap -->
</div>
<!-- //.lyr_info -->

<!-- .lyr_notice -->
<div class="lyr_notice">
	<div class="lyr_notice_bg"></div>
	<!-- .lyrWrap -->
	<div class="lyrWrap">

		<button class="btn_lyrWrap_close" type="button">제품 리스트 닫기</button>
		<!-- .lyr_bd -->
		<div class="lyr_bd">
			<img src="{% static 'chatbot/images/ico_notice.png' %}" alt="notice icon">
			<p>서버 점검 안내</p>
			<p class="desc_date">작업일시: 2019년 06월 11일 11시-23시</p>
			<p class="desc_text">점검기간 중 사이트의 접속지연 및 장애가 <br>
발생할 수 있으니 이용 시 참고해주시기 바랍니다. <br>
보다 편리하고 안정적인 서비스 제공을 위해 <br>
최선을 다하겠습니다. 감사합니다.</p>
			<button class="btn_blue">확인</button>

		</div>
		<!-- //.lyr_bd -->

	</div>
	<!-- //.lyrWrap -->
</div>
<!-- //.lyr_notice -->

<!-- wrap -->
<div id="maumWrap">
	<!-- .banner -->
<!--	<did class="banner">-->
<!--		<div class="banner_top">-->
<!--			<img src="{% static 'chatbot/images/logo_eco.png' %}" alt="에코마인즈 로고"/>-->
<!--			<span>‘<strong>인공지능과 가까워지는 특별한 하루</strong>' 함께 만드는 인공지능 생태계,<br>-->
<!--에코마인즈에서 프렌들리 데이를 개최합니다.</span>-->
<!--			<span class="infotxt">11월 27일 (수)&nbsp; &nbsp;|&nbsp; &nbsp; 라마다 서울 호텔</span>-->
<!--			<a href="https://www.onoffmix.com/event/199921" target="_blank" title="에코마인즈 데이 바로가기">자세히 보기 <em class="fas fa-chevron-right"></em><em class="fas fa-chevron-right"></em></a>-->
<!--		</div>-->
<!--	</did>-->
	<!-- #header -->
	<div id="header" class="mainheader">
		<!-- .sta -->
		<div class="sta">
			<h1><a href="/kr"><img src="{% static 'chatbot/images/logo_h1.png' %}" alt="minds lab"></a></h1>
			<div class="etcMenu">
				<ul>
					<!-- <li class="login"><span>로그인</span></li> -->
					<li class="lang">
						<p class="lang_select"><em>한국어</em></p>
						<ul class="lst">
							<li><a href="/en" target="_self"><em>English</em></a></li>
						</ul>
					</li>
					<!--<li class="signin"><a href="https://console.maum.ai/" target="_blank" title="새창열림">Sign in</a></li>-->
				</ul>
			</div>
			<a class="btn_header_ham main_ham" href="#none"><span class="hamburger_icon"></span></a>
		</div>
		<!-- //.sta -->
		<!-- .gnb -->
		<div id="gnb" class="gnb">
			<div class="gnbNavBox">
				<ul class="gnbNav">
					<!-- <li>
						<h2><a class="active" href="/kr">AIaaS</a></h2>
					</li> -->
                    <li class="sub_menu">
                    	<h2><a href="/kr/maum_chatbot">Product</a></h2>
                        <ul class="sub_list">
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_chatbot">maum Chatbot</a></li>
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_tts">TTS</a></li>
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_en">mAI English</a></li>
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_voc">maum VOC</a></li>
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_rta">maum RTA</a></li>
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_aqc">maum AQC</a></li>
                        </ul>
                    </li>
					<li>
						<h2><a href="/kr/portfolio">Success Stories</a></h2>
					</li>
					<!-- <li>
						<h2><a href="/kr/pricing">Pricing</a></h2>
					</li> -->
					<li>
						<h2><a href="/kr/company">Company</a></h2>
					</li>
					<li>
						<h2><a href="#api_contact">Contact Us</a></h2>
					</li>
					<li class="menu1depth">
						<a href="https://maum.ai/login/loginForm?lang=ko"  target="_blank" title="새창열림" class="btn_try">AI 플랫폼 바로가기</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<!-- //#header -->

	<!-- aside -->
	<div class="aside" style="display:none;">
		<!-- .aside_top -->
		<div class="aside_top">
			<h1><a href="/"><img src="{% static 'chatbot/images/img_logo_b.png' %}" alt="maum AI"></a></h1>
		</div>
		<!-- //.aside_top -->
		<!-- .aside_mid -->
		<div class="aside_mid">
			<ul class="m_etcMenu">
				<li class="lang">
					<p class="lang_select"><img src="{% static 'chatbot/images/ico_lang_kr.png' %}" alt="한국어"><em>한국어</em></p>
					<ul class="lst">
						<li><a href="/en" target="_self"><img src="{% static 'chatbot/images/ico_lang_us.png' %}" alt="English"><em>English</em></a></li>
					</ul>
				</li>
			</ul>
			<ul class="m_nav">
				<li>
					<h2><a href="/">AIaaS</a></h2>
				</li>
				<li>
					<h2><a href="/kr/maum_chatbot">Product</a></h2>
				</li>
				<li>
					<h2><a href="/kr/portfolio">Success Stories</a></h2>
				</li>
				<li>
					<h2><a href="/kr/company" target="_blank" title="새창열림">Company</a></h2>
				</li>
				<li>
					<h2><a id="m_api_contac" href="#api_contact">Contact Us</a></h2>
				</li>

			</ul>
		</div>
		<!-- //.aside_mid -->
		<!-- .aside_btm -->
		<div class="aside_btm">
			<ul>
				<li class="btn_mail"><a href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></li>
				<li class="btn_tel"><a href="tel:+82316254340">031. 625. 4340</a></li>
			</ul>
		</div>
		<!-- //.aside_btm -->
</div>
<div class="bg_aside"></div>
<!-- //aside -->

	<!-- #container -->
	<div id="container">

<!--	팝업창-->
<!--		<div id="popup">-->
<!--			<img class="poster_d" src="{% static 'chatbot/images/poster.png' %}" usemap="#pop" />-->
<!--				<map name="pop">-->
<!--					<area  alt="마인즈랩 채용" title="마인즈랩 채용" shape="rect" coords="51,551,232,585" href="https://mindslab.ai/company#recruitment" target="_blank" />-->
<!--					<area  alt="사람인 채용" title="사람인 채용" shape="rect" coords="269,551,454,585" href="http://www.saramin.co.kr/zf_user/jobs/view?rec_idx=36173993&view_type=etc" target="_blank" />-->
<!--					<area  alt="잡코리아 채용" title="잡코리아 채용" shape="rect" coords="47,600,232,635" href="http://www.jobkorea.co.kr/Recruit/GI_Read/28440412?Oem_Code=1" target="_blank" />-->
<!--				</map>-->
<!--			<img class="poster_m" src="{% static 'chatbot/images/poster_m.jpg' %}"  usemap="#pop_m" />-->
<!--				<map name="pop_m">-->
<!--					<area  alt="마인즈랩 채용" title="마인즈랩 채용" shape="rect" coords="43,181,240,215" href="https://mindslab.ai/company#recruitment" target="_blank" />-->
<!--					<area  alt="사람인 채용" title="사람인 채용" shape="rect" coords="41,240,241,272" href="http://www.saramin.co.kr/zf_user/jobs/view?rec_idx=36173993&view_type=etc" target="_blank" />-->
<!--					<area  alt="잡코리아 채용" title="잡코리아 채용" shape="rect" coords="40,297,242,330" href="http://www.jobkorea.co.kr/Recruit/GI_Read/28440412?Oem_Code=1" target="_blank" />-->
<!--				</map>-->
<!--			<div class="closebtn">-->
<!--				<span onclick="todaycloseWin();" class="onedayclose">하루 동안 보지 않기 <i class="fas fa-check"></i>-->
<!--&lt;!&ndash;				<input type="checkbox" value="">&ndash;&gt;-->
<!--				</span>-->
<!--				<span onclick="closeWin();" class="close">닫기 <i class="fas fa-times"></i> </span>-->
<!--			</div>-->
<!--		</div>-->
<!--    //팝업창-->

		<!-- .contents -->
		<div class="contents">
        	<!-- .main_vsalBox -->
			<div class="main_vsalBox">
				<div class="lot_c">
						<div class="main_vsalTxt">
							<dl>
								<dt class="animated fadeInDown">
									<span>AIaaS</span>
								</dt>
								<dd class="txt">
									<span class="animated fadeInDown delay-1"> 인공지능이 필요할 땐 <b>마음AI</b></span>
								</dd>
								<dd class="btn animated fadeInDown delay-1">
									<!--<button class="animated fadeIn delay-2" type="button">무료 체험하기</button>-->
									<button class="animated fadeIn delay-2" type="button"><a href="https://maum.ai/login/loginForm?lang=ko" target="_blank" title="새창열림">maum.ai 바로가기</a></button>
								</dd>
							</dl>
						</div>
						<div class="notice_box">
							<div class="boxarea right_box animated fadeInDown delay-1">
								<div class="box_top">
									<button class="box_close close1" type="button">닫기</button>
								</div>
								<div class="box_body">
									<p>마인즈랩의 포트폴리오 북<br>maum.ai <b>E-Book 출시!</b></p>
									<button  type="button" class="book_dwn">다운로드</button>
								</div>
							</div>
							<!--<div class="boxarea left_box animated fadeInDown delay-1">-->
								<!--<div class="box_top">-->
									<!--<button class="box_close close2" type="button">닫기</button>-->
								<!--</div>-->
								<!--<div class="box_body">-->
									<!--<a href="/seminar_dwn" target="_blank">발표자료 다운로드</a>-->
								<!--</div>-->
							<!--</div>-->
							<div class="boxarea aca_box animated fadeInDown">
								<div class="box_top">
									<button class="box_close close3" type="button">닫기</button>
								</div>
								<div class="box_body">
									<a href="https://maum.ai/login/academyForm" target="_blank"> 자세히보기</a>
								</div>
							</div>
						</div>
				</div>
			</div>
			<!-- //.main_vsalBox -->
            <!-- .main_demo -->
			<div id="main_demo" class="main_demo">
				<div class="fl">
					<h5>음성합성 체험하기</h5>
					<dl>
						<dt><span>Step 1</span>인사말을 듣고 싶은 인물 선택</dt>
						<dd class="dd_half korean">													
							<input type="radio" id="president" name="voice" value="president" checked>
							<label for="president"><b>한국어</b><br>문재인 대통령</label>									
						</dd>
						<dd class="dd_half english">							
							<input type="radio" id="simson" name="voice" value="simson" >
							<label for="simson" ><b>영어</b> <br>심슨<!--트럼프 미 대통령--></label>
						</dd>
						
						<dt><span>Step 2</span>이름을 입력하고 음성합성 시작</dt>
						<dd class="dd_full">
							<div class="firstbox">
								<input type="text" placeholder="이름 입력">
								<button class="btn_go">음성합성 시작</button>
							</div>
							<div class="secondbox">
								<div class="demo_recording">
									<!-- recording -->
									<div class="recording">
										<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
										<span></span><span></span><span></span><span></span><span></span><span></span><span></span>
									</div>
									<!-- //recording -->
								</div>
							</div>
							<div class="thirdbox">
								<button class="btn_back"></button>
								<div class="call_player">
                                    <audio id = "demo_audio" src="" preload="none" controls></audio>
								</div>
                                <button class="btn_share"></button>
							</div>
						</dd>
					</dl>
					
					<div class="social_link">
						친구에게 공유하기 
						<a id="kakao-link-btn" href="javascript:Kakao_sendLink()"><img src="{% static 'chatbot/images/ico_kakao.png' %}" alt="카카오톡"></a>
                        <a href="javascript:Facebook_sendLink()"><img src="{% static 'chatbot/images/ico_fb.png' %}" alt="페이스북"></a>
                        <!--<div class="fb-share-button" data-href="https://maum.ai/" data-layout="button" data-size="small" data-mobile-iframe="true">-->
                            <!--<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmaum.ai%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">공유하기</a>-->
                        <!--</div>-->
                        <!-- <a href=""><img src="{% static 'chatbot/images/ico_insta.png' %}" alt="인스타그램"></a> -->
                        <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
					</div>
				</div>
			
				<div class="fr">
					<h5>나만의 AI 보이스 폰트 만들기</h5>
					<p>텍스트를 입력하면 내 목소리를 그대로 재현하는 <br>AI TTS 모델을 생성해 드립니다.</p>
					<!--<a href="https://console.maum.ai/tts_train/kr/home" class="btn_start" target="_blank" title="새창열림">지금 바로 만들기</a>-->
					<a href="https://maum.ai/login/loginForm?lang=ko&loginmenu=/tts_train/krAiVoiceFontMain" class="btn_start" target="_blank" title="새창열림">지금 바로 만들기</a>
				</div>
			</div>
			<!-- //.main_demo -->		
			
			
			<!-- .freebox -->
            <div class="freebox">
				<h2>내게 꼭 필요한 곳에 <span> 쉽게 쓰는 <b>맞춤형 AI</b> </span> </h2>
				<p>인공지능과 함께 나만의 아이디어를 빠르게 구현하고, 나의 업무를 손쉽게 자동화해보세요. <br>관련 지식이 없어도 쉽고 빠르게 나만의 맞춤형 AI를 쓸 수 있습니다.
				</p>
				<a href="https://maum.ai/login/loginForm?lang=ko" target="_blank" title="새창열림">maum.ai 바로가기</a><!--맞춤형 AI 만들기-->
				<a href="https://maum.ai/login/loginForm?lang=ko&loginmenu=/sg/krSgMain" class="dif_color" target="_blank" title="새창열림">TTS 이용하기</a>
			</div>
			<!-- //.freebox -->
			
          <!-- .success -->
            <div class="success">
                <h2>Success stories</h2>
				<ul class="storybox">
					<li class="big_box">
						<a href="/kr/portfolio" target="_blank">
						<img src="{% static 'chatbot/images/img_li_1.png' %}" alt="눈으로 보는 전화영어">
						<div class="story_txt">
							<p class="li_tit"><b>눈으로 보는 전화영어</b></p>
							<p class="li_txt">전화영어 업체 마인즈에듀는 기존의 전화영어에 음성합성 서비스를 더해, 전화 
							수업 후 원어민 선생님과 자신의 대화를 그대로 텍스트로 확인할 수 있는 
							‘눈으로 보는 전화영어’를 오픈했습니다. 
							</p>
						</div>
						</a>
					</li>
					<li class="big_box">
						<a href="/kr/portfolio" target="_blank">
						<img src="{% static 'chatbot/images/img_li_2.png' %}" alt="눈으로 보는 전화영어">
						<div class="story_txt">
							<p class="li_tit"><b>유아용 AI로봇 </b></p>
							<p class="li_txt">어린이들을 위한 AI 로봇인 ‘뽀로롯’에 TTS로 제작한 실제 캐릭터의 목소리를 
적용했습니다. 뽀로롯은 이 목소리로 아이들과 간단한 대화를 나누거나 책을 
읽어줄 수 있습니다. 

							</p>
						</div>
						</a>
					</li>
				</ul>	
				<ul class="storybox story_2st">
					<li class="small_box">
						<a href="/kr/portfolio" target="_blank">
						<img src="{% static 'chatbot/images/img_li_3.png' %}" alt="게임 캐릭터 사운드">
						<div class="story_txt">
							<p class="li_tit">게임 캐릭터 사운드</p>
							<p class="li_txt">B 게임업체는 게임에 등장하는 캐릭터들의 음성과 음향 효과를 maum.ai의 TTS로 구현하여, 보다 실감나는 사운드와 신속한 업데이트 환경을 갖출 수 있었습니다.
							</p>
						</div>
						</a>
					</li>
					<li class="small_box">
						<a href="/kr/portfolio" target="_blank">
						<img src="{% static 'chatbot/images/img_li_4.png' %}" alt="게임 캐릭터 사운드">
						<div class="story_txt">
							<p class="li_tit">학습 자료 백업</p>
							<p class="li_txt">대학원생 C씨는 연구 목적으로 수집한 2700시간 분량의 음성 녹음된 강연 자료를 STT를 통해 텍스트로 변환해, 언제든 자유롭게 검색하고 활용할 수 있는 학습 자료로 만들어 두었습니다. 

							</p>
						</div>
						</a>
					</li>
					<li class="small_box">
						<a href="/kr/portfolio" target="_blank">
						<img src="{% static 'chatbot/images/img_li_5.png' %}" alt="게임 캐릭터 사운드">
						<div class="story_txt">
							<p class="li_tit">유튜브 크리에이터</p>
							<p class="li_txt">책과 시청자 사연을 읽어주는 유튜브 크리에이터 D씨는 TTS로 나레이션을 대체했습니다. 이를 통해 본인이 녹음하던 것보다 훨씬 적은 시간을 들이고도 콘텐츠를 제작할 수 있게 되었습니다. 

							</p>
						</div>
						</a>
					</li>
					<li class="small_box">
						<a href="/kr/portfolio" target="_blank">
						<img src="{% static 'chatbot/images/img_li_6.png' %}" alt="게임 캐릭터 사운드">
						<div class="story_txt">
							<p class="li_tit">강의 콘텐츠 제작</p>
							<p class="li_txt">대학 강사 A 씨는 마음에이아이 음성합성 서비스를 통해 자신의 실제 목소리와 매우 흡사한 AI 음성을 만들어 유튜브용 강의 콘텐츠를 제작 하였습니다.
							</p>
						</div>
						</a>
					</li>

				
				</ul>
				
            </div>
			<!-- //.success -->
            <!-- .howtouse -->
            <div class="howtouse">
				<h3>나만의 인공지능 maum.ai, 이렇게 사용해보세요</h3>
				<ul>
					<li><p>음성인식? 가상 음성?<br>
						나에게 꼭 필요한<br>
						AI 엔진 찾아보기</p>
					</li>
					<li><p>AI 엔진<br>
체험</p></li>
					<li><p>맞춤형 <br>
커스터마이징 <br>
모델 신청 </p></li>
					<li><p>머신러닝 <br>
학습 진행</p></li>
					<li><p>나만의 맞춤형 <br>
인공지능 서비스 <br>
탄생</p></li>
				</ul>			
			</div>
            <!-- //.howtouse -->

            <!-- .api_contact -->
            {% include 'kr/common/contact.html' %}
            <!-- //.api_contact -->

			<!-- .btn_goTop -->
			<p class="btn_goTop"><button>맨위로</button></p>
			<!-- //.btn_goTop -->
		</div>
		<!-- //.contents -->
	</div>
    <!-- //#container -->
    
	<!-- #footer -->
	{% include 'kr/common/footer.html' %}
	<!-- //#footer -->

	<div class="checkupBox">
        <div class="info">
            <p class="txt">현재 좀더 빠르고 안정적인 서비스를 위해 마음 챗봇 서버 점검 중입니다.<br>좀더 똑똑해진 모습으로 곧 돌아올게요!</p>
            <div class="dl_lst">
                <dl>
                    <dt>서버점검 기간</dt>
                    <dd>2018.07.12 (1일)</dd>
                </dl>
                <dl>
                    <dt>마음챗봇 문의</dt>
                    <dd><a href="mailto:chatbot@mindslab.ai">chatbot@mindslab.ai</a></dd>
                </dl>
            </div>
        </div>
       <div id="btn_checkup" class="btnBox">
            <div class="lds-heart">
                <div></div>
            </div>
       </div>
    </div>

    <!-- chatbot floating -->
<!--    {% include 'kr/common/floatingChat.html' %}-->
    <!-- chatbot floating -->
	
</div>
<!-- //wrap -->
<style type="text/css">
#container:before {content:''; position:absolute; top:0; left:0; width:100%; height:600px; background:url({% static 'chatbot/images/bg_aiaas.png' %}) 50% 0 no-repeat; background-size:cover;}
</style>

<input type="hidden" id="AUTH_ID">
<input type="hidden" id="SESSION_ID">


<!-- <script>
    window.fbAsyncInit = function() {
    FB.init({
        appId: 1348269752013002,
        status: true,
        xfbml: true,
        version: 'v3.2'
    });
    //FB.AppEvents.logPageView();
    };

    // FB.ui({
    //         method: 'share_open_graph',
    //         action_type: 'og.likes',
    //         action_properties: JSON.stringify({
    //             object: 'http://127.0.0.1:8000',
    //         })
    //     }, function (response) {
    //         // Debug response (optional)
    //         console.log(response);
    //     });
</script> -->

<script type="text/javascript">   
$(window).load(function() {    
	$('#page_loading').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
}); 
</script>
<script type="text/javascript">
	jQuery(function(){
		jQuery("a.btn_movLayer").movLayer();
	});
</script>



<script type="text/javascript">
function chatSingIn() {
	$.ajax({
		url: 'https://aicc-prd1.maum.ai:9980/api/v3/auth/signIn',
		async: false,
		type: 'POST',
		headers: {
			"Content-Type": "application/json",
			"m2u-auth-internal": "m2u-auth-internal"
		},
		data: JSON.stringify({
			"userKey": "admin",
			"passphrase": "1234"
		}),
		dataType: 'json',
		success: function(data) {
			// console.log(data.directive.payload.authSuccess.authToken);

			document.getElementById('AUTH_ID').value = data.directive.payload.authSuccess.authToken;
			// console.log(document.getElementById('AUTH_ID').value);
			// console.log('login success!')
			// openDialogService(chatbot);
		}, error: function(err) {
			console.log("chatbot Login error! ", err);
		}
	});
}

//카카오톡 공유하기
Kakao.init('b14c32a5349632b7dcaa53f84b6110fe');
function Kakao_sendLink() {
   Kakao.Link.sendCustom({
       templateId: 15483,
       templateArgs: {
//            'title': '나만의 AI 음성 만들기',
              'URL1': 'kr#main_demo'
//            'URL2': audio.src
       }
   });
}
var audio = document.getElementById('demo_audio');

//페이스북 공유하기
function Facebook_sendLink(){
    // FB.ui({
    //         method: 'feed',
    //         //mobile_iframe: true,
    //         // action_properties: JSON.stringify({
    //         //     object:'https://maum.ai/kr',
    //         // })
    //         link: 'https://maum.ai/'
    //     },
    //     // callback
    //     function (response) {
    //         if (response && !response.error_message) {
    //             alert('Posting completed.');
    //         } else {
    //             alert('Error while posting.');
    //         }
    //     });
    alert("Sorry... not yet... :(");
}

function chkEmail(str) {
    var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
    return regExp.test(str); //return T/F
}


jQuery.event.add(window,"load",function(){
	$(document).ready(function (){

	    var $info_email = $('#info_email');

		//책 다운로드
		$('.book_dwn').on('click', function(){
			$('.lyr_info').fadeIn(300);
		});
		// product layer popup
		$('.close1').on('click', function () {
			$('.right_box').fadeOut(300);
		});
		$('.close2').on('click', function () {
			$('.left_box').fadeOut(300);
		});
		$('.close3').on('click', function () {
			$('.aca_box').fadeOut(300);
		});

		$info_email.on('click keyup paste', function(){
		    $(this).removeClass('error'); //////////////
		    $('.msg_tip').hide();
        });

        $('.lyr_info .btn_blue').on('click',function(){
			var name = $('#info_name').val();
			var company = $('#info_company').val();
			var email = $info_email.val();
			var phone = $('#info_phone').val();

            if(name !== "" && company !== "" && email !== ""){
                if (!chkEmail(email)){
                    console.log("email false"); //////////////
                    $info_email.addClass('error'); //////////////
                    $info_email.focus();
                    $('.msg_tip').fadeIn();
                    return;
                }

                $(this).prop('disabled', true);
                var route = "mindslab.ai/kr : e-book 다운로드";
                
                $.ajax({
                    url: '/send_ebook_info',
                    async: false,
                    type: 'POST',
                    data: {
                        "route": route,
                        "name": name,
                        "company": company,
                        "email": email,
                        "phone": phone
                    },
                    dataType: 'json',
                    success: function (result) {
                        $('#info_name').val("");
                        $('#info_company').val("");
                        $('#info_email').val("");
                        $('#info_phone').val("");
                        console.log("sending info success");
                        
                        var a = document.createElement('a');
                        a.href = "{% static 'chatbot/pdf/MINDsLab.pdf' %}"; // xhr.response is a blob
                        a.download = "MindsLab.pdf"; // Set the file name.
                        a.style.display = 'none';
                        document.body.appendChild(a);
                        a.click();
                        delete a;
                        $(this).prop('disabled', false);

                    }, error: function (err) {
                        console.log("parse HTML error! ", err);
                    }
                });
            }else{
                alert("필수 입력사항을 모두 입력해 주세요.");
            }
        });
		// product layer popup
		$('.btn_lyrWrap_close, .lyr_plan_bg').on('click', function () {
			$('.lyr_info').fadeOut(300);
            $('#info_name').val("");
            $('#info_company').val("");
            $('#info_email').val("");
            $('#info_phone').val("");
			$('body').css({
				'overflow': '',
			});
		});


		// lyr_notice popup close
		$('.btn_lyrWrap_close, .lyr_notice_bg').on('click', function () {
			$('.lyr_notice').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});
        chatSingIn();
        
        // $.ajaxSetup({ cache: true });
        // $.getScript('https://connect.facebook.net/en_US/sdk.js', function () {
        //     FB.init({
        //         appId: '1348269752013002',
        //         version: 'v1.0' // or v2.1, v2.2, v2.3, ...
        //     });
        //     // $('#loginbutton,#feedbutton').removeAttr('disabled');
        //     // FB.getLoginStatus(updateStatusCallback);
        //     FB.ui({
        //         method: 'share_open_graph',
        //         action_type: 'og.likes',
        //         action_properties: JSON.stringify({
        //             object: 'https://maum.ai',
        //         })
        //     }, function (response) {
        //         // Debug response (optional)
        //         console.log(response);
        //     });
        // });


//=======================================================//
         // tts 음성합성 체험하기

        $('.dd_half label').on('click', function () {
            if($('.thirdbox').is(':visible')){
                audio.pause();
                $('.btn_back').trigger('click');
            }
            $('.dd_half input').prop("checked", false);
            $(this).prop("chekcked", true);
        });

       $('.firstbox input').keypress(function (e) {
			if (e.keyCode == 13)
				$('.btn_go').trigger('click');
		});


       $('.btn_go').on('click',function(){
            var lang, name, text, spkID;

            if($('.firstbox input').val()==""){
                alert("이름을 입력해 주세요!");
                $('.firstbox input').focus();
                return false;
            }

            if($('#president').prop("checked")== true){
                lang = "ko_KR";
                name = $('.firstbox input').val();
                text = "사랑하는 "+name+"님, 만나서 반갑습니다, 사람이 먼저다, "+name+"님이 먼저다.";
                spkID = 122;
            }else{
                lang = "en_US";
                name = $('.firstbox input').val();
                text = "God, bless you "+name+". Homer presents these cookies as an offering.";
                // text = "That would be great," + name;
                spkID = 0;
            }

            $('.firstbox').hide();
	        $('.secondbox').fadeIn(300);    
            $('.demo_recording').fadeIn(30);

            var jsonString = JSON.stringify({"lang":lang, "text": text, "spkID":spkID});
            var url = "/tts_api_second";
            var oReq = new XMLHttpRequest();
            
            oReq.open("POST", url, true);
            oReq.responseType = "blob";
            oReq.setRequestHeader("Content-Type", "application/json");
            oReq.send(jsonString);

            oReq.onload = function (oEvent) {
                var blob = oReq.response; // Note: not oReq.responseText
                if (blob) {
                    audio.setAttribute("src", window.URL.createObjectURL(blob));
                    $('.secondbox').hide();
                    $('.thirdbox').fadeIn(300);
                    $('.social_link').show();
                    audio.load();
                    audio.play();
                }
            };
        });

        $('.btn_back').on('click', function(){
            audio.setAttribute("src", null);
            $('.firstbox input').val("");
            $('.firstbox').show();
            $('.thirdbox').hide();
            $('.social_link').hide();
        });
        

        $('.btn_share').on('click', function(){
            audio.load();
            var link = document.createElement("a");
            link.download = 'voice.wav';
            link.href = audio.src;
            link.click();
            link.remove();
        });

        
//===========================live chat 플로팅============================//

        $('#btn_flt_cb').on('click', function () {
            $.ajax({
                url: '/kr/floating_sully',
                //url: '/kr/maumbot',
                type: 'GET',
                dataType: 'html',
                async: false,
                success: function (data) {
                    $('#livechatWrap').html(data);
                }
            });
        });


		//팝업창
		// cookiedata = document.cookie;
		// if ( cookiedata.indexOf("ncookie=done") < 0 ){
		// 	document.getElementById('popup').style.display = "block";    //  팝업창 아이디
		// } else {
		// 	document.getElementById('popup').style.display = "none";    // 팝업창 아이디
		// }

    });//-- document ready
});


//팝업창
// function setCookie( name, value, expiredays ) {
// 	var todayDate = new Date();
// 	todayDate.setDate( todayDate.getDate() + expiredays );
// 	document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
// }
//
// function closeWin() {
// 	document.getElementById('popup').style.display = "none";    // 팝업창 아이디
// }
//
// function todaycloseWin() {
// 	setCookie( "ncookie", "done" , 1 );     // 저장될 쿠키명 , 쿠키 value값 , 기간( ex. 1은 하루, 7은 일주일)
// 	document.getElementById('popup').style.display = "none";    // 팝업창 아이디
// }


</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120553152-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-120553152-1');
</script>

</body>
</html>
