{% load static %}
<div class="chat_loading" >
	   <div class="loadingBox">
			<div class="loading_txt">시스템에 연결 중입니다.<span>잠시만 기다려 주시기 바랍니다.</span></div>
			<div class="circle"></div>
	   </div>
</div>

<div class="chatbot_contents">
	<!-- .chat_top -->
	<div class="chat_top">
		<h3>회사 소개 챗봇</h3>
		<button type="button" class="btn_cb_close">close</button>
	</div>
	<!-- //.chat_top -->
	<!-- .chat_mid -->
	<div class="chat_mid">

		<ul class="talkLst">
			<li class="newDate"><span><!-- 날짜는 스크립트가 정의--></span></li>
			<!-- 봇 메세지 (평문) -->
			<li class="bot">
				<span class="thumb"><img id="thumb" src="{% static 'chatbot/images/mybot.png' %}" alt="sully"></span>
				<span class="cont">
				<em class="txt">
                    저는 우리 회사의 모든 것을 소개해주고 싶어서 설레는 마음을 감출 수 없는 회사소개봇이에요.
                    <br><br>
                    저는 마인즈랩의 위치, 제품, 채용 일정 등을 안내해드리고 있습니다. 조금 더 상세한 문의를 원하신다면 아래의 "담당자 연결" 버튼을 통해 전문 담당자와 상담이 가능합니다.
                    <br><br>
                    궁금하신 내용을 말씀해주시겠어요?
                </em>
                </span>
                <ul class="info_btnBox">
                    <li><button type="button">회사가 어디에 있나요?</button></li>
                    <li><button type="button">채용 일정 알려주세요</button></li>
                    <li><button type="button">회사 소개서 보여주세요</button></li>
                    <li><button type="button">담당자 연결</button></li>
                </ul>
            </li>
		</ul>
	</div>
	<!-- //.chat_mid -->
	<!-- .chat_btm -->
	<div class="chat_btm">
		 <form class="form-inline" method="post" action="" id="formChat" name="formChat">
			<textarea id="textline" class="textArea" placeholder="메세지를 입력해 주세요."></textarea>
			<input type="button" class="btn btn-default btn_chat" name="btn_chat" id="btn_chat" class="btn_chat" title="전송" value="전송">
		</form>
	</div>
	<!-- //.chat_btm -->
</div>

<link rel="stylesheet" type="text/css" href="{% static 'chatbot/css/chatbot.css' %}" />
<script type="text/javascript" src="{% static 'chatbot/kr/live/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/js/floatingChatbot.js' %}"></script>
<script type="text/javascript">
    jQuery.event.add(window, "load", function () {
        $(document).ready(function () {
            $('.chatbot_contents .talkLst').css({
                'display': 'block',
            });
        });
    });

    $(document).ready(function () {
        chatOpen('Sully');

        $('#btn_cb_close').click(function () {
            closeDialogService();
        });

        // $('.chatbot_contents .chat_btm .textArea').keyup(function (event) {
        //     if (event.keyCode == 13 && event.shiftKey) {
        //         var chatTxt = this.value;
        //         var caret = getCaret(this);
        //         this.value = chatTxt.substring(0, caret) + "\n" + chatTxt.substring(carent, chatTxt.length - 1);
        //         event.stopPropagation();
        //     } else if (event.keyCode == 13) {
        //         $('#btn_chat').trigger('click');
        //     }
        // });


        // chatbot close
        $('.btn_cb_close').on('click', function () {
            closeDialogService();
            $(this).parent().parent().parent().fadeOut(300);
            $('#maumWrap').css({
                'overflow': '',
            });
            $('#livechatWrap .chatbot_contents').remove();
        });

    });


    $('.chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
        $('.chatbot_contents .bot_infoBox').css({
                'display':'none',
        });
        $('.chat_loading').css({
                'display':'none',
        });
        $('.chatbot_contents .talkLst').css({
                'display':'block',
        });


    // $('#btn_cb_close').click(function () {
    //     closeDialogService();
    // });


</script>