<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
{% load static %}
<!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
<meta property="og:title"            content="Company ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content="https://mindslab.ai/kr/company"/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/kr/company"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="Company ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_mindslab_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_mindslab_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_mindslab_310x150.ico' %}"><!-- widetile -->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_mindslab_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_mindslab_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_mindslab_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_mindslab_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_mindslab_64x64.ico' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<title>Company ll maum AI</title>
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/chatbot.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/common.css' %}?v={{ timeStamp }}" />

<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/js/common.js' %}"></script>
<!-- //resources -->

</head>

<body>
<!-- .page loading -->
<div id="page_ldWrap" class="page_ldWrap">
	<div class="page_ldBox"></div>
</div>
<!-- //.page loading -->
<!-- #wrap -->
<div id="maumWrap"> 
		<!-- #header -->
	<div id="header">
		<!-- .sta -->
        <div class="sta">
            <h1><a href="/kr"><img src="{% static 'chatbot/images/logo_h1.png' %}" alt="minds lab"></a></h1>
            <div class="etcMenu">
                <ul>
                    <!-- <li class="login"><span>로그인</span></li> -->
                    <li class="lang">
                        <p class="lang_select"><em>한국어</em></p>
                        <ul class="lst">
                            <li><a href="/en" target="_self"><em>English</em></a></li>
                        </ul>
                    </li>
                    <!--<li class="signin"><a href="https://console.maum.ai/" target="_blank" title="새창열림">Sign in</a></li>-->
                </ul>
            </div>
        </div>
        <!-- //.sta -->
		<!-- .gnb -->
		<div id="gnb" class="gnb">
            <div class="gnbNavBox">
                <ul class="gnbNav">
                    <!-- <li>
                        <h2><a href="/kr">AIaaS</a></h2>
                    </li> -->
                    <!-- <li class="sub_menu">
                        <h2><a href="/kr/maum_chatbot">Product</a></h2>
                        <ul class="sub_list">
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_chatbot">maum Chatbot</a></li>
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_tts">TTS</a></li>
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_en">mAI English</a></li>
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_voc">maum VOC</a></li>
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_rta">maum RTA</a></li>
                            <li class="menu2depth"><a href="/kr/maum_chatbot#stn_aqc">maum AQC</a></li>
                        </ul>
                    </li>
					<li>
                        <h2><a href="/kr/portfolio">Success Stories</a></h2>
                    </li> -->
                    <!-- <li>
                        <h2><a href="/kr/pricing">Pricing</a></h2>
                    </li> -->
                    <li>
                        <h2><a class="active" href="/kr/company">Company</a></h2>
                    </li>
                    <li>
                        <h2><a href="#api_contact">Contact Us</a></h2>
                    </li>
                    <li class="menu1depth">
                        <a href="https://maum.ai?lang=ko"  target="_blank" title="새창열림" class="btn_try">maum.ai 바로가기</a>
                    </li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //#header -->

	<!-- aside -->
	{% include 'kr/common/aside.html' %} 
	<!-- //aside -->    
		
	<!-- #container -->
	<div id="container ">
		<!-- .co_visualArea -->
		<div class="co_visualArea">
			<div class="lot_c">
				<div class="visualArea_txt">               
					<p class="v_tit">
						COMPANY
					</p>
					<p class="v_txt">
						<span>인공지능의 내일을 생각하며 빠르게 움직이는 전문가 집단, 마인즈랩.</span>
						<span>우리는 최첨단 기술을 통해 이전과는 근본적으로 다른 사용자 경험을 이끌고 있습니다. </span>						
					</p>				
				</div>   
			</div>	
			<!-- .tab_mov -->	
			<div class="tab_mov demoTab">	
				<!-- .tab_nav -->
				<div class="tab_nav">
					<ul>
						<li class="left_line"><a href="#whattodo">What We Do</a></li>
						<li><a href="#history">History</a></li>
						<li><a href="#global">Global Network</a></li>
						<li><a href="#customers">Customers</a></li>
						<li><a href="#pr_center"><span>PR</span> Center</a></li>
						<li><a href="#recruitment">Recruitment</a></li>
					</ul>
				</div>
				<!-- //.tab_nav -->	
			</div>
			<!-- //.tab_mov -->	
		</div>
		<!-- //.co_visualArea -->
		
		<!-- .tab_container -->
		<div class="tab_container">
			<!-- #whattodo -->
			<div id="whattodo" class="tab_contents">
				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">What We do</div>
						<p><span>마인즈랩은 AI 핵심 알고리즘부터 AI  엔진, 플랫폼부터 인공지능 서비스까지 통합적인 가치를 제공하는 종합 인공지능 서비스 </span>
							<span>기업입니다. 마인즈랩을 통해 기존에는 없었던  혁신적인 AI 서비스가 지금 이 순간에도 곳곳에서 구현되고 있습니다.</span>
						</p>			
					</div>

				</div>
				<!-- .img_area -->
				<div class="img_area">			
					<!-- .lot_c -->
					<div class="lot_c">				
						<div class="stn_cont">
							<div class="imgBox"><img src="{% static 'chatbot/images/img_whattodo.png' %}" alt=""></div>
						</div>
					</div>
					<!-- //.lot_c -->
				</div>
				<!-- //.img_area -->		

				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">EcoMINDs</div>
						<p><span>마인즈랩은 인공지능 밸류 체인 각 영역에서 핵심적인 기술과 노하우를 보유한 역량있는 스타트업들과 함께 </span>
							<span>AI 스타트업 생태계인 에코마인즈를 형성하고 있습니다.</span>
						</p>			
					</div>

					<div class="eco_group">
						<div class="row">
							<div class="eco_cell"><img src="{% static 'chatbot/images/img_cell01.png' %}" alt=""></div>
							<div class="eco_cell"><a href="http://greenmango.co.kr" target="_blank" title="새창열림"><img src="{% static 'chatbot/images/img_cell02.png' %}" alt=""></a></div>
							<div class="eco_cell"><a href="http://www.easytalk.co.kr/" target="_blank" title="새창열림"><img src="{% static 'chatbot/images/img_cell03.png' %}" alt=""></a></div>
						</div>

						<div class="row">
							<div class="eco_cell"><a href="http://mnc.ai/" target="_blank" title="새창열림"><img src="{% static 'chatbot/images/img_cell04.png' %}" alt=""></a></div>
							<div class="eco_cell"><a href="https://www.intermindsai.com/" target="_blank" title="새창열림"><img src="{% static 'chatbot/images/img_cell05.png' %}" alt=""></a></div>
							<div class="eco_cell"><img src="{% static 'chatbot/images/img_cell06.png' %}" alt=""></div>
						</div>
					</div>			
				</div>
			</div>
			<!-- //#whattodo -->
			<!-- #history -->
			<div id="history" class="tab_contents">
				
				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">History</div>
						<p><span>젊지만 강한 회사 마인즈랩은 인공지능으로 기존 업무를 빠르게 자동화하고, 가장 높은 효율이 나타날 수 있는 분야에 집중해왔습니다. </span>							
						</p>			
					</div>
				</div>		
				
				<div class="stn_history">
					<div class="history_area">
                        <div class="con_box">
							<div class="dot_fl y_2019">
								<div class="fl_circle"><span>2019</span></div>
							</div>
							<div class="txt_fr">
								<div class="txt_group y_2019_text">
									<p><span>2월ㅣ </span>maum.ai AIaaS 구독형 인공지능 서비스 정식 출시</p>
									<p><span>3월ㅣ </span>대한민국 SW 기업경쟁력 대상, 과학기술정보통신부 장관상</p>
									<p><span>3월ㅣ </span>Series C 투자유치 (173억)</p>
									<p><span>4월ㅣ </span>대한민국 임팩테크 한국경제신문 사장상 수상</p>
									<p><span>5월ㅣ </span>마이잉글리시 앱 서비스 오픈</p>
									<p><span>6월ㅣ </span>세계 최초로 음성 분리 필터(Voice Filter) 기술을 구현</p>
									<p><span>6월ㅣ </span>마음에이아이 포트폴리오 북, E-book 출간</p>
									<p><span>7월ㅣ </span>AI 로봇 뽀로롯 2,000대 기부</p>
									<p><span>7월ㅣ </span>최신 인공지능 엔진 음성분리, 이미지 생성 등 API 10종 공개</p>
									<p><span>8월ㅣ </span>최신 인공지능 엔진과 서비스를 소개하는 2019 maum.ai 세미나 개최</p>
									<p><span>8월ㅣ </span>마음 아카데미 정식 커리큘럼 오픈</p>
									<p><span>10월ㅣ </span>음성 생성을 활용한 스트리머 서비스 오픈</p>
									<p><span>10월ㅣ </span>maum SDS SaaS형 챗봇 출시 (레트타이 버틀러 2.0에 활용)</p>
									<p><span>11월ㅣ </span>maum.ai 월간 구독자(MAU) 300 돌파</p>
									<p><span>11월ㅣ </span>2019 대한민국 컴퓨팅 부문 인공지능 대상 수상</p>
									<p><span>11월ㅣ </span>제 1회 에코마인즈데이 개최</p>
									<p><span>11월ㅣ </span>보이스 앨범 서비스 오픈</p>
								</div>
							</div>
						</div>
						<div class="con_box">
							<div class="cont_txt">
								<div class="txt_group">
									<p><span>3월ㅣ </span>마인즈랩-PwC 컨설팅 AI 포럼 개최</p>
									<p><span>5월ㅣ </span>대한민국 임팩테크대상,국무총리상 수상</p>
									<p><span>6월ㅣ </span>대한민국창업대상, 산업통상자원부 장관상 수상</p>
									<p><span>8월ㅣ </span>하이브리드 인공지능 고객센터 서비스 HAICC 출시</p>
									<p><span>8월ㅣ </span>AI 로봇 ‘뽀로롯’에 마음 AI 최신 인공지능 탑재</p>
								</div>							
							</div>	
							<div class="dot">
								<div class="circle"><span>2018</span></div>
							</div>
						</div>
						<div class="con_box">
							<div class="dot_fl">
								<div class="fl_circle"><span>2017</span></div>
							</div>
							<div class="txt_fr">
								<div class="txt_group" style="padding-top: 10px;">
									<p><span>2월ㅣ </span>2016 기술사업화대상, 미래창조과학부 장관상 선정</p>
									<p><span>5월ㅣ </span>마인즈랩 AI 플랫폼 maum.ai 정식 오픈</p>
									<p><span>6월ㅣ </span>Series B 투자유치 (40억)</p>
									<p><span>9월ㅣ </span>ITU Telecom World 우수기업 수상</p>
									<p><span>12월ㅣ </span>대한민국ICT대상, 지능정보부문 대상 수상</p>
								</div>
							</div>
						</div>
						<div class="con_box">
							<div class="cont_txt">
								<div class="txt_group y_2016">
									<p><span>6월ㅣ </span>딥러닝기반 인공지능 제품 출시 (실시간 음성기반 상담)</p>
									<p><span>8월ㅣ </span>Series A 투자유치 (40억)</p>
									<p><span>12월ㅣ </span>ICT 유망기업 (K-Global 300) 선정</p>
								</div>
							</div>	
							<div class="dot">
								<div class="circle"><span>2016</span></div>
							</div>
						</div>
						<div class="con_box">
							<div class="dot_fl" style ="margin-top:10px;">
								<div class="fl_circle"><span>2015</span></div>
							</div>
							<div class="txt_fr">
								<div class="txt_group" style = "margin-top:15px;">
									<p><span>8월ㅣ </span>Pre-Series A 투자 유치 (100억)</p>
									<p><span>11월ㅣ </span>통합 콜센터 Big Data 솔루션 출시 (MINDs VOC / RS / QC)</p>
								</div>
							</div>	

						</div>
						<div class="con_box">
							<div class="cont_txt">
								<div class="txt_group"  style = "padding-top: 30px;">
									<p><span>1월ㅣ </span>마인즈랩 창립</p>
									<p><span>1월ㅣ </span>소셜 빅데이터 분석 플랫폼 서비스 MINDs Insight 출시</p>
									<p><span>2월ㅣ </span>미래창조과학부 지정 연구소 기업 등록 </p>
									<p><span>7월ㅣ </span>미래창조과학부 국가연구개발 우수성과 100선 선정 </p>
									<p><span>12월ㅣ </span>통합 VOC 분석 솔루션 (i-VOC) 출시</p>
								</div>
							</div>	
							<div class="dot" style="margin-top: 30px;">
								<div class="circle"><span>2014</span></div>
							</div>
						</div>
					</div>
				</div>				
			</div>	
			<!-- //#history -->
			
			<!-- #global -->
			<div id="global" class="tab_contents">
				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">Global Network</div>
						<p><span>마인즈랩은 약 110여명의 직원들과 다양한 연구 네트워크를 보유하고 있으며, 현재 4개 국가에 지점을 두고 R&amp;D 및 </span>	
							<span>AI 학습 역량 강화와 글로벌 시장 확대에 힘쓰고 있습니다.</span>
						</p>			
					</div>
				</div>		
				
				<div class="img_global">
				 	<img src="{% static 'chatbot/images/map.png' %}" alt="global network">
				</div>			
				
			</div>
			<!-- #global -->
			
			<!-- #customers -->
			<div id="customers" class="tab_contents">
				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">Customers</div>									
					</div>
				</div>		
				
				<!-- .tab_nav -->
                <div class="tab_nav">
                    <ul>
                        <li><a href="javascript:changeDiv('public')">정부/공공기관/공기</a></li>
                        <li><a href="javascript:changeDiv('finance')">금융</a></li>
                        <li><a href="javascript:changeDiv('it')">통신/IT</a></li>
                        <li><a href="javascript:changeDiv('edu')">교육/출판</a></li>
                        <li><a href="javascript:changeDiv('etc')">제조/유통/기타</a></li>                        
                    </ul>
                </div>
                <!-- //.tab_nav -->	
				<div id="public" class="customer_contents" style="display:block;">
					<div class="public_group custom_table">
						<div class="row">
							<div class="cell nia_cell"><img src="{% static 'chatbot/images/img_nia.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_deagu.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_busan.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_navy.png' %}" alt=""></div>
						</div>

						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_ex.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_klid.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_copyright.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_health.png' %}" alt=""></div>
						</div>
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_ganwon.png' %}" alt=""></div>
							<div class="cell"></div>
							<div class="cell"></div>
							<div class="cell"></div>
						</div>	
					</div>		
				</div>
				<div id="finance" class="customer_contents" style="display:none;">
					<div class="finance_group custom_table">
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_keb.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_woori.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_kb.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_scard.png' %}" alt=""></div>
						</div>
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_sstock.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_sfire.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_mirae.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_meritz.png' %}" alt=""></div>
						</div>						
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_hundai.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_kblife.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_lotte.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_orange.png' %}" alt=""></div>						
						</div>	
					</div>	
				</div>
				<div id="it" class="customer_contents" style="display:none;">
					<div class="it_group custom_table">
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_lgu.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_posco.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_lotte_it.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_kakao.png' %}" alt=""></div>
						</div>
						<div class="row">						
							<div class="cell"><img src="{% static 'chatbot/images/img_tigris.png' %}" alt=""></div>
							<div class="cell"></div>
							<div class="cell"></div>
							<div class="cell"></div>													
						</div>	
					</div>	
				</div>
				<div id="edu" class="customer_contents" style="display:none;">
					<div class="edu_group custom_table">
						<div class="row">
					
							<div class="cell"><img src="{% static 'chatbot/images/img_hansol.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_samsun_edu.png' %}" alt=""></div>
						</div>
						
					</div>	
				</div>
				<div id="etc" class="customer_contents" style="display:none;">
					<div class="etc_group custom_table">
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_etc_samsung.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_mobis.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_etc_posco.png' %}" alt=""></div>
							<div class="cell"><img src="{% static 'chatbot/images/img_cj.png' %}" alt=""></div>
						</div>
						<div class="row">
							<div class="cell"><img src="{% static 'chatbot/images/img_nt.png' %}" alt=""></div>	
							<div class="cell"></div>
							<div class="cell"></div>
							<div class="cell"></div>
						</div>	
					</div>	
				</div>
			</div>
			<!-- //#customers -->
			
			<!-- #pr_center -->
			<div id="pr_center" class="tab_contents">
				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">PR Center</div>
					</div>
				</div>		
				<!-- .tab_nav -->
				<div class="tab_nav">
					<ul>
						<li><a>Press</a></li>
						<li><a>Video</a></li>										
					</ul>
				</div>
				<!-- //.tab_nav -->
				<div class="sub_tab_nav">
					<ul>
						<li><a name="video1">시연</a></li>
						<li><a name="video2">홍보</a></li>										
					</ul>
				</div>
				<!-- #press -->
				<div id="#press" class="press_list" style="display:block;">
                    <table id="pr_table" class="press_table">
						<tr class="table_hd">
							<th class="list_num">번호</th>
							<th>제목</th> 
							<th>등록일</th>
						</tr>
						<tr>
							<td class="list_num">num</td>
							<td class="press_tit"><a>title</a></td>
							<td>created_date</td>
							<td style="display: none">id</td>
						</tr>
						<tr>
							<td class="list_num">num</td>
							<td class="press_tit"><a>title</a></td>
							<td>created_date</td>
							<td style="display: none">id</td>
						</tr>
						<tr>
							<td class="list_num">num</td>
							<td class="press_tit"><a>title</a></td>
							<td>created_date</td>
							<td style="display: none">id</td>
						</tr>
						<tr>
							<td class="list_num">num</td>
							<td class="press_tit"><a>title</a></td>
							<td>created_date</td>
							<td style="display: none">id</td>
						</tr>
						<tr>
							<td class="list_num">num</td>
							<td class="press_tit"><a>title</a></td>
							<td>created_date</td>
							<td style="display: none">id</td>
						</tr>
						<tr>
							<td class="list_num">num</td>
							<td class="press_tit"><a>title</a></td>
							<td>created_date</td>
							<td style="display: none">id</td>
						</tr>
						<tr>
							<td class="list_num">num</td>
							<td class="press_tit"><a>title</a></td>
							<td>created_date</td>
							<td style="display: none">id</td>
						</tr>
						<tr>
							<td class="list_num">num</td>
							<td class="press_tit"><a>title</a></td>
							<td>created_date</td>
							<td style="display: none">id</td>
						</tr>
						<tr>
							<td class="list_num">num</td>
							<td class="press_tit"><a>title</a></td>
							<td>created_date</td>
							<td style="display: none">id</td>
						</tr>
						<tr>
							<td class="list_num">num</td>
							<td class="press_tit"><a>title</a></td>
							<td>created_date</td>
							<td style="display: none">id</td>
						</tr>
					</table>
					<!-- 페이징 -->
                    <div class="pageing">
						<a target="_self" class ="first">처음페이지</a>
						<a target="_self" class ="prev">이전페이지</a>
						<a target="_self" class ="sidePN curPN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="next">다음페이지</a>
						<a target="_self" class ="end">마지막페이지</a>
                    </div>
                    <!-- //페이징 -->					
				</div>			
				<!-- //#press -->
				
				<!-- .press_detail -->
				<div id="press_detail" class="press_detail" style="display:none;">
					<div>
						<div class="press_hd">
							<p>title</p>
							<span>published_date</span>
						</div>
						<div class="press_bd">
							<img src="" alt="기사사진">
							<div class="press_box"></div>
							<!-- <pre class="press_txt">text</pre> -->
						</div>
						<!-- <ul class="bt_list">
							<li>
								<div class="list_mov">이전글　
									<small> ▲</small>
								</div>
								<p><a href="#none">유태준 마인즈랩 대표가 말하는 AI 고객센터</a></p>
							</li>
							<li>
								<div class="list_mov">다음글　
									<small> ▼</small>
								</div>
								<p><a href="#none">유태준 마인즈랩 대표가 말하는 AI 고객센터</a></p>
							</li>
						</ul> -->
					</div>
					<div class="list_btn">
						<button type="button">목록</button>
					</div>
				</div>		
                <!-- //.press_detail -->
                

				<!-- #video1 -->
				<div id="video1" style="display:none;">
					<ul>
						<li>
							<a class="btn_movLayer" href=""><!--{% static 'chatbot/images/bg_stn_eco.png' %}-->
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">test</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
						<li>
							<a class="btn_movLayer" href=""><!--{% static 'chatbot/images/bg_video01.png' %}-->
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
						<li>
							<a class="btn_movLayer" href="">
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
						<li>
							<a class="btn_movLayer" href="">
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
						<li>
							<a class="btn_movLayer" href="">
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
						<li>
							<a class="btn_movLayer" href="">
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
					</ul>
					<!-- 페이징 -->
					<div class="pageing">
						<a target="_self" class ="first">처음페이지</a>
						<a target="_self" class ="prev">이전페이지</a>
						<a target="_self" class ="sidePN curPN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="next">다음페이지</a>
						<a target="_self" class ="end">마지막페이지</a>
                    </div>
                    <!-- //페이징 -->	
				</div>
				<!-- //#video1 -->
				<!-- #video2 -->
				<div id="video2" style="display:none;">
					<ul>
						<li>
							<a class="btn_movLayer" href=""><!--{% static 'chatbot/images/bg_stn_eco.png' %}-->
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
						<li>
							<a class="btn_movLayer" href=""><!--{% static 'chatbot/images/bg_video01.png' %}-->
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
						<li>
							<a class="btn_movLayer" href="">
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
						<li>
							<a class="btn_movLayer" href="">
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
						<li>
							<a class="btn_movLayer" href="">
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
						<li>
							<a class="btn_movLayer" href="">
								<div class="video_img"><img src="{% static 'chatbot/images/a_preparing.png' %}"><strong class="ico_mov">동영상</strong></div>
								<div class="video_txt">
									<p>title</p>
									<p class="video_category">category</p>
								</div>
							</a>
						</li>
					</ul>
					<!-- 페이징 -->
					<div class="pageing">
						<a target="_self" class ="first">처음페이지</a>
						<a target="_self" class ="prev">이전페이지</a>
						<a target="_self" class ="sidePN curPN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="sidePN"></a>
						<a target="_self" class ="next">다음페이지</a>
						<a target="_self" class ="end">마지막페이지</a>
                    </div>
                    <!-- //페이징 -->	
				</div>
				<!-- //#video2 -->
			</div>
			<!-- //#pr_center -->
			
			<!-- #recruitement -->
			<div id="recruitment" class="tab_contents">
				<div class="stn_desc">
					<div class="desc_txt">
						<div class="desc_tit">Recruitement</div>
						<p><span>마인즈랩은 전문성과 프로의식을 갖춘 AI 전문가 집단입니다.</span>	
							<span>인공지능의 내일을 생각하는 마인즈랩의 구성원 한명 한명은 적극적으로 솔루션을 찾고,</span>
							<span>동료와 함께 팀 내외에서 즐겁게 의사소통하며 능동적으로 움직입니다.</span>
						</p>
					</div>
				</div>	
				
				<!-- .rtm_list -->
				<div class="rtm_list">
                    <table class="press_table">
                       <tr class="table_hd">
                           <th class="list_num">번호</th>
                           <th>제목</th> 
                           <th>등록일</th>
                       </tr>
                       <!-- {% for item in recru_list %}
                           <tr>
                               <td class="list_num">{{ item.number }}</td>
                               <td class="press_tit"><a>{{item.title}}</a></td>
                               <td>{{item.created_date}}</td>
                               <td style="display: none">{{item.id}}</td>
                           </tr>
                       {% endfor %} -->
                       <!-- <tr>
                           <td class="list_num">num</td>
                           <td class="press_tit"><a>title</a></td>
                           <td>created_date</td>
                           <td style="display: none">id</td>
                       </tr>
                       <tr>
                           <td class="list_num">num</td>
                           <td class="press_tit"><a>title</a></td>
                           <td>created_date</td>
                           <td style="display: none">id</td>
                       </tr>
                       <tr>
                           <td class="list_num">num</td>
                           <td class="press_tit"><a>title</a></td>
                           <td>created_date</td>
                           <td style="display: none">id</td>
                       </tr>
                       <tr>
                           <td class="list_num">num</td>
                           <td class="press_tit"><a>title</a></td>
                           <td>created_date</td>
                           <td style="display: none">id</td>
                       </tr>
                       <tr>
                           <td class="list_num">num</td>
                           <td class="press_tit"><a>title</a></td>
                           <td>created_date</td>
                           <td style="display: none">id</td>
                       </tr>
                       <tr>
                           <td class="list_num">num</td>
                           <td class="press_tit"><a>title</a></td>
                           <td>created_date</td>
                           <td style="display: none">id</td>
                       </tr>
                       <tr>
                           <td class="list_num">num</td>
                           <td class="press_tit"><a>title</a></td>
                           <td>created_date</td>
                           <td style="display: none">id</td>
                       </tr>
                       <tr>
                           <td class="list_num">num</td>
                           <td class="press_tit"><a>title</a></td>
                           <td>created_date</td>
                           <td style="display: none">id</td>
                       </tr>
                       <tr>
                           <td class="list_num">num</td>
                           <td class="press_tit"><a>title</a></td>
                           <td>created_date</td>
                           <td style="display: none">id</td>
                       </tr> -->
                   </table>

                   <!-- 페이징 -->
                   <!-- <div class="pageing">
                       <a target="_self" class ="first">처음페이지</a>
                       <a target="_self" class ="prev">이전페이지</a>
                       <a target="_self" class ="sidePN curPN"></a>
                       <a target="_self" class ="sidePN"></a>
                       <a target="_self" class ="sidePN"></a>
                       <a target="_self" class ="sidePN"></a>
                       <a target="_self" class ="sidePN"></a>
                       <a target="_self" class ="next">다음페이지</a>
                       <a target="_self" class ="end">마지막페이지</a>
                   </div> -->
                   <!-- //페이징 -->					
               </div>			
               <!-- //.rtm_list -->
				
				<!-- .rtm_detail -->
				<div class="rtm_detail" style="display:none;">
					<div>
						<div class="rtm_hd">
							<p>title</p>
							<span>created_date</span>
						</div>
						<div class="rtm_bd">
							<img src="" alt="채용사진">
							<div class="rtm_box"></div>
							<!-- <pre class="rtm_txt">text</pre> -->
						</div>
						<!-- <ul class="bt_list">
							<li>
								<div class="list_mov">이전글　<small> ▲</small></div>
								<p><a href="#none">유태준 마인즈랩 대표가 말하는 AI 고객센터</a></p>
							</li>
							<li>
								<div class="list_mov">다음글　<small> ▼</small></div>
								<p><a href="#none">유태준 마인즈랩 대표가 말하는 AI 고객센터</a></p>
							</li>
						</ul> -->
					</div>
					<div class="list_btn">
						<button type="button">목록</button>
					</div>
				</div>
				<!-- .welfatre -->
				<div id="welfatre02" class="welfatre">
					<div class="stn_desc">
						<div class="desc_txt">
							<div class="desc_tit">Welfare Benefits</div>
						</div>
					</div>
				
					<div class="wel_box">
						<ul>
							<li><img src="{% static 'chatbot/images/img_wel01.png' %}" alt="">성과급 지급</li>
							<li><img src="{% static 'chatbot/images/img_wel02.png' %}" alt="">스톡옵션 제공</li>
							<li><img src="{% static 'chatbot/images/img_wel03.png' %}" alt="">식비/식권 제공</li>
							<li><img src="{% static 'chatbot/images/img_wel04.png' %}" alt="">스포츠센터 지원</li>
						</ul>
						<ul>
							<li><img src="{% static 'chatbot/images/img_wel05.png' %}" alt="">경조사 지원</li>
							<li><img src="{% static 'chatbot/images/img_wel06.png' %}" alt="">휴식공간 제공</li>
							<li><img src="{% static 'chatbot/images/img_wel07.png' %}" alt="">안식 휴가 제도</li>
							<li></li>
						</ul>
					</div>
				</div>
				<!-- //.welfatre -->		
		</div>		
		<!-- //.tab_container -->
			
		<!-- .api_contact -->
		{% include 'kr/common/contact.html' %}
        <!-- //.api_contact -->
        
		<!-- .btn_goTop -->
        <p class="btn_goTop"><button>맨위로</button></p>
        <!-- //.btn_goTop -->
    </div>
    <!-- //.contents -->
	</div>
	<!-- //#container -->
	
	<!-- #footer -->
	{% include 'kr/common/footer.html' %}
	<!-- //#footer -->
</div>
<!-- //#wrap -->
<script type="text/javascript">
    $(window).load(function() {
        $('#page_ldWrap').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
    });
</script>
<script type="text/javascript">
    jQuery(function(){
        jQuery("a.btn_movLayer").movLayer();
    });
</script>
<script>
    //--- function start ---//
    function changeDiv(param) {
        $('#customers div.customer_contents').hide();
        $('#' + param).show();
    }
    //--- function end ---//

    function drawList (whichOne, curPageNum, totItemNum){// Press or Recruitment list 그려주기
        var modelName ="";
        if (whichOne == ".press_list"){
            modelName = "PR_Press";
        }else if(whichOne == ".rtm_list"){
            modelName = "Recruitment";
        }
        $.ajax({
            type: 'POST',
            url: '/kr/press_list',
            dataType: 'json',
            data: { 'modelName':modelName, 'pageNum': curPageNum, 'tot_count': totItemNum,'csrfmiddlewaretoken': '{{ csrf_token }}' },
            success: function (data) {//data : {number(list index), id, title, created_date} //category로 order됨.
                var lists = data['lists'];
                for (var i=0; i<lists.length; i++){
                    var tr = $(whichOne + " .press_table tr").eq(i+1);
                    // var created_date = lists[i]["created_date"] + "";
                    // console.log(created_date);
                    // created_date = created_date.substr(0,created_date.indexOf("T"));
                    tr.show();
                    tr.children('td').eq(0).text(lists[i]["number"]);
                    tr.children('td').eq(1).children('a').text(lists[i]["title"]);
                    // tr.children('td').eq(2).text(created_date);
                    tr.children('td').eq(2).text(lists[i]["created_date"]);
                    tr.children('td').eq(3).text(lists[i]["id"]);
                }
                if (lists.length<10){
                    for( var i=lists.length; i<10;i++){
                        var tr = $(whichOne + " .press_table tr").eq(i+1);
                        tr.hide();
                    }
                }
            }
        });
    }

    function drawVideoList(curPageNum, totItemNum, whichOne){
        var category = "";
        if(whichOne == "video1") category = "시연영상";
        else category = "홍보영상";
        $.ajax({
            type: 'POST',
            url: '/kr/video_list',
            dataType: 'json',
            data: {'pageNum': curPageNum, 'tot_count': totItemNum, 'category': category ,'csrfmiddlewaretoken': '{{ csrf_token }}' },
            success: function (data) {//data : {title, video_url, category }
                var lists = data['lists'];
                for (var i=0; i < lists.length; i++){
                    var li_obj = $('#'+whichOne+' ul li').eq(i);
                    li_obj.children('a').attr('href', lists[i]["video_url"]);
                    var ID = '';
                    var url = lists[i]["video_url"];
                    url = url.replace(/(>|<)/gi, '').split(/(vi\/|v=|\/v\/|youtu\.be\/|\/embed\/)/);
                    if (url[2] !== undefined) {
                        ID = url[2].split(/[^0-9a-z_\-]/i);
                        ID = ID[0];
                    }
                    else {
                        ID = url[0];
                    }
                    li_obj.children('a').children('.video_img').children('img').attr('src', "https://img.youtube.com/vi/" + ID + "/hqdefault.jpg");
                    li_obj.children('a').children('.video_txt').children('p:first-child').text(lists[i]["title"]);
                    li_obj.children('a').children('.video_txt').children('p.video_category').text(lists[i]["category"]);
                    li_obj.show();
                }
                if (lists.length<6){
                    for( var i=lists.length; i < 6; i++){
                        var li_obj = $('#'+whichOne+' ul li').eq(i);
                        li_obj.hide();
                    }
                }
            }
        });
    }

    function setPageNum(click_PN, last, element){
        var curPN = click_PN;
        var startPN = 0;
        if (last >= 6){
            if (curPN == 1) {
                element.children('.first').hide();
                element.children('.prev').hide();
                element.children('.end').show();
                element.children('.next').show();
                startPN = 1;
            } else if (2 <= curPN && curPN <= 3) {
                element.children('.first').hide();
                element.children('.prev').show();
                element.children('.end').show();
                element.children('.next').show();
                startPN = 1;
            } else if (last - 2 <= curPN && curPN <= last - 1) {
                element.children('.first').show();
                element.children('.prev').show();
                element.children('.end').hide();
                element.children('.next').show();
                startPN = last - 4;
            } else if (curPN == last) {
                element.children('.first').show();
                element.children('.prev').show();
                element.children('.end').hide();
                element.children('.next').hide();
                startPN = last - 4;
            } else {
                element.children('.first').show();
                element.children('.prev').show();
                element.children('.end').show();
                element.children('.next').show();
                startPN = curPN - 2;
            }

            element.children('.sidePN').each(function (index) {
                if ($(this).hasClass('curPN')) { $(this).removeClass('curPN'); }
                if (curPN == startPN + index) { $(this).addClass('curPN'); }
                $(this).text(startPN + index);
            });
        }
        else{
            element.children('.first').hide();
            element.children('.prev').hide();
            element.children('.end').hide();
            element.children('.next').hide();
            startPN=1;
            element.children('.sidePN').each(function (index) {
                var PN = startPN + index;
                if ($(this).hasClass('curPN')) { $(this).removeClass('curPN'); }
                if (curPN == PN) { $(this).addClass('curPN'); }
                if(PN<=last) {$(this).text(PN);}
                else { $(this).text(""); }
            });
        }

        if (element.parent().hasClass('press_list')){
            press_cur_page = click_PN;
        }else if(element.parent().hasClass('rtm_list')){
            recruit_cur_page = click_PN;
        }else if(element.parent().attr('id') == "video1"){
            video1_cur_page = click_PN;
        }
        else if(element.parent().attr('id') == "video2"){
            video2_cur_page = click_PN;
        }
    }

    function get_set_DetailData (whichOne, id, element){//element = ".press_bd" or ".rtm_bd"
        var urlStr = '';
        var class_name = "";
        if (whichOne == "press"){
            urlStr = '/kr/press_detail';
            class_name = 'press_txt';
        }else if(whichOne == "recruit"){
            urlStr = '/kr/recruit_detail';
            class_name = 'rtm_txt';
        }
        $.ajax({
            type: 'POST',
            url: urlStr,
            dataType: 'json',
            async: false,
            data: {'id': id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            success: function (data) {//data : {img, content}
                if (data['image'] == "None")
                    element.children('img').hide();
                else{
                    element.children('img').attr('src',data['image']);
                    element.children('img').show();
                }
                element.children('div').html(data['content']);
                element.children('div').children('p').addClass(class_name);
                element.children('div').children('p').children('a').parent('p').removeClass(class_name);
                element.children('div').children('p').children('a').parent('p').addClass(class_name + '_a');
                $('.'+class_name + '_a a').css({color:'#457ffc', 'font-size':'13px'});
            }
        });
    }
    //--- function end ---//


    var press_last_PN = "{{press.paginator.num_pages}}" * 1;
    var video1_last_PN = "{{video1.paginator.num_pages}}" * 1;
    var video2_last_PN = "{{video2.paginator.num_pages}}" * 1;
    var recruit_last_PN = "{{recruitment.paginator.num_pages}}" * 1;
    var tot_press_num = "{{ total_press}}"-"0";
    var tot_video1_num = "{{ total_video1 }}" - "0";
    var tot_video2_num = "{{ total_video2 }}" - "0";
    var tot_recruit_num = "{{ total_recruit }}" -"0";

    var press_cur_page = 1;
    var video1_cur_page = 1;
    var video2_cur_page = 1;
    var recruit_cur_page = 1;

    $(document).ready(function (){
        $('.tab_container .tab_contents').hide(); //Hide all content
        $('.tab_mov .tab_nav li:first-child a').addClass('active').show(); //Activate first tab
        $('.tab_container .tab_contents:first-child').show();

        //Tab_mov
        $('.tab_mov .tab_nav li a').on('click', function () {
            var activeTab = $(this).attr('href');
            $('.tab_mov .tab_nav li a').removeClass('active'); //Remove any 'active' class
            $(this).addClass('active'); //Add 'active' class to selected tab
            $('.tab_container .tab_contents').each(function (index, item) {
                $(this).hide();
            });
            $(activeTab).show();
            if (activeTab == "#pr_center") {
                if ($('#pr_center .tab_nav ul li:first-child a').hasClass('active')) {
                    $('#pr_center .tab_nav ul li:first-child a').trigger('click');
                }else{
                    $('#pr_center .tab_nav ul li:last-child a').trigger('click');
                }
            } else if (activeTab == "#recruitment") {
                // drawList(".rtm_list", recruit_cur_page, tot_recruit_num);
                // setPageNum(recruit_cur_page, recruit_last_PN, $('.rtm_list .pageing'));
                $('.rtm_list').show();
                $('.rtm_detail').hide();
                // press_cur_page = 1;
                video1_cur_page = 1;
                video2_cur_page = 1;
            }
            $('html, body').clearQueue();
        });

        $(".co_visualArea .tab_mov .tab_nav li a").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top-110}, 800);
            $('html, body').clearQueue();
        });

        //#customers
        $('#customers .tab_nav ul li:first-child a').addClass('active').show();
        $('#customers .tab_nav li a').on('click', function () {
            $('html, body').clearQueue();
            $('#customers .tab_nav li a').removeClass('active');
            $(this).addClass('active');
            $('html, body').animate({ scrollTop: $('#customers .desc_tit').offset().top - 180 }, "slow");
        });

        //#pr_center
        $('#pr_center .tab_nav ul li:first-child a').addClass('active').show();
        $('#pr_center .tab_nav ul li a').on('click',function(){
            $('#pr_center .tab_nav ul li a').removeClass("active");
            $(this).addClass("active");
            if($(this).text()=="Press"){
                $('#pr_center .sub_tab_nav ul li a').removeClass('active');
                drawList(".press_list", press_cur_page, tot_press_num);
                setPageNum(press_cur_page, press_last_PN, $('.press_list .pageing'));
                $('.press_list').show();
                $('.press_detail').hide();
                $('#video1').hide();
                $('#video2').hide();
                video1_cur_page = 1;
                video2_cur_page = 1;
            }else if($(this).text()=="Video"){
                $('#pr_center .sub_tab_nav ul li a').eq(0).trigger('click');
                press_cur_page = 1;
            }
        });
        $('#pr_center .sub_tab_nav ul li a').removeClass('active');
        $('#pr_center .sub_tab_nav ul li a').on('click',function(){
            $('#pr_center .sub_tab_nav ul li a').removeClass("active");
            $('#pr_center .tab_nav ul li a').eq(0).removeClass('active');
            $('#pr_center .tab_nav ul li a').eq(1).addClass('active');
            $(this).addClass('active');
            if($(this).attr('name') == "video1") {
                drawVideoList(video1_cur_page, tot_video1_num,"video1");
                setPageNum(video1_cur_page, video1_last_PN, $('#video1 .pageing'));
                $('.press_list').hide();
                $('.press_detail').hide();
                $('#video2').hide();
                $('#video1').show();
            }
            else{
                drawVideoList(video2_cur_page, tot_video2_num,"video2");
                setPageNum(video2_cur_page, video2_last_PN, $('#video2 .pageing'));
                $('.press_list').hide();
                $('.press_detail').hide();
                $('#video1').hide();
                $('#video2').show();
            }
        });

        // press List의 페이지숫자 클릭시
        $(".pageing a").on("click", function () {
            var element = $(this).parent();
            var click_PN = 0;
            var cur, last = 0;
            var className = "";
            if ($(this).parent().parent().hasClass('press_list')){
                cur = press_cur_page;
                last = press_last_PN;
                className = ".press_list";
            }else if($(this).parent().parent().hasClass('rtm_list')){
                cur = recruit_cur_page;
                last = recruit_last_PN;
                className = ".rtm_list";
                console.log(cur, last, className);
            }else if($(this).parent().parent().attr('id') == "video1"){
                cur = video1_cur_page;
                last = video1_last_PN;
            }else if($(this).parent().parent().attr('id') == "video2"){
                cur = video2_cur_page;
                last = video2_last_PN;
            }

            if($(this).hasClass('first')) { click_PN = 1; }
            else if( $(this).hasClass('prev')) { click_PN = cur - 1; }
            else if( $(this).hasClass('next')) { click_PN = cur + 1; }
            else if( $(this).hasClass('end')) { click_PN = last; }
            else { click_PN = $(this).text() * 1; }

            if(click_PN == 0) return 0;
            else if (click_PN < 1) { click_PN = 1; }
            else if (last < click_PN) { click_PN = last; }

            if (className == ""){ drawVideoList(click_PN, tot_press_num, element.parent().attr('id')); }
            else{ drawList(className, click_PN, tot_press_num); }

            setPageNum(click_PN, last, element);
            $('html, body').animate({scrollTop: element.parent().offset().top-280}, "slow");
        });

        //#pr_center -> press_detail
        $('#pr_table tr .press_tit a').on('click',function(){
            var tr = $(this).parent().parent();
            // location.hash = tr.children('td:eq(0)').text();
            var title = tr.children(".press_tit").text();
            var created_date = tr.children("td:eq(2)").text();
            var id = tr.children("td:eq(3)").text();
            var element = $(".press_bd");
            get_set_DetailData("press",id,element);
            $('#pr_center .press_detail .press_hd p').text(title);
            $('#pr_center .press_detail .press_hd span').text(created_date);
            $('.press_list').hide();
            $('.press_detail').show();
            $('html, body').animate({scrollTop: $('.press_detail').offset().top-140}, "slow");
        });

        //#pr_center -> press_detail -> list_btn(목록)
        $('.press_detail .list_btn button').on('click',function(){
            $('#press_detail .press_hd p').text("");
            $('#press_detail .press_hd span').text("");
            $('#press_detail .press_bd img').attr("src","");
            $('#press_detail .press_bd .press_txt').text("");
            $('.press_list').show();
            $('.press_detail').hide();
            $('html, body').animate({scrollTop: $('#pr_table').offset().top-280}, "slow");
        });

        //#recruitment -> rtm_detail
        $('.rtm_list .press_tit a').on('click', function () {
            var tr = $(this).parent().parent();
            var title = tr.children(".press_tit").text();
            var created_date = tr.children("td:eq(2)").text();
            var id = tr.children("td:eq(3)").text();
            var element = $(".rtm_bd");
            get_set_DetailData("recruit",id,element);
            $('#recruitment .rtm_detail .rtm_hd p').text(title);
            $('#recruitment .rtm_detail .rtm_hd span').text(created_date);
            $('.rtm_list').hide();
            $('.rtm_detail').show();
            $('html, body').animate({ scrollTop: $('.rtm_detail').offset().top - 140 }, "slow");
        });

        //#recruitment -> rtm_detail -> list_btn(목록)
        $('.rtm_detail .list_btn button').on('click', function () {
            $('.rtm_detail .rtm_hd p').text("");
            $('.rtm_detail .rtm_hd span').text("");
            $('.rtm_detail .rtm_bd img').attr("src","");
            $('.rtm_detail .rtm_bd .rtm_txt').text("");
            $('.rtm_list').show();
            $('.rtm_detail').hide();
            $('html, body').animate({ scrollTop: $('.rtm_list .press_table').offset().top - 140 }, "slow");
        });
    });

    window.onload = function () {
        setTimeout(function () {
            scrollTo(0, 0);
        }, 100);
        var curLoc = $(location).attr('href');
        if(curLoc.match('#')){
            curLoc = curLoc.substr(curLoc.indexOf('#'));
            $('.tab_mov .tab_nav li a').each(function(){
                if( $(this).attr('href')==curLoc)
                    $(this).trigger('click');
            });
        }
    };


</script>
</body>
</html>


