
	<!-- #header -->
	<div id="header">
		<!-- .sta -->
		<div class="sta">
			<h1><a href="/"><img src="{% static 'chatbot/images/img_logo_w.png' %}" alt="maum AI"></a></h1>
			<div class="etcMenu">
				<ul>
					<!-- <li class="login"><span>로그인</span></li> -->
					<li class="lang">
						<p class="lang_select"><img src="{% static 'chatbot/images/ico_lang_kr.png' %}" alt="한국어"><em>한국어</em></p>
						<ul class="lst">
							<li><a href="/en" target="_self"><img src="{% static 'chatbot/images/ico_lang_us.png' %}" alt="English"><em>English</em></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- //.sta -->
		<!-- .gnb -->
		<div id="gnb" class="gnb">
			<div class="gnbNavBox">
				<ul class="gnbNav">
					<li class="menu1depth">
						<h2><a href="/kr/acc">AI Contact Center</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="/kr/portfolio">Chatbot</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="/kr/pricing">Pricing</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="https://api.maum.ai/" target="_blank" title="새창열림">API Service</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="#api_contact">Contact Us</a></h2>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //#header -->

	<!-- aside -->
	<div class="aside" style="display:none;">
		<!-- .aside_top -->
		<div class="aside_top">
			<h1><a href="/"><img src="{% static 'chatbot/images/img_logo_b.png' %}" alt="maum AI"></a></h1>
		</div>
		<!-- //.aside_top -->
		<!-- .aside_mid -->
		<div class="aside_mid">
			<ul class="m_etcMenu">
				<li class="lang">
					<p class="lang_select"><img src="{% static 'chatbot/images/ico_lang_kr.png' %}" alt="한국어"><em>한국어</em></p>
					<ul class="lst">
						<li><a href="/en" target="_self"><img src="{% static 'chatbot/images/ico_lang_us.png' %}" alt="English"><em>English</em></a></li>
					</ul>
				</li>
			</ul>
			<ul class="m_nav">
				<li>
					<h2><a href="/kr/acc">AI Contact Center</a></h2>
				</li>
				<li>
					<h2><a href="/kr/portfolio">Chatbot</a></h2>
				</li>
				<li class="menu1depth">
					<h2><a href="/kr/pricing">Pricing</a></h2>
				</li>
				<li>
					<h2><a href="https://api.maum.ai/" target="_blank" title="새창열림">API Service</a></h2>
				</li>
				<li>
					<h2><a id="m_api_contac" href="#api_contact">Contact Us</a></h2>
				</li>
			</ul>
		</div>
		<!-- //.aside_mid -->
		<!-- .aside_btm -->
		<div class="aside_btm">
			<ul>
				<li class="btn_mail"><a href="mailto:chatbot@mindslab.ai">chatbot@mindslab.ai</a></li>
				<li class="btn_tel"><a href="tel:+82316254340">031. 625. 4340</a></li>
			</ul>
		</div>
		<!-- //.aside_btm -->
	</div>
	<div class="bg_aside"></div>
	<a class="btn_header_ham" href="#none"><span class="hamburger_icon"></span></a>
	<!-- //aside -->

<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function (){
	// language (pc)
	$('#header .sta .etcMenu ul li.lang').each(function(){
		$(this).on('click',function(){
			$(this).toggleClass('active');
		});
		$('#header .sta .etcMenu ul li.lang ul.lst li a').on('click',function(){
			$(this).removeClass('active');
		});
		$('#container').on('click',function(){
			$('#header .sta .etcMenu ul li.lang').removeClass('active');
		});
	});

	// language (mobile)
	$('ul.m_etcMenu li.lang').each(function(){
		$(this).on('click',function(){
			$(this).toggleClass('active');
		});
		$('ul.m_etcMenu li.lang ul.lst li a').on('click',function(){
			$(this).removeClass('active');
		});
	});

	//aside menu
	var clicked = false;
	var asideWidth = $(window).width() - 50;
	$('.aside').show();

	$('a.btn_header_ham').click(function(){
		if (!clicked) {
			$(this).addClass('active');
			$('.aside').animate({
				width : asideWidth,
			},{duration:200,queue:false});
			$('.btn_goTop').hide();

			$('.bg_aside').animate({
				  opacity : 0.7,
			},{duration:200,queue:false});
			$('.bg_aside').css({
				  display : 'block',
			});

			clicked=true;
		} else {
			$(this).removeClass('active');
			$('.aside').animate({
				width: '0',
			},{duration:200,queue:false});
			$('.btn_goTop').show();

			$('.bg_aside').animate({
				  opacity : '0',
			},{duration:150,queue:false});
			$('.bg_aside').css({
				  display : 'none',
			});

			clicked=false;
		}
	});

	$('.bg_aside').on('click',function(){
		$('a.btn_header_ham').removeClass('active');
		$('.aside').animate({
			width: '0',
		},{duration:200,queue:false});
		$('.btn_goTop').show();

		$('.bg_aside').animate({
			  opacity : 0,
		},{duration:150,queue:false});
		$('.bg_aside').css({
			  display : 'none',
		});

		clicked=false;
	});

	// Hide Header on on scroll down
	var didScroll;
	var lastScrollTop = 0;
	var delta = 5;
	var navbarHeight = $('#header').outerHeight();

	$(window).scroll(function(event){
		didScroll = true;
	});
	setInterval(function() {
		if (didScroll) {
			hasScrolled();
			didScroll = false;
		}
	}, 250);
	function hasScrolled() {
		var scrollTop = $(window).scrollTop();

		// Make sure they scroll more than delta
		if(Math.abs(lastScrollTop - scrollTop) <= delta)
			return;

		// If they scrolled down and are past the navbar, add class .nav-up.
		// This is necessary so you never see what is "behind" the navbar.

		if (scrollTop > 10){
			// Scroll Down
			$('#header').addClass('fixed');
			// top button
			$('.btn_goTop').fadeIn();
			$('.btn_header_ham').css({
				'position':' absolute',
			});
		} else {
			// Scroll Up
			if(scrollTop + $(window).height() < $(document).height()) {
				$('#header').removeClass('fixed');
				// top button
				$('.btn_goTop').fadeOut();
				$('.btn_header_ham').css({
					'position':'fixed',
				});
			}
		}
		lastScrollTop = scrollTop;
	}

	// section move
	$('.gnb ul.gnbNav li h2 a[href^="#"]').on('click', function (e) {
		e.preventDefault();

		var target = this.hash;
		var $target = $(target);

		$('html, body').animate({
			'scrollTop': $target.offset().top
		}, 700, 'swing');
		$('.gnb ul.gnbNav li h2 a').removeClass('active');
		$(this).addClass('active');
	});

	// Mobile contact us button
	$('#m_api_contact').on('click',function(){
		$('a.btn_header_ham').removeClass('active');
		$('.aside').animate({
			width: '0',
		},{duration:200,queue:false});
		$('.btn_goTop').show();

		$('.bg_aside').animate({
			  opacity : 0,
		},{duration:150,queue:false});
		$('.bg_aside').css({
			  display : 'none',
		});

		clicked=false

		e.preventDefault();

		var target = this.hash;
		var $target = $(target);

		$('html, body').animate({
			'scrollTop': $target.offset().top
		}, 700, 'swing');
	});
});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120553152-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120553152-1');
</script>