<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	{% load static %}
<!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
<meta property="og:title"            content="maum AI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content="https://mindslab.ai/kr/product"/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="MINDsLab의 다양한 챗봇을 경험하실 수 있습니다."/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/kr/product"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="maum AI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="MINDsLab의 다양한 챗봇을 경험하실 수 있습니다."/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_maumAI_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_maumAI_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_maumAI_310x150.png' %}"><!-- widetile -->

	<!-- cookie reset -->
<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
<meta http-equiv="Expires" content="-1"> <!--캐시된 페이지가 만료되어 삭제되는 시간을 정의합니다. 특별한 경우가 아니면 -1로 설정합니다. -->
<meta http-equiv="Pragma" content="no-cache"> <!--  페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.0) -->
<meta http-equiv="Cache-Control" content="no-cache"> <!-- 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.1)-->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_maumAI_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로
합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_maumAI_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_maumAI_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_maumAI_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_maumAI_64x64.ico' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->

<title>MINDs Lab Product</title>
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/css/common_product.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/css/chatbot.css' %}" />
<link href="{% static 'chatbot/css/common.css' %}?v=1.0" rel="stylesheet">
<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/js/common.js' %}"></script>

<!-- //resources -->
</head>


<body>
<!-- .page loading -->
<div id="page_loading" class="page_ldWrap">
	<div class="page_ldBox"></div>
</div>
<!-- //.page loading -->

<!-- wrap -->
<div id="maumWrap">     
	<!-- #header -->
	<div id="header">
		<!-- .sta -->
		<div class="sta">
			<h1><a href="index.html"><img src="{% static 'chatbot/images/img_logo_w.png' %}" alt="maum AI"></a></h1>
		</div>
		<!-- //.sta -->
	</div>
	<!-- //#header -->

	<!-- aside -->
	<div class="aside" style="display:none;">
		<!-- .aside_top -->
		<div class="aside_top">
			<h1><a href="#none"><img src="{% static 'chatbot/images/img_logo_b.png' %}" alt="maum AI"></a></h1>
		</div>
		<!-- //.aside_top -->
		<!-- .aside_mid -->
		<div class="aside_mid">
			<ul class="m_nav">
				<li>
					<h2><a href="#stn_happy">maum Happy Call</a></h2>
				</li>
				<li>
					<h2><a href="#stn_tts">TTS</a></h2>
				</li>
				<li>
					<h2><a href="#stn_voc">maum VOC</a></h2>
				</li>
				<li>
					<h2><a href="#stn_rta">maum RTA</a></h2>
				</li>
				<li>
					<h2><a href="#stn_aqc">maum AQC</a></h2>
				</li>
				<li>
					<h2><a href="#stn_chatbot">maum Chatbot</a></h2>
				</li>
				<li>
					<h2><a href="#stn_en" >MINDs English</a></h2>
				</li>
				<li>
					<h2><a href="#stn_robot">AI Robot</a></h2>
				</li>
				<li>
					<h2><a href="#stn_diary">maum DIARL</a></h2>
				</li>
			</ul>  
		</div>
		<!-- //.aside_mid -->
		<!-- .aside_btm -->
		<div class="aside_btm">
			<ul>
				<li class="btn_mail"><a href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></li>
				<li class="btn_tel"><a href="tel:+82316254340">031. 625. 4340</a></li>
			</ul>
		</div>
		<!-- //.aside_btm -->
	</div>
	<div class="bg_aside"></div> 
	<a class="btn_header_ham" href="#none"><span class="hamburger_icon"></span></a>  
	<!-- //aside -->     
		
	<!-- #container -->
	<div id="container">
		<!-- .contents -->
		<div class="contents">
			<!-- .sub_titleArea -->
        	<div class="sub_titleArea">
            	<h2>PRODUCT</h2>
            </div>
            <!-- //.sub_titleArea --> 
			
           	<!-- .tab_mov -->
			<div class="tab_mov demoTab">	
				
				<!-- .tab_nav -->
				<div class="tab_nav">
				        <ul>
				            <li class="left_line"><a href="#stn_happy"><span>maum Happy</span> Call</a></li>
				            <li><a href="#stn_tts">TTS</a></li>
				            <li><a href="#stn_voc">maum VOC</a></li>
				            <li><a href="#stn_rta">maum RTA</a></li>
				            <li><a href="#stn_aqc">maum AQC</a></li>
				            <li><a href="#stn_chatbot">maum Chatbot</a></li>
				            <li><a href="#stn_en">MINDs English</a></li>
				            <li><a href="#stn_robot">AI Robot</a></li>
				            <li><a href="#stn_diary">maum DIARL</a></li>
				        </ul>
				</div>
				<!-- //.tab_nav -->	
				<!-- .product_stn -->
				<div id="stn_happy" class="product_stn stn_color">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<img src="{% static 'chatbot/images/img_happy.png' %}" alt="Happy Call">
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="lot_right">
							<div class="info">
								<dl>
									<dt>
										<span>PRODUCT 01</span>
										<em>maum Happy Call</em>
									</dt>
									<dd class="txt_clr">반복적인 콜은 인공지능에게 맡기세요</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
품질 확인, 설문조사와 같은 반복적인 성격의 전화는 이제 인공지능에게 맡기세요.
											</li>
											<li>
음성합성(TTS, Text to Speech)과 마인즈랩만의 대화기술을 결합한 maum 
											</li>
											<li>
Happy Call과 함께 인공지능 고객센터의 첫걸음을 열어보세요
											</li>
										</ul>
									</dd>
									<dd class="btn">
										<a class="btn_clor demo_page" href="http://52.79.213.190:8080/aicc-admin" target="_blank" title="새창열림">시연 페이지 바로가기</a>										
									</dd>
									<dd>
										<div class="howto">
											<p><em>로그인</em> <span>ID: <b>admin </b>　 Password: <b>1234</b></span></p>
											<p><em>전화번호 바꾸는 방법</em> <span>1.<a href="http://52.79.213.190:5001" target="_blank" title="새창열림" ><b> http://52.79.213.190:5001/</b></a>페이지로 접속한다</span></p>
											<p><em></em> <span>2. <b>EDIT </b>버튼을 누른다.</span></p>
											<p><em></em> <span>3. 원하는 번호로 바꾼 후, <b>SAVE</b> 버튼을 눌러 저장한다.</span></p>
										</div>
									</dd>
								</dl>	
							</div>
						</div>
						 <!-- //.lot_right -->
						<!-- .caseBox -->
						<div class="caseBox">
							<p class="case_tit">CASE STUDY</p>
							<div class="video_case">
								<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/t2RmnQshB4Q" >
									<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>
									
								</a>
								<div class="video_txt">
									<p>Case Study 1<br>불완전판매 자동확인</p>
									<p class="video_desc">상품 QC 과정 중 완전/불완전판매 <br>여부를 판단하기 위한 <br>해피콜 전화를 인공지능으로 <br>자동화할 수 있습니다.</p>
								</div>
							</div>
							<div class="video_case">
								<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/2pa--32l0Hc" >
									<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>
									
								</a>
								<div class="video_txt">
									<p>Case Study 2<br>고객시간 변경</p>
									<p class="video_desc">고객이 해피콜 통화가 어려운<br>상황일 경우, <br>고객이 원하는 시간에 맞춰 <br>인공지능 해피콜 시간을 변경할 수<br>있습니다.</p>
								</div>
							</div>
						</div>
						<!-- //.caseBox -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->	
				

			  <!-- .product_stn -->
				<div id="stn_tts" class="product_stn">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<div class="info tts_txt">
								<dl>
									<dt>
										<span>PRODUCT 02</span>
										<em>TTS (Text to Speech)</em>
									</dt>
									<dd class="txt_clr">실제처럼 자연스러운 음성 합성</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
마인즈랩 음성합성(TTS) API 서비스는 매우 적은 음성 데이터만으로도
											</li>
											<li>
	화자의 실제 특성을 살려 실제와 구분하기 힘들만큼 자연스러운 음성을
											</li>
											<li>
	생성합니다.
											</li>
											<li>
	최신 딥러닝 기술을 기반으로 제공되는 마인즈랩 TTS를 통해 콜센터는
											</li>
											<li>
	물론 다양한 콘텐츠에 실제 사람과 같은 생생한 음성을 더할 수 있습니다.
											</li>
										</ul>
									</dd>
									<dd class="btn">
										<a id="btn_lyr_tts" class="btn_clor" >데모 보기</a>
										<a class="btn_clor btn_movLayer" href="https://youtu.be/eIZ95zq4DQ4" target="_blank" title="새창열림">소개 영상</a>
									</dd>
								</dl>	
							</div>
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="fr">
							<img class="tts_img" src="{% static 'chatbot/images/img_tts.png' %}" alt="TTS">
						</div>
						 <!-- //.lot_right -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->
				<!-- .product_stn -->
				<div id="stn_voc" class="product_stn stn_color">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<img src="{% static 'chatbot/images/img_voc.png' %}" alt="VOC">
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="lot_right">
							<div class="info">
								<dl>
									<dt>
										<span>PRODUCT 03</span>
										<em>maum VOC</em>
									</dt>
									<dd class="txt_clr">Analyzing the Voice of Customer</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
음성 인식과 텍스트 분석을 기반으로 상담 현황을 분석하고 위기 요소를 빠르게
											</li>
											<li>
감지하는 maum VOC로, 고객의 소리를 더욱 자세히 들어보세요. 쌓여만 있는
											</li>
											<li>
고객 상담 내용도 maum VOC와 함께라면 기업의 자산으로 만들 수 있습니다.
											</li>
										</ul>
									</dd>
									<dd class="btn">
										<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/Q0_E9tvx2vs" target="_blank" title="새창열림">소개 영상</a>
									</dd>
								</dl>	
							</div>
						</div>
						 <!-- //.lot_right -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->
				<!-- .product_stn -->
				<div id="stn_rta" class="product_stn">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<div class="info rta_txt">
								<dl>
									<dt>
										<span>PRODUCT 04</span>
										<em>maum RTA</em>
									</dt>
									<dd class="txt_clr">Real-Time Agent Support System</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
실시간 상담원 지원 솔루션 maum RTA와 함께 가장 진화한 형태의 
											</li>
											<li>
고객센터를 만들어보세요. maum RTA는 상담원과 고객의 대화를 
											</li>
											<li>
실시간으로 들으며, 상담원에게 가장 적절한 답변을 자동으로 추천합니다. 

											</li>											
										</ul>
									</dd>
									<dd class="btn">									
										<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/7euFNDN0mZg" target="_blank" title="새창열림">소개 영상</a>
									</dd>
								</dl>	
							</div>
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="fr">
							<img class="rta_img" src="{% static 'chatbot/images/img_rta.png' %}" alt="RTA">
						</div>
						 <!-- //.lot_right -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->
				<!-- .product_stn -->
				<div id="stn_aqc" class="product_stn stn_color">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<img src="{% static 'chatbot/images/img_aqc.png' %}" alt="AQC">
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="lot_right">
							<div class="info">
								<dl>
									<dt>
										<span>PRODUCT 05</span>
										<em>maum AQC</em>
									</dt>
									<dd class="txt_clr">Automatic Quality Control System</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
콜을 기반으로 이루어지는 상품 판매의 품질 관리를 돕는 상담원 품질관리
											</li>
											<li>
시각화, 자동화 솔루션 maum AQC은 기존의 QC 업무를 효율화하합니다. 
											</li>
											<li>
maum AQC를 통해 보다 혁신적인 방식의 품질 관리를 시작하세요.
											</li>
										</ul>
									</dd>
<!--
									<dd class="btn">
										<a class="btn_clor m_btn" href="" target="_blank" title="새창열림">소개 영상</a>										
									</dd>
-->
								</dl>	
							</div>
						</div>
						 <!-- //.lot_right -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->
				
				<!-- .product_stn -->
				<div id="stn_chatbot" class="product_stn">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<div class="info rta_txt chatbot_txt">
								<dl>
									<dt>
										<span>PRODUCT 06</span>
										<em>maum Chatbot</em>
									</dt>
									<dd class="txt_clr">현존하는 가장 똑똑한 챗봇</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
고객이 궁금한 것이라면 무엇이든 바로, 검색보다 빠르고 정확하게 대답합니다.
											</li>
											<li>
지금 바로 마음 챗봇과 대화해보면서
											</li>
											<li>
마인즈랩의 놀라운 기술력을 체험해보세요.

											</li>											
										</ul>
									</dd>
									<dd class="btn">
										<a id="btn_lyr_product" class="btn_clor">데모 보기</a>
										<a class="btn_clor btn_movLayer" href="https://youtu.be/RIbVFEuLe24" target="_blank" title="새창열림">소개 영상</a>
									</dd>
								</dl>								
							</div>
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="fr">
							<img class="chatbot_img" src="{% static 'chatbot/images/img_chatbot.png' %}" alt="Chatbot">
						</div>
						 <!-- //.lot_right -->
						<!-- .caseBox -->
						<div class="caseBox">
							<p class="case_tit">CUSTOMER CASE</p>
							<div class="video_case">
								<div class="ttobot_box">
									<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/G2a3XSt-E7Y" >
										<div class="bg_video_ttobot"><strong class="ico_mov"> 동영상</strong></div>									
										<a class="btn_ttobot" href="https://happy.daegu.go.kr/#/" target="_blank" title="새창열림">뚜봇 바로가기</a>
									</a>
								</div>
								<div class="video_txt">
									<p>Customer Case 1<br>대구광역시 AI 민원상담사 뚜봇</p>
									<p class="video_desc">• 기능적 고도화: 기존 검색 기반 답변에서  <br>자연어 처리, 질의 응답, 대화 처리  <br>• 민원인의 질문에 답하기 위한 심층 QA 엔진 고도화 <br>• 답변 범위 확대: 4개 분야 (여권, 차량 등록,<br>시정 안내, 축제 안내) <br>• 채널 확대: 대구시 웹사이트(웹, 모바일), 민간 SNS </p>
								</div>
							</div>
							<div class="video_case">
								<a class="btn_clor m_btn btn_movLayer" href="#none" >
									<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>										
								</a>
								<div class="video_txt">
									<p>Customer Case 2<br>삼성전자 기어봇</p>
									<p class="video_desc"><b>포털, SNS 통한 제품 관련 데이터 분석 후 챗봇 <br>시나리오 기획 <br>SaaS 방식으로 제공 <br>모바일 환경에 최적화된 UI/UX 구현</b><br> • SNS 채널에서 사용되는 챗봇 유용 기능 및<br>네비게이션, 버튼, 슬라이딩 이미지 활용해 <br>사용성 극대화</p>
								</div>
							</div>
							<div class="video_case">
								<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/CEh03_FLrYk" >
									<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>
									
								</a>
								<div class="video_txt">
									<p>Customer Case 3<br>KEB하나은행 HAI뱅킹</p>
									<p class="video_desc"><b>서비스 고도화</b><br>• 기존 명령어 기반 방식에서 자연어 처리 방식 도입, <br>대화형 서비스로 업그레이드<br><b>채널 확장</b><br>• 별도의 앱 설치 없이 SMS를 활용한 챗봇 구현<br><b>은행 전사 시스템 AI화 전초 단계 마련</b><br>• 은행 포함 하나 금융지주 전체의 AI 서비스를 위한 <br>AI 플랫폼 구축</p>
								</div>
							</div>
							<div class="video_case">
								<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/3S-G50EBj_o" >
									<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>										
								</a>
								<div class="video_txt">
									<p>Customer Case 4<br>LG유플러스 유봇</p>
									<p class="video_desc"><b>복잡한 사용자 의도 파악을 위한 NLU 고도화</b><br>기본 QA, MRC, 멀티턴 시나리오(SDS) 통해 응답<br>가능 영역 확장<br>채널 확장<br>입력문장의 정규화 처리, Paraphrasing, <br>사진관리도구 등 손쉬운 구축과 유연한 운영 지원</p>
								</div>
							</div>
						</div>
						<!-- //.caseBox -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->
				<!-- .product_stn -->
				<div id="stn_en" class="product_stn stn_color">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<img src="{% static 'chatbot/images/img_en.png' %}" alt="MINDs English">
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="lot_right">
							<div class="info">
								<dl>
									<dt>
										<span>PRODUCT 07</span>
										<em>MINDs English</em>
									</dt>
									<dd class="txt_clr">AI 기술 기반의 신개념 영어 교육 서비스</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
LG유플러스는 마인즈잉글리시를 스우리집 AI ‘YBM 영어 말하기’
											</li>
											<li>
서비스에 적용, 맞춤형 개발하여 AI 스피커 기반 영어 학습 서비스의 
											</li>
											<li>
새 장을 열었습니다. 
											</li>
										</ul>
									</dd>
									<dd class="btn">
										<a class="btn_clor m_btn" href="https://api.maum.ai/kglobal/" target="_blank" title="새창열림">데모 보기</a>										
									</dd>
								</dl>	
							</div>
						</div>
						 <!-- //.lot_right -->
						<!-- .caseBox -->
						<div class="caseBox">
							<p class="case_tit">CUSTOMER CASE</p>
							<div class="video_case">
								<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/GklxbBLFeSI" >
									<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>								
								</a>
								<div class="video_txt">
									<p>Customer Case 1<br>LG유플러스</p>
									<p class="video_desc">LG유플러스는 마인즈잉글리시를 스우리집 <br>AI ‘YBM 영어 말하기‘ 서비스에 적용, 맞춤형<br>개발하여 AI 스피커 기반 영어 학습 서비스의 <br>새 장을 열었습니다. </p>
								</div>
						  </div>
							<div class="video_case">
							  <a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/VXYb_EjvfdM" >
									<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>										
								</a>
								<div class="video_txt">
									<p>Customer Case 2<br>마인즈에듀 ‘이지톡’</p>
									<p class="video_desc">전화영어 전문 기업 마인즈에듀는 기존의 <br>전화영어에 마인즈 잉글리시의 음성인식 기술을<br>결합하여 ‘보이는 전화영어’ 서비스를 시작,  <br>획일화된 전화영어 시장에 새로운 <br>바람을 일으켰습니다.</p>
								</div>
							</div>
					  	</div>
						<!-- //.caseBox -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->
				
				<!-- .product_stn -->
				<div id="stn_robot" class="product_stn">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<div class="info rta_txt">
								<dl>
									<dt>
										<span>PRODUCT 08</span>
										<em>AI Robot Service</em>
									</dt>
									<dd class="txt_clr">인공지능 로봇 Pororot</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
마인즈랩은 인공지능 플랫폼 마음에이아이는 다양한 로봇, AI 스피커 등 스마트
											</li>
											<li>
디바이스와 연동됩니다. 마인즈랩은 그 첫 번째 프로젝트로 진인사컴퍼니와 함께 
											</li>
											<li>
유아용 인공지능 로봇인 ‘뽀로롯’ 업그레이드 버전을 선보입니다.


											</li>											
										</ul>
									</dd>
									
								</dl>	
							</div>
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="fr">
							<img class="chatbot_img" src="{% static 'chatbot/images/img_pororot.png' %}" alt="Pororot">
						</div>
						 <!-- //.lot_right -->
						<!-- .caseBox -->
						<div class="caseBox">
							<p class="case_tit">CUSTOMER CASE</p>
							<div class="video_case">
								<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/7zRsQTlwAbc" >
								<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>									
								</a>
								<div class="video_txt">
									<p>Customer Case 1<br>뽀로롯</p>
									<p class="video_desc"><b>음성합성(TTS) 기술 적용</b>하여 좀더 자연스러운 <br>키즈 타깃 캐릭터 목소리 구현<br>질의응답 대화 기능 확대 <br>• 위키백과 학습한 IR QA 엔진 및 API 서비스 적용 <br>통해 역사, 과학, 스포츠, 연예 등 다방면에 대한 <br> 지식 대화 가능하도록 기능 확대</p>
								</div>
						  </div>
							<div class="video_case">
							  <a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/_iC-w25QX8E" >
									<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>										
								</a>
								<div class="video_txt">
									<p>Customer Case 2<br>책 읽어주기 데모</p>
									<p class="video_desc"><b>책 읽어주기 컨텐츠 강화</b><br>• 음성합성(TTS) 기술 기반 기존 <br>책 읽어주기 대비 서비스 품질 향상<br></p>
								</div>
							</div>
					  	</div>
						<!-- //.caseBox -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->
				<!-- .product_stn -->
				<div id="stn_diary" class="product_stn stn_color">
					<!-- .product_box -->
					<div class="product_box">
						<!-- .lot_left -->
						<div class="lot_left">
							<img src="{% static 'chatbot/images/img_diary.png' %}" alt="maum DIARL">
						</div>
						<!-- //.lot_left -->
						 <!-- .lot_right -->
						<div class="lot_right">
							<div class="info">
								<dl>
									<dt>
										<span>PRODUCT 08</span>
										<em>maum DIARL</em>
									</dt>
									<dd class="txt_clr">이미지 문서 인식의 새로운 패러다임</dd>
									<dd class="txt">
										<ul class="lst">
											<li>
마인즈랩의 시각지능 프레임워크/솔루션 마음 DIARL은 이미지 내의 
											</li>
											<li>
텍스트를 검출, 인식하고 분석할 수 있는 인공지능 기반 고성능 문서처리  
											</li>
											<li>
엔진입니다. 문서나 스캔, 팩스 등 다양한 이미지에서 검출해야하는 
											</li>
											<li>
영역에서 폭넓게 활용되고 있습니다.  
											</li>
										</ul>
									</dd>
									<dd class="btn">
										<a class="btn_clor m_btn" href="https://api.maum.ai/kr/diarl/#stn_demo" target="_blank" title="새창열림">데모 보기</a>										
									</dd>
								</dl>	
							</div>
						</div>
						 <!-- //.lot_right -->
						<!-- .caseBox -->
						<div class="caseBox">
							<p class="case_tit">CUSTOMER CASE</p>
							<div class="video_case">
								<a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/_WOQVY7IT0Y" >
									<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>									
								</a>
								<div class="video_txt">
									<p>Customer Case 1<br>KEB하나은행 ‘하이렌즈’ <br>고지서 자동 납부 </p>
									<p class="video_desc">고지서를 찍기만 하면 자동으로 고지서에 나온 <br>정보 인식하여 납부까지 한번에 완료 </p>
								</div>
						  </div>
							<div class="video_case">
							  <a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/pXm5TccFBhI" >
									<div class="bg_video"><strong class="ico_mov"> 동영상</strong></div>										
								</a>
								<div class="video_txt">
									<p>Customer Case 2<br>KEB하나은행 ‘하이렌즈’ <br>외국화폐 인식</p>
									<p class="video_desc">외국 화폐를 찍기만 하면 화폐 종류와 함께 <br>환율 정보까지 실시간 안내</p>
								</div>
							</div>
					  	</div>
						<!-- //.caseBox -->
					</div>
					<!-- //.product_box -->
				</div>
				<!-- //.product_stn -->
			</div>
			<!-- //.tab_mov -->
			<!-- .api_contact -->
			<div id="api_contact" class="api_contact">
				<!-- .lot_c -->
				<div class="lot_c">
					<!-- .stn_cont -->
					<div class="stn_cont">
						<!-- .contactBox -->
						<div class="contactBox">
							<!-- .leftBox -->
							<div class="leftBox">
								<div class="stn_tit">
									<h3>Contact Us<span>MINDs Lab Chatbot</span></h3>
								</div>
								<div class="leftTxtBox">
									<p>마인즈랩과 마인즈랩의 API 서비스에 대한 문의가 있으시다면 여기에 남겨주세요.<br>페이스북과 링크드인을 팔로우하시면 새 소식을 더 빠르게 접하실 수 있습니다.</p>
									<ul class="contact_lst">
										<li class="btn_tel"><a href="tel:+82316254340">+82 31 625 4340</a></li>
										<li class="btn_mail"><a href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></li>
										<li class="btn_web"><a href="http://mindslab.ai" target="_blank">마인즈랩 홈페이지 mindslab.ai</a></li>
										<ul class="social_lst">
											<li class="btn_fb"><a href="https://www.facebook.com/mindsinsight/?fref=ts" target="_blank">Facebook</a></li>
											<li class="btn_ld"><a href="https://www.linkedin.com/company/mindslabai" target="_blank">Linkedin</a></li>
										</ul>
									</ul>
								</div>
							</div>
							<!-- //.leftBox -->
							<!-- .rightBox -->
							<div class="rightBox">
								<form action="contact_form">
									<fieldset>
										<legend>문의하기</legend>
										<div class="contact">
											<div class="txtfield">
												<input type="text" name="fm_name" id="fm_name" class="input_txt" placeholder="이름 *">
											</div>
											<div class="txtfield">
												<input type="text" name="fm_email" id="fm_email"  class="input_txt" placeholder="이메일 *">
											</div>
											<div class="txtfield">
												<input type="text" name="fm_tel" id="fm_tel"  class="input_txt" placeholder="전화번호">
											</div>
											<div class="txtfield pdBox">
												<textarea name="fm_txt" id="fm_txt" class="textArea" rows="3" placeholder="문의내용 *"></textarea>
											</div>
											<ul class="btnBox">
												<li><button class="btn_clor">send</button></li>
											</ul>
										</div>
									</fieldset>
								</form>
							</div>
							<!-- //.rightBox -->
						</div>
						<!-- //.contactBox -->
					</div>
					<!-- //.stn_cont -->
				</div>
				<!-- //.lot_c -->
			</div>
			<!-- //.api_contact -->
			<!-- .btn_goTop -->
			<p class="btn_goTop"><button>맨위로</button></p>
			<!-- //.btn_goTop -->
		</div>
		<!-- //.contents -->
	</div>
	<!-- //#container -->
	<!-- #footer -->
	<div id="footer">
		<div class="lot_c">
			<div class="cyrt"><span>MINDsLab &copy; 2018 .</span> <span>주식회사 마인즈랩ㅣ대표 유태준ㅣ</span><span>사업자 등록번호 314-86-55446</span></div>
		</div>
	</div>
	<!-- //#footer -->
	
	<div class="checkupBox">
		<div class="info">
			<p class="txt">현재 좀더 빠르고 안정적인 서비스를 위해 마음 챗봇 서버 점검 중입니다.<br>좀더 똑똑해진 모습으로 곧 돌아올게요!</p>
			<div class="dl_lst">
				<dl>
					<dt>서버점검 기간</dt>
					<dd>2018.07.12 (1일)</dd>
				</dl>
				<dl>
					<dt>마음챗봇 문의</dt>
					<dd><a href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></dd>
				</dl>
			</div>
		</div>
        <div id="btn_checkup" class="btnBox">
			<div class="lds-heart">
				<div></div>
			</div>
        </div>
	</div>
    
    <!-- cahtbot floating -->
    <div class="btn_fltBox">
    	<div class="cahtbot_lst">
        	<div class="overflow">
                <ul>
                    <li>
                        <a href="#none">
                            <span>안녕하세요. 무엇을 도와드릴까요?</span>
                            <img src="{% static 'chatbot/images/ico_bot_livechat.png' %}" alt="livechat">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btnBox">
        	<button type="button" id="btn_flt_cb" class="btn_flt_cb">Live 상담</button>
        </div>
        
        <!-- [재현쓰를 위한 뽀로롯 아이콘] -->
        <div class="btnBox" style="display:none;">
        	<button type="button" id="btn_flt_cb" class="btn_flt_cb btn_pororot">뽀로롯 가즈아</button>
        </div>
    </div>
    <div id="livechatWrap"></div>	
    <!-- cahtbot floating -->
    
    <!-- .lyr_product -->
    <div class="lyr_product">
    	<div class="lyr_bg"></div>
    	<!-- .productWrap -->
    	<div class="productWrap">
        	<!-- .product_hd -->
            <div class="product_hd">
                <button class="btn_productWrap_close" type="button">제품 리스트 닫기</button>
            </div>
            <!-- .product_hd -->
            <!-- .product_bd -->
            <div class="product_bd">
            	<!-- .product_lst -->
                <div class="snb_lst">
                    <ul class="bot_lst">
                        <li class="ico_sully">
                        	<button type="button" class="active">
                            	<em><img src="{% static 'chatbot/images/ico_bot_sully.png' %}" alt="설리"></em>
                            	<span>회사소개 봇<br>설리</span>
                            </button>
                        </li>
                        <li class="ico_mini">
                        	<button type="button">
                                <em><img src="{% static 'chatbot/images/ico_bot_mini.png' %}" alt="미니"></em>
                                <span>키즈 봇<br>미니</span>
                            </button>
                        </li>
                        <li class="ico_noah">
                        	<button type="button">
                                <em><img src="{% static 'chatbot/images/ico_bot_noah.png' %}" alt="노아"></em>
                                <span>척척박사 봇<br>노아</span>
                            </button>
                        </li>
                        <li class="ico_ttubot">
                        	<button type="button">
                                <em><img src="{% static 'chatbot/images/ico_bot_ttubot.png' %}" alt="뚜봇"></em>
                                <span>공공 봇<br>뚜봇</span>
                            </button>
                        </li>
                    </ul>
                    <ul class="etc_lst">
                        <li><button id="btn_go_liveChat" type="button">1:1 문의하기</button></li>
                        <li><a id="btn_go_contact" href="#api_contact">제품 문의하기</a></li>
                    </ul>
            	</div>
                <!-- //.product_lst -->
                <!-- .product_cont -->
                <div class="product_cont">
                    <div id="chat_uiBox"></div>
                </div>
                <!-- //.product_cont -->
            </div>
            <!-- //.product_bd -->
        </div>
        <!-- //.productWrap -->
    </div>
    <!-- //.lyr_product -->
	 <!-- .lyr_tts -->
    <div class="lyr_tts">
    	<div class="lyr_bg"></div>
    	<!-- .productWrap -->
    	<div class="productWrap">

            <div class="product_hd">
                <button class="btn_productWrap_close" type="button">제품 리스트 닫기</button>
            </div>
            <!-- .product_hd -->
            <!-- .product_bd -->
            <div class="product_bd">
            	<!-- .product_lst -->
                <div class="snb_lst">
                    <ul class="bot_lst">
                        <li>
                        	<button type="button" class="active">                            	
                            	<span>TTS</span>
                            </button>
                        </li>
                    </ul>
                    <ul class="etc_lst">
                        <li><button id="btn_go_liveChat02" type="button">1:1 문의하기</button></li>
                        <li><a id="btn_go_contact02" href="#api_contact">제품 문의하기</a></li>
                    </ul>
            	</div>
                <!-- //.product_lst -->
                <!-- .product_cont -->
                <div class="product_cont">
                    <div id="chat_uiBox02">					
					<!-- .guideBox -->
						<div class="guideBox">
							<img src="{% static 'chatbot/images/img_tts.jpg' %}">
						</div>
					
					</div>
					<div class="chatbot_contents">
						<div class="demo_wrap">							
							<div class="demo_tit">
								<p>Demo</p>
							</div>
							<!-- .step01 -->
							<div class="step_box">
								<ul class="step">
									<li> 01 언어선택</li>
									<li class="radioBox">
										<input type="radio" name="lang" id="lang_01" class="ipt_radio" checked>
										<label for="lang_01"> 한국어</label>
									</li>
									<li class="radioBox">
										<input type="radio" name="lang" id="lang_02" class="ipt_radio">
										<label for="lang_02"> English</label>
									</li>
								</ul>
								<ul class="step">
									<li> 02 목소리 선택</li>
									<li class="radioBox">
										<input type="radio" name="voice" id="voice_01" class="ipt_radio" checked>
										<label for="voice_01"> 여성 성우 </label>
									</li>
									<li class="radioBox">
										<input type="radio" name="voice" id="voice_02" class="ipt_radio"  disabled>
										<label for="voice_02" class="disabled"> 여성 일반인</label>
									</li>
									<li class="radioBox">
										<input type="radio" name="voice" id="voice_03" class="ipt_radio"  disabled>
										<label for="voice_03" class="disabled"> 여성 상담사</label>
									</li>
									<li class="radioBox">
										<input type="radio" name="voice" id="voice_04" class="ipt_radio"  disabled>
										<label for="voice_04" class="disabled"> 뽀로롯</label>
									</li>
								</ul>
								<ul class="step">
									<li> 03 텍스트 입력</li>
								</ul>

								<div class="demo_txt">
									<textarea class="textArea" id="tts_input" rows="8" maxlength="100" placeholder="청취하고 싶은 문장을 100자 이내로 입력해주세요. (예: 안녕하세요, 마인즈랩입니다)"></textarea>
								</div>
								<div class="demo_intro">
									<div class="btnBox">										
										<button class="demoRecord disabled"><span>음성 생성</span>
										</button>
										
										<span class="disBox"></span>
									</div>
								</div>
								<!-- .step02 -->
								<div class="demo_recording">
									<!-- recording -->
									<div class="recording">
										<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
										<span></span><span></span><span></span><span></span><span></span><span></span><span></span>
									</div>
									<!-- //recording -->
								</div>
								<!-- //.step02 -->
								<!-- .step03 -->
								<div class="demo_result">									
									<div class="btnBox">
										<button class="demoReset"><span>RESET</span></button>
									</div>
									<div class="demo_player">								
										<audio id="audioPlayer" src="{% static 'chatbot/audio/aekukka.mp3' %}" preload="auto" controls></audio>
									</div>
								</div>
								<!-- //.step03 -->
							</div>
							<!-- //.step_box -->							
						</div>
					</div>
                </div>
                <!-- //.product_cont -->
            </div>
            <!-- //.product_bd -->
        </div>
        <!-- //.productWrap -->
    </div>
    <!-- //.lyr_tts -->	
</div>
<!-- //wrap -->
<style type="text/css">
#container:before {content:''; position:absolute; top:0; left:0; width:100%; height:494px; background:url({% static 'chatbot/images/bg_product.jpg' %}) 50% 0 no-repeat; background-size:cover;}
</style>
<input type="hidden" id="AUTH_ID">
<input type="hidden" id="SESSION_ID">
<script type="text/javascript" src="{% static 'chatbot/js/player.js' %}"></script>
<script type="text/javascript">   
$(window).load(function() {    
	$('#page_loading').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
}); 
	
</script>  
<script type="text/javascript">
	jQuery(function(){
		jQuery("a.btn_movLayer").movLayer();
	});
	
</script> 

<script type="text/javascript">
//$("#header_view").load("/kr/header");
//$("#footer_view").load("/kr/footer");
//$("#api_contact_view").load("/kr/contact_us_page");

function chatSingIn() {
	$.ajax({
		url: 'https://aicc-prd1.maum.ai:9980/api/v3/auth/signIn',
		async: false,
		type: 'POST',
		headers: {
			"Content-Type": "application/json",
			"m2u-auth-internal": "m2u-auth-internal"
		},
		data: JSON.stringify({
			"userKey": "admin",
			"passphrase": "1234"
		}),
		dataType: 'json',
		success: function(data) {
			console.log(data.directive.payload.authSuccess.authToken);

			document.getElementById('AUTH_ID').value = data.directive.payload.authSuccess.authToken;
			console.log(document.getElementById('AUTH_ID').value);
			console.log('login success!')
			// openDialogService(chatbot);
		}, error: function(err) {
			console.log("chatbot Login error! ", err);
		}
	});
}
jQuery.event.add(window,"load",function(){
	$(document).ready(function (){
	    chatSingIn();

		// live chat 플로팅
		//$('#livechatWrap').each(function(){
		$('#btn_flt_cb').on('click', function() {
			$.ajax({
				url: '/kr/live_person',
				//url: '/aicc/pororot_cs',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#livechatWrap').html(data);
				}
			});
		});

		var scrollTop = $(window).scrollTop();

		// chatbot ajax
		$('.lyr_product .bot_lst li.ico_sully button').on('click', function() {
			$.ajax({
				url: '/kr/maumbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chat_uiBox').html(data);
				}
			});
		});

		$('.lyr_product .bot_lst li.ico_mini button').on('click', function() {
			$.ajax({
				url: '/kr/kidsbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chat_uiBox').html(data);
				}
			});
		});

		$('.lyr_product .bot_lst li.ico_noah button').on('click', function() {
			$.ajax({
				url: '/kr/masterbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chat_uiBox').html(data);
				}
			});
		});

		$('.lyr_product .bot_lst li.ico_ttubot button').on('click', function() {
			$.ajax({
				url: '/kr/ttubot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chat_uiBox').html(data);
				}
			});
		});

		$('.lyr_product .bot_lst li button').on('click', function() {
            // 챗봇 확인용
            /*
			$('.chatbot_contents .talkLst').css({
				'display':'block',
			});
			*/
			$('.chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
		});


		// product layer popup
		$('#btn_lyr_product').on('click', function() {
			$('.lyr_product').fadeIn(300);
			$('.lyr_product .bot_lst li.ico_sully button').trigger('click');
			$('body').css({
				'overflow': 'hidden',
			});
			$('#livechatWrap').fadeOut(300);
			$('#livechatWrap .btn_cb_close').trigger('click');
		});

		$('.btn_productWrap_close, .lyr_bg').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('.lyr_tts').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});

		$('#btn_go_contact').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});

		$('#btn_go_liveChat').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
			$('#btn_flt_cb').trigger('click');
		});

		// tts layer popup
		$('#btn_lyr_tts').on('click', function() {
			$('.lyr_tts').fadeIn(300);
			$('.lyr_product .bot_lst li.ico_sully button').trigger('click');
			$('body').css({
				'overflow': 'hidden',
			});
			$('#livechatWrap').animate({
				'height': '0%',
				'opacity': '0',
			},300);
		});

		$('#btn_go_contact02').on('click', function() {
			$('.lyr_tts').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});

		$('#btn_go_liveChat02').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('.lyr_tts').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
			$('#btn_flt_cb').trigger('click');
		});
		// text count
			$('.step_box .textArea').on('input keyup paste', function () {
				var txtValLth = $(this).val().length;
				console.log("txtValLth=",txtValLth);
				if (txtValLth > 0) {
					$('.demoRecord').removeClass('disabled');
					$('.demoRecord').removeAttr('disabled');
					// $('.step_box .btnBox .holeBox').show();
					// $('.step_box .btnBox .disBox').remove();
				} else {
					$('.demoRecord').addClass('disabled');
					$('.demoRecord').attr('disabled');
					// $('.step_box .btnBox .holeBox').hide();
					// $('.step_box .btnBox').append('<span class="disBox"></span>');
				}
			});
			$('.demo_txt .textArea').keypress(function (e) {
				if (e.keyCode == 13)
					$('.demoRecord').trigger('click');
			});
			// step01 > step02
			var audioObj = document.getElementById('audioPlayer');
			$('.step_box .btnBox .demoRecord').on('click', function () {
				$('.demo_intro').hide();
				$('.demo_intro .btnBox').hide();
				$('.demo_recording').show();
				// console.log($('.textArea').val());
				var txt = $('#tts_input').val();
				var lang = $("input:radio[name=lang]:checked").index('input[name=lang]');
				// console.log("lang=",lang);
				// console.log("txt=",txt);
				// console.log("lang=",lang);

				if(lang == 0) lang = "ko_KR";
				else if(lang == 1) lang = 1;
				//txt = "안녕하세요";

				// console.log("data : ", txt, lang);

				var jsonString = JSON.stringify({ 'lang': lang, 'text': txt });
				var url = "https://tts.maum.ai:8443/tts-rest/tts/block/speak"; //내부 10.122.64.83:8080  //외부 125.132.250.244:8443

				var oReq = new XMLHttpRequest();
				// console.log("oReq=",oReq);
				oReq.open("POST", url, true);
				oReq.responseType = "blob";

				oReq.setRequestHeader("Content-Type", "application/json");

				oReq.onload = function (oEvent) {
					var blob = oReq.response; // Note: not oReq.responseText
					if (blob) {
						audioObj.src = window.URL.createObjectURL(blob);
						// step02 > step03
						$('.demo_recording').hide();
						$('.demo_result').show();
						$('.demo_result .btnBox').show();
						$('.textArea').prop('disabled',true);
						audioObj.play();
					}
				};

				oReq.send(jsonString);

		});

		// step03 > step01
		$('.step_box .demoReset').on('click', function () {
			$('.demo_txt .textArea').val('');
			$('.demoRecord').addClass('disabled');
			$('.demoRecord').attr('disabled');
			// $('.step_box .btnBox .holeBox').hide();
			// $('.step_box .btnBox').append('<span class="disBox"></span>');
			$('.demo_result').hide();
			$('.demo_intro').show();
			$('.demo_intro .btnBox').show();
			$('.textArea').prop('disabled',false);
		});



		// Demo hide
		$('.layer_bg').on('click',function(){
			$(this).parent().fadeOut(300);
		});


		// chatbot
		$('.productWrap .bot_lst li button').on('click', function() {
			var winWidth = $(window).width();
			var chatMidHeight = $(window).height()-350;
			if ( winWidth < 760) {
				$('.productWrap .chatbot_contents .chat_mid').css({
					'height': chatMidHeight,
				});
				$('.productWrap .product_bd .product_cont').css({
					'height': chatMidHeight+130,
				});
				$('.productWrap .chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
			}  else {
				$('.productWrap .chatbot_contents .chat_mid').css({
					'height': 'calc(100% - 65px)',
				});
				$('.productWrap .product_bd .product_cont').css({
					'height': '',
				});
				$('.productWrap .chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
			}

			$('.lyr_product .productWrap .bot_lst li button').removeClass('active');
			$(this).addClass('active');
		});

		$('.lyr_product .bot_lst li.ico_sully button').trigger('click');

	});
});
// audio
$(function () {
	$('audio').audioPlayer();
}
);
</script>
</body>
</html>


