<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
{% load static %}
<!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
<meta property="og:title"            content="Chatbot || maum AI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content="https://mindslab.ai/kr/maum_chatbot"/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/kr/maum_chatbot"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="Chatbot || maum AI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_mindslab_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_mindslab_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_mindslab_310x150.ico' %}"><!-- widetile -->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_mindslab_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_mindslab_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_mindslab_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_mindslab_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_mindslab_64x64.ico' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->

<title>Product || maum AI</title>

<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/chatbot.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/common.css' %}?v={{ timeStamp }}" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/js/player.js' %}"></script>
<!-- //resources -->

<!-- floating chat : gitple -->
<script>
	window.GitpleConfig = {appCode: '617StyiVdqik5b3GXRbaRv9tXs16w3'};
	!function () {
		function e() {
			function e() {
				var e = t.contentDocument, a = e.createElement("script");
				a.type = "text/javascript", a.async = !0, a.src = window[n] && window[n].url ? window[n].url + "/inapp-web/gitple-loader.js" : "https://app.gitple.io/inapp-web/gitple-loader.js", a.charset = "UTF-8", e.head && e.head.appendChild(a)
			}
			var t = document.getElementById(a);
			t || ((t = document.createElement("iframe")).id = a, t.style.display = "none", t.style.width = "0", t.style.height = "0", t.addEventListener ? t.addEventListener("load", e, !1) : t.attachEvent ? t.attachEvent("onload", e) : t.onload = e, document.body.appendChild(t))
		}
		var t = window, n = "GitpleConfig", a = "gitple-loader-frame";
		if (!window.Gitple) {
			document;
			var i = function () {
				i.ex && i.ex(arguments)
			};
			i.q = [], i.ex = function (e) {
				i.processApi ? i.processApi.apply(void 0, e) : i.q && i.q.push(e)
			}, window.Gitple = i, t.attachEvent ? t.attachEvent("onload", e) : t.addEventListener("load", e, !1)
		}
	}();
	Gitple('boot');
</script>

</head>


<body>
<!-- .page loading -->
<div id="page_loading" class="page_ldWrap">
    <div class="page_ldBox"></div>
</div>
<!-- //.page loading -->
<!-- wrap -->
<div id="maumWrap">
    <!-- #header -->
    <div id="header">
        <!-- .sta -->
        <div class="sta">
            <h1><a href="/kr"><img src="{% static 'chatbot/images/logo_h1.png' %}" alt="minds lab"></a></h1>
            <div class="etcMenu">
                <ul>
                    <!-- <li class="login"><span>로그인</span></li> -->
                    <li class="lang">
                        <p class="lang_select"><em>한국어</em></p>
                        <ul class="lst">
                            <li><a href="/en" target="_self"><em>English</em></a></li>
                        </ul>
                    </li>
                    <!--<li class="signin"><a href="">Sign in</a></li>-->
                </ul>
            </div>
        </div>
        <!-- //.sta -->
        <!-- .gnb -->
        <div id="gnb" class="gnb">
            <div class="gnbNavBox">
                <ul class="gnbNav">
                    <!-- <li class="menu1depth">
                        <h2><a href="/">AIaaS</a></h2>
                    </li> -->
                    <li class="menu1depth">
                        <h2><a class="active" href="/kr/maum_chatbot">Product</a></h2>
                    </li>
                    <li class="menu1depth">
                        <h2><a href="/kr/portfolio">Success Stories</a></h2>
                    </li>
                    <!-- <li class="menu1depth">
                        <h2><a href="/kr/pricing">Pricing</a></h2>
                    </li> -->
                    <li class="menu1depth">
                        <h2><a href="/kr/company">Company</a></h2>
                    </li>
                    <li class="menu1depth">
                        <h2><a href="#api_contact">Contact Us</a></h2>
                    </li>
					<li class="menu1depth">
						<a href="https://maum.ai/login/loginForm?lang=ko"  target="_blank" title="새창열림" class="btn_try">AI 플랫폼 바로가기</a>
					</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //#header -->

    <!-- aside -->
    {% include 'kr/common/aside.html' %}
    <!-- //aside -->

    <!-- #container -->
    <div id="container">
        <!-- .contents -->
        <div class="contents">
            <!-- .sub_titleArea -->
            <div class="sub_titleArea">
                <h2>PRODUCT</h2>
            </div>
            <!-- //.sub_titleArea -->

            <!-- .tab_mov -->
            <div class="tab_mov demoTab">

                <!-- .tab_nav -->
                <div class="tab_nav">
                    <ul>
                        <li class="left_line"><a href="#stn_chatbot"><span>maum</span> Chatbot</a></li>
                        <li><a href="#stn_tts">TTS</a></li>
                        <li><a href="#stn_en"><span>mAI</span> English</a></li>
                        <li><a href="#stn_rta"><span>maum</span> RTA</a></li>
                        <li><a href="#stn_voc"><span>maum</span> VOC</a></li>
                        <li><a href="#stn_aqc"><span>maum</span> AQC</a></li>
                    </ul>
                </div>
                <!-- //.tab_nav -->

                <!-- .product_stn -->
                <div id="stn_chatbot" class="product_stn stn_color">
                    <!-- .product_box -->
                    <div class="product_box">
                        <!-- .lot_left -->
                        <div class="lot_left">
                            <img src="{% static 'chatbot/images/img_chatbot.png' %}" alt="chatbot">
                        </div>
                        <!-- //.lot_left -->
                        <!-- .lot_right -->
                        <div class="lot_right">
                            <div class="info">
                                <dl>
                                    <dt>
                                        <span>PRODUCT 01</span>
                                        <em>maum Chatbot</em>
                                    </dt>
                                    <dd class="txt_clr">현존하는 가장 똑똑한 챗봇</dd>
                                    <dd class="txt chatbotTxt">
                                        <ul class="lst">
                                            <li>
                                                고객이 궁금한 것이라면 무엇이든 바로, 검색보다 빠르고 정확하게 대답합니다.
                                            </li>
                                            <li>
                                                지금 바로 마음 챗봇과 대화해보면서
                                            </li>
                                            <li>
                                                마인즈랩의 놀라운 기술력을 체험해보세요.
                                            </li>
                                        </ul>
                                    </dd>
                                    <!-- //.itembox -->
                                    <dd class="snsBox">
                                        <div class="sns_banner">
                                            <ul class="sns_lst">
                                                <li><img src="{% static 'chatbot/images/ico_sns_kakaotalk.png' %}" alt="카카오톡"></li>
                                                <li><img src="{% static 'chatbot/images/ico_sns_facebook.png' %}" alt="페이스북"></li>
                                                <li><img src="{% static 'chatbot/images/ico_sns_slack.png' %}" alt="슬랙"></li>
                                            </ul>
                                            <dl class="sns_dl">
                                                <dt>SNS 메신저 연동 지원</dt>
                                                <dd>카카오톡, 페이스북, 슬랙 등</dd>
                                            </dl>
                                        </div>
                                    </dd>
                                    <dd class="btn">
                                        <a id="btn_lyr_product" class="btn_clor">데모 보기</a>
                                        <a class="btn_clor btn_movLayer" href="https://youtu.be/RIbVFEuLe24" target="_blank" title="새창열림">소개 영상</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!-- //.lot_right -->
                    </div>
                    <!-- //.product_box -->
                </div>
                <!-- //.product_stn -->

                <!-- .product_stn -->
                <div id="stn_tts" class="product_stn">
                    <!-- .product_box -->
                    <div class="product_box">
                        <!-- .lot_left -->
                        <div class="lot_left">
                            <div class="info tts_txt">
                                <dl>
                                    <dt>
                                        <span>PRODUCT 02</span>
                                        <em>TTS (Text to Speech)</em>
                                    </dt>
                                    <dd class="txt_clr">실제처럼 자연스러운 음성 합성</dd>
                                    <dd class="txt">
                                        <ul class="lst">
                                            <li>
                                                마인즈랩 음성합성(TTS) API 서비스는 매우 적은 음성 데이터만으로도
                                            </li>
                                            <li>
                                                화자의 실제 특성을 살려 실제와 구분하기 힘들만큼 자연스러운 음성을
                                            </li>
                                            <li>
                                                생성합니다.
                                            </li>
                                            <li>
                                                최신 딥러닝 기술을 기반으로 제공되는 마인즈랩 TTS를 통해 콜센터는
                                            </li>
                                            <li>
                                                물론 다양한 콘텐츠에 실제 사람과 같은 생생한 음성을 더할 수 있습니다.
                                            </li>
                                        </ul>
                                    </dd>
                                    <dd class="btn">
                                        <a id="btn_lyr_tts" class="btn_clor" >데모 보기</a>
                                        <a class="btn_clor btn_movLayer" href="/kr/pricing" target="_self" title="새창열림">구매 하기</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!-- //.lot_left -->
                        <!-- .lot_right -->
                        <div class="fr">
                            <img class="tts_img" src="{% static 'chatbot/images/img_tts.png' %}" alt="TTS">
                        </div>
                        <!-- //.lot_right -->
                    </div>
                    <!-- //.product_box -->
                </div>
                <div id="stn_en" class="product_stn stn_color">
                    <!-- .product_box -->
                    <div class="product_box">
                        <!-- .lot_left -->
                        <div class="lot_left">
                            <img src="{% static 'chatbot/images/img_en.png' %}" alt="MINDs English">
                        </div>
                        <!-- //.lot_left -->
                        <!-- .lot_right -->
                        <div class="lot_right">
                            <div class="info">
                                <dl>
                                    <dt>
                                        <span>PRODUCT 03</span>
                                        <em>mAI English</em>
                                    </dt>
                                    <dd class="txt_clr">AI 기술 기반의 신개념 영어 교육 서비스</dd>
                                    <dd class="txt">
                                        <ul class="lst">
                                            <li>
                                                영어 교육에 특화된 mAI English는
                                            </li>
                                            <li>
                                                어린이부터 성인까지 목적에 따라 다양한 영어 콘텐츠를
                                            </li>
                                            <li>
                                                효과적으로 학습할 수 있는 솔루션을 제공합니다.
                                            </li>
                                        </ul>
                                    </dd>
                                    <dd class="btn">
                                        <a id="btn_lyr_en" class="btn_clor">데모 보기</a>
                                        <a class="btn_clor btn_movLayer" href="https://youtu.be/38kt3On1uUY">소개 영상</a> <!--영상 링크 바꿔야 합니다(12월 18일, 김학성)-->
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!-- //.lot_right -->

                    </div>
                    <!-- //.product_box -->
                </div>

                <div id="stn_rta" class="product_stn">
                    <!-- .product_box -->
                    <div class="product_box">
                        <!-- .lot_left -->
                        <div class="lot_left">
                            <div class="info rta_txt">
                                <dl>
                                    <dt>
                                        <span>PRODUCT 04</span>
                                        <em>maum RTA</em>
                                    </dt>
                                    <dd class="txt_clr">Real-Time Agent Support System</dd>
                                    <dd class="txt">
                                        <ul class="lst">
                                            <li>
                                                실시간 상담원 지원 솔루션 maum RTA와 함께 가장 진화한 형태의
                                            </li>
                                            <li>
                                                고객센터를 만들어보세요. maum RTA는 상담원과 고객의 대화를
                                            </li>
                                            <li>
                                                실시간으로 들으며, 상담원에게 가장 적절한 답변을 자동으로 추천합니다.

                                            </li>
                                        </ul>
                                    </dd>
                                    <dd class="btn">
                                        <a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/7euFNDN0mZg" target="_blank" title="새창열림">소개 영상</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!-- //.lot_left -->
                        <!-- .lot_right -->
                        <div class="fr">
                            <img class="rta_img" src="{% static 'chatbot/images/img_rta.png' %}" alt="RTA">
                        </div>
                        <!-- //.lot_right -->
                    </div>
                    <!-- //.product_box -->
                </div>
                <!-- //.product_stn -->
                <!-- .product_stn -->
                <div id="stn_voc" class="product_stn stn_color">
                    <!-- .product_box -->
                    <div class="product_box">
                        <!-- .lot_left -->
                        <div class="lot_left">
                            <img src="{% static 'chatbot/images/img_voc.png' %}" alt="chatbot">
                        </div>
                        <!-- //.lot_left -->
                        <!-- .lot_right -->
                        <div class="lot_right">
                            <div class="info">
                                <dl>
                                    <dt>
                                        <span>PRODUCT 05</span>
                                        <em>maum VOC</em>
                                    </dt>
                                    <dd class="txt_clr">Analyzing the Voice of Customer</dd>
                                    <dd class="txt">
                                        <ul class="lst">
                                            <li>
                                                음성 인식과 텍스트 분석을 기반으로 상담 현황을 분석하고 위기 요소를 빠르게
                                            </li>
                                            <li>
                                                감지하는 maum VOC로, 고객의 소리를 더욱 자세히 들어보세요. 쌓여만 있는
                                            </li>
                                            <li>
                                                고객 상담 내용도 maum VOC와 함께라면 기업의 자산으로 만들 수 있습니다.
                                            </li>
                                        </ul>
                                    </dd>
                                    <dd class="btn">
                                        <a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/Q0_E9tvx2vs" target="_blank" title="새창열림">소개 영상</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!-- //.lot_right -->
                    </div>
                    <!-- //.product_box -->
                </div>
                <!-- //.product_stn -->

                <!-- .product_stn -->
                <div id="stn_aqc" class="product_stn">
                    <!-- .product_box -->
                    <div class="product_box">
                        <!-- .lot_left -->
                        <div class="lot_left">
                            <div class="info rta_txt">
                                <dl>
                                    <dt>
                                        <span>PRODUCT 06</span>
                                        <em>maum AQC</em>
                                    </dt>
                                    <dd class="txt_clr">Automatic Quality Control System</dd>
                                    <dd class="txt">
                                        <ul class="lst">
                                            <li>
                                                콜을 기반으로 이루어지는 상품 판매의 품질 관리를 돕는 상담원 품질관리
                                            </li>
                                            <li>
                                                시각화, 자동화 솔루션 maum AQC은 기존의 QC 업무를 효율화하합니다.
                                            </li>
                                            <li>
                                                maum AQC를 통해 보다 혁신적인 방식의 품질 관리를 시작하세요.

                                            </li>
                                        </ul>
                                    </dd>
                                    <!--
                                                                        <dd class="btn">
                                                                            <a class="btn_clor m_btn btn_movLayer" href="https://youtu.be/j1KcJY6ZgUI" target="_blank" title="새창열림">소개 영상</a>
                                                                        </dd>
                                    -->
                                </dl>
                            </div>
                        </div>
                        <!-- //.lot_left -->
                        <!-- .lot_right -->
                        <div class="fr">
                            <img class="rta_img" src="{% static 'chatbot/images/img_aqc.png' %}" alt="AQC">
                        </div>
                        <!-- //.lot_right -->
                    </div>
                    <!-- //.product_box -->
                </div>
                <!-- //.product_stn -->
            </div>
            <!-- //.tab_mov -->

            <!-- .api_contact -->
            {% include 'kr/common/contact.html' %}
            <!-- //.api_contact -->

            <!-- .btn_goTop -->
            <p class="btn_goTop"><button>맨위로</button></p>
            <!-- //.btn_goTop -->
        </div>
        <!-- //.contents -->
    </div>
    <!-- //#container -->

	<!-- #footer -->
	{% include 'kr/common/footer.html' %}
    <!-- //#footer -->
    
    <div class="checkupBox">
        <div class="info">
            <p class="txt">현재 좀더 빠르고 안정적인 서비스를 위해 마음 챗봇 서버 점검 중입니다.<br>좀더 똑똑해진 모습으로 곧 돌아올게요!</p>
            <div class="dl_lst">
                <dl>
                    <dt>서버점검 기간</dt>
                    <dd>2018.07.12 (1일)</dd>
                </dl>
                <dl>
                    <dt>마음챗봇 문의</dt>
                    <dd><a href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></dd>
                </dl>
            </div>
        </div>
        <div id="btn_checkup" class="btnBox">
            <div class="lds-heart">
                <div></div>
            </div>
        </div>
    </div>

    <!-- chatbot floating -->
<!--    {% include 'kr/common/floatingChat.html' %}-->
    <!-- chatbot floating -->

    <!-- .lyr_product -->
    <div class="lyr_product">
        <div class="lyr_bg"></div>
        <!-- .productWrap -->
        <div class="productWrap">
            <!-- .product_hd -->
            <div class="product_hd">
                <button class="btn_productWrap_close" type="button">제품 리스트 닫기</button>
            </div>
            <!-- .product_hd -->
            <!-- .product_bd -->
            <div class="product_bd">
                <!-- .product_lst -->
                <div class="snb_lst">
                    <ul class="bot_lst">
                        <li class="ico_sully">
                            <button type="button" class="active">
                                <em><img src="{% static 'chatbot/images/ico_bot_sully.png' %}" alt="설리"></em>
                                <span>회사소개 봇<br>설리</span>
                            </button>
                        </li>
                        <li class="ico_mini">
                            <button type="button">
                                <em><img src="{% static 'chatbot/images/ico_bot_mini.png' %}" alt="미니"></em>
                                <span>키즈 봇<br>미니</span>
                            </button>
                        </li>
                        <li class="ico_noah">
                            <button type="button">
                                <em><img src="{% static 'chatbot/images/ico_bot_noah.png' %}" alt="노아"></em>
                                <span>척척박사 봇<br>노아</span>
                            </button>
                        </li>
                        <li class="ico_ttubot">
                            <button type="button">
                                <em><img src="{% static 'chatbot/images/ico_bot_ttubot.png' %}" alt="뚜봇"></em>
                                <span>공공 봇<br>뚜봇</span>
                            </button>
                        </li>
                    </ul>
                    <ul class="etc_lst">
                        <li><button id="btn_go_liveChat" type="button">1:1 문의하기</button></li>
                        <li><a id="btn_go_contact" href="#api_contact">메일 문의하기</a></li>
                    </ul>
                </div>
                <!-- //.product_lst -->
                <!-- .product_cont -->
                <div class="product_cont">
                    <div id="chat_uiBox"></div>
                </div>
                <!-- //.product_cont -->
            </div>
            <!-- //.product_bd -->
        </div>
        <!-- //.productWrap -->
    </div>
    <!-- //.lyr_product -->
    <!-- .lyr_tts -->
    <div class="lyr_tts">
        <div class="lyr_bg"></div>
        <!-- .productWrap -->
        <div class="productWrap">

            <div class="product_hd">
                <button class="btn_productWrap_close" type="button">제품 리스트 닫기</button>
            </div>
            <!-- .product_hd -->
            <!-- .product_bd -->
            <div class="product_bd">
                <!-- .product_lst -->
                <div class="snb_lst">
                    <ul class="bot_lst">
                        <li>
                            <button type="button" class="active">
                                <span>TTS</span>
                            </button>
                        </li>
                    </ul>
                    <ul class="etc_lst">
                        <li><button id="btn_go_liveChat02" type="button">1:1 문의하기</button></li>
                        <li><a id="btn_go_contact02" href="#api_contact">제품 문의하기</a></li>
                    </ul>
                </div>
                <!-- //.product_lst -->
                <!-- .product_cont -->
                <div class="product_cont">
                    <div id="chat_uiBox02">
                        <!-- .guideBox -->
                        <div class="guideBox">
                            <img src="{% static 'chatbot/images/img_tts.jpg' %}">
                        </div>

                    </div>
                    <div class="chatbot_contents">
                        <div class="demo_wrap">
                            <div class="demo_tit">
                                <p>Demo</p>
                            </div>
                            <!-- .step01 -->
                            <div class="step_box">
                                <ul class="step">
                                    <li> 01 언어선택</li>
                                    <li class="radioBox">
                                        <input type="radio" name="lang" id="lang_01" class="ipt_radio" checked>
                                        <label for="lang_01"> 한국어</label>
                                    </li>
                                    <li class="radioBox">
                                        <input type="radio" name="lang" id="lang_02" class="ipt_radio">
                                        <label for="lang_02"> English</label>
                                    </li>
                                </ul>
                                <ul class="step">
                                    <li> 02 목소리 선택</li>
                                    <li class="radioBox">
                                        <input type="radio" name="voice" id="voice_01" class="ipt_radio" checked>
                                        <label for="voice_01"> 여성 성우 </label>
                                    </li>
                                    <li class="radioBox">
                                        <input type="radio" name="voice" id="voice_02" class="ipt_radio"  disabled>
                                        <label for="voice_02" class="disabled"> 여성 일반인</label>
                                    </li>
                                    <li class="radioBox">
                                        <input type="radio" name="voice" id="voice_03" class="ipt_radio"  disabled>
                                        <label for="voice_03" class="disabled"> 여성 상담사</label>
                                    </li>
                                    <li class="radioBox">
                                        <input type="radio" name="voice" id="voice_04" class="ipt_radio"  disabled>
                                        <label for="voice_04" class="disabled"> 뽀로롯</label>
                                    </li>
                                </ul>
                                <ul class="step">
                                    <li> 03 텍스트 입력</li>
                                </ul>

                                <div class="demo_txt">
                                    <textarea class="textArea" id="tts_input" rows="8" maxlength="100" placeholder="청취하고 싶은 문장을 100자 이내로 입력해주세요. (예: 안녕하세요, 마인즈랩입니다)"></textarea>
                                </div>
                                <div class="demo_intro">
                                    <div class="btnBox">
                                        <button class="demoRecord disabled"><span>음성 생성</span>
                                        </button>

                                        <span class="disBox"></span>
                                    </div>
                                </div>
                                <!-- .step02 -->
                                <div class="demo_recording">
                                    <!-- recording -->
                                    <div class="recording">
                                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                    </div>
                                    <!-- //recording -->
                                </div>
                                <!-- //.step02 -->
                                <!-- .step03 -->
                                <div class="demo_result">
                                    <div class="btnBox">
                                        <button class="demoReset"><span>RESET</span></button>
                                    </div>
                                    <div class="demo_player">
                                        <audio id="audioPlayer" src="{% static 'chatbot/audio/aekukka.mp3' %}" preload="auto" controls></audio>
                                    </div>
                                </div>
                                <!-- //.step03 -->
                            </div>
                            <!-- //.step_box -->
                        </div>
                    </div>
                </div>
                <!-- //.product_cont -->
            </div>
            <!-- //.product_bd -->
        </div>
        <!-- //.productWrap -->
    </div>
    <!-- //.lyr_tts -->
    <!-- .lyr_en -->
    <div class="lyr_en">
        <div class="lyr_bg"></div>
        <!-- .productWrap -->
        <div class="productWrap">

            <div class="product_hd">
                <button class="btn_productWrap_close" type="button">제품 리스트 닫기</button>
            </div>
            <!-- .product_hd -->
            <!-- .product_bd -->
            <div class="product_bd">

                <!-- .product_lst -->
                <div class="snb_lst">
                    <h1>mAI <span>English</span></h1>
                    <ul class="en_lst">
                        <li><a href="javascript:changeDiv('speak')"><em><img src="{% static 'chatbot/images/ico_list1.png' %}" alt="따라 말하기"></em><span>따라 말하기</span></a></li>
                        <li><a href="javascript:changeDiv('conversation')" class="conv_div"><em><img src="{% static 'chatbot/images/ico_list2.png' %}" alt="대화하기"></em><span>대화하기</span></a></li>
                        <li><a href="javascript:changeDiv('dictionary')"><em><img src="{% static 'chatbot/images/ico_list3.png' %}" alt="한영사전"></em><span>한영사전</span></a></li>
                    </ul>
                    <ul class="etc_lst">
                        <li><button id="btn_go_liveChat03" type="button">1:1 문의하기</button></li>
                        <li><a id="btn_go_contact03" href="#api_contact">제품 문의하기</a></li>
                    </ul>
                </div>
                <!-- //.product_lst -->

                <!-- .speak -->
                <div id="speak" class="productList" style="display:block;">
                    <!-- .guideBox -->
                    <div class="guideBox">
                        <div class="g_top"><p>따라 말하기</p></div>
                        <div class="g_middle">
                            <dl>
                                <dt class="m_tit">따라 말하기 평가</dt>
                                <dd class="m_txt">영어 문장 발화에 대한 정확도와 유창성을 동시에 평가할 수 있습니다.</dd>
                                <dt class="m_tit">정확도</dt>
                                <dd class="m_txt">음성 인식 결과에 기반하여 얼마나 정확하게 문장을 따라 읽었는지 평가할 수 있습니다.</dd>
                                <dt class="m_tit">유창성</dt>
                                <dd class="m_txt">학습자의 발화가 얼마나 원어민 발음/억양에 가까운지 평가할 수 있습니다.</dd>
                            </dl>
                        </div>
                        <div class="g_bottom">
                            <p>학습 방법</p>
                            <ul>
                                <li><span>01</span>난이도 선택</li>
                                <li><span>02</span>마이크 버튼누르고, 따라 말하기</li>
                                <li><span>03</span>결과보기</li>
                            </ul>
                            <div class="desc"><span>* 동일한 문장을 다시 시도해 보고 싶다면 </span>
                                <span><b>Retry</b>를,다른 문장을 시도해 보고 </span>
                                <span>싶다면 <b>Next</b>를 클릭해주세요*</span>
                            </div>
                        </div>
                    </div>
                    <!-- //.guideBox -->
                    <!-- .en_contents -->
                    <div class="en_contents">
                        <div class="demo_wrap">
                            <ul class="demo_menu">
                                <li><a class="btn_demo01" href="#demo01"><img src="{% static 'chatbot/images/img_level1_a.png' %}" alt="Basic"><span>Basic</span></a></li>
                                <li><a class="btn_demo02" href="#demo02"><img src="{% static 'chatbot/images/img_level2.png' %}" alt="Intermediate"><span>Intermediate</span></a></li>
                                <li><a class="btn_demo03" href="#demo03"><img src="{% static 'chatbot/images/img_level3.png' %}" alt="Advanced"><span>Advanced</span></a></li>
                            </ul>
                            <!-- .demo_contents demo01 -->
                            <div id="demo01" class="demo_contents"></div>
                            <!-- //.demo_contents -->
                            <!-- .demo_contents demo02-->
                            <div id="demo02" class="demo_contents"></div>
                            <!-- //.demo_contents -->
                            <!-- .demo_contents demo03-->
                            <div id="demo03" class="demo_contents"></div>
                            <!-- //.demo_contents -->

                        </div>
                        <!-- //.demo_wrap -->
                    </div>
                    <!-- //.en_contents -->
                </div>
                <!-- //.speak -->
                <!-- .conversation -->
                <div id="conversation" class="productList" style="display:none;">
                    <!-- .guideBox -->
                    <div class="guideBox">
                        <div class="g_top"><p>대화하기</p></div>
                        <div class="g_middle">
                            <dl>
                                <dt class="m_tit">다양한 대화 상황</dt>
                                <dd class="m_txt">여행, 쇼핑, 회의 등 다양한 대화 상황을 가정하여 AI와 대화 훈련을 진행할 수 있습니다. </dd>
                                <dd class="m_txt">영어로 대화하는 연습을 통해 의사소통 능력을 길러보세요.</dd>
                                <dd class="m_txt">대화 주제 선택 후, 음성 및 텍스트로 대화가 가능합니다.</dd>
                            </dl>
                        </div>

                    </div>
                    <!-- .en_contents -->
                    <div class="en_contents">
                        <div class="demo_wrap">
                            <ul class="demo_menu">
                                <li><a class="btn_demo04" href="#demo04"><img src="{% static 'chatbot/images/ico_conv1.png' %}" alt="Basic"><span>여행</span></a></li>
                                <li><a class="btn_demo05" href="#demo05"><img src="{% static 'chatbot/images/ico_conv2.png' %}" alt="Intermediate"><span>쇼핑</span></a></li>
                                <li><a class="btn_demo06" href="#demo06"><img src="{% static 'chatbot/images/ico_conv3.png' %}" alt="Advanced"><span>회의</span></a></li>
                            </ul>
                            <!-- .demo_contents demo01 -->
                            <div id="demo04" class="demo_contents"></div>
                            <!-- //.demo_contents -->
                            <!-- .demo_contents demo02-->
                            <div id="demo05" class="demo_contents"></div>
                            <!-- //.demo_contents -->
                            <!-- .demo_contents demo03-->
                            <div id="demo06" class="demo_contents"></div>
                            <!-- //.demo_contents -->
                        </div>
                        <!-- //.demo_wrap -->
                    </div>
                    <!-- //.en_contents -->
                </div>
                <!-- //.conversation -->
                <!-- .dictionary -->
                <div id="dictionary" class="productList" style="display:none;">
                    <!-- .guideBox -->
                    <div class="guideBox">
                        <div class="g_top"><p>한영 사전</p></div>
                        <div class="g_middle">
                            <dl>
                                <dd class="m_txt">한영 사전을 검색할 수 있는 공간입니다.음성 및 텍스트로 입력 가능합니다.</dd>
                                <dd class="m_txt">음성 입력 예시<br>- ‘사자’</dd>
                            </dl>
                        </div>
                    </div>
                    <!-- .en_contents -->
                    <div class="en_contents">
                        <div class="demo_wrap">
                            <!-- .demo_contents demo04 -->
                            <div id="demo07" class="demo_contents">
                            </div>
                            <!-- //.demo_contents -->

                        </div>
                        <!-- //.demo_wrap -->
                    </div>
                    <!-- //.en_contents -->
                </div>
                <!-- //.dictionary -->
            </div>
            <!-- //.product_bd -->
        </div>
        <!-- //.productWrap -->
    </div>
    <!-- //.lyr_en -->

</div>


<!-- //wrap -->
<style type="text/css">
    #container:before {content:''; position:absolute; top:0; left:0; width:100%; height:494px; background:url({% static 'chatbot/images/bg_product.jpg' %}) 50% 0 no-repeat; background-size:cover;}
</style>

<input type="hidden" id="AUTH_ID">
<input type="hidden" id="SESSION_ID">

<script src="{% static 'chatbot/js/audiodisplay.js' %}"></script>
<script src="{% static 'chatbot/js/recorder.js' %}"></script>
<script src="{% static 'chatbot/js/recorderWorker.js' %}"></script>
<script src="{% static 'chatbot/js/main.js' %}"></script>

<script type="text/javascript">
    $(window).load(function() {
        $('#page_loading').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
    });
</script>
<script type="text/javascript">
    jQuery(function(){
        jQuery("a.btn_movLayer").movLayer();
    });
    function changeDiv(param) {
        $('.product_bd .productList').hide();
        $('#' + param).show();
    }
</script>


<script type="text/javascript">
//$("#header_view").load("/kr/header");
//$("#footer_view").load("/kr/footer");
//$("#api_contact_view").load("/kr/contact_us_page");

function chatSingIn() {
    $.ajax({
        url: 'https://aicc-prd1.maum.ai:9980/api/v3/auth/signIn',
        async: false,
        type: 'POST',
        headers: {
            "Content-Type": "application/json",
            "m2u-auth-internal": "m2u-auth-internal"
        },
        data: JSON.stringify({
            "userKey": "admin",
            "passphrase": "1234"
        }),
        dataType: 'json',
        success: function(data) {
            // console.log(data.directive.payload.authSuccess.authToken);

            document.getElementById('AUTH_ID').value = data.directive.payload.authSuccess.authToken;
            // console.log(document.getElementById('AUTH_ID').value);
            // console.log('login success!')
            // openDialogService(chatbot);
        }, error: function(err) {
            console.log("chatbot Login error! ", err);
        }
    });
}


jQuery.event.add(window,"load",function(){
    $(document).ready(function (){
        var scrollTop = $(window).scrollTop();
        chatSingIn();

//==================live chat 플로팅======================//

        //$('#livechatWrap').each(function(){
        $('#btn_flt_cb').on('click', function() {
            $.ajax({
                url: '/kr/floating_sully',
                //url: '/aicc/pororot_cs',
                type: 'GET',
                dataType: 'html',
                async: false,
                success:function(data){
                    $('#livechatWrap').html(data);
                }
            });
        });

            
//===================== Product Chatbot =====================//
        // chatbot ajax
        $('.lyr_product .bot_lst li.ico_sully button').on('click', function() {
            $.ajax({
                url: '/kr/maumbot',
                type: 'GET',
                dataType: 'html',
                async: false,
                success:function(data){
                    $('#chat_uiBox').html(data);
                }
            });
        });

        $('.lyr_product .bot_lst li.ico_mini button').on('click', function() {
            $.ajax({
                url: '/kr/kidsbot',
                type: 'GET',
                dataType: 'html',
                async: false,
                success:function(data){
                    $('#chat_uiBox').html(data);
                }
            });
        });

        $('.lyr_product .bot_lst li.ico_noah button').on('click', function() {
            $.ajax({
                url: '/kr/masterbot',
                type: 'GET',
                dataType: 'html',
                async: false,
                success:function(data){
                    $('#chat_uiBox').html(data);
                }
            });
        });

        $('.lyr_product .bot_lst li.ico_ttubot button').on('click', function() {
            $.ajax({
                url: '/kr/ttubot',
                type: 'GET',
                dataType: 'html',
                async: false,
                success:function(data){
                    $('#chat_uiBox').html(data);
                }
            });
        });

        $('.lyr_product .bot_lst li button').on('click', function() {
            // 챗봇 확인용
            /*
            $('.chatbot_contents .talkLst').css({
                'display':'block',
            });
            */
            $('.chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
        });


        // product layer popup
        $('#btn_lyr_product').on('click', function() {
            $('.lyr_product').fadeIn(300);
            $('.lyr_product .bot_lst li.ico_sully button').trigger('click');
            $('body').css({
                'overflow': 'hidden',
            });
            $('#livechatWrap').fadeOut(300);
            $('#livechatWrap .btn_cb_close').trigger('click');
        });

        $('.btn_productWrap_close, .lyr_bg').on('click', function() {
            $('.lyr_product').fadeOut(300);
            $('.lyr_tts').fadeOut(300);
            $('.lyr_en').fadeOut(300);
            $('body').css({
                'overflow': '',
            });
        });

        $('#btn_go_contact').on('click', function() {
            $('.lyr_product').fadeOut(300);
            $('.lyr_tts').fadeOut(300);
            $('.lyr_en').fadeOut(300);
            $('body').css({
                'overflow': '',
            });
        });

        $('#btn_go_liveChat').on('click', function() {
            $('.lyr_product').fadeOut(300);
            $('body').css({
                'overflow': '',
            });
            $('#btn_flt_cb').trigger('click');
        });

        // tts layer popup
        $('#btn_lyr_tts').on('click', function() {
            $('.lyr_tts').fadeIn(300);
            $('.lyr_product .bot_lst li.ico_sully button').trigger('click');
            $('body').css({
                'overflow': 'hidden',
            });
            $('#livechatWrap').animate({
                'height': '0%',
                'opacity': '0',
            },300);
        });

        $('#btn_go_contact02').on('click', function() {
            $('.lyr_tts').fadeOut(300);
            $('body').css({
                'overflow': '',
            });
        });

        $('#btn_go_liveChat02').on('click', function() {
            $('.lyr_product').fadeOut(300);
            $('.lyr_tts').fadeOut(300);
            $('.lyr_en').fadeOut(300);
            $('body').css({
                'overflow': '',
            });
            $('#btn_flt_cb').trigger('click');
        });


//====================Product TTS======================//

        // text count
        $('.step_box .textArea').on('input keyup paste', function () {
            var txtValLth = $(this).val().length;
            // console.log("txtValLth=",txtValLth);
            if (txtValLth > 0) {
                $('.demoRecord').removeClass('disabled');
                $('.demoRecord').removeAttr('disabled');
                // $('.step_box .btnBox .holeBox').show();
                // $('.step_box .btnBox .disBox').remove();
            } else {
                $('.demoRecord').addClass('disabled');
                $('.demoRecord').attr('disabled');
                // $('.step_box .btnBox .holeBox').hide();
                // $('.step_box .btnBox').append('<span class="disBox"></span>');
            }
        });
        $('.demo_txt .textArea').keypress(function (e) {
            if (e.keyCode == 13)
                $('.demoRecord').trigger('click');
        });
        // step01 > step02
        var audioObj = document.getElementById('audioPlayer');
        $('.step_box .btnBox .demoRecord').on('click', function () {
            $('.demo_intro').hide();
            $('.demo_intro .btnBox').hide();
            $('.demo_recording').show();
            var txt = $('#tts_input').val();
            var lang = $("input:radio[name=lang]:checked").index('input[name=lang]');

            if(lang == 0) lang = "ko_KR";
            else if(lang == 1) lang = 1;

            var jsonString = JSON.stringify({"cmd": "runFileTts", "lang":lang, "text":txt });
            var url = "/tts_api";

            var oReq = new XMLHttpRequest();
            oReq.open("POST", url, true);
            oReq.responseType = "blob";

            oReq.setRequestHeader("Content-Type", "application/json");

            oReq.onload = function (oEvent) {
                var blob = oReq.response; // Note: not oReq.responseText
                if (blob) {
                    audioObj.src = window.URL.createObjectURL(blob);
                    // step02 > step03
                    $('.demo_recording').hide();
                    $('.demo_result').show();
                    $('.demo_result .btnBox').show();
                    $('.textArea').prop('disabled',true);
                    audioObj.play();
                }
            };

            oReq.send(jsonString);
        });


        // step03 > step01
        $('.step_box .demoReset').on('click', function () {
            $('.demo_txt .textArea').val('');
            $('.demoRecord').addClass('disabled');
            $('.demoRecord').attr('disabled');
            // $('.step_box .btnBox .holeBox').hide();
            // $('.step_box .btnBox').append('<span class="disBox"></span>');
            $('.demo_result').hide();
            $('.demo_intro').show();
            $('.demo_intro .btnBox').show();
            $('.textArea').prop('disabled',false);
        });

        // Demo hide
        $('.layer_bg').on('click',function(){
            $(this).parent().fadeOut(300);
        });

        // chatbot
        $('.productWrap .bot_lst li button').on('click', function() {
            var winWidth = $(window).width();
            var chatMidHeight = $(window).height()-350;
            if ( winWidth < 760) {
                $('.productWrap .chatbot_contents .chat_mid').css({
                    'height': chatMidHeight,
                });
                $('.productWrap .product_bd .product_cont').css({
                    'height': chatMidHeight+130,
                });
                $('.productWrap .chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
            }  else {
                $('.productWrap .chatbot_contents .chat_mid').css({
                    'height': 'calc(100% - 65px)',
                });
                $('.productWrap .product_bd .product_cont').css({
                    'height': '',
                });
                $('.productWrap .chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
            }

            $('.lyr_product .productWrap .bot_lst li button').removeClass('active');
            $(this).addClass('active');
        });

        $('.lyr_product .bot_lst li.ico_sully button').trigger('click');

    });
});

//en layer popup
$('#btn_lyr_en').on('click', function () {
    // window.addEventListener('load', initAudio );
    $('.lyr_en').fadeIn(300);
    $('body').css({
        'overflow': 'hidden',
    });
    $('#livechatWrap').animate({
        'height': '0%',
        'opacity': '0',
    },300);
});
// tab

$('.demo_wrap .demo_menu li:first-child a').addClass('active').show(); //Activate first tab
$('.en_lst li:first-child button').addClass('active').show(); //Activate first tab


$('.en_lst li a').on('click',function(){
    $('.en_lst li a').removeClass('active');
    $(this).addClass('active');
//	$('.btn_demo01').trigger('click');
    $('.demo_menu li:first-child a').addClass('active');

    if($(this).children('span').text() == "따라 말하기"){
        $('.demo_contents').hide();
        $('.demo_contents').children().remove();
        $('#demo01').show();
        $.ajax({
            url: '/kr/demo01',
            type: 'GET',
            dataType: 'html',
            async: false,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success:function(data){
                $('#demo01').html(data);
            }
        });
    }else if($(this).children('span').text() == "대화하기"){
        $('.demo_contents').hide();
        $('.demo_contents').children().remove();
        $('#demo04').show();
        $.ajax({
            url: '/kr/demo04',
            type: 'GET',
            dataType: 'html',
            async: false,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success:function(data){
                $('#demo04').html(data);
            }
        });
    }else{
        $('#demo07').show();
        $.ajax({
            url: '/kr/demo07',
            type: 'GET',
            dataType: 'html',
            async: false,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success:function(data){
                $('#demo07').html(data);
            }
        });
    }
});

// en ajax
$('.btn_demo01').click(function(){
    $('.demo_contents').hide();
    $('.demo_contents').children().remove();
    $('#demo01').show();
    $.ajax({
        url: '/kr/demo01',
        type: 'GET',
        dataType: 'html',
        async: false,
        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        success:function(data){
            $('#demo01').html(data);
        }
    });
});

$('.btn_demo02').click(function(){
    $('.demo_contents').hide();
    $('.demo_contents').children().remove();
    $('#demo02').show();
    $.ajax({
        url: '/kr/demo02',
        type: 'GET',
        dataType: 'html',
        async: false,
        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        success:function(data){
            $('#demo02').html(data);
        }
    });
});

$('.btn_demo03').click(function(){
    $('.demo_contents').hide();
    $('.demo_contents').children().remove();
    $('#demo03').show();
    $.ajax({
        url: '/kr/demo03',
        type: 'GET',
        dataType: 'html',
        async: false,
        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        success:function(data){
            $('#demo03').html(data);
        }
    });
});

$('.en_lst li a').on('click',function(){
    $('.en_lst li a').removeClass('active');
    $(this).addClass('active');
    //$('.btn_demo01').trigger('click');
    $('.demo_menu li:first-child a').addClass('active');
});

// 첫화면 로드
$('.btn_demo01').trigger('click');
$('.btn_conv1').trigger('click');
$('.btn_demo04').trigger('click');
$('.en_lst li:first-child a').trigger('click');

$('.demo_menu li a').on('click',function(){
    if($(this).hasClass('btn_demo04')){
        $(this).children('img').attr("src","{% static 'chatbot/images/ico_conv1.png' %}");
        $('.btn_demo05 img').attr("src","{% static 'chatbot/images/ico_conv2.png' %}");
        $('.btn_demo06 img').attr("src","{% static 'chatbot/images/ico_conv3.png' %}");
    }else if($(this).hasClass('btn_demo05')){
        $('.btn_demo04 img').attr("src","{% static 'chatbot/images/ico_conv1_c.png' %}");
        $('.btn_demo06 img').attr("src","{% static 'chatbot/images/ico_conv3.png' %}");
    }else if($(this).hasClass('btn_demo06')){
        $('.btn_demo04 img').attr("src","{% static 'chatbot/images/ico_conv1_c.png' %}");
        $('.btn_demo05 img').attr("src","{% static 'chatbot/images/ico_conv2.png' %}");
    }
    $('.demo_menu li a').removeClass('clicked');
    $('.demo_menu li a').removeClass('active');
    $(this).addClass('clicked');
    $(this).addClass('active');

});
//btn_demo04

$('.demo_menu .btn_demo04').hover(function(){//hoverin func
        $('.btn_demo04 img').attr("src","{% static 'chatbot/images/ico_conv1.png' %}");
    },
    function(){//hoverout func
        if($(this).hasClass("clicked")) {
            $('.btn_demo04 img').attr("src","{% static 'chatbot/images/ico_conv1.png' %}");

            $('#demo04').show();
            $.ajax({
                url: '/kr/demo04',
                type: 'GET',
                dataType: 'html',
                async: false,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success:function(data){
                    $('#demo04').html(data);
                }
            });
        }
        else
            $('.btn_demo04 img').attr("src","{% static 'chatbot/images/ico_conv1_c.png' %}");
    });

//btn_demo05
$('.demo_menu .btn_demo05').hover(function(){//hoverin func
        $('.btn_demo05 img').attr("src","{% static 'chatbot/images/ico_conv2_w.png' %}");
    },
    function(){//hoverout func
        if($(this).hasClass("clicked")) {
            $('.btn_demo05 img').attr("src","{% static 'chatbot/images/ico_conv2_w.png' %}");

            $('#demo04').show();
            $.ajax({
                url: '/kr/demo04',
                type: 'GET',
                dataType: 'html',
                async: false,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success:function(data){
                    $('#demo04').html(data);
                }
            });
        }
        else
            $('.btn_demo05 img').attr("src","{% static 'chatbot/images/ico_conv2.png' %}");
    });

//btn_demo06
$('.demo_menu .btn_demo06').hover(function(){//hoverin func
        $('.btn_demo06 img').attr("src","{% static 'chatbot/images/ico_conv3_w.png' %}");
    },
    function(){//hoverout func
        if($(this).hasClass("clicked")) {
            $('.btn_demo06 img').attr("src","{% static 'chatbot/images/ico_conv3_w.png' %}");

            $('#demo04').show();
            $.ajax({
                url: '/kr/demo04',
                type: 'GET',
                dataType: 'html',
                async: false,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success:function(data){
                    $('#demo04').html(data);
                }
            });
        }
        else
            $('.btn_demo06 img').attr("src","{% static 'chatbot/images/ico_conv3.png' %}");
    });

$('#btn_go_contact03').on('click', function() {
       $('.lyr_en').fadeOut(300);
       $('body').css({
           'overflow': '',
       });
});

$('#btn_go_liveChat03').on('click', function() {
       $('.lyr_en').fadeOut(300);
       $('body').css({
           'overflow': '',
       });
       $('#btn_flt_cb').trigger('click');
});


// audio
$(function () {
    $('audio').audioPlayer();
});
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120553152-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120553152-1');
</script>

</body>
</html>

