<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
{% load static %}
	<!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
<meta property="og:title"            content="Portfolio ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content="https://mindslab.ai/kr/portfoio"/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/kr/portfoio"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="Portfolio ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_mindslab_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_mindslab_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_mindslab_310x150.ico' %}"><!-- widetile -->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_mindslab_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_mindslab_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_mindslab_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_mindslab_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_mindslab_64x64.ico' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<title>Portfolio ll maum AI</title>
<!-- resources -->
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/chatbot.css' %}?v={{ timeStamp }}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/common.css' %}?v={{ timeStamp }}" />

<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/js/common.js' %}"></script>
<!-- //resources -->

<!-- floating chat : gitple -->
<script>
	window.GitpleConfig = {appCode: '617StyiVdqik5b3GXRbaRv9tXs16w3'};
	!function () {
		function e() {
			function e() {
				var e = t.contentDocument, a = e.createElement("script");
				a.type = "text/javascript", a.async = !0, a.src = window[n] && window[n].url ? window[n].url + "/inapp-web/gitple-loader.js" : "https://app.gitple.io/inapp-web/gitple-loader.js", a.charset = "UTF-8", e.head && e.head.appendChild(a)
			}
			var t = document.getElementById(a);
			t || ((t = document.createElement("iframe")).id = a, t.style.display = "none", t.style.width = "0", t.style.height = "0", t.addEventListener ? t.addEventListener("load", e, !1) : t.attachEvent ? t.attachEvent("onload", e) : t.onload = e, document.body.appendChild(t))
		}
		var t = window, n = "GitpleConfig", a = "gitple-loader-frame";
		if (!window.Gitple) {
			document;
			var i = function () {
				i.ex && i.ex(arguments)
			};
			i.q = [], i.ex = function (e) {
				i.processApi ? i.processApi.apply(void 0, e) : i.q && i.q.push(e)
			}, window.Gitple = i, t.attachEvent ? t.attachEvent("onload", e) : t.addEventListener("load", e, !1)
		}
	}();
	Gitple('boot');
</script>

</head>


<body>
<!-- .page loading -->
<div id="page_loading" class="page_ldWrap">
	<div class="page_ldBox"></div>
</div>
<!-- //.page loading -->

<!-- .lyr_info -->
<div class="lyr_info">
	<div class="lyr_plan_bg"></div>
	<!-- .productWrap -->
	<div class="lyrWrap">
		<button class="btn_lyrWrap_close" type="button">제품 리스트 닫기</button>
		<!-- .lyr_bd -->
		<div class="lyr_bd">
			<i class="far fa-address-card"></i>
			<p>고객 정보 입력</p>
			<ul>
				<li>
					<span>*이름</span>
					<input id="info_name" type="text" value="" placeholder="필수 입력 사항">
				</li>
				<li>
					<span>*회사(소속)</span>
					<input id="info_company" type="text" value="" placeholder="필수 입력 사항">
				</li>
				<li>
					<span>*이메일</span>
					<input id="info_email" type="email" value="" placeholder="필수 입력 사항">
				</li>
				<li>
					<span>휴대폰 정보</span>
					<input id="info_phone" type="text" value="">
				</li>
			</ul>
			<button class="btn_blue">다운로드</button>

		</div>
		<!-- //.lyr_bd -->

	</div>
	<!-- //.productWrap -->
</div>
<!-- //.lyr_info -->

<!-- wrap -->
<div id="maumWrap">
	<!-- #header -->
	<div id="header">
            <!-- .sta -->
            <div class="sta">
                <h1><a href="/kr"><img src="{% static 'chatbot/images/logo_h1.png' %}" alt="minds lab"></a></h1>
                <div class="etcMenu">
                    <ul>
                        <!-- <li class="login"><span>로그인</span></li> -->
                        <li class="lang">
                            <p class="lang_select"><em>한국어</em></p>
                            <ul class="lst">
                                <li><a href="/en" target="_self"><em>English</em></a></li>
                            </ul>
                        </li>
                        <!--<li class="signin"><a href="https://console.maum.ai/" target="_blank" title="새창열림">Sign in</a></li>-->
                    </ul>
                </div>
            </div>
            <!-- //.sta -->
            <!-- .gnb -->
            <div id="gnb" class="gnb">
                <div class="gnbNavBox">
                    <ul class="gnbNav">
                        <!-- <li>
                            <h2><a href="/kr">AIaaS</a></h2>
                        </li> -->
                        <li class="sub_menu">
                            <h2><a href="/kr/maum_chatbot">Product</a></h2>
                            <ul class="sub_list">
                                <li class="menu2depth"><a href="/kr/maum_chatbot#stn_chatbot">maum Chatbot</a></li>
                                <li class="menu2depth"><a href="/kr/maum_chatbot#stn_tts">TTS</a></li>
                                <li class="menu2depth"><a href="/kr/maum_chatbot#stn_en">mAI English</a></li>
                                <li class="menu2depth"><a href="/kr/maum_chatbot#stn_voc">maum VOC</a></li>
                                <li class="menu2depth"><a href="/kr/maum_chatbot#stn_rta">maum RTA</a></li>
                                <li class="menu2depth"><a href="/kr/maum_chatbot#stn_aqc">maum AQC</a></li>
                            </ul>
                        </li>
                        <li>
                            <h2><a class="active" href="/kr/portfolio">Success Stories</a></h2>
                        </li>
                        <!-- <li>
                            <h2><a href="/kr/pricing">Pricing</a></h2>
                        </li> -->
                        <li>
                            <h2><a href="/kr/company">Company</a></h2>
                        </li>
                        <li>
                            <h2><a href="#api_contact">Contact Us</a></h2>
                        </li>
                        <li class="menu1depth">
                            <a href="https://maum.ai/login/loginForm?lang=ko"  target="_blank" title="새창열림" class="btn_try">AI 플랫폼 바로가기</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- //#header -->

    <!-- aside -->
    {% include 'kr/common/aside.html' %}
    <!-- //aside -->

	<!-- #container -->
	<div id="container">
		<!-- .contents -->
		<div class="contents">
        	<!-- .sub_titleArea -->
        	<div class="sub_titleArea">
            	<h2>Success Stories</h2>
            </div>
            <!-- //.sub_titleArea -->

            <!-- .wideBox_w -->
            <div class="wideBox_w pdb130">
                <!-- .lot_c -->
                <div class="lot_c">
                    <div class="h3Box_c">
                        <h3>maum chatbot Portfolio</h3>
                    </div>
                    <!-- .h3Box_txt -->
                    <div class="h3Box_txt">
마음 챗봇은 어느 분야에서든지 자유롭게 사용될 수 있는 AI 채팅 솔루션입니다. <br>
마음에이아이를 기반으로 한 챗봇 서비스는 금융, 제조, 통신, 유통 등 다양한 산업과 공공 분야에 활발하게 도입되고 있습니다.
                    </div>
                    <!-- //.h3Box_txt -->

                    <button type="button" class="book_dwn">고객 성공 사례 다운로드 <i class="fas fa-file-download"></i></button>
                </div>
                <!-- //.lot_c -->
            </div>
            <!-- //.wideBox_w -->

            <!-- .cropBox_l -->
          	<div class="cropBox_l ">
                    <div class="crop_cell">
                        <div class="bg_aniBox"><img class="bg_img" src="{% static 'chatbot/images/bg_portfolio_crop05.png' %}"></div>
                        <div id="object01" class="objectBox">
                            <div class="phone"><img src="{% static 'chatbot/images/img_portfolio_crop05.png' %}" alt="뚜봇"></div>
                        </div>
                    </div>
                    <div class="crop_cell">
                        <div class="info">
                            <dl>
                                <dt>
                                    <span>portfolio 01</span>
                                    <em>AI 금융비서 하이뱅킹</em>
                                </dt>
                                <dd class="txt_clr">글로벌 최우수 디지털 은행상 수상<br>이미지 인식 기능까지 더해진 가장 똑똑한 챗봇</dd>
                                <dd class="txt">
                                    <ul class="lst">
                                        <li>KEB하나은행은 지점 수가 줄고 비대면 방식 거래가 증가하는 상황에서 타 은행과 차별화된 뱅킹 서비스가 필요했습니다. 마인즈랩이 개발한 하이뱅킹(HAI Banking)은 단순 앱을 넘어서, 일상 대화로 모든 거래가 이루어지고 사용자 친화적인 인터페이스를 갖춘 새로운 서비스입니다.</li>
                                        <li>하이뱅킹으로 화폐 자동 인식 및 환율 조회, 고지서 자동 납부, 챗봇을 통한 거래내역, 상품 조회 및 계좌 이체 등 높은 수준의 AI 서비스가 이루어지고 있습니다. 챗봇 답변의 정확도는 약 97%이며, 이미지 인식을 통한 납부 정확도는 100%에 가깝습니다.</li>
                                        <li>하이뱅킹금융비서는 한국에서 가장 우수한 AI 챗봇으로 평가받고 있으며 많은 업체들의 벤치마킹 모델이 되었습니다</li>
                                    </ul>
                                </dd>
                                <dd class="btn">
                                    <a class="btn_clor btn_movLayer" href="https://www.youtube.com/watch?v=CEh03_FLrYk" >Demo Video 1</a>
                                    <a class="btn_clor btn_movLayer" href="https://www.youtube.com/watch?v=3EtgW2XzNOw" >Demo Video 2</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="crop_cell">&nbsp;</div>
                </div>
                <!-- //.cropBox_l -->

                <!-- .cropBox_r -->
                  <div class="cropBox_r">
                    <div class="crop_cell">&nbsp;</div>
                    <div class="crop_cell">
                        <div class="info">
                            <dl>
                                <dt>
                                    <span>portfolio 02</span>
                                    <em>AI 고객센터</em>
                                </dt>
                                <dd class="txt_clr">단순반복적 성격의 아웃바운드콜 자동화로 콜센터 운영 효율화 <br>운영 비용 20% 절감 효과</dd>
                                <dd class="txt">
                                    <ul class="lst">
                                        <li>국내 대표적 A 보험사는 필수 고지사항이 고객에게 정확히 전달되었는지 확인하는 해피콜 서비스의 효율화를 원했습니다. 해피콜은 단순한 아웃바운드콜이지만, 여기에 소모되는 비용이 커서 부담이기 때문입니다. 또한 상담원들의 피로도, 낮은 업무 만족도 때문에 콜센터 운영에 어려움이 많았습니다. </li>
                                        <li>A사는 마인즈랩의 AI 음성생성과 챗봇 기술을 결합한 AI 음성봇 해피콜 도입으로 운영 비용을 약 20% 절감했습니다. 단순반복 콜을 자동화하여 상담원들은 보다 질 높은 서비스 상담에 집중하게 되었고 콜센터 운영 전반이 크게 개선되었습니다. 마인즈랩의 AI 음성봇 해피콜은 금융권을 중심으로 업계에 빠르게 확산 중입니다.</li>
                                    </ul>
                                </dd>
    <!--
                                <dd class="btn">
                                    <a class="btn_clor" href="https://youtu.be/QbIDdzzE9Lw" target="_blank" title="New window">DEMO VIDEO</a>
                                </dd>
    -->
                            </dl>
                        </div>
                    </div>
                    <div class="crop_cell">
                        <div class="bg_aniBox"><img  class="pstn02" src="{% static 'chatbot/images/bg_portfolio_crop04.png' %}"></div>
                        <div id="object02" class="objectBox02">
                            <div class="port_video">
                                <a class="btn_movLayer" href="https://www.youtube.com/watch?v=eIZ95zq4DQ4">
                                    <img src="{% static 'chatbot/images/img_portfolio_crop04.png' %}" alt="AI assitant Call">
                                    <span class="ico_mov">동영상</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //.cropBox_r -->
                <!-- .cropBox_l -->
                  <div class="cropBox_l ">
                    <div class="crop_cell crop_cell01">
                        <div class="bg_aniBox"><img class="bg_img03" src="{% static 'chatbot/images/bg_portfolio_crop06.png' %}"></div>
                        <div id="object04" class="objectBox03">
                            <div class="port_video">
                                <a class="btn_movLayer" href="https://www.youtube.com/watch?v=38kt3On1uUY">
                                    <img src="{% static 'chatbot/images/img_portfolio_crop06.png' %}" alt="Education AI">
                                    <span class="ico_mov">동영상</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="crop_cell crop_cell02">
                        <div class="info">
                            <dl>
                                <dt>
                                    <span>portfolio 03</span>
                                    <em>AI 기반 교육 서비스</em>
                                </dt>
                                <dd class="txt_clr">국내 최초 음성인식 결합 AI 영어 서비스 런칭 <br>소비자만족도 97% 달성</dd>
                                <dd class="txt">
                                    <ul class="lst">
                                        <li>전화 수업은 학생들의 집중도가 떨어지고, 수업 내용을 복습하기 어렵습니다. 이지톡은 전화 영어에 AI 음성인식 엔진을 접목하여 수업 종료 5분 후 학습자의 SNS에 전화 대화를 텍스트로 전송합니다. 이를 통해 학습자는 말로만 하던 대화를 눈으로 직접 확인하며 보다 효과적으로 학습을 할 수 있습니다.</li>
                                        <li>이지톡은 업계 최초 눈으로 보는 AI 전화 영어 서비스를 도입하여 경쟁이 치열한 한국의 전화영어 시장에서 굳건한 1위 자리를 차지하고 있으며, 소비자 만족도는 97%에 달합니다. AI 선생님과 발음 피드백, 주제별 회화 학습을 할 수 있는 mAI English와의 결합 서비스가 준비중입니다.</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="crop_cell">&nbsp;</div>
                </div>
                <!-- //.cropBox_l -->
                 <!-- .cropBox_r -->
                  <div class="cropBox_r">
                    <div class="crop_cell">&nbsp;</div>
                    <div class="crop_cell">
                        <div class="info info_04">
                            <dl>
                                <dt>
                                    <span>portfolio 04</span>
                                    <em>대구광역시 인공지능 민원 상담사 '뚜봇'</em>
                                </dt>
                                <dd class="txt_clr">&quot;복잡하고 번거로운 민원 상담 자동화 <br> 민원처리기간 91% 단축, 전국 1위 수준
&quot;</dd>
                                <dd class="txt">
                                    <ul class="lst">
                                        <li>대구광역시는 여권, 차량 등록 등 매일같이 쏟아지는 시민들의 문의를 해결하기위해 챗봇 ‘뚜봇’을 운영했지만 답변 정확도가 떨어지고 커버 내용도 적었습니다. 마인즈랩은 뚜봇에 최신 AI 대화기술을 탑재해 AI 민원상담으로 진화시키는 데 성공했습니다.</li>
                                        <li>대구시는 새로운 뚜봇과 함께 민원처리기간을 91%까지 단축하는 데 성공하였고, 전국에서 가장 높은 단축률을 기록했습니다. 뚜봇은 오픈 1년이 지난 지금도 시민들이 활발하게 이용하는 가장 대표적인 공공 챗봇으로 활약중이고 시장조사기관 IDC 주관 스마트시티 분야의 국제평가 ‘스마트시티 아시아태평양 어워드 2018’에서 수상했습니다.</li>
                                    </ul>
                                </dd>
                                <dd class="btn">
                                      <a class="btn_clor" href="https://happy.daegu.go.kr" target="_blank" title="새창열림">뚜봇 체험하기</a>
                                </dd>
                            </dl>
                        </div><!--
    -->
                    </div>
                    <div class="crop_cell">
                        <div class="bg_aniBox"><img class="bg_img pstn01" src="{% static 'chatbot/images/bg_portfolio_crop01.png' %}"></div>
                        <div id="object05" class="objectBox">
                            <div class="phone"><img src="{% static 'chatbot/images/img_portfolio_crop01.png' %}" alt="뚜봇"></div>
                        </div>
                    </div>
                </div>
                <!-- //.cropBox_r -->
                <!-- .cropBox_l -->
                <div class="cropBox_l cropBox_last">
            	<div class="crop_cell">
                	<div class="bg_aniBox insurance"><img class="bg_img pstn03" src="{% static 'chatbot/images/bg_portfolio_05.jpg' %}"></div>
                </div>
                    <div class="crop_cell">
                        <div class="info">
                            <dl>
                                <dt>
                                    <span>portfolio 05</span>
                                    <em>C보험사 품질관리 자동화 솔루션</em>
                                </dt>
                                <dd class="txt_clr">&quot;자동탐지 정확도 93% 달성<br>품질관리 업무 효율 43% 증가&quot;</dd>
                                <dd class="txt">
                                    <ul class="lst">
                                        <li>글로벌 보험회사 C사는 상담원이 콜을 일일이 청취하며 불완전 판매를 확인하는 방식으로 품질 관리를 하면서 지나치게 많은 시간과 비용 소모를 경험했습니다.</li>
                                        <li>이런 방식을 마인즈랩의 AI 품질관리 어플리케이션 maum AQC(Automatic Quality Control)로 대체하여 품질 관리및 비용 문제 모두를 해결했습니다. 이제 C사는 AI가 콜을 듣고 자동으로 불완전판매 여부를 판단합니다.</li>
                                        <li>maum AQC 도입 후 품질관리 업무 효율이 43% 이상 증가했고, 자동 탐지 정확도는 93%를 보였습니다. 기존에 30분간 진행하던 심사는 이제 10분 이내 처리되며 C사는 AQC 시스템을 전사로 확대하는 것을 고려하고 있습니다.</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="crop_cell">&nbsp;</div>
                </div>
                <!-- //.cropBox_l -->
             <!-- .cropBox_r -->
          	<div class="cropBox_r">
            	<div class="crop_cell">&nbsp;</div>
                <div class="crop_cell">
                    <div class="info info_06">
                        <dl>
                            <dt>
                                <span>portfolio 06</span>
                                <em>B게임사 ‘게임 캐릭터 AI 사운드’</em>
                            </dt>
                            <dd class="txt_clr">제작 비용 80% 이상 대폭 절감<br> 기쁨, 슬픔, 지루함...캐릭터의 감정을 살린 AI Voice
&quot;</dd>
                            <dd class="txt">
								<ul class="lst">
                                	<li>국내 유명 게임업체인 B사는 신규 게임의 캐릭터 목소리를 AI Voice로 대체했습니다. </li>
									<li>기존에는 성우가 내용을 하나하나 녹음하거나, 예전 방식으로 캐릭터의 목소리를 구현했습니다. 이 방법은 새로운 컨텐츠가 나올 때마다 녹음이 필요했고, 비용부담도 컸습니다. 자연스럽지 못하고 감정 표현도 전혀 살리지 못하는 치명적인 문제도 있었습니다. B사는 마인즈랩의 AI Voice를 도입하여 모든 문제를 한 번에 해결했습니다.</li>
									<li>AI Voice는 기쁨, 슬픔, 실망, 지루함 등 6가지 종류의 감정 표현이 가능하고 자연스러워 호평을 받고 있습니다.  AI 도입을 통해 전체적인 캐릭터 제작 비용은 80% 이상 절감됐습니다.  </li>
                                </ul>
                            </dd>

                        </dl>
                    </div>
                </div>
            	<div class="crop_cell">
                	<div class="bg_aniBox gameimg"><img class="bg_img pstn01" src="{% static 'chatbot/images/bg_portfolio_06.jpg' %}"></div>

                </div>
            </div>
			<!-- //.cropBox_r -->


            <!-- .wideBox_b -->
            <div class="wideBox_b">
                <!-- .lot_c -->
                <div class="lot_c">
                    <div class="h3Box_c">
                        <h3>maum chatbot friends</h3>
                    </div>
                    <!-- .h3Box_txt -->
                    <div class="h3Box_txt">
마음 챗봇은 어느 분야에서든지 자유롭게 사용될 수 있는 AI 채팅 솔루션입니다. <br>
마음에이아이를 기반으로 한 챗봇 서비스는 정확한 AI 자동 상담 시스템을 구현하는 동시에 다양한 분야의  <br>지식베이스를 기반으로 챗봇서비스를 제공합니다.
                    </div>
                    <!-- //.h3Box_txt -->
                </div>
                <!-- //.lot_c -->

                <!-- .lot_c -->
                <div class="lot_c">
                	<!-- .itemBox -->
                    <div class="itemBox">
                    	<!-- .item -->
                    	<div class="item">
                        	<dl>
                            	<dt>
                                	<span class="thumb"><img src="{% static 'chatbot/images/ico_bot_sully.png' %}" alt="설리"></span>
                                    <span class="bot">회사소개봇</span>
                                    <span class="botName">설리 [Sully]</span>
                                </dt>
                                <dd>
회사소개봇 설리는 회사에 대해 아는 것도 많고, 알려주고 싶은 것도 많은 사교적인 챗봇입니다. <br>
회사에 대한 이야기를 전하는 설리는 회사의공식 대변인 역할을 할 수 있답니다. <br>
설리를 통해 회사와 제품에 대해 고객들에게  꼭 전하고 싶은 이야기를 빠르고 정확하게  전달해보세요.
                                </dd>
                            </dl>
                        </div>
                        <!-- //.item -->
                    	<!-- .item -->
                    	<div class="item">
                        	<dl>
                            	<dt>
                                	<span class="thumb"><img src="{% static 'chatbot/images/ico_bot_joey.png' %}" alt="조이"></span>
                                    <span class="bot">인사총무봇</span>
                                    <span class="botName">조이 [Joey] </span>
                                </dt>
                                <dd>
인사총무봇 조이는 업무 도중 필요한 사내 정보를 쏙쏙 챙겨주는 꼼꼼한 챗봇입니다. <br>
복잡한 사내 인트라넷을 뒤지는 대신 조이에게 물어보면서 간편하게 궁금한 점을 해결할 수 있습니다. <br>
사무실 외부에 있더라도 조이를 통해 꼭 필요한 정보를 확인하시고 잠깐의 여유를 누려보세요. <br>
                                </dd>
                            </dl>
                        </div>
                        <!-- //.item -->
                    	<!-- .item -->
                    	<div class="item">
                        	<dl>
                            	<dt>
                                	<span class="thumb"><img src="{% static 'chatbot/images/ico_bot_mini.png' %}" alt="미니"></span>
                                    <span class="bot">키즈교육봇</span>
                                    <span class="botName">미니 [Mini]</span>
                                </dt>
                                <dd>
키즈 교육봇인 미니는 엄마아빠가 아이들에게 하고 싶은 이야기를 전달해주는 다정한 친구입니다. <br>
미니는 아이들에게 동화를 읽어주거나, 동영상을 보면서 아이와 함께 노래를 부를 수 있습니다. <br>
가족들이 대신 하고 싶은 말을 미니가 전해주기도 하고, 노래부르기와 동화 읽기도 함께 할 수 있어요.
                                </dd>
                            </dl>
                        </div>
                        <!-- //.item -->
                    	<!-- .item -->
                    	<div class="item">
                        	<dl>
                            	<dt>
                                	<span class="thumb"><img src="{% static 'chatbot/images/ico_bot_noah.png' %}" alt="노아"></span>
                                    <span class="bot">척척박사봇</span>
                                    <span class="botName">노아 [Noah]</span>
                                </dt>
                                <dd>
세상의 모든 지식을 다 대답해주고 싶은 노아는 '채팅하는 백과사전'입니다. <br>
역사, 과학, 스포츠 등 어느 분야에 대해서나 답변할 수 있는 든든한 척척박사 노아와 함께라면 무엇이든 막힘 없이 대답할 수 있습니다. <br>
백과사전 지식이 필요한 다양한 분야에 노아를 응용해보세요. <br>
                                </dd>
                            </dl>
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.itemBox -->
                    <p class="btn">
                    	<button id="btn_lyr_product" type="button">챗봇 제품 보기</button>
                    </p>
                </div>
                <!-- //.lot_c -->
            </div>
            <!-- //.clorBox02 -->

            <!-- .api_contact -->
            {% include 'kr/common/contact.html' %}
            <!-- //.api_contact -->

			<!-- .btn_goTop -->
			<p class="btn_goTop"><button>맨위로</button></p>
			<!-- //.btn_goTop -->
		</div>
		<!-- //.contents -->
	</div>
	<!-- //#container -->
	<!-- #footer -->
	{% include 'kr/common/footer.html' %}
	<!-- //#footer -->

	<div class="checkupBox">
        <div class="info">
            <p class="txt">현재 좀더 빠르고 안정적인 서비스를 위해 마음 챗봇 서버 점검 중입니다.<br>좀더 똑똑해진 모습으로 곧 돌아올게요!</p>
            <div class="dl_lst">
                <dl>
                    <dt>서버점검 기간</dt>
                    <dd>2018.07.12 (1일)</dd>
                </dl>
                <dl>
                    <dt>마음챗봇 문의</dt>
                    <dd><a href="mailto:chatbot@mindslab.ai">chatbot@mindslab.ai</a></dd>
                </dl>
            </div>
        </div>
       <div id="btn_checkup" class="btnBox">
            <div class="lds-heart">
                <div></div>
            </div>
       </div>
    </div>

    <!-- chatbot floating -->
<!--    {% include 'kr/common/floatingChat.html' %}-->
    <!-- chatbot floating -->

    <!-- .lyr_product -->
    <div class="lyr_product">
    	<div class="lyr_bg"></div>
    	<!-- .productWrap -->
    	<div class="productWrap">
        	<!-- .product_hd -->
            <div class="product_hd">
                <button class="btn_productWrap_close" type="button">제품 리스트 닫기</button>
            </div>
            <!-- .product_hd -->
            <!-- .product_bd -->
            <div class="product_bd">
            	<!-- .product_lst -->
                <div class="snb_lst">
                    <ul class="bot_lst">
                        <li class="ico_sully">
                        	<button type="button" class="active">
                            	<em><img src="{% static 'chatbot/images/ico_bot_sully.png' %}" alt="설리"></em>
                            	<span>회사소개 봇<br>설리</span>
                            </button>
                        </li>
                        <li class="ico_mini">
                        	<button type="button">
                                <em><img src="{% static 'chatbot/images/ico_bot_mini.png' %}" alt="미니"></em>
                                <span>키즈 봇<br>미니</span>
                            </button>
                        </li>
                        <li class="ico_noah">
                        	<button type="button">
                                <em><img src="{% static 'chatbot/images/ico_bot_noah.png' %}" alt="노아"></em>
                                <span>척척박사 봇<br>노아</span>
                            </button>
                        </li>
                        <li class="ico_ttubot">
                        	<button type="button">
                                <em><img src="{% static 'chatbot/images/ico_bot_ttubot.png' %}" alt="뚜봇"></em>
                                <span>공공 봇<br>뚜봇</span>
                            </button>
                        </li>
                    </ul>
                    <ul class="etc_lst">
                        <li><button id="btn_go_liveChat" type="button">1:1 채팅상담</button></li>
                        <li><a id="btn_go_contact" href="#api_contact">메일 문의하기</a></li>
                    </ul>
            	</div>
                <!-- //.product_lst -->
                <!-- .product_cont -->
                <div class="product_cont">
                    <div id="chat_uiBox"></div>
                </div>
                <!-- //.product_cont -->
            </div>
            <!-- //.product_bd -->
        </div>
        <!-- //.productWrap -->
    </div>
    <!-- //.lyr_product -->
</div>
<!-- //wrap -->
<style type="text/css">
#container:before {content:''; position:absolute; top:0; left:0; width:100%; height:494px; background:url({% static 'chatbot/images/bg_wrap_portfolio.jpg' %}) 50% 0 no-repeat; background-size:cover;}
</style>
<input type="hidden" id="AUTH_ID">
<input type="hidden" id="SESSION_ID">

<script type="text/javascript">
$(window).load(function() {
	$('#page_loading').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
});
</script>
<script type="text/javascript">
	jQuery(function(){
		jQuery("a.btn_movLayer").movLayer();
	});
</script>


<script type="text/javascript">
function chatSingIn() {
	$.ajax({
		url: 'https://aicc-prd1.maum.ai:9980/api/v3/auth/signIn',
		async: false,
		type: 'POST',
		headers: {
			"Content-Type": "application/json",
			"m2u-auth-internal": "m2u-auth-internal"
		},
		data: JSON.stringify({
			"userKey": "admin",
			"passphrase": "1234"
		}),
		dataType: 'json',
		success: function(data) {
			// console.log(data.directive.payload.authSuccess.authToken);

			document.getElementById('AUTH_ID').value = data.directive.payload.authSuccess.authToken;
			// console.log(document.getElementById('AUTH_ID').value);
			// console.log('login success!')
			// openDialogService(chatbot);
		}, error: function(err) {
			console.log("chatbot Login error! ", err);
		}
	});
}


jQuery.event.add(window,"load",function(){
	$(document).ready(function (){

		//책 다운로드
		$('.book_dwn').on('click', function(){
			$('.lyr_info').fadeIn(300);
		});

        $('.btn_blue').on('click',function(){
            var name = $('#info_name').val();
			var company = $('#info_company').val();
			var email = $('#info_email').val();
			var phone = $('#info_phone').val();

            if(name !== "" && company !== "" && email !== ""){
                var route = " maum.ai : e-book 다운로드";
                
                $.ajax({
                    url: '/send_ebook_info',
                    async: false,
                    type: 'POST',
                    data: {
                        "route": route,
                        "name": name,
                        "company": company,
                        "email": email,
                        "phone": phone
                    },
                    dataType: 'json',
                    success: function (result) {
                        $('#info_name').val("");
                        $('#info_company').val("");
                        $('#info_email').val("");
                        $('#info_phone').val("");
                        console.log("sending info success");
                        
                        var a = document.createElement('a'); 
                        a.href = "{% static 'chatbot/pdf/MINDsLab.pdf' %}"; // xhr.response is a blob 
                        a.download = "MindsLab.pdf"; // Set the file name. 
                        a.style.display = 'none'; 
                        document.body.appendChild(a); 
                        a.click(); 
                        delete a;

                    }, error: function (err) {
                        console.log("parse HTML error! ", err);
                    }
                });
            }else{
                alert("필수 입력사항을 모두 입력해 주세요.");
            }
        });

		// product layer popup
		$('.btn_lyrWrap_close, .lyr_plan_bg').on('click', function () {
			$('.lyr_info').fadeOut(300);
            $('#info_name').val("");
            $('#info_company').val("");
            $('#info_email').val("");
            $('#info_phone').val("");
			$('body').css({
				'overflow': '',
			});
		});


	    chatSingIn();

		// live chat 플로팅
		$('#btn_flt_cb').on('click', function() {
			$.ajax({
				url: '/kr/floating_sully',
				//url: '/kr/maumbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#livechatWrap').html(data);
				}
			});
		});

			// chatbot ajax
		$('.lyr_product .bot_lst li.ico_sully button').on('click', function() {
			$.ajax({
				url: '/kr/maumbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chat_uiBox').html(data);
				}
			});
		});

		$('.lyr_product .bot_lst li.ico_mini button').on('click', function() {
			$.ajax({
				url: '/kr/kidsbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chat_uiBox').html(data);
				}
			});
		});

		$('.lyr_product .bot_lst li.ico_noah button').on('click', function() {
			$.ajax({
				url: '/kr/masterbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chat_uiBox').html(data);
				}
			});
		});

		$('.lyr_product .bot_lst li.ico_ttubot button').on('click', function() {
			$.ajax({
				url: '/kr/ttubot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#chat_uiBox').html(data);
				}
			});
		});

		$('.lyr_product .bot_lst li button').on('click', function() {
            // 챗봇 확인용
            /*
			$('.chatbot_contents .talkLst').css({
				'display':'block',
			});
			*/
			$('.chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
		});


		// product layer popup
		$('#btn_lyr_product, .btn_lyr_product').on('click', function() {
			$('.lyr_product').fadeIn(300);
			$('.lyr_product .bot_lst li.ico_sully button').trigger('click');
			$('body').css({
				'overflow': 'hidden',
			});
			$('#livechatWrap').fadeOut(300);
		});

		$('.btn_productWrap_close, .lyr_bg').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});

		$('#btn_go_contact').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
		});

		$('#btn_go_liveChat').on('click', function() {
			$('.lyr_product').fadeOut(300);
			$('body').css({
				'overflow': '',
			});
			$('#btn_flt_cb').trigger('click');
		});
		// chatbot
		$('.productWrap .bot_lst li button').on('click', function() {
			var winWidth = $(window).width();
			var chatMidHeight = $(window).height()-350;
			if ( winWidth < 760) {
				$('.productWrap .chatbot_contents .chat_mid').css({
					'height': chatMidHeight,
				});
				$('.productWrap .product_bd .product_cont').css({
					'height': chatMidHeight+130,
				});
				$('.productWrap .chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
			}  else {
				$('.productWrap .chatbot_contents .chat_mid').css({
					'height': 'calc(100% - 65px)',
				});
				$('.productWrap .product_bd .product_cont').css({
					'height': '',
				});
				$('.productWrap .chatbot_contents .chat_mid').scrollTop($('.chatbot_contents .chat_mid')[0].scrollHeight);
			}

			$('.lyr_product .productWrap .bot_lst li button').removeClass('active');
			$(this).addClass('active');
		});

		$('.lyr_product .bot_lst li.ico_sully button').trigger('click');

	});
});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120553152-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120553152-1');
</script>

</body>
</html>
