<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
{% load static %}
    <!-- facebook Tag -->
<meta property="fb:app_id"           content="APP_ID" />
<!-- Open Graph Tag -->
<meta property="og:title"            content="Pricing ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
<meta property="og:url"              content="https://mindslab.ai/kr/pricing"/><!-- 웹 페이지 URL-->
<meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="og:description"      content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
<!-- twitter Tag -->
<meta property="twitter:card"        content="summary"/>
<meta property="twitter:url"         content="https://mindslab.ai/kr/pricing"/><!-- 웹 페이지 URL-->
<meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
<meta property="twitter:title"       content="Pricing ll maumAI"/><!-- 웹 페이지 제목 -->
<meta property="twitter:description" content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
<!-- icon (Internet Explorer & Windows Phone) -->
<meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_maumAI_70x70.png' %}"><!-- smalltile -->
<meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_maumAI_150x150.png' %}"><!-- mediumtile -->
<meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_maumAI_310x150.ico' %}"><!-- widetile -->

<!-- cookie reset -->
<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
<meta http-equiv="Expires" content="-1"> <!--캐시된 페이지가 만료되어 삭제되는 시간을 정의합니다. 특별한 경우가 아니면 -1로 설정합니다. -->
<meta http-equiv="Pragma" content="no-cache"> <!--  페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.0) -->
<meta http-equiv="Cache-Control" content="no-cache"> <!-- 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.1)-->

<!-- icon (Chrome & Opera) -->
<link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_maumAI_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
<!-- icon (Safari) -->
<link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_maumAI_76x76.png' %}"/><!-- iPad -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_maumAI_120x120.png' %}"/><!-- iPhone Retina -->
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_maumAI_152x152.png' %}"/><!-- iPad Retina -->
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_maumAI_60x60.png' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->

<title>Pricing ll maum AI</title>
<!-- resources -->
{#<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/common.css' %}" />#}
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/chatbot.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/common.css' %}?v=1.190722" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chatbot/js/common.js' %}"></script>
<!-- //resources -->

<!-- floating chat : gitple -->
<script>
	window.GitpleConfig = {appCode: '617StyiVdqik5b3GXRbaRv9tXs16w3'};
	!function () {
		function e() {
			function e() {
				var e = t.contentDocument, a = e.createElement("script");
				a.type = "text/javascript", a.async = !0, a.src = window[n] && window[n].url ? window[n].url + "/inapp-web/gitple-loader.js" : "https://app.gitple.io/inapp-web/gitple-loader.js", a.charset = "UTF-8", e.head && e.head.appendChild(a)
			}
			var t = document.getElementById(a);
			t || ((t = document.createElement("iframe")).id = a, t.style.display = "none", t.style.width = "0", t.style.height = "0", t.addEventListener ? t.addEventListener("load", e, !1) : t.attachEvent ? t.attachEvent("onload", e) : t.onload = e, document.body.appendChild(t))
		}
		var t = window, n = "GitpleConfig", a = "gitple-loader-frame";
		if (!window.Gitple) {
			document;
			var i = function () {
				i.ex && i.ex(arguments)
			};
			i.q = [], i.ex = function (e) {
				i.processApi ? i.processApi.apply(void 0, e) : i.q && i.q.push(e)
			}, window.Gitple = i, t.attachEvent ? t.attachEvent("onload", e) : t.addEventListener("load", e, !1)
		}
	}();
	Gitple('boot');
</script>

</head>


<body>
<!-- .page loading -->
<div id="page_loading" class="page_ldWrap">
	<div class="page_ldBox"></div>
</div>
<!-- //.page loading -->
<!-- wrap -->
<div id="maumWrap">
	<!-- #header -->
	<div id="header">
		<!-- .sta -->
		<div class="sta">
			<h1><a href="/kr"><img src="{% static 'chatbot/images/logo_h1.png' %}" alt="minds lab"></a></h1>
			<div class="etcMenu">
				<ul>
					<!-- <li class="login"><span>로그인</span></li> -->
					<li class="lang">
						<p class="lang_select"><em>한국어</em></p>
						<ul class="lst">
							<li><a href="/en" target="_self"><em>English</em></a></li>
						</ul>
					</li>
                    <!--<li class="signin"><a href="">Sign in</a></li>-->
				</ul>
			</div>
		</div>
		<!-- //.sta -->
		<!-- .gnb -->
		<div id="gnb" class="gnb">
			<div class="gnbNavBox">
				<ul class="gnbNav">
					<li class="menu1depth">
						<h2><a href="/">AIaaS</a></h2>
					</li>
                    <li class="sub_menu">
                    	<h2><a href="/kr/maum_chatbot">Product</a></h2>
                    	    <ul class="sub_list">
                    	    	<li class="menu2depth"><a href="/kr/maum_chatbot#stn_chatbot">maum Chatbot</a></li>
                    	    	<li class="menu2depth"><a href="/kr/maum_chatbot#stn_tts">TTS</a></li>
                                <li class="menu2depth"><a href="/kr/maum_chatbot#stn_en">mAI English</a></li>
                    	    	<li class="menu2depth"><a href="/kr/maum_chatbot#stn_voc">maum VOC</a></li>
                    	    	<li class="menu2depth"><a href="/kr/maum_chatbot#stn_rta">maum RTA</a></li>
                    	    	<li class="menu2depth"><a href="/kr/maum_chatbot#stn_aqc">maum AQC</a></li>
                    	    </ul>
                    </li>
					<li class="menu1depth">
						<h2><a href="/kr/portfolio">Success Stories</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a class="active" href="/kr/pricing">Pricing</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="/kr/company">Company</a></h2>
					</li>
					<li class="menu1depth">
						<h2><a href="#api_contact">Contact Us</a></h2>
					</li>
					<li class="menu1depth">
						<a href="https://maum.ai?1"  target="_blank" title="새창열림" class="btn_try">AI 플랫폼 바로가기</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //#header -->

	<!-- aside -->
    {% include 'kr/common/aside.html' %}
    <!-- //aside -->

	<!-- #container -->
	<div id="container">
		<!-- .contents -->
		<div class="contents price_cont">
        	<!-- .sub_titleArea -->
        	<div class="sub_titleArea">
            	<h2>Pricing</h2>
            </div>
            <!-- //.sub_titleArea -->

            <!-- .priceBox -->
			<div class="priceBox">
				<h1>가격 정책<span>쉽게 쓰는 마음 AI로 성공적인 비즈니스를 만드세요. <strong>가입 시 첫 1개월 무료!</strong> </span></h1>
<!--			<a href="https://console.maum.ai/" target="_blank" title="새창열림" class="btn_try">무료 체험하기</a>-->

				<!-- .stn -->
            	<div class="price_stn">

					<!-- .lyrmore -->
					<div class="lyrmore">
						<div class="lyr_bg"></div>
						<!-- .lyr_more_premium -->
						<div id="lyr_more_premium" class="lyrBox">
							<div class="lyr_top">
								<h3>Business</h3>
							</div>
							<div class="lyr_mid">
								<table class="tbl_view">
									<colgroup>
										<col><col><col>
									</colgroup>
									<tbody>
										<tr>
										   <th>서비스</th>
										   <th>유형</th>
										   <th>사용 가능량 (1달) <br>개별 서비스 기준</th>
										</tr>
										<tr>
										   <td><b>음성인식</b> (STT)</td>
										   <td>한국어 / 영어</td>
										   <td>6,000분</td>
										</tr>
										<tr>
										   <td rowspan="2"><b>AI 보이스</b> (TTS)</td>
										   <td>한국어</td>
										   <td>480만자</td>
										</tr>
										<tr>
										   <td>영어</td>
										   <td>800만자</td>
										</tr>
										<tr>
										   <td><b>기계독해</b> (MRC)</td>
										   <td>한국어 / 영어</td>
										   <td>24만건</td>
										</tr>
										<tr>
											<td><b>텍스트분류</b> (XDC)</td>
										   <td>한국어 / 영어</td>
										   <td>4.8만건</td>
										</tr>
										<tr>
										   <td><b>자연어이해</b> (NLU)</td>
										   <td>한국어 / 영어</td>
										   <td>24,000단위<br><small>* 1단위 = 1,000자</small></td>
										</tr>
										<tr>
											<td><b>패턴찾기</b> (HMD)</td>
										   <td>한국어 / 영어</td>
										   <td>추후 결정</td>
										</tr>
										<tr>
											<td><b>문서인식</b></td>
										   <td></td>
										   <td>4.8만건</td>
										</tr>

										<tr>
										   <td rowspan="2"><b>챗봇</b></td>
										   <td>날씨봇(한국어)</td>
										   <td>2.4만건</td>
										</tr>
										<tr>
										   <td>위키봇(한국어)</td>
										   <td>2.4만건</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="lyr_btm">
								<ul class="btn_lst">
									<li><button type="button" class="btn_lyr_close">닫기</button></li>
								</ul>
							</div>
						</div>
						<!-- //.lyr_more_premium -->
					</div>
					<!-- //.lyrmore -->

                    <table class="tbl_lst">
                        <colgroup>
                            <col width="60"><col width="135"><col width="60"><col width="200"><col width="60"><col width="200"><col width="60">
                        </colgroup>
                        <thead>
                            <tr>
								<th scope="col"></th>
								<th scope="col"></th>
								<th scope="col"></th>
                                <th scope="col">Business</th>
								<th scope="col"></th>
                                <th scope="col">Enterprise</th>
								<th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row_1">
								<td scope="col"></td>
                                <td scope="col" class="price">
									<p>가격 / <b>1년 약정</b></p>
									<em><strong>사용 서비스</strong></em>
								</td>
                                <td scope="col"></td>
                                <td scope="col" class="price_1">
									<p>1개월 <span>99,000원</span></p>
									<em><i class="far fa-bookmark"></i>API ID, Key 발급</em>
									<div><a class="more premium">더 알아보기</a></div>
								</td>
								<td scope="col"></td>
                                <td scope="col" class="price_1">
									<p><span>기업 커스텀</span></p>
									<em><i class="far fa-bookmark"></i>맞춤형 인공지능 및 <b>Application 서비스</b></em>
									<div><a class="email" href="#"><small>별도 문의:</small>hello@mindslab.ai</a></div>
								</td>
								<td scope="col"></td>
                            </tr>

                           <tr class="lst_row">
							    <td scope="col"></td>
                                <td scope="col"><span>부가 서비스 <i class="fas fa-chevron-down"></i></span>
							   		<ul class="ul_txt">
										<li><b>전 서비스 맞춤형 학습 지원</b></li>
										<li><b>REST API 제공</b></li>
										<li><b>개별 사이트 구축</b></li>
										<li><b>다수 계정 연결</b></li>
										<li class="li_df">나만의 AI Voice 학습 지원
											<span>(100만원 상당)</span>
										</li>
										<li>사용량 측정</li>
										<li>기술 지원</li>
										<li>결과파일 내려받기</li>
										<li>파일 보관 서비스 (3개월)</li>
									</ul>
							    </td>
                               <td scope="col"></td>
                               <td scope="col"><span></span>
							   		<ul>
										<li><a href="#api_contact">문의하기</a></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li></li>
										<li></li>
										<li class="li_df"><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
									</ul>
							    </td>
							    <td scope="col"></td>
                                <td scope="col"><span></span>
							   		<ul>
										<li><a href="#api_contact">문의하기</a></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li class="li_df"><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
									</ul>
							    </td>
							    <td scope="col"></td>
                            </tr>
							<tr class="one_row">
								<td scope="col"></td>
								<td scope="col"><span class="folder">사용량  <i class="fas fa-chevron-up"></i></span></td>
								<td scope="col"></td>
								<td scope="col"></td>
								<td scope="col"></td>
								<td scope="col"></td>
								<td scope="col"></td>
							</tr>
							<tr class="lst_row" id="folder_box" style="display: none;">
								 <td scope="col"></td>
								 <td scope="col">
							   		<ul class="ul_txt or_txt">
										<li><b>음성인식</b> (STT) 한국어, 영어</li>
										<li><b>AI 보이스</b> (음성생성) <b>한국어</b></li>
										<li><b>AI 보이스</b> (음성생성) <b>영어</b></li>
									</ul>
							    </td>
								<td scope="col"></td>
								<td scope="col">
							   		<ul>
										<li>약 6,000분</li>
										<li>약 480만자</li>
										<li>약 800만자</li>
									</ul>
							    </td>
								<td scope="col"></td>
								<td scope="col">
							   		<ul>
										<li>제한 없음</li>
									</ul>
							    </td>
								<td scope="col"></td>
                            </tr>
<!--						<tr class="btn_row" >
                                <td scope="col"></td>
                               <td scope="col"></td>
                                <td scope="col">
									<button type="button" class="buybtn" onclick="">결제하기</button>

									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="form">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="SDDPS3EGM9RDG">
										<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
									</form>

								</td>
								<td scope="col"></td>
                                <td scope="col">
									<a type="button" class="buybtn buylink" >문의하기</a>
								</td>
								<td scope="col"></td>
                            </tr>
-->
                        </tbody>
                    </table>
                </div>
                <!-- //.price_stn -->
			</div>
			<!-- //.priceBox -->
           	<!-- .pricingBox_m -->
			<div class="pricingBox_m">

				<h1>가격 정책<span>쉽게 쓰는 마음 AI로 성공적인 비즈니스를 만드세요. <strong>가입 시 첫 1개월 무료!</strong> </span></h1>
				<!-- .lyrmore -->
				<div class="lyrmore">
					<div class="lyr_bg"></div>

					<!-- .lyr_more_premium -->
					<div id="lyr_more_premium_m" class="lyrBox">
						<div class="lyr_top">
							<h3>PREMIUM</h3>
						</div>
						<div class="lyr_mid">
							<table class="tbl_view">
								<colgroup>
									<col><col><col>
								</colgroup>
								<tbody>
									<tr>
									   <th>서비스</th>
									   <th>유형</th>
									   <th>사용 가능량 (1달) <br>개별 서비스 기준</th>
									</tr>
									<tr>
									   <td><b>음성인식</b> (STT)</td>
									   <td>한국어 / 영어</td>
									   <td>6,000분</td>
									</tr>
									<tr>
									   <td rowspan="2"><b>AI 보이스</b> (TTS)</td>
									   <td>한국어</td>
									   <td>480만자</td>
									</tr>
									<tr>
									   <td>영어</td>
									   <td>800만자</td>
									</tr>
									<tr>
									   <td><b>기계독해</b> (MRC)</td>
									   <td>한국어 / 영어</td>
									   <td>24만건</td>
									</tr>
									<tr>
										<td><b>텍스트분류</b> (XDC)</td>
									   <td>한국어 / 영어</td>
									   <td>4.8만건</td>
									</tr>
									<tr>
									   <td><b>자연어이해</b> (NLU)</td>
									   <td>한국어 / 영어</td>
									   <td>24,000단위<br><small>* 1단위 = 1,000자</small></td>
									</tr>
									<tr>
										<td><b>패턴찾기</b> (HMD)</td>
									   <td>한국어 / 영어</td>
									   <td>추후 결정</td>
									</tr>
									<tr>
										<td><b>문서인식</b></td>
									   <td></td>
									   <td>4.8만건</td>
									</tr>
									<tr>
									   <td rowspan="2"><b>챗봇</b></td>
									   <td>날씨봇(한국어)</td>
									   <td>2.4만건</td>
									</tr>
									<tr>
									   <td>위키봇(한국어)</td>
									   <td>2.4만건</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="lyr_btm">
							<ul class="btn_lst">
								<li><button type="button" class="btn_lyr_close">닫기</button></li>
							</ul>
						</div>
					</div>
					<!-- //.lyr_more_premium -->
				</div>
				<!-- //.lyrmore -->
				<!-- .price_tab -->
				<div class="price_tab">
					<div class="tab">
						  <button class="tablinks" onclick="openPrice(event, 'premium')" id="defaultOpen">BUSINESS</button>
						 <button class="tablinks enterprise" onclick="openPrice(event, 'enterprise')">ENTERPRISE</button>
					</div>

					<!-- .premium -->
					<div id="premium" class="tabcontent">
						<table class="tbl_lst_m">
							<colgroup>
								<col><col><col><col><col>
							</colgroup>
							<tbody>
								<tr class="row_1 border_add">
									<td scope="col" class="price">가격 / <b>1년 약정</b></td>
									<td scope="col" class="price_1"><span>99,000원</span></td>
								</tr>
								<tr class="lst_row">
									<td scope="col"><span>사용 서비스</span></td>
									<td scope="col">
										<em><i class="far fa-bookmark"></i>결과 파일 다운로드</em>
										<div><a class="more premium_m">더 알아보기</a></div>
									</td>
								</tr>

							    <tr class="lst_row">
									<td scope="col"><span>부가 서비스 <i class="fas fa-chevron-down"></i></span>
										<ul class="ul_txt">
											<li><strong>전 서비스 맞춤형 학습 지원</strong></li>
											<li><strong>REST API 제공</strong></li>
											<li><strong>개별 사이트 구축</strong></li>
											<li><strong>다수 계정 연결</strong></li>
											<li class="li_df">나만의 AI Voice 학습 지원
												<span>(100만원 상당)</span>
											</li>
											<li>사용량 측정</li>
											<li>기술 지원</li>
											<li>결과파일 내려받기</li>
											<li>파일 보관 서비스 (3개월)</li>
										</ul>
									</td>
									<td scope="col"><span></span>
										<ul>
											<li><a href="#api_contact">문의하기</a></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li></li>
											<li></li>
											<li class="li_df"><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										</ul>
									</td>
									<tr class="lst_row">
									<td scope="col"><span>사용량 <i class="fas fa-chevron-down"></i></span>
										<ul class="ul_txt or_txt">
											<li>음성인식(STT) 한국어, 영어</li>
											<li>AI 보이스(음성생성) 한국어</li>
											<li>AI 보이스 (음성생성) 영어</li>
										</ul>
									</td>
									<td scope="col"><span></span>
										<ul>
											<li>약 6,000분</li>
											<li>약 480만자</li>
											<li>약 800만자</li>
										</ul>
									</td>
								</tr>
								</tr>
<!--							<tr>
									<td scope="col"></td>
									<td scope="col" class="form_td">
										<button type="button" class="buybtn" onclick="">결제하기</button>

										<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="form">
											<input type="hidden" name="cmd" value="_s-xclick">
											<input type="hidden" name="hosted_button_id" value="SDDPS3EGM9RDG">
											<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
											<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
										</form>

									</td>
								</tr>-->
							</tbody>
						</table>
					</div>
					<!-- //.premium -->
					<!-- .enterprise -->
					<div id="enterprise" class="tabcontent">
						<!-- .tbl_lst_m -->
						<table class="tbl_lst_m">
							<colgroup>
								<col><col>
							</colgroup>
							<tbody>
								<tr class="row_1 border_add">
									<td scope="col" class="price">가격 / <b>1년 약정</b></td>
									<td scope="col" class="price_1"><a href="#api_contact"><small>별도 문의</small> hello@mindslab.ai</a></td>
								</tr>
								<tr class="lst_row">
									<td scope="col"><span>사용 서비스</span></td>
									<td scope="col"><em><i class="far fa-bookmark"></i>맞춤형 인공지능 및 <br>Application 서비스 </em>	</td>
								</tr>

							   <tr class="lst_row">
									<td scope="col"><span>부가 서비스 <i class="fas fa-chevron-down"></i></span>
										<ul class="ul_txt">
											<li><strong>전 서비스 맞춤형 학습 지원</strong></li>
											<li><strong>REST API 제공</strong></li>
											<li><strong>개별 사이트 구축</strong></li>
											<li><strong>다수 계정 연결</strong></li>
											<li class="li_df">나만의 AI Voice 학습 지원
												<span>(100만원 상당)</span>
											</li>
											<li>사용량 측정</li>
											<li>기술 지원</li>
											<li>결과파일 내려받기</li>
											<li>파일 보관 서비스 (3개월)</li>
										</ul>
									</td>
									<td scope="col"><span></span>
										<ul>
											<li><a href="#api_contact">문의하기</a></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li class="li_df"><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
											<li><img src="{% static 'chatbot/images/ico_pricing_check.png' %}" alt="pricing check"></li>
										</ul>
									</td>
								</tr>
								<tr class="lst_row">
									<td scope="col"><span>사용량 <i class="fas fa-chevron-down"></i></span>
										<ul class="ul_txt or_txt">
											<li>음한합성(STT) 한국어, 영어</li>
											<li>AI 보이스(음성생성) 한국어</li>
											<li>AI 보이스 (음성생성) 영어</li>
										</ul>
									</td>
									<td scope="col"><span></span>
										<ul>
											<li>제한없음</li>
										</ul>
									</td>
								</tr>
<!--
								<tr>
									<td scope="col"></td>
									<td scope="col" class="form_td">
										<a href="#" class="buybtn">문의하기</a>
									</td>
								</tr>
-->
							</tbody>
						</table>
						<!-- //.tbl_lst_m -->
					</div>
					<!-- //.enterprise -->
				</div>
				<!-- //.price_tab -->
			</div>
          	<!-- //.pricingBox_m -->

            <!-- .api_contact -->
            {% include 'kr/common/contact.html' %}
            <!-- //.api_contact -->

			<!-- .btn_goTop -->
			<p class="btn_goTop"><button>맨위로</button></p>
			<!-- //.btn_goTop -->
		</div>
		<!-- //.contents -->
	</div>
    <!-- //#container -->

	<!-- #footer -->
	{% include 'kr/common/footer.html' %}
	<!-- //#footer -->

	<div class="checkupBox">
		<div class="info">
			<p class="txt">현재 좀더 빠르고 안정적인 서비스를 위해 마음 챗봇 서버 점검 중입니다.<br>좀더 똑똑해진 모습으로 곧 돌아올게요!</p>
			<div class="dl_lst">
				<dl>
					<dt>서버점검 기간</dt>
					<dd>2018.07.12 (1일)</dd>
				</dl>
				<dl>
					<dt>마음챗봇 문의</dt>
					<dd><a href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></dd>
				</dl>
			</div>
		</div>
        <div id="btn_checkup" class="btnBox">
			<div class="lds-heart">
				<div></div>
			</div>
        </div>
	</div>

    <!-- chatbot floating -->
<!--    {% include 'kr/common/floatingChat.html' %}-->
    <!-- chatbot floating -->
</div>
<!-- //wrap -->


<style type="text/css">
#container:before {content:''; position:absolute; top:0; left:0; width:100%; height:494px; background:url({% static 'chatbot/images/bg_wrap_pricing.jpg' %}) 50% 0 no-repeat; background-size:cover;}
</style>
<input type="hidden" id="AUTH_ID">
<input type="hidden" id="SESSION_ID">

<script type="text/javascript">   
$(window).load(function() {    
	$('#page_loading').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
}); 
</script>


<script type="text/javascript">
function chatSingIn() {
	$.ajax({
		url: 'https://aicc-prd1.maum.ai:9980/api/v3/auth/signIn',
		async: false,
		type: 'POST',
		headers: {
			"Content-Type": "application/json",
			"m2u-auth-internal": "m2u-auth-internal"
		},
		data: JSON.stringify({
			"userKey": "admin",
			"passphrase": "1234"
		}),
		dataType: 'json',
		success: function(data) {
			// console.log(data.directive.payload.authSuccess.authToken);
			document.getElementById('AUTH_ID').value = data.directive.payload.authSuccess.authToken;
			// console.log(document.getElementById('AUTH_ID').value);
			// console.log('login success!')
			// openDialogService(chatbot);
		}, error: function(err) {
			console.log("chatbot Login error! ", err);
		}
	});
}

jQuery.event.add(window,"load",function(){
	$(document).ready(function (){
	    chatSingIn();

		// live chat 플로팅
		$('#btn_flt_cb').on('click', function() {
			$.ajax({
				url: '/kr/floating_sully',
				//url: '/kr/maumbot',
				type: 'GET',
				dataType: 'html',
				async: false,
				success:function(data){
					$('#livechatWrap').html(data);
				}
			});
		});
	
        //		pricing 더 알아보기 버튼
		$('.tbl_lst .basic').on('click',function(){
			$('.lyrBox').hide();
			$('.lyrmore').fadeIn(300);			
			$('#lyr_more_basic').show();
		});	
		$('.tbl_lst .premium').on('click',function(){
			$('.lyrBox').hide();
			$('.lyrmore').fadeIn(300);			
			$('#lyr_more_premium').show();
		});	
//		모바일버튼
		$('.tbl_lst_m .basic_m').on('click',function(){
			$('.lyrBox').hide();
			$('.lyrmore').fadeIn(300);			
			$('#lyr_more_basic_m').show();
		});	
		$('.tbl_lst_m .premium_m').on('click',function(){
			$('.lyrBox').hide();
			$('.lyrmore').fadeIn(300);			
			$('#lyr_more_premium_m').show();
		});
		// layer popup(닫기)
		$('.btn_lyr_close, .btn_lyr_cancel, .lyr_bg').on('click',function(){
			$('.lyrmore').fadeOut(300);
			
		});
			
		// pricing section move
		$('.tbl_lst .price_1 a[href^="#"]').on('click', function (e) {
			e.preventDefault();

			var target = this.hash;
			var $target = $(target);

			$('html, body').animate({
				'scrollTop': $target.offset().top
			}, 700, 'swing');
			
		});
		

//		가격 펼기치기
		$('.folder').click( function() {
			if ( $('.folder i').hasClass('fa-chevron-up')) {
				$('.folder i').removeClass('fa-chevron-up');
				$('.folder i').addClass('fa-chevron-down');
				$('#folder_box').fadeIn();
				$('.one_row').css("border-bottom", "none");
				$('.one_row td:nth-child(4)').css("background", "#eff6fb");
			}else {
				$('.folder i').addClass('fa-chevron-up');
				$('.folder i').removeClass('fa-chevron-down');
				$('#folder_box').hide();
				$('.one_row td:nth-child(4)').css("background", "#fff");
				$('.one_row').css("border-bottom", "2px solid #979797");
			}

        });
    });
});
</script>

<script>
    function  openPrice(evt, priceName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(priceName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120553152-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120553152-1');
</script>

</body>
</html>
