<!DOCTYPE html>
<html lang="ko">
   <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="format-detection" content="telephone=no" />
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />-->
        {% load static %}
        <!-- Open Graph Tag -->
        <meta property="og:url"              content="https://mindslab.ai"/><!-- 웹 페이지 URL-->
        <meta property="og:type"             content="website"/><!-- 웹 페이지 타입 -->
        <meta property="og:title"            content="AIaaS ll maumAI"/><!-- 웹 페이지 제목 -->
        <meta property="og:description"      content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
        <meta property="og:image"            content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
        <!-- twitter Tag -->
        <meta property="twitter:card"        content="summary"/>
        <meta property="twitter:url"         content="https://mindslab.ai/"/><!-- 웹 페이지 URL-->
        <meta property="twitter:image"       content="{% static 'chatbot/images/ico_maumAI_ogTag.jpg' %}"/><!-- 웹 페이지 대표 이미지 -->
        <meta property="twitter:title"       content="AIaaS ll maumAI"/><!-- 웹 페이지 제목 -->
        <meta property="twitter:description" content="인공지능이 필요할 땐 maum.ai"/><!-- 웹 페이지 설명 -->
        <!-- icon (Internet Explorer & Windows Phone) -->
        <meta name="msapplication-square70x70logo"   content="{% static 'chatbot/images/ico_mindslab_70x70.png' %}"><!-- smalltile -->
        <meta name="msapplication-square150x150logo" content="{% static 'chatbot/images/ico_mindslab_150x150.png' %}"><!-- mediumtile -->
        <meta name="msapplication-wide310x150logo"   content="{% static 'chatbot/images/ico_mindslab_310x150.ico' %}"><!-- widetile -->

        <!-- icon (Chrome & Opera) -->
        <link rel="icon" sizes="192x192" href="{% static 'chatbot/images/ico_mindslab_192x192.png' %}"><!-- 아이콘의 크기는 48px을 기본으로 합니다. 48px, 96px, 144px, 192px로 늘어납니다.-->
        <!-- icon (Safari) -->
        <link rel="apple-touch-icon" sizes="76x76"   href="{% static 'chatbot/images/ico_mindslab_76x76.png' %}"/><!-- iPad -->
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'chatbot/images/ico_mindslab_120x120.png' %}"/><!-- iPhone Retina -->
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'chatbot/images/ico_mindslab_152x152.png' %}"/><!-- iPad Retina -->
        <!-- icon_favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'chatbot/images/ico_mindslab_64x64.png' %}"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->
        <title>세미나 자료 다운로드 </title>

        <link rel="stylesheet" type="text/css" href="{% static 'chatbot/kr/css/common.css' %}?v={{ timeStamp }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script type="text/javascript" src="{% static 'chatbot/js/jquery.min.js' %}"></script>
    </head>

    <body>
        <!-- wrap -->
        <div id="popWrap">
            <div class="time_list">
                <img src="{% static 'chatbot/images/time.png' %}" alt="세미나 스케줄 표">
                <ul class="time_dwn">
                    <li><a href="{% static 'chatbot/pdf/1. Keynote_배포용.pdf' %}" title="Key note" download>다운로드</a></li>
                    <li><a href="{% static 'chatbot/pdf/2. 최신 AI 기술 트렌드_배포용.pdf' %}" title="최신 AI 기술 트랜드" download>다운로드</a></li>
                    <li><a href="{% static 'chatbot/pdf/3. 최신 Smart X 기술 소개_배포용.pdf' %}" title="최신 Smart X 기술 소개" download>다운로드</a></li>
                    <li></li>
                    <li><a href="{% static 'chatbot/pdf/5. Insurtech AI_배포용.pdf' %}" title="InsurTech AI" download>다운로드</a></li>
                    <li class="blank"></li>
                    <li><a href="{% static 'chatbot/pdf/6. 하이브리드 인공지능컨택센터_배포용.pdf' %}" title="하이브리드 인공지능 컨택센터" download>다운로드</a></li>
                    <li><a href="{% static 'chatbot/pdf/7. Fintech AI_배포용.pdf' %}" title="Fintech AI" download>다운로드</a></li>
                    <li><a href="{% static 'chatbot/pdf/8. EduAI_배포용.pdf' %}" title="Edu AI" >다운로드</a></li>
                    <li><a href="{% static 'chatbot/pdf/9. 미디어 AI_배포용.pdf' %}" title="미디어 AI" download>다운로드</a></li>
                    <li><a href="{% static 'chatbot/pdf/10. Eco MInds 협력사 사례발표_레드타이_배포용.pdf' %}" title="Eco Minds 협력사 사례 발표: 레드타이" download>다운로드</a></li>
                </ul>
            </div>

        </div>

    <script type="text/javascript">
    $(window).load(function() {

    });
    </script>
    </body>
</html>