{% load static %}
<div class="aside" style="display:none;">
    <!-- .aside_top -->
    <div class="aside_top">
        <h1><a href="/en"><img src="{% static 'chatbot/images/img_logo_b.png' %}" alt="maum AI"></a></h1>
    </div>
    <!-- //.aside_top -->
    <!-- .aside_mid -->
    <div class="aside_mid">
        <ul class="m_etcMenu">
            <li class="lang">
                <p class="lang_select"><img src="{% static 'chatbot/images/ico_lang_us.png' %}" alt="English"><em>English</em>
                </p>
                <ul class="lst">
                    <li><a href="/kr" target="_self"><img src="{% static 'chatbot/images/ico_lang_kr.png' %}" alt="한국어"><em>한국어</em></a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="m_nav">
            <!-- <li>
                <h2><a href="/en">AIaaS</a></h2>
            </li>
            <li>
                <h2><a href="/en/maum_chatbot">Product</a></h2>
            </li>
            <li>
                <h2><a href="/en/portfolio">Success Stories</a></h2>
            </li>
            <li>
                <h2><a href="/en/pricing">Pricing</a></h2>
            </li>
            <li>
                <h2><a href="https://api.maum.ai/en" target="_blank">API Service</a></h2>
            </li> -->
            <li>
				<h2><a href="/en/company">Company</a></h2>
			</li>
            <li>
                <h2><a id="m_api_contac" href="#api_contact">Contact Us</a></h2>
            </li>

        </ul>
    </div>
    <!-- //.aside_mid -->
    <!-- .aside_btm -->
    <div class="aside_btm">
        <ul>
            <li class="btn_mail"><a href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></li>
            <li class="btn_tel"><a href="tel:+82316254340">1661 3222</a></li>
        </ul>
    </div>
    <!-- //.aside_btm -->
</div>
<div class="bg_aside"></div>
<a class="btn_header_ham" href="#none"><span class="hamburger_icon"></span></a>