<div id="api_contact" class="api_contact">
    <!-- .lot_c -->
    <div class="lot_c">
        <!-- .stn_cont -->
        <div class="stn_cont">
            <!-- .contactBox -->
            <div class="contactBox">
                <!-- .leftBox -->
                <div class="leftBox">
                    <!--<div class="stn_tit">-->
                        <!--<h3><span>Contact Us</span></h3>-->
                    <!--</div>-->
                    <div class="stn_tit">
                        <h3><span>Contact us</span></h3>
                    </div>
                    <div class="leftTxtBox">
                        <!--<p>We're open for any suggestion or just to a have a chat. </p>-->
                        <ul class="contact_lst">
                            <li class="btn_tel"><a href="tel:+8218334372">+82 1661 3222</a></li>
                            <li class="btn_mail"><a href="mailto:hello@mindslab.ai">hello@mindslab.ai</a></li>
                            <li class="btn_web"><a href="http://mindslab.ai/en" target="_blank">mindslab.ai</a></li>
                            <ul class="social_lst">
                                <li class="btn_fb"><a href="https://www.facebook.com/mindsinsight/?fref=ts" target="_blank">Facebook</a></li>
                                <li class="btn_ld"><a href="https://www.linkedin.com/company/mindslabai" target="_blank">Linkedin</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <!-- //.leftBox -->
                <!-- .rightBox -->
                <div class="rightBox">
                    <!--form action="contact_form"-->
                    <fieldset>
                        <legend>Contact_Us</legend>
                        <div class="contact">
                            <div class="txtfield halfwidth">
                                <input type="text" name="fm_name" id="fm_name" class="input_txt" placeholder="Name *">
                                <input type="text" name="fm_email" id="fm_email" class="input_txt marginzero" placeholder="Email *">
                            </div>

                            <div class="txtfield">
                                <input type="text" name="fm_tel" id="fm_tel" class="input_txt" placeholder="Phone Number">
                            </div>
                            <div class="txtfield pdBox">
                                <textarea name="fm_txt" id="fm_txt" class="textArea" rows="3" placeholder="Message *"></textarea>
                            </div>
                            <ul class="btnBox">
                                <li>
                                    <button id="btn_send" class="btn_clor">Send</button>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
                <!-- //.rightBox -->
            </div>
            <!-- //.contactBox -->
        </div>
        <!-- //.stn_cont -->
    </div>
    <!-- //.lot_c -->
</div>

<script>
jQuery.event.add(window,"load",function(){
	$(document).ready(function (){
    //===========================이메일 발송===============================//

        // input 초기화
        $('.contact .txtfield').each(function () {
            $(this).val('');
            $('#btn_send').attr('disabled');
        });


        $('#btn_send').each(function () {
            $('.disBox').remove();
            $(this).before('<span class="disBox"></span>');
        });
        // 메일 입력값 체크 (요청버튼 활성화)
        var check = 0;
        $('.contact .txtfield').on('change keyup paste click', function (e) {
            check = 0;
            var applyName = $('#fm_name').val().length;
            var applyMail = $('#fm_email').val().length;
            var applypNumber = $('#fm_tel').val().length;
            var applyContact = $('#fm_txt').val().length;

            if (applyName > 0 && applyMail > 0 && applyContact > 0) {
                $('#btn_send').addClass('btn_clr');
                $('#btn_send').removeAttr('disabled');
                $('.disBox').remove();
                check = 1;
            } else {
                $('#btn_send').removeClass('btn_clr');
                $('#btn_send').attr('disabled');
                $('#btn_send').before('<span class="disBox"></span>');
                check = 0;
            }
        });
        // 메일 전송

        $('#btn_send').on('click', function () {
            if (check == 0) {
                alert("Please enter your name, email, inquiry!");
            }
            else {
                var con = confirm("Do you want to send an email?");
                if (con == false) {
                    return false;
                }
                var route = "Sending route of email : maum.ai/en contact_us";
                var name = $('#fm_name').val();
                var email = $('#fm_email').val();
                var phone = $('#fm_tel').val();
                var contact = $('#fm_txt').val();
                $.ajax({
                    url: '/post_contact_us',
                    async: false,
                    type: 'POST',
                    data: {
                        "route": route,
                        "name": name,
                        "email": email,
                        "phone": phone,
                        "contact": contact,
                    },
                    dataType: 'json',
                    success: function (result) {
                        console.log("success");
                        $('#contactType').val("");
                        $('#fm_name').val("");
                        $('#fm_email').val("");
                        $('#fm_tel').val("");
                        $('#fm_txt').val("");
                        alert("Your email has been sent.");
                    }, error: function (err) {
                        console.log("parse HTML error! ", err);
                    }
                });
            }
        });


	});
});

</script>