<div class="btn_fltBox">
    <div class="btnBox" id="btn_flt_cb" >
        <span>Hello. May I help you?</span>
        <button type="button" class="btn_flt_cb"></button>
    </div>
</div>
<div id="livechatWrap"></div>