<div id="footer">
    <div class="lot_c">
        <div class="cyrt"><p>601 Dasan Tower, 49 Daewangpangyo-ro 644beon-gil, Bundang-gu, Seongnam-si, Gyeonggi-do, Republic of Korea<br>Copyright&copy; 2019 MINDs Lab. All Rights Reserved.</p></div>
    </div>
</div>